<div class="pessoas-detalhes-header">
    <div class="pessoas-detalhes-header-avatar">
        <img class="pessoas-detalhes-header-gravatar trans" gravatar-src-once="detalhesPessoa.dados.email" ng-class="{'gravatar-cliente': detalhesPessoa.subtipo == 'Client', 'gravatar-advogado': detalhesPessoa.subtipo == 'Adverse Lawyer', 'gravatar-adverso': detalhesPessoa.subtipo == 'Adverse', 'gravatar-correspondente': detalhesPessoa.subtipo == 'Correspondent'}">
    </div>
    <div class="pessoas-detalhes-header-detalhes">
        <div class="pessoas-detalhes-header-nome">
            {{detalhesPessoa.dados.name}}
        </div>
        <div class="pessoas-detalhes-header-subtipo">
            <span ng-if="detalhesPessoa.subtipo == 'Client'">Cliente</span>
            <span ng-if="detalhesPessoa.subtipo == 'Adverse'">Adverso</span>
            <span ng-if="detalhesPessoa.subtipo == 'Adverse Lawyer'">Advogado Adverso</span>
            <span ng-if="detalhesPessoa.subtipo == 'Correspondent'">Correspondente</span>
        </div>
    </div>
    <div class="pessoas-detalhes-header-acoes">
        <div class="pessoas-detalhes-header-acao-holder">
            <div class="pessoas-detalhes-header-acao pessoas-detalhes-header-acao-editar" ui-sref="app.pessoas.editar({id: detalhesPessoa.dados.id, type: detalhesPessoa.subtipo})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
        </div>
        <div class="pessoas-detalhes-header-acao-holder" data-content="{{popover.content}}" data-trigger="click" data-placement="auto left" data-template-url="./templates/popover/pessoas-detalhes-excluir.html" data-animation="am-fade-and-slide-right" data-auto-close="1" bs-popover>
            <div class="pessoas-detalhes-header-acao pessoas-detalhes-header-acao-excluir" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
        </div>
    </div>
</div>
<div class="details-body" ng-if="detalhesPessoa.subtipo == 'Client'">
    <div class="details-group clearfix">
        <div class="details-info-holder" ng-if="!detalhesPessoa.dados.cpf.length">
            <span class="details-info-label">CPF/CNPJ</span>
            <span class="details-info-val"></span>
        </div>
        <div class="details-info-holder" ng-if="detalhesPessoa.dados.cpf.length == 11">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cpf}">CPF</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cpf | brCpf}}</span>
        </div>
        <div class="details-info-holder" ng-if="detalhesPessoa.dados.cpf.length == 14">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cpf}">CNPJ</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cpf | brCnpj}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.email}">Email</span>
            <span class="details-info-val"><a ng-href="mailto:{{detalhesPessoa.dados.email}}">{{detalhesPessoa.dados.email}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.telephone}">Telefone</span>
            <span class="details-info-val"><a ng-href="tel:{{detalhesPessoa.dados.telephone}}">{{detalhesPessoa.dados.telephone | brPhoneNumber}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.site}">Site</span>
            <span class="details-info-val"><a ng-href="http://{{detalhesPessoa.dados.site}}" target="_blank">{{detalhesPessoa.dados.site}}</a></span>
        </div>
    </div>
    <div class="details-group clearfix">
        <a ng-if="detalhesPessoa.dados.street" ng-href="https://www.google.com.br/maps?q={{detalhesPessoa.dados.street}}, {{detalhesPessoa.dados.number}}" target="_blank"><div class="detalhes-title-botao botao-gmaps" data-trigger="hover" data-title="Ver no Google Maps" data-placement="left" bs-tooltip></div></a>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.street}">Rua</span>
            <span class="details-info-val">{{detalhesPessoa.dados.street}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.number}">Número</span>
            <span class="details-info-val">{{detalhesPessoa.dados.number}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.complement}">Complemento</span>
            <span class="details-info-val">{{detalhesPessoa.dados.complement}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cep}">CEP</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cep}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.neighbourhood}">Bairro</span>
            <span class="details-info-val">{{detalhesPessoa.dados.neighbourhood}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.city}">Cidade</span>
            <span class="details-info-val">{{detalhesPessoa.dados.city}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.state}">Estado</span>
            <span class="details-info-val">{{detalhesPessoa.dados.state}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.country}">País</span>
            <span class="details-info-val">{{detalhesPessoa.dados.country}}</span>
        </div>
    </div>
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.comments}">Comentários</span>
            <span class="details-info-val" ng-bind-html="detalhesPessoa.dados.comments"></span>
        </div>
    </div>
</div>
<div class="details-body" ng-if="detalhesPessoa.subtipo == 'Adverse'">
    <div class="details-group clearfix">
        <div class="details-info-holder" ng-if="!detalhesPessoa.dados.cpf.length">
            <span class="details-info-label">CPF/CNPJ</span>
            <span class="details-info-val"></span>
        </div>
        <div class="details-info-holder" ng-if="detalhesPessoa.dados.cpf.length == 11">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cpf}">CPF</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cpf | brCpf}}</span>
        </div>
        <div class="details-info-holder" ng-if="detalhesPessoa.dados.cpf.length == 14">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cpf}">CNPJ</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cpf | brCnpj}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.email}">Email</span>
            <span class="details-info-val"><a ng-href="mailto:{{detalhesPessoa.dados.email}}">{{detalhesPessoa.dados.email}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.telephone}">Telefone</span>
            <span class="details-info-val"><a ng-href="tel:{{detalhesPessoa.dados.telephone}}">{{detalhesPessoa.dados.telephone | brPhoneNumber}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.site}">Site</span>
            <span class="details-info-val"><a ng-href="http://{{detalhesPessoa.dados.site}}" target="_blank">{{detalhesPessoa.dados.site}}</a></span>
        </div>
    </div>
    <div class="details-group clearfix">
        <a ng-if="detalhesPessoa.dados.street" ng-href="https://www.google.com.br/maps?q={{detalhesPessoa.dados.street}}, {{detalhesPessoa.dados.number}}" target="_blank"><div class="detalhes-title-botao botao-gmaps" data-trigger="hover" data-title="Ver no Google Maps" data-placement="left" bs-tooltip></div></a>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.street}">Rua</span>
            <span class="details-info-val">{{detalhesPessoa.dados.street}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.number}">Número</span>
            <span class="details-info-val">{{detalhesPessoa.dados.number}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.complement}">Complemento</span>
            <span class="details-info-val">{{detalhesPessoa.dados.complement}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.cep}">CEP</span>
            <span class="details-info-val">{{detalhesPessoa.dados.cep}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.neighbourhood}">Bairro</span>
            <span class="details-info-val">{{detalhesPessoa.dados.neighbourhood}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.city}">Cidade</span>
            <span class="details-info-val">{{detalhesPessoa.dados.city}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.state}">Estado</span>
            <span class="details-info-val">{{detalhesPessoa.dados.state}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.country}">País</span>
            <span class="details-info-val">{{detalhesPessoa.dados.country}}</span>
        </div>
    </div>
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label" ng-class="{'details-info-label-active': detalhesPessoa.dados.comments}">Comentários</span>
            <span class="details-info-val" ng-bind-html="detalhesPessoa.dados.comments"></span>
        </div>
    </div>
</div>
<div class="details-body" ng-if="detalhesPessoa.subtipo == 'Adverse Lawyer'">
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-advogado-adverso" ng-class="{'details-info-label-active': detalhesPessoa.dados.oab}">Inscrição na OAB</span>
            <span class="details-info-val details-info-val-advogado-adverso">{{detalhesPessoa.dados.oab}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-advogado-adverso" ng-class="{'details-info-label-active': detalhesPessoa.dados.email}">Email</span>
            <span class="details-info-val details-info-val-advogado-adverso"><a ng-href="mailto:{{detalhesPessoa.dados.email}}">{{detalhesPessoa.dados.email}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-advogado-adverso" ng-class="{'details-info-label-active': detalhesPessoa.dados.telephone}">Telefone</span>
            <span class="details-info-val details-info-val-advogado-adverso"><a ng-href="tel:{{detalhesPessoa.dados.telephone}}">{{detalhesPessoa.dados.telephone | brPhoneNumber}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-advogado-adverso" ng-class="{'details-info-label-active': detalhesPessoa.dados.office_name}">Escritório</span>
            <span class="details-info-val details-info-val-advogado-adverso">{{detalhesPessoa.dados.office_name}}</span>
        </div>
    </div>
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-advogado-adverso" ng-class="{'details-info-label-active': detalhesPessoa.dados.comments}">Comentários</span>
            <span class="details-info-val details-info-label-advogado-adverso" ng-bind-html="detalhesPessoa.dados.comments"></span>
        </div>
    </div>
</div>
<div class="details-body" ng-if="detalhesPessoa.subtipo == 'Correspondent'">
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.email}">Email</span>
            <span class="details-info-val details-info-val-correspondente"><a ng-href="mailto:{{detalhesPessoa.dados.email}}">{{detalhesPessoa.dados.email}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.telephone}">Telefone</span>
            <span class="details-info-val details-info-val-correspondente"><a ng-href="tel:{{detalhesPessoa.dados.telephone}}">{{detalhesPessoa.dados.telephone | brPhoneNumber}}</a></span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.site}">Site</span>
            <span class="details-info-val details-info-val-correspondente"><a ng-href="http://{{detalhesPessoa.dados.site}}" target="_blank">{{detalhesPessoa.dados.site}}</a></span>
        </div>
    </div>
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.role}">Cargo</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.role}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.cnpj}">CNPJ</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.cnpj | brCnpj}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.fantasy_name}">Nome Fantasia</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.fantasy_name}}</span>
        </div>
    </div>
    <div class="details-group clearfix">
        <a ng-if="detalhesPessoa.dados.street" ng-href="https://www.google.com.br/maps?q={{detalhesPessoa.dados.street}}, {{detalhesPessoa.dados.number}}" target="_blank"><div class="detalhes-title-botao botao-gmaps" data-trigger="hover" data-title="Ver no Google Maps" data-placement="left" bs-tooltip></div></a>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.street}">Rua</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.street}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.number}">Número</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.number}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.complement}">Complemento</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.complement}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.cep}">CEP</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.cep}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.neighbourhood}">Bairro</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.neighbourhood}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.city}">Cidade</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.city}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.state}">Estado</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.state}}</span>
        </div>
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.country}">País</span>
            <span class="details-info-val details-info-val-correspondente">{{detalhesPessoa.dados.country}}</span>
        </div>
    </div>
    <div class="details-group clearfix">
        <div class="details-info-holder">
            <span class="details-info-label details-info-label-correspondente" ng-class="{'details-info-label-active': detalhesPessoa.dados.comments}">Comentários</span>
            <span class="details-info-val details-info-val-correspondente" ng-bind-html="detalhesPessoa.dados.comments"></span>
        </div>
    </div>
</div>
