<div class="page-content-filters">
	<div class="filter-search">
		<input type="text" class="filter-input" ng-model="filtro" placeholder="Buscar...">
	</div>
</div>
<div class="list-holder">
	<div class="carregando-lista" ng-if="!listarPessoas.pessoas">
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
	</div>
	<div class="processos-detalhes-sub-empty" ng-if="listarPessoas.pessoas && !listarPessoas.pessoas.length && !pessoasFiltradas.length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Você ainda não tem pessoas cadastradas<br>Adicione uma <span class="message-link" ui-sref="app.pessoas.nova">clicando aqui</span> ou no botão <span class="message-button">+</span> acima</div>
    </div>
	<div class="processos-detalhes-sub-empty" ng-if="listarPessoas.pessoas && !pessoasFiltradas.length && (filtro || pessoas.filtroStatus)">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhuma pessoa encontrada<br>Tente mudar os filtros no topo da página ou refinar sua busca</div>
    </div>
	<div class="list-item list-pessoa" ng-repeat="pessoa in pessoasFiltradas = (listarPessoas.pessoas | filter:{name:filtro,type:pessoas.filtroTipo}) track by $index">
        <div class="list-link list-link-pessoa" ui-sref="app.pessoas.detalhes({id: pessoa.id, type: pessoa.type})">
            <div class="pessoa-tag" ng-class="{'tag-cliente': pessoa.type == 'Client', 'tag-adverso': pessoa.type == 'Adverse', 'tag-advogado': pessoa.type == 'Adverse Lawyer', 'tag-correspondente': pessoa.type == 'Correspondent'}"></div>
            <div class="pessoa-detalhes">
                <div class="pessoa-nome" ng-class="{'pessoa-nome-margin': !pessoa.email}">{{pessoa.name}}</div>
                <div class="pessoa-email">{{pessoa.email}}</div>
            </div>
        </div>
        <div class="options-holder pessoa-options">
            <div class="pessoa-option-holder option-holder trans" ui-sref="app.pessoas.editar({id: pessoa.id, type: pessoa.type})">
                <div class="list-option list-option-editar" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
            <div class="pessoa-option-holder option-holder trans" data-content="{{popover.content}}" data-trigger="click" data-placement="top auto" data-template-url="./templates/popover/pessoas-excluir.html" data-animation="am-fade-and-slide-bottom" data-auto-close="1" bs-popover>
                <div class="list-option list-option-excluir" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
</div>
