<div class="el-auth-register-form" ng-controller="InvitationController as Invitation">
    <div ng-if="!Invitation.data.success">
        <div class="el-auth-message">
            <h1>Aceite seu convite</h1>
            <p>Você foi convidado para se juntar a um escritório no Elysium. Para aceitar o convite e criar sua conta, precisamos apenas de alguns dados seus.</p>
        </div>
        <form class="el-auth-form el-animated clearfix" ng-class="{'form-loading': Invitation.data.isLoading}" name="AuthInvitationForm" ng-submit="Invitation.acceptInvitation()">
            <div class="el-auth-form-container">
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input class="el-form-label-input el-animated" autocomplete="name" id="invitation-input-name" name="name" ng-model="Invitation.data.form.name" required>
                        <label class="el-form-label el-animated">Nome completo</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="password" class="el-form-label-input el-animated" autocomplete="new-password" id="invitation-input-password" name="password" ng-model="Invitation.data.form.password" required>
                        <label class="el-form-label el-animated">Senha</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="password" class="el-form-label-input el-animated" autocomplete="new-password" id="invitation-input-password-confirm" name="password-confirm" compare-to="Invitation.data.form.password" ng-model="Invitation.data.passwordConfirmation" required>
                        <label class="el-form-label el-animated">Confirme sua senha</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input class="el-form-label-input el-animated" id="invitation-input-telephone" name="telephone" ng-model="Invitation.data.form.telephone" ui-br-phone-number required>
                        <label class="el-form-label el-animated">DDD + Telefone/Celular</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input class="el-form-label-input el-animated" id="invitation-input-cpf" name="cpf" ng-model="Invitation.data.form.cpf" ui-br-cpf-mask required>
                        <label class="el-form-label el-animated">Seu CPF</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input class="el-form-label-input el-animated" id="invitation-input-city" autocomplete="address-level2" name="city" ng-model="Invitation.data.form.city" required>
                        <label class="el-form-label el-animated">Cidade</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <ui-select focus-select-on="authentication:invitation:form:state:focus" ng-model="Invitation.data.form.state">
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="state.code as state in Invitation.data.states | filter:$select.search track by state.code">
                                <span ng-bind-html="state.name | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Estado</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
            <div class="el-auth-form-error el-animated" ng-class="{'active': Invitation.data.errors}">
                <p ng-if="Invitation.data.errors.state">
                    O campo "estado" é obrigatório.
                </p>
                <p ng-if="Invitation.data.errors.password">
                    A confirmação de senha não confere com sua senha.
                </p>
                <p ng-if="Invitation.data.errors.cpf.length">
                    Esse CPF é inválido ou já foi usado para criar uma conta. Caso você já tenha se registrado antes, apague sua conta antiga antes de entrar em um novo escritório.
                </p>
                <p ng-if="Invitation.data.errors.email.length">
                    Esse endereço de email é inválido ou já foi usado para criar uma conta. Se você não lembra da sua senha, <a ui-sref="authentication.changepassword">clique aqui</a> para criar uma nova.
                </p>
            </div>
            <input type="submit" class="el-button el-button-action el-animated" value="Criar conta">
        </form>
    </div>
    <div ng-if="Invitation.data.success">
        <div class="el-auth-message">
            <h1>Seja bem vindo!</h1>
            <p>Sua conta foi criada e verificada, e você já pode começar a usar o Elysium. Clique no botão abaixo para entrar na sua nova conta.</p>
            <p>Caso precise de ajuda ao utilizar nosso sistema, você pode falar conosco clicando no botão azul de chat que está sempre visível no canto inferior direito da sua tela.</p>
            <div class="el-button el-button-action el-animated" ng-click="$state.go('authentication.login')">Voltar para o Login</div>
        </div>
    </div>
</div>
