<div class="el-auth-register-form">
    <div class="el-auth-message">
        <h1>Aguardando pagamento</h1>
        <p>
            A fatura foi gerada com sucesso, e estamos aguardando o pagamento para reativar sua empresa no Elysium. Você pode voltar à página anterior para verificar o status do
            pagamento a qualquer momento. Enviaremos um email para você assim que o pagamento for realizado, e sua empresa será reativada em seguida.
        </p>
        <p>
            Caso você enfrente problemas com o pagamento, <a onclick="drift.api.openChat()">entre em contato conosco</a> utilizando o botão de ajuda no canto inferior direito.
        </p>
        <button class="el-button el-button-action el-animated" ui-sref="authentication.company">Voltar aos dados da empresa</button>
    </div>
</div>
