<div class="el-auth-register-form">
    <div class="el-auth-message">
        <h1>Pagamento concluído</h1>
        <p>A fatura gerada foi paga com sucesso e sua empresa já foi reativada. Clique no botão abaixo para voltar a utilizar o Elysium.</p>
        <button class="el-button el-button-action el-animated" ui-sref="app.processos.list">Entrar no Elysium</button>
    </div>
</div>
