<div class="el-auth-register-form" ng-controller="CompanyConfigurationController as CompanyConfiguration">
    <div class="el-auth-message large" ng-if="CompanyConfiguration.data.company && !CompanyConfiguration.data.company.past_trial">
        <h1>Sua empresa está inativa</h1>
        <p>
            Atualmente, sua empresa encontra-se inativa. Verifique suas faturas abaixo para entender o motivo. E não se preocupe: seus processos e documentos estão seguros e não
            serão apagados (a menos que você apague sua empresa manualmente).
        </p>
        <p>
            Verifique se seu plano e método de pagamento estão corretos. Depois, clique em "Gerar nova fatura" para realizar seu pagamento e voltar a utilizar o Elysium normalmente.
            Caso já exista uma fatura pendente, <a onclick="drift.api.openChat()">entre em contato conosco</a> para realizarmos uma nova tentativa de cobrança.
        </p>
    </div>
    <div class="el-auth-message large" ng-if="CompanyConfiguration.data.company && CompanyConfiguration.data.company.past_trial">
        <h1>Seu período de testes acabou</h1>
        <p>
            Atualmente, sua empresa encontra-se inativa. Clique no botão abaixo para escolher seu plano e continuar utilizando o Elysium.
        </p>
        <p>
            E não se preocupe: seus processos e documentos estão seguros e não serão apagados (a menos que você apague sua empresa manualmente).
        </p>
    </div>
    <div class="el-auth-form as-container large el-animated clearfix">
        <div id="el-section-configurations-profile" class="el-section-content clearfix">
            <div class="el-configurations-company-get-started" ng-if="CompanyConfiguration.data.company && (!CompanyConfiguration.data.company.plan || !CompanyConfiguration.data.company.payment_profile)">
                <div class="el-configurations-company-get-started-trial-expiration" ng-class="{'active': CompanyConfiguration.data.trial_expiration}">
                    Seu período de testes acabou {{CompanyConfiguration.data.trial_expiration}}
                </div>
                <div class="el-configurations-company-get-started-text">
                    Escolha um plano e volte a utilizar o Elysium agora mesmo! Leva menos de 3 minutos, e você continua com todos os seus processos e informações intactos.
                </div>
                <button class="el-configurations-company-get-started-cta" ng-click="CompanyConfiguration.openPaymentWizard()">Escolha seu plano</button>
            </div>
            <div class="el-configurations-company-info-holder clearfix" ng-if="CompanyConfiguration.data.company && CompanyConfiguration.data.company.plan && CompanyConfiguration.data.company.payment_profile">
                <div class="el-configurations-company-info-section">
                    <div class="el-configurations-company-info-section-name">Plano e método de pagamento</div>
                </div>
                <div class="el-configurations-company-plan">
                    <div class="el-configurations-company-plan-image" ng-style="{'background-image': 'url(../images/payments/icon-plan-' + (CompanyConfiguration.data.company.plan.slug || 'no-slug') + '.png)'}"></div>
                    <div class="el-configurations-company-plan-current">Plano atual</div>
                    <div class="el-configurations-company-plan-name" ng-bind="CompanyConfiguration.data.company.plan.name"></div>
                    <div class="el-configurations-company-plan-change" ng-click="CompanyConfiguration.openChangePlanModal()">Alterar plano</div>
                </div>
                <div class="el-configurations-company-payment-profile">
                    <div class="el-configurations-company-payment-profile-card {{CompanyConfiguration.data.company.payment_profile.payment_company}}">
                        <div class="el-configurations-company-payment-profile-card-number" data-field="NÚMERO" ng-bind="CompanyConfiguration.data.company.payment_profile.card_number_last_four"></div>
                        <div class="el-configurations-company-payment-profile-card-name" data-field="TITULAR DO CARTÃO" ng-bind="CompanyConfiguration.data.company.payment_profile.holder_name"></div>
                        <div class="el-configurations-company-payment-profile-card-expiration" data-field="VALIDADE" ng-bind="CompanyConfiguration.data.company.payment_profile.card_expiration"></div>
                    </div>
                    <div class="el-configurations-company-payment-profile-created-at">Adicionado {{CompanyConfiguration.data.company.payment_profile.created_at}}</div>
                    <div class="el-configurations-company-payment-profile-change" ng-click="CompanyConfiguration.openChangeCreditCardModal()">Trocar cartão de crédito</div>
                </div>
                <div class="el-configurations-company-info-section">
                    <div class="el-configurations-company-info-section-name">Faturas</div>
                    <div class="el-configurations-company-info-section-button" ng-if="CompanyConfiguration.canCreateBill()" ng-click="CompanyConfiguration.openCreateBillModal()">Gerar nova fatura</div>
                </div>
                <div class="el-configurations-company-bills" bs-collapse data-start-collapsed="true">
                    <div class="el-configurations-company-bills-header clearfix">
                        <div class="el-configurations-company-bills-data-header date">Data</div>
                        <div class="el-configurations-company-bills-data-header plan">Plano</div>
                        <div class="el-configurations-company-bills-data-header amount">Valor</div>
                        <div class="el-configurations-company-bills-data-header status">Status</div>
                        <div class="el-configurations-company-bills-data-header link">Fatura</div>
                    </div>
                    <div class="el-configurations-company-bill" ng-repeat="bill in CompanyConfiguration.data.bills">
                        <div class="el-configurations-company-bill-header el-animated clearfix" bs-collapse-toggle>
                            <div class="el-configurations-company-bill-header-data date">{{bill.created_at | date:'dd/MM/yyyy'}}</div>
                            <div class="el-configurations-company-bill-header-data plan">{{bill.plan.name}}</div>
                            <div class="el-configurations-company-bill-header-data amount">{{bill.amount | currency}}</div>
                            <div class="el-configurations-company-bill-header-data status {{bill.status}}">{{bill.status | elBillStatus}}</div>
                            <div class="el-configurations-company-bill-header-data link"><a ng-attr-href="{{bill.url}}" target="_blank">Visualizar</a></div>
                        </div>
                        <!--<div class="el-configurations-company-bill-body" bs-collapse-target></div>-->
                    </div>
                    <div class="el-configurations-company-bills-empty trial" ng-if="!CompanyConfiguration.data.bills.length">
                        Sua empresa ainda não tem faturas. Clique no botão "Gerar nova fatura" para realizar seu primeiro pagamento.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="el-auth-footer-links margin-bottom">
        <a class="el-auth-footer-link" ng-click="CompanyConfiguration.logout()">Sair da sua conta</a>
    </div>

</div>

