<div class="el-auth-main" ng-controller="AuthenticationController as Authentication">
    <div class="el-auth-column el-auth-ad el-animated-long" ng-class="{'retracted': !$state.is('authentication.login')}">
        <div class="el-auth-ad-wrapper">
            <div class="el-auth-ad-title">
                Advocacia descomplicada
            </div>
            <div class="el-auth-ad-message">
                Automatizamos seu trabalho para você se preocupar com o que realmente importa: advogar.
            </div>
        </div>
    </div>
    <div class="el-auth-column el-auth-view el-animated-long" ng-class="{'full-width': !$state.is('authentication.login')}">
        <div class="el-auth-table" ui-view></div>
    </div>
</div>
