<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-title">Alterar plano</div>
            <div class="el-modal-payment-wizard-header-close right" ng-click="ChangePlan.closeModal()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step plan">
                <div class="el-modal-payment-wizard-company-form-header">
                    <div class="el-modal-payment-wizard-company-form-header-icon plan"></div>
                    <div class="el-modal-payment-wizard-company-form-header-text">
                        Escolha um plano para sua empresa abaixo. Seu novo plano começará a valer a partir da próxima fatura gerada para sua empresa. Faturas pendentes não
                        terão seus planos alterados.
                    </div>
                </div>
                <div class="el-modal-payment-wizard-step-flex">
                    <div class="el-modal-payment-wizard-plan-holder" data-free="2 MESES GRÁTIS" ng-class="{'yearly': plan.slug.startsWith('yearly')}" ng-repeat="plan in ChangePlan.data.plans">
                        <div class="el-modal-payment-wizard-plan-image" ng-style="{'background-image': 'url(../images/payments/icon-plan-' + (plan.slug || 'no-slug') + '.png)'}"></div>
                        <div class="el-modal-payment-wizard-plan-name" ng-bind="plan.name"></div>
                        <div class="el-modal-payment-wizard-plan-price" ng-bind="plan.base_price"></div>
                        <div class="el-modal-payment-wizard-plan-details">
                            <div class="el-modal-payment-wizard-plan-detail">
                                <div class="el-modal-payment-wizard-plan-detail-icon users"></div>
                                {{plan.user_price}}
                            </div>
                        </div>
                        <div class="el-modal-payment-wizard-plan-select"
                             ng-class="{'current-plan':ChangePlan.data.company.plan.id === plan.id}"
                             ng-click="ChangePlan.selectPlan(plan.id)"
                        >
                            {{ChangePlan.data.company.plan.id === plan.id ? 'Plano atual' : 'Selecionar'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
