<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-title">Atualizar método de pagamento</div>
            <div class="el-modal-payment-wizard-header-close right" ng-click="ChangeCreditCard.closeModal()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step plan">
                <form class="el-modal-payment-wizard-company-form" name="CompanyDetailsForm" ng-submit="ChangeCreditCard.updatePaymentProfile()">
                    <div class="el-modal-payment-wizard-company-form-header">
                        <div class="el-modal-payment-wizard-company-form-header-icon payment"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Insira suas informações de pagamento nos campos abaixo para atualizar seu método de pagamento. Esse método de pagamento será utilizado em todas as
                            cobranças futuras.
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon cc"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="cc-name" class="el-form-label-input el-animated" id="form-holder-name" name="holder-name" ng-model="ChangeCreditCard.data.paymentProfile.holder_name" required>
                                <label class="el-form-label el-animated">Nome do Titular</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50 el-animated">
                                <input
                                        type="text"
                                        autocomplete="cc-number"
                                        class="el-form-label-input el-animated"
                                        maxlength="19"
                                        id="form-card-number"
                                        name="card-number"
                                        ng-model="ChangeCreditCard.data.paymentProfile.card_number"
                                        el-credit-card
                                        required
                                >
                                <label class="el-form-label el-animated">Número do Cartão</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input
                                        type="text"
                                        autocomplete="cc-exp"
                                        class="el-form-label-input el-animated"
                                        id="form-card-exp"
                                        name="card-exp"
                                        ng-model="ChangeCreditCard.data.paymentProfile.card_expiration"
                                        moment-picker="ChangeCreditCard.data.card_exp"
                                        format="MM/YYYY"
                                        ng-model-options="{updateOn:'blur'}"
                                        keyboard="true"
                                        start-view="decade"
                                        required
                                >
                                <label class="el-form-label el-animated">Validade do Cartão</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input
                                        type="text"
                                        autocomplete="cc-csc"
                                        class="el-form-label-input el-animated"
                                        id="form-card-cvv"
                                        name="card-cvv"
                                        ng-model="ChangeCreditCard.data.paymentProfile.card_cvv"
                                        minlength="3"
                                        maxlength="3"
                                        required>
                                <label class="el-form-label el-animated">Código de Segurança</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <div class="el-modal-payment-wizard-footer-safety" data-template-url="app/payments/views/tooltip/safety.html" bs-tooltip>Seus dados estão seguros</div>
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit">Salvar dados</button>
                        <div class="el-modal-payment-wizard-footer-button go-back" ng-click="ChangeCreditCard.closeModal()">Cancelar</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
