<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-steps">
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PaymentWizard.data.step === 'plan'}">Escolha um plano</div>
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PaymentWizard.data.step === 'company'}">Informações da Empresa</div>
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PaymentWizard.data.step === 'payment'}">Informações de Pagamento</div>
            </div>
            <div class="el-modal-payment-wizard-header-close" ng-click="PaymentWizard.closeWizard()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step plan" ng-if="PaymentWizard.data.step === 'plan'">
                <div class="el-modal-payment-wizard-step-flex">
                    <div class="el-modal-payment-wizard-plan-holder" data-free="2 MESES GRÁTIS" ng-class="{'yearly': plan.slug.startsWith('yearly')}" ng-repeat="plan in PaymentWizard.data.plans">
                        <div class="el-modal-payment-wizard-plan-image" ng-style="{'background-image': 'url(../images/payments/icon-plan-' + (plan.slug || 'no-slug') + '.png)'}"></div>
                        <div class="el-modal-payment-wizard-plan-name" ng-bind="plan.name"></div>
                        <div class="el-modal-payment-wizard-plan-price" ng-bind="plan.base_price"></div>
                        <div class="el-modal-payment-wizard-plan-details">
                            <div class="el-modal-payment-wizard-plan-detail">
                                <div class="el-modal-payment-wizard-plan-detail-icon users"></div>
                                {{plan.user_price}}
                            </div>
                        </div>
                        <div class="el-modal-payment-wizard-plan-select" ng-click="PaymentWizard.selectPlan(plan.id)">Selecionar</div>
                    </div>
                </div>
                <div class="el-modal-payment-wizard-footer clearfix">
                    <div class="el-modal-payment-wizard-footer-safety" data-template-url="app/payments/views/tooltip/safety.html" bs-tooltip>Seus dados estão seguros</div>
                </div>
            </div>
            <div class="el-modal-payment-wizard-step plan" ng-if="PaymentWizard.data.step === 'company'">
                <form class="el-modal-payment-wizard-company-form" name="CompanyDetailsForm" ng-submit="PaymentWizard.updateCompany()">
                    <div class="el-modal-payment-wizard-company-form-header clearfix">
                        <div class="el-modal-payment-wizard-company-form-header-icon company"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Precisamos de algumas informações básicas sobre sua empresa para continuarmos.
                            Se você é um advogado autônomo, você pode inserir suas informações pessoais nos campos apropriados, como seu CPF ao invés de CNPJ.
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon cliente"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="organization" class="el-form-label-input el-animated" id="form-name" name="name" ng-model="PaymentWizard.data.company.name" required>
                                <label class="el-form-label el-animated">Nome da organização/responsável</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="email" autocomplete="email" class="el-form-label-input el-animated" id="form-email" name="email" ng-model="PaymentWizard.data.company.email" required>
                                <label class="el-form-label el-animated">Email para contato</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="tel" class="el-form-label-input el-animated" id="form-telephone" name="telephone" ng-model="PaymentWizard.data.company.phone_number" required ui-br-phone-number>
                                <label class="el-form-label el-animated">Telefone</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="off" class="el-form-label-input el-animated" id="form-registry_code" name="registry_code" ng-model="PaymentWizard.data.company.registry_code" ui-br-cpfcnpj-mask required>
                                <label class="el-form-label el-animated">CNPJ/CPF</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon location"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-66">
                                <input type="text" autocomplete="address-line1" class="el-form-label-input el-animated" name="street" ng-model="PaymentWizard.data.company.street" required>
                                <label class="el-form-label el-animated">Rua</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-line2" class="el-form-label-input el-animated" name="number" ng-model="PaymentWizard.data.company.number" required>
                                <label class="el-form-label el-animated">Número</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-66">
                                <input type="text" autocomplete="address-line3" class="el-form-label-input el-animated" name="complement" ng-model="PaymentWizard.data.company.additional_details">
                                <label class="el-form-label el-animated">Complemento</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="postal-code" class="el-form-label-input el-animated" name="cep" ng-model="PaymentWizard.data.company.zipcode" ui-br-cep-mask required>
                                <label class="el-form-label el-animated">CEP</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-level3" class="el-form-label-input el-animated" name="neighborhood" ng-model="PaymentWizard.data.company.neighborhood" required>
                                <label class="el-form-label el-animated">Bairro</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-level2" class="el-form-label-input el-animated" name="city" ng-model="PaymentWizard.data.company.city" required>
                                <label class="el-form-label el-animated">Cidade</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <ui-select focus-select-on="payments:wizard:form:state:focus" ng-model="PaymentWizard.data.company.state">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="state.code as state in PaymentWizard.data.states | filter:$select.search track by state.code">
                                        <span ng-bind-html="state.name | highlight:$select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="el-form-label el-form-select-label">Estado</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <div class="el-modal-payment-wizard-footer-safety" data-template-url="app/payments/views/tooltip/safety.html" bs-tooltip>Seus dados estão seguros</div>
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit">Próximo passo</button>
                        <div class="el-modal-payment-wizard-footer-button go-back" ng-click="PaymentWizard.data.step = 'plan'">Voltar</div>
                    </div>
                </form>
            </div>
            <div class="el-modal-payment-wizard-step plan" ng-if="PaymentWizard.data.step === 'payment'">
                <form class="el-modal-payment-wizard-company-form" name="CompanyDetailsForm" ng-submit="PaymentWizard.createPaymentProfile()">
                    <div class="el-modal-payment-wizard-company-form-header">
                        <div class="el-modal-payment-wizard-company-form-header-icon payment"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Insira suas informações de pagamento nos campos abaixo para finalizar sua assinatura. Seus dados serão enviados numa conexão criptografada e, por
                            segurança, não serão armazenados nos servidores do Elysium.
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon cc"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="cc-name" class="el-form-label-input el-animated" id="form-holder-name" name="holder-name" ng-model="PaymentWizard.data.paymentProfile.holder_name" required>
                                <label class="el-form-label el-animated">Nome do Titular</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50 el-animated">
                                <input
                                        type="text"
                                        autocomplete="cc-number"
                                        class="el-form-label-input el-animated"
                                        maxlength="19"
                                        id="form-card-number"
                                        name="card-number"
                                        ng-model="PaymentWizard.data.paymentProfile.card_number"
                                        el-credit-card
                                        required
                                >
                                <label class="el-form-label el-animated">Número do Cartão</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input
                                        type="text"
                                        autocomplete="cc-exp"
                                        class="el-form-label-input el-animated"
                                        id="form-card-exp"
                                        name="card-exp"
                                        ng-model="PaymentWizard.data.paymentProfile.card_expiration"
                                        moment-picker="PaymentWizard.data.card_exp"
                                        format="MM/YYYY"
                                        ng-model-options="{updateOn:'blur'}"
                                        keyboard="true"
                                        start-view="decade"
                                        required
                                >
                                <label class="el-form-label el-animated">Validade do Cartão</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input
                                        type="text"
                                        autocomplete="cc-csc"
                                        class="el-form-label-input el-animated"
                                        id="form-card-cvv"
                                        name="card-cvv"
                                        ng-model="PaymentWizard.data.paymentProfile.card_cvv"
                                        minlength="3"
                                        maxlength="3"
                                        required>
                                <label class="el-form-label el-animated">Código de Segurança</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <div class="el-modal-payment-wizard-footer-safety" data-template-url="app/payments/views/tooltip/safety.html" bs-tooltip>Seus dados estão seguros</div>
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit">Salvar dados e finalizar</button>
                        <div class="el-modal-payment-wizard-footer-button go-back" ng-click="PaymentWizard.data.step = 'company'">Voltar</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
