<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-title">Atualizar dados da empresa</div>
            <div class="el-modal-payment-wizard-header-close right" ng-click="UpdateCompany.closeModal()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step plan">
                <form class="el-modal-payment-wizard-company-form" name="CompanyDetailsForm" ng-submit="UpdateCompany.updateCompany()">
                    <div class="el-modal-payment-wizard-company-form-header clearfix">
                        <div class="el-modal-payment-wizard-company-form-header-icon company"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Você pode atualizar os dados da sua empresa abaixo.
                            Se você é um advogado autônomo, você pode inserir suas informações pessoais nos campos apropriados, como seu CPF ao invés de CNPJ.
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon cliente"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="organization" class="el-form-label-input el-animated" id="form-name" name="name" ng-model="UpdateCompany.data.company.name" required>
                                <label class="el-form-label el-animated">Nome da organização/responsável</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="email" autocomplete="email" class="el-form-label-input el-animated" id="form-email" name="email" ng-model="UpdateCompany.data.company.email" required>
                                <label class="el-form-label el-animated">Email para contato</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="tel" class="el-form-label-input el-animated" id="form-telephone" name="telephone" ng-model="UpdateCompany.data.company.phone_number" required ui-br-phone-number>
                                <label class="el-form-label el-animated">Telefone</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-50">
                                <input type="text" autocomplete="off" class="el-form-label-input el-animated" id="form-registry_code" name="registry_code" ng-model="UpdateCompany.data.company.registry_code" ui-br-cpfcnpj-mask required>
                                <label class="el-form-label el-animated">CNPJ/CPF</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-form-processo-data-section el-animated">
                        <div class="el-processo-data-section-icon location"></div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-66">
                                <input type="text" autocomplete="address-line1" class="el-form-label-input el-animated" name="street" ng-model="UpdateCompany.data.company.street" required>
                                <label class="el-form-label el-animated">Rua</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-line2" class="el-form-label-input el-animated" name="number" ng-model="UpdateCompany.data.company.number" required>
                                <label class="el-form-label el-animated">Número</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-66">
                                <input type="text" autocomplete="address-line3" class="el-form-label-input el-animated" name="complement" ng-model="UpdateCompany.data.company.additional_details">
                                <label class="el-form-label el-animated">Complemento</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="postal-code" class="el-form-label-input el-animated" name="cep" ng-model="UpdateCompany.data.company.zipcode" ui-br-cep-mask required>
                                <label class="el-form-label el-animated">CEP</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                        <div class="el-form-group el-processo-data-group clearfix">
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-level3" class="el-form-label-input el-animated" name="neighborhood" ng-model="UpdateCompany.data.company.neighborhood" required>
                                <label class="el-form-label el-animated">Bairro</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <input type="text" autocomplete="address-level2" class="el-form-label-input el-animated" name="city" ng-model="UpdateCompany.data.company.city" required>
                                <label class="el-form-label el-animated">Cidade</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                            <div class="el-form-data el-processo-data el-processo-data-33">
                                <ui-select focus-select-on="payments:updateCompany:form:state:focus" ng-model="UpdateCompany.data.company.state">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="state.code as state in UpdateCompany.data.states | filter:$select.search track by state.code">
                                        <span ng-bind-html="state.name | highlight:$select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="el-form-label el-form-select-label">Estado</label>
                                <div class="el-from-label-input-outline el-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit">Salvar dados</button>
                        <div class="el-modal-payment-wizard-footer-button go-back" ng-click="UpdateCompany.closeModal()">Cancelar</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
