<div class="el-content-publications-header clearfix">
    <div class="el-content-search-bar">
        <input type="text" id="el-content-search-bar-publications" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome buscado, sigla do diário ou estado" ng-model="AllPublications.data.searchFilter">
    </div>
    <div class="el-content-publications-date clearfix">
        <div class="el-content-publications-date-prev el-animated" ng-click="AllPublications.previousDay()" ng-class="{'inactive': AllPublications.data.date <= AllPublications.data.minDate}">&lsaquo;</div>
        <div class="el-content-publications-date-now"
             moment-picker ng-model="AllPublications.data.date"
             min-view="year" max-view="month" start-view="month" today="true"
             min-date="AllPublications.data.minDate" max-date="AllPublications.data.maxDate"
             change="AllPublications.onDateChange(newValue, oldValue)">
            {{AllPublications.data.date.format('DD/MM/YYYY')}}
        </div>
        <div class="el-content-publications-date-next el-animated" ng-click="AllPublications.nextDay()" ng-class="{'inactive': AllPublications.data.date >= AllPublications.data.maxDate}">&rsaquo;</div>
    </div>
</div>
<div class="el-content-list">
    <div class="el-content-list el-loader-holder el-animated" ng-if="!AllPublications.data.publications">
        <div class="el-processo-list-item publication el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8]"></div>
    </div>
    <div class="el-list-empty el-processo-list-empty el-animated-long" ng-if="AllPublications.data.publications && !AllPublications.data.publications.length">
        <div class="el-list-empty-icon publications-empty"></div>
        <div class="el-list-empty-text" ng-if="AllPublications.data.currentUser.publication_name">Não há nenhuma publicação disponível para esse dia.</div>
        <div class="el-list-empty-text" ng-if="!AllPublications.data.currentUser.publication_name">
            Não há nenhuma publicação disponível para esse dia. Registre seu nome em suas configurações para começar a receber atualizações dos Diários Oficiais diariamente.
        </div>
        <div class="el-list-empty-cta el-animated" ng-if="!AllPublications.data.currentUser.publication_name" ui-sref="app.configurations.publications">Registre seu nome</div>
    </div>
    <div class="el-processo-list-item publication el-animated-long clearfix" ng-repeat="publication in AllPublications.data.filteredPublications = (AllPublications.data.publications | filter:{$: AllPublications.data.searchFilter} | orderBy:['publication_date', 'id']) track by publication.id">
        <div class="el-publication-item-header clearfix" ng-click="AllPublications.openDetailsModal(publication, $index)">
            <div class="el-publication-item-date" data-css-content="PUBLICAÇÃO">{{publication.publication_date.format('DD/MM')}}</div>
            <div class="el-publication-item-info">
                <div class="el-publication-item-process" ng-if="publication.process">{{publication.process.title}}</div>
                <div class="el-publication-item-name" ng-class="{'processless': !publication.process}">{{publication.searched_oab.name}}</div>
            </div>
            <div class="el-publication-item-archive archived el-animated" ng-if="publication.archived" data-trigger="hover" data-title="Arquivado" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-publication-item-state">{{publication.state}}</div>
            <div class="el-publication-item-acronym">{{publication.report_acronym}}</div>
        </div>
    </div>
</div>
