<div id="el-section-publications" class="el-section-holder" ng-controller="PublicationsController as Publications">
    <div class="el-section-header">
        <div class="el-section-header-icon el-animated"></div>
        <div class="el-section-header-menu">
            <div class="el-section-header-menu-item" ui-sref="app.publications.all" ng-class="{'el-selected': $state.is('app.publications.all')}">Todas</div>
            <div class="el-section-header-menu-item" ui-sref="app.publications.archived" ng-class="{'el-selected': $state.is('app.publications.archived')}">Arquivadas</div>
        </div>
    </div>
    <div class="el-section-content-holder" ui-view></div>
</div>
