<header ng-controller="HeaderController as Header">
    <div class="el-container">
        <div class="el-header-logo-container">
            <div class="el-header-logo" ui-sref="app.processos.list">
                <div class="el-header-logo-hex el-animated" ng-class="{'el-header-logo-hex-full': $state.is('app.processos.list')}"></div>
            </div>
        </div>
        <div class="el-header-pages-container">
            <div class="el-header-page el-animated" ng-class="{'el-header-page-active': $state.includes(page.includes || page.sref)}" ng-repeat="page in Header.pages">
                <div class="el-header-page-icon-wrapper" ui-sref="{{page.sref}}">
                    <div class="el-header-page-title">{{page.title}}</div>
                </div>
            </div>
        </div>
        <div class="el-header-mobile-pages-container">
            <div class="el-header-mobile-page el-animated" ng-class="{'el-header-page-active': $state.includes(page.includes || page.sref)}" ng-repeat="page in Header.pages">
                <div class="el-header-mobile-page-icon-wrapper" ui-sref="{{page.sref}}">
                    <div class="el-header-mobile-page-icon el-header-page-icon-{{page.icon}}"></div>
                </div>
            </div>
            <div class="el-header-mobile-page el-animated">
                <div class="el-header-mobile-page-icon-wrapper">
                    <div class="el-header-mobile-page-icon el-header-page-icon-notifications"></div>
                </div>
            </div>
            <div class="el-header-mobile-page el-animated">
                <div class="el-header-mobile-page-icon-wrapper">
                    <div class="el-header-mobile-page-icon el-header-page-icon-configurations"></div>
                </div>
            </div>
        </div>
        <div class="el-header-buttons-container">
            <div class="el-header-button">
                <div class="el-header-button-wrapper dropdown" data-trigger="click" data-placement="bottom" data-template-url="./app/configurations/views/popover/configurations.html" data-auto-close="1" bs-popover>
                    <div class="el-header-button-icon el-header-button-icon-user"></div>
                </div>
            </div>
            <div class="el-header-button">
                <div class="el-header-button-wrapper" data-trigger="click" data-placement="bottom" data-template-url="./app/notifications/views/popover/notifications.html" data-controller="NotificationsPopoverController as NotificationsPopover" data-auto-close="1" bs-popover>
                    <div class="el-header-button-notifications" ng-if="Header.data.notificationCount > 0">{{Header.data.notificationCount}}</div>
                    <div class="el-header-button-icon el-header-button-icon-notifications"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="master-container" class="elysium-container">
    <div id="elysium-content" ui-view></div>
    <div id="master-rightside">
        <div id="master-agenda" class="master-rs" ng-controller="AgendaCrtl as agenda">
            <div class="rightside-header">
                <div class="rightside-header-name">Agenda</div>
                <div class="rightside-header-options" data-placement="bottom-right" bs-dropdown>
                    <div class="rightside-header-icon-more trans"></div>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="ocultarTarefasConcluidas()"><span ng-if="agenda.ocultarTarefasConcluidas">Exibir</span><span ng-if="!agenda.ocultarTarefasConcluidas">Ocultar</span> tarefas concluídas</a></li>
                </ul>
            </div>
            <div class="agenda-holder">
                <div class="agenda-day-header">
                    <div class="agenda-day-header-number">{{agenda.diaDeHoje}}</div>
                    <div class="agenda-day-header-name">{{agenda.nomeDeHoje}}</div>
                    <div class="agenda-day-header-title">Hoje</div>
                </div>
                <div class="agenda-day">
                    <div class="agenda-day-empty" ng-if="agenda.hoje && !tarefasDeHoje.length">
                        <div class="agenda-day-empty-icon agenda-day-empty-icon-sun"></div>
                        <div class="agenda-day-empty-text">Você não tem tarefas hoje</div>
                    </div>
                    <div class="agenda-day-task-holder" ng-click="agenda.abrirTarefa(tarefa.id)" ng-repeat="tarefa in agenda.hoje | tarefasConcluidas:agenda.ocultarTarefasConcluidas as tarefasDeHoje track by tarefa.id" ng-class="{'task-baixa':tarefa.priority == 'LOW','task-normal':tarefa.priority == 'NORMAL','task-alta':tarefa.priority == 'HIGH','task-concluido': !tarefa.pending}">
                        <div class="agenda-day-task-time" ng-if="tarefa.diaInteiro" data-trigger="hover" data-title="Dia inteiro" data-placement="auto" bs-tooltip>DIA</div>
                        <div class="agenda-day-task-time" ng-if="!tarefa.diaInteiro">{{tarefa.start | date:'HH:mm':"+0000"}}</div>
                        <div class="agenda-day-task-title" ng-attr-title="{{tarefa.title}}">{{tarefa.title}}</div>
                    </div>
                </div>
                <div class="agenda-day-header">
                    <div class="agenda-day-header-number">{{agenda.diaDeAmanha}}</div>
                    <div class="agenda-day-header-name">{{agenda.nomeDeAmanha}}</div>
                    <div class="agenda-day-header-title">Amanhã</div>
                </div>
                <div class="agenda-day">
                    <div class="agenda-day-empty" ng-if="agenda.amanha && !tarefasDeAmanha.length">
                        <div class="agenda-day-empty-icon agenda-day-empty-icon-moon"></div>
                        <div class="agenda-day-empty-text">Você não tem tarefas amanhã</div>
                    </div>
                    <div class="agenda-day-task-holder" ng-click="agenda.abrirTarefa(tarefa.id)" ng-repeat="tarefa in agenda.amanha | tarefasConcluidas:agenda.ocultarTarefasConcluidas as tarefasDeAmanha track by tarefa.id" ng-class="{'task-baixa':tarefa.priority == 'LOW','task-normal':tarefa.priority == 'NORMAL','task-alta':tarefa.priority == 'HIGH','task-concluido': !tarefa.pending}">
                        <div class="agenda-day-task-time" ng-if="tarefa.diaInteiro" data-trigger="hover" data-title="Dia inteiro" data-placement="auto" bs-tooltip>DIA</div>
                        <div class="agenda-day-task-time" ng-if="!tarefa.diaInteiro">{{tarefa.start | date:'HH:mm':"+0000"}}</div>
                        <div class="agenda-day-task-title" ng-attr-title="{{tarefa.title}}">{{tarefa.title}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="master-lembretes" class="master-rs" ng-controller="LembretesCtrl as lembretes">
            <div class="rightside-header lembretes-header">
                <div class="rightside-header-name">Lembretes {{lembretes.string}}</div>
                <div class="rightside-header-options" ng-click="alternarNovoLembrete()">
                    <div class="rightside-header-icon-plus trans">+</div>
                </div>
            </div>
            <div class="lembretes-holder">
                <div class="lembretes-empty" ng-if="lembretes.lembretes && !lembretes.lembretes.length && !lembretes.adicionarLembrete">
                    <div class="empty-icon empty-icon-lembretes"></div>
                    <div class="empty-message">Adicione lembretes clicando no botão <span class="message-button">+</span> acima</div>
                </div>
                <div class="lembrete-holder lembrete-novo" ng-show="lembretes.adicionarLembrete">
                    <div class="deletar-lembrete trans" ng-click="alternarNovoLembrete()">X</div>
                    <textarea spellcheck="false" ng-model="lembretes.novoLembrete" class="lembrete-textarea lembrete-verde" ng-blur="criarLembrete($event, lembretes.novoLembrete)" placeholder="Novo lembrete..." code="13" dl-key-code="criarLembrete(lembretes.novoLembrete)" msd-elastic></textarea>
                </div>
                <div class="lembrete-holder trans" ng-repeat="lembrete in lembretes.lembretes | orderBy: '-created_at' track by lembrete.id" ng-class="{'lembrete-salvando': lembrete.salvando}">
                    <div class="deletar-lembrete trans" ng-click="excluirLembrete(lembrete.id)" ng-class="{'deletar-lembrete-preto': lembrete.color == 'YELLOW' || lembrete.color == 'WHITE'}">&#10006;</div>
                    <textarea spellcheck="false" class="lembrete-textarea textarea" rows="1" ng-class="{'lembrete-verde': lembrete.color == 'GREEN', 'lembrete-laranja': lembrete.color == 'ORANGE', 'lembrete-vermelho': lembrete.color == 'RED', 'lembrete-azul': lembrete.color == 'BLUE', 'lembrete-amarelo': lembrete.color == 'YELLOW', 'lembrete-rosa': lembrete.color == 'PINK', 'lembrete-branco': lembrete.color == 'WHITE', 'lembrete-preto': lembrete.color == 'BLACK'}" ng-model="lembrete.text" ng-blur="atualizarLembrete($event, lembrete)" msd-elastic></textarea>
                    <div class="lembrete-bottommenu trans" ng-class="{'lembrete-bottommenu-salvando': lembretes.carregando == lembrete.id, 'lembrete-verde': lembrete.color == 'GREEN', 'lembrete-laranja': lembrete.color == 'ORANGE', 'lembrete-vermelho': lembrete.color == 'RED', 'lembrete-azul': lembrete.color == 'BLUE', 'lembrete-amarelo': lembrete.color == 'YELLOW', 'lembrete-rosa': lembrete.color == 'PINK', 'lembrete-branco': lembrete.color == 'WHITE', 'lembrete-preto': lembrete.color == 'BLACK'}">
                        <div class="lembrete-cor lembrete-cor-verde trans" ng-click="mudarCor(lembrete, 'GREEN')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'GREEN'}"></div>
                        <div class="lembrete-cor lembrete-cor-laranja trans" ng-click="mudarCor(lembrete, 'ORANGE')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'ORANGE'}"></div>
                        <div class="lembrete-cor lembrete-cor-vermelho trans" ng-click="mudarCor(lembrete, 'RED')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'RED'}"></div>
                        <div class="lembrete-cor lembrete-cor-azul trans" ng-click="mudarCor(lembrete, 'BLUE')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'BLUE'}"></div>
                        <div class="lembrete-cor lembrete-cor-amarelo trans" ng-click="mudarCor(lembrete, 'YELLOW')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'YELLOW'}"></div>
                        <div class="lembrete-cor lembrete-cor-rosa trans" ng-click="mudarCor(lembrete, 'PINK')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'PINK'}"></div>
                        <div class="lembrete-cor lembrete-cor-branco trans" ng-click="mudarCor(lembrete, 'WHITE')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'WHITE'}"></div>
                        <div class="lembrete-cor lembrete-cor-preto trans" ng-click="mudarCor(lembrete, 'BLACK')" ng-class="{'lembrete-cor-selecionado': lembrete.color == 'BLACK'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <toast></toast>
</footer>
