<div id="pessoas" class="page-holder">
    <div class="page-menu-holder">
        <a ui-sref="app.pessoas.todas">
            <div class="page-icon-holder">
                    <div class="page-icon-back trans" ng-class="{'page-icon-back-hidden': $state.is('app.pessoas.todas') || $state.is('app.pessoas.clientes') || $state.is('app.pessoas.adversos') || $state.is('app.pessoas.escritorio')}"></div>
                    <div class="page-icon trans page-icon-pessoas" ng-class="{'page-icon-big': $state.is('app.pessoas.todas') || $state.is('app.pessoas.clientes') || $state.is('app.pessoas.adversos') || $state.is('app.pessoas.escritorio')}"></div>
            </div>
        </a>
        <div class="page-submenu-holder">
            <div class="page-submenu page-submenu-add trans" ui-sref="app.pessoas.nova" data-trigger="hover" data-title="Nova pessoa" data-placement="bottom" bs-tooltip ng-class="{'sub-menu-tab-selected': $state.is('app.pessoas.nova')}"><div class="page-submenu-title page-submenu-title-add trans">+</div></div>
            <div class="page-submenu submenu-hidden trans" ng-class="{'sub-menu-tab-hidden-selected': $state.is('app.pessoas.editar')}"><div class="page-submenu-title trans">Editar</div></div>
            <div class="page-submenu submenu-hidden trans" ng-class="{'sub-menu-tab-hidden-selected': $state.is('app.pessoas.detalhes')}"><div class="page-submenu-title trans">Detalhes</div></div>
            <div class="page-submenu trans" ng-click="pessoas.mudarTipo('')" ng-class="{'sub-menu-tab-selected': pessoas.filtroTipo == '' && $state.is('app.pessoas.todas')}"><div class="page-submenu-title trans">Todas</div></div>
            <div class="page-submenu trans" ng-click="pessoas.mudarTipo('Client')" ng-class="{'sub-menu-tab-selected': pessoas.filtroTipo == 'Client' && $state.is('app.pessoas.todas')}"><div class="page-submenu-title trans">Clientes</div></div>
            <div class="page-submenu trans" ng-click="pessoas.mudarTipo('Adverse')" ng-class="{'sub-menu-tab-selected': pessoas.filtroTipo == 'Adverse' && $state.is('app.pessoas.todas')}"><div class="page-submenu-title trans">Adversos</div></div>
            <div class="page-submenu trans" ng-click="pessoas.mudarTipo('Correspondent')" ng-class="{'sub-menu-tab-selected': pessoas.filtroTipo == 'Correspondent' && $state.is('app.pessoas.todas')}"><div class="page-submenu-title trans">Correspondentes</div></div>
        </div>
    </div>
    <div class="page-content-holder" ui-view></div>
</div>
