<div id="atividades" class="page-holder">
    <div class="page-menu-holder">
        <div class="page-icon-holder" ng-click="changeView('month')">
                <div class="page-icon-back page-icon-back-hidden trans"></div>
                <div class="page-icon trans page-icon-big page-icon-atividades"></div>
        </div>
        <div class="page-submenu-holder">
            <div class="page-submenu page-submenu-add trans" ng-click="prepararAdicao()" data-trigger="hover" data-title="Nova tarefa" data-placement="bottom" bs-tooltip><div class="page-submenu-title page-submenu-title-add trans">+</div></div>
            <!--<div class="page-submenu trans" ng-click="changeView('month')" ng-class="{'sub-menu-tab-selected': atividades.view == 'month'}"><div class="page-submenu-title trans">Mês</div></div>-->
            <!-- <div class="page-submenu trans" ng-click="changeView('agendaWeek')" ng-class="{'sub-menu-tab-selected': atividades.view == 'agendaWeek'}"><div class="page-submenu-title trans">Semana</div></div>
            <div class="page-submenu trans" ng-click="changeView('agendaDay')" ng-class="{'sub-menu-tab-selected': atividades.view == 'agendaDay'}"><div class="page-submenu-title trans">Dia</div></div> -->
            <!--<div class="page-submenu page-submenu-right trans">-->
                <!--<div class="page-icon-more trans"></div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="page-content-holder">
        <div id="calendario" ui-calendar="atividades.uiConfig.calendar" calendar="atividades"></div>
    </div>
</div>
