<div id="processos" class="page-holder">
    <div class="page-menu-holder">
        <a ng-click="mudarFiltro('')">
            <div class="page-icon-holder">
                    <div class="page-icon-back trans" ng-class="{'page-icon-back-hidden': $state.is('app.processos.ativos') || $state.is('app.processos.suspensos') || $state.is('app.processos.arquivados')}"></div>
                    <div class="page-icon trans page-icon-processos" ng-class="{'page-icon-big': $state.is('app.processos.ativos') || $state.is('app.processos.suspensos') || $state.is('app.processos.arquivados')}"></div>
            </div>
        </a>
        <div class="page-submenu-holder">
            <div class="page-submenu page-submenu-add trans" ui-sref="app.processos.novo" data-trigger="hover" data-title="Novo processo" data-placement="bottom" bs-tooltip ng-class="{'sub-menu-tab-selected': $state.is('app.processos.novo')}"><div class="page-submenu-title page-submenu-title-add trans">+</div></div>
            <div class="page-submenu submenu-hidden trans" ng-class="{'sub-menu-tab-hidden-selected': $state.is('app.processos.update')}"><div class="page-submenu-title trans">Editar</div></div>
            <div class="page-submenu submenu-hidden trans" ng-class="{'sub-menu-tab-hidden-selected': $state.is('app.processos.details')}"><div class="page-submenu-title trans">Detalhes</div></div>
            <div class="page-submenu trans" ng-click="mudarFiltro('')" ng-class="{'sub-menu-tab-selected': processos.filtroStatus == '' && $state.is('app.processos.ativos')}"><div class="page-submenu-title trans">Todos</div></div>
            <div class="page-submenu trans" ng-click="mudarFiltro('Ativo')" ng-class="{'sub-menu-tab-selected': processos.filtroStatus == 'Ativo' && $state.is('app.processos.ativos')}"><div class="page-submenu-title trans">Ativos</div></div>
            <div class="page-submenu trans" ng-click="mudarFiltro('Suspenso')" ng-class="{'sub-menu-tab-selected': processos.filtroStatus == 'Suspenso' && $state.is('app.processos.ativos')}"><div class="page-submenu-title trans">Suspensos</div></div>
            <div class="page-submenu trans" ng-click="mudarFiltro('Arquivado')" ng-class="{'sub-menu-tab-selected': processos.filtroStatus == 'Arquivado' && $state.is('app.processos.ativos')}"><div class="page-submenu-title trans">Arquivados</div></div>
            <div class="page-submenu page-submenu-right trans">
                <div class="page-icon-more trans"></div>
            </div>
        </div>
    </div>
    <div class="page-content-holder" ui-view></div>
</div>
