<div class="home-content-holder">
    <masonry class="el-home-grid" item-selector=".el-home-grid-item" column-width=".el-home-grid-item-sizer">
        <div class="el-home-grid-item-sizer"></div>
        <!--<div class="el-home-grid-item">-->
            <!--<div class="el-home-grid-item-title">Tarefas concluídas<span class="el-home-grid-item-subtitle">Total</span></div>-->
            <!--<div class="el-home-grid-item-content">-->
                <!--<canvas class="el-home-grid-item-graph chart chart-doughnut" chart-data="Home.doneTasks.data" chart-labels="Home.doneTasks.labels"></canvas>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="el-home-grid-item">-->
            <!--<div class="el-home-grid-item-title">Processos<span class="el-home-grid-item-subtitle">Por tipo</span></div>-->
            <!--<div class="el-home-grid-item-content">-->
                <!--<canvas class="el-home-grid-item-graph chart chart-pie" chart-data="Home.processosStatus.data" chart-labels="Home.processosStatus.labels"></canvas>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="el-home-grid-item">-->
            <!--<div class="el-home-grid-item-title">Processos<span class="el-home-grid-item-subtitle">Por matéria</span></div>-->
            <!--<div class="el-home-grid-item-content">-->
                <!--<canvas class="el-home-grid-item-graph chart chart-pie" chart-data="Home.processosMaterias.data" chart-labels="Home.processosMaterias.labels"></canvas>-->
            <!--</div>-->
        <!--</div>-->
        <div class="el-home-grid-item">
            <div class="el-home-grid-item-title">Bem vindo ao Elysium!</div>
            <div class="el-home-grid-item-content">
                <p>Olá, {{Home.userName}}<br>Seja bem-vindo ao Elysium.</p>
                <p>
                    Há dois anos, trabalhamos incessantemente, para garantir a melhor experiência possível para
                    advogados: um serviço de gerenciamento 100% online que reduza os trabalhos manuais
                    (como consulta diárias de andamentos), organize sua agenda e centralize todas as pessoas
                    envolvidas no seu negócio (incluindo clientes, adversos e correspondentes).
                </p>
                <p>
                    Por isso, convidamos você, usuário do Elysium, a utilizar o sistema e nos ajudar
                    a mapear pontos de melhoria e possíveis erros que ainda possam existir no sistema.
                    Oportuno ressaltar que estamos em constante desenvolvimento e que novos recursos
                    serão implementados ao sistema ao longo das próximas semanas.
                </p>
                <p>
                    Se a qualquer momento você precisar de ajuda, poderá nos encontrar clicando na
                    opção “Ajuda” no menu superior, responderemos em até 24 horas. Também mantemos e participamos de um
                    <a href="https://www.facebook.com/groups/elysiumsoftware/" target="_blank">grupo de discussões para clientes no Facebook</a>.
                </p>
                <p>
                    Atenciosamente, Victor Zanocchi<br>
                    Diretor de Produto
                </p>
            </div>
        </div>
        <div class="el-home-grid-item grid-item-66">
            <div class="el-home-grid-item-title">Novidades no Elysium<span class="el-home-grid-item-subtitle">{{'Última atualização: ' + ('2017-03-20T20:35:00.000-0300'|tempoAtras)}}</span></div>
            <div class="el-home-grid-item-content el-home-grid-item-content-fixed">
                <section>
                    <h3>20 de março
                        <small>(v0.2.3)</small>
                    </h3>
                    <h4>Geral</h4>
                    <ul>
                        <li>Pequenas correções visuais no Início</li>
                    </ul>
                    <h4>Relatórios</h4>
                    <ul>
                        <li>A aba relatórios foi adicionada ao menu</li>
                        <li>Inicialmente, 3 gráficos serão disponibilizados</li>
                        <ul>
                            <li>Total de tarefas concluídas pelo usuário</li>
                            <li>Total de processos agrupados por status</li>
                            <li>Total de processos agrupados por matéria</li>
                        </ul>
                        <li>Em breve, gráficos mais avançados e personalizados serão adicionados, além de tabelas e opções para download e impressão de seus dados</li>
                    </ul>
                </section>
                <section>
                    <h3>14 de março
                        <small>(v0.2.2)</small>
                    </h3>
                    <h4>Geral</h4>
                    <ul>
                        <li>O menu do topo foi totalmente redesenhado</li>
                        <li>Várias áreas do site tiveram a aparência modificada</li>
                        <li>Pequenas correções nos Lembretes e na Agenda</li>
                    </ul>
                    <h4>Processos</h4>
                    <ul>
                        <li>Processos agora tem o campo "Estado"</li>
                        <li>Agora é possível adicionar tarefas diretamente na lista de tarefas dentro de um Processo</li>
                        <li>Novas opções foram adicionadas aos campos "Posição" (clientes e adversos) e "Matéria"</li>
                    </ul>
                </section>
                <section>
                    <h3>5 de março
                        <small>(v0.2.1)</small>
                    </h3>
                    <h4>Processos</h4>
                    <ul>
                        <li>Detalhes</li>
                        <ul>
                            <li>Novas animações foram adicionadas ao carregar novos dados</li>
                        </ul>
                        <li>Recursos e Incidentes</li>
                        <ul>
                            <li>Novas imagens e animações foram adicionadas</li>
                        </ul>
                        <li>Conexões</li>
                        <ul>
                            <li>A lista de conexões ganhou um novo design</li>
                            <li>Imagens e animações novinhas em folha foram adicionadas</li>
                            <li>A janela de adição de novas conexões agora filtra processos já conectados</li>
                        </ul>
                        <li>Documentos</li>
                        <ul>
                            <li>A lista de documentos também ganhou um novo design</li>
                            <li>Agora você pode enviar arquivos arrastando eles sobre a lista de documentos</li>
                            <li>Novo tipo de arquivo suportado: CSV (planilhas de texto)</li>
                            <li>Tentar trocar de página ou fechar a janela do navegador enquanto envia um ou mais arquivos agora abre uma janela de confirmação</li>
                            <li>Envios em andamento podem ser cancelados individualmente</li>
                        </ul>
                    </ul>
                </section>
                <section>
                    <h3>22 de fevereiro
                        <small>(v0.2.0)</small>
                    </h3>
                    <p>
                        Seja bem vindo ao Elysium :) Essa é a primeira grande atualização desde o soft-launch do Elysium,
                        e esperamos que você goste. Atualmente, estamos trabalhando arduamente para refazer completamente
                        o código atual do site para ficar mais rápido e com um design atualizado. Segura firme!
                    </p>
                    <br>
                    <h4>Processos</h4>
                    <ul>
                        <li>A aba de Movimentações de um processo foi completamente refeita</li>
                        <ul>
                            <li>O botão "Atualizar movimentações" agora funciona como deveria</li>
                            <li>Instâncias foram agrupadas para facilitar a leitura</li>
                            <li>As movimentações foram ordenadas cronologicamente</li>
                            <li>Processos e Recursos são corretamente identificados na lista</li>
                            <li>A aba de movimentações piscará quando houver novas movimentações</li>
                        </ul>
                        <li>A aba de Tarefas de um processo tem novas animações de carregamento</li>
                        <li>Várias áreas dos processos foram animadas para uma experiência melhor</li>
                    </ul>
                </section>
            </div>
        </div>
    </masonry>
</div>
