<form class="new-form" ng-submit="editarCliente(editar.dados.id)" ng-if="editar.type == 'Client'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="64" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    Cliente: {{editar.dados.nome}}
                </div>
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.detalhes({id: editar.dados.id})">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="nome" class="new-form-info-label">Nome</label>
            <input id="nome" type="text" ng-model="editar.dados.nome" class="cadastro-input" required>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="email" class="new-form-info-label">Email</label>
            <input id="email" type="email" ng-model="editar.dados.email" ng-model-options="{updateOn:'blur'}" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="telefone" class="new-form-info-label">Telefone</label>
            <input id="telefone" type="text" ng-model="editar.dados.telefone" class="cadastro-input" ui-br-phone-number>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="site" class="new-form-info-label">Site</label>
            <input id="site" type="text" ng-model="editar.dados.site" class="cadastro-input">
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="rua" class="new-form-info-label">Rua</label>
            <input id="rua" type="text" ng-model="editar.dados.rua" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="numero" class="new-form-info-label">Número</label>
            <input id="numero" type="text" ng-model="editar.dados.numero" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="complemento" class="new-form-info-label">Complemento</label>
            <input id="complemento" type="text" ng-model="editar.dados.complemento" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cep" class="new-form-info-label">CEP</label>
            <input id="cep" type="text" ng-model="editar.dados.cep" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="bairro" class="new-form-info-label">Bairro</label>
            <input id="bairro" type="text" ng-model="editar.dados.bairro" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cidade" class="new-form-info-label">Cidade</label>
            <input id="cidade" type="text" ng-model="editar.dados.cidade" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="estado" class="new-form-info-label">Estado</label>
            <selectize class="new-form-selectize" config='editar.estadosConfig' options='editar.estados' ng-model="editar.dados.estado"></selectize>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="pais" class="new-form-info-label">País</label>
            <selectize class="new-form-selectize" config='editar.paisesConfig' options='editar.paises' ng-model="editar.dados.pais"></selectize>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder new-form-info-comentarios clearfix">
            <label for="comentarios" class="new-form-info-label">Comentários</label>
            <div medium-editor data-placeholder=" " id="comentarios" rows="10" ng-model="editar.dados.comentarios" class="cadastro-input cadastro-textarea"></div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="editarAdverso(editar.dados.id)" ng-if="editar.type == 'Adverse'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="64" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    Adverso: {{editar.dados.nome}}
                </div>
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.detalhes({id: editar.dados.id})">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="nome" class="new-form-info-label">Nome</label>
            <input id="nome" type="text" ng-model="editar.dados.nome" class="cadastro-input" required>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="email" class="new-form-info-label">Email</label>
            <input id="email" type="email" ng-model="editar.dados.email" ng-model-options="{updateOn:'blur'}" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="telefone" class="new-form-info-label">Telefone</label>
            <input id="telefone" type="text" ng-model="editar.dados.telefone" class="cadastro-input" ui-br-phone-number>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="site" class="new-form-info-label">Site</label>
            <input id="site" type="text" ng-model="editar.dados.site" class="cadastro-input">
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="rua" class="new-form-info-label">Rua</label>
            <input id="rua" type="text" ng-model="editar.dados.rua" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="numero" class="new-form-info-label">Número</label>
            <input id="numero" type="text" ng-model="editar.dados.numero" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="complemento" class="new-form-info-label">Complemento</label>
            <input id="complemento" type="text" ng-model="editar.dados.complemento" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cep" class="new-form-info-label">CEP</label>
            <input id="cep" type="text" ng-model="editar.dados.cep" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="bairro" class="new-form-info-label">Bairro</label>
            <input id="bairro" type="text" ng-model="editar.dados.bairro" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cidade" class="new-form-info-label">Cidade</label>
            <input id="cidade" type="text" ng-model="editar.dados.cidade" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="estado" class="new-form-info-label">Estado</label>
            <selectize class="new-form-selectize" config='editar.estadosConfig' options='editar.estados' ng-model="editar.dados.estado"></selectize>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="pais" class="new-form-info-label">País</label>
            <selectize class="new-form-selectize" config='editar.paisesConfig' options='editar.paises' ng-model="editar.dados.pais"></selectize>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder new-form-info-comentarios clearfix">
            <label for="comentarios" class="new-form-info-label">Comentários</label>
            <div medium-editor data-placeholder=" " id="comentarios" rows="10" ng-model="editar.dados.comentarios" class="cadastro-input cadastro-textarea"></div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="editarAdvogado(editar.dados.id)" ng-if="editar.type == 'Adverse Lawyer'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="64" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    Advogado adverso: {{editar.dados.nome}}
                </div>
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.detalhes({id: editar.dados.id})">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="nome" class="new-form-info-label">Nome</label>
            <input id="nome" type="text" ng-model="editar.dados.nome" class="cadastro-input" required>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="oab" class="new-form-info-label">Inscrição na OAB</label>
            <input id="oab" type="text" ng-model="editar.dados.numero_da_oab" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="email" class="new-form-info-label">Email</label>
            <input id="email" type="email" ng-model="editar.dados.email" ng-model-options="{updateOn:'blur'}" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="telefone" class="new-form-info-label">Telefone</label>
            <input id="telefone" type="text" ng-model="editar.dados.telefone" class="cadastro-input" ui-br-phone-number>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="escritorio" class="new-form-info-label">Escritório</label>
            <input id="escritorio" type="text" ng-model="editar.dados.nome_do_escritorio" class="cadastro-input">
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder new-form-info-comentarios clearfix">
            <label for="comentarios" class="new-form-info-label">Comentários</label>
            <div medium-editor data-placeholder=" " id="comentarios" rows="10" ng-model="editar.dados.comentarios" class="cadastro-input cadastro-textarea"></div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="editarCorrespondente(editar.dados.id)" ng-if="editar.type == 'Correspondent'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="64" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    Correspondente: {{editar.dados.nome}}
                </div>
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.detalhes({id: editar.dados.id})">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="nome" class="new-form-info-label">Nome</label>
            <input id="nome" type="text" ng-model="editar.dados.nome" class="cadastro-input" required>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="email" class="new-form-info-label">Email</label>
            <input id="email" type="email" ng-model="editar.dados.email" ng-model-options="{updateOn:'blur'}" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="telefone" class="new-form-info-label">Telefone</label>
            <input id="telefone" type="text" ng-model="editar.dados.telefone" class="cadastro-input" ui-br-phone-number>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="site" class="new-form-info-label">Site</label>
            <input id="site" type="text" ng-model="editar.dados.site" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cargo" class="new-form-info-label">Cargo</label>
            <input id="cargo" type="text" ng-model="editar.dados.cargo" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cnpj" class="new-form-info-label">CNPJ</label>
            <input id="cnpj" type="text" ng-model="editar.dados.cnpj" class="cadastro-input" ui-br-cnpj-mask>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="nomefantasia" class="new-form-info-label">Nome Fantasia</label>
            <input id="nomefantasia" type="text" ng-model="editar.dados.nome_fantasia" class="cadastro-input">
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder clearfix">
            <label for="rua" class="new-form-info-label">Rua</label>
            <input id="rua" type="text" ng-model="editar.dados.rua" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="numero" class="new-form-info-label">Número</label>
            <input id="numero" type="text" ng-model="editar.dados.numero" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="complemento" class="new-form-info-label">Complemento</label>
            <input id="complemento" type="text" ng-model="editar.dados.complemento" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cep" class="new-form-info-label">CEP</label>
            <input id="cep" type="text" ng-model="editar.dados.cep" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="bairro" class="new-form-info-label">Bairro</label>
            <input id="bairro" type="text" ng-model="editar.dados.bairro" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="cidade" class="new-form-info-label">Cidade</label>
            <input id="cidade" type="text" ng-model="editar.dados.cidade" class="cadastro-input">
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="estado" class="new-form-info-label">Estado</label>
            <selectize class="new-form-selectize" config='editar.estadosConfig' options='editar.estados' ng-model="editar.dados.estado"></selectize>
        </div>
        <div class="new-form-info-holder clearfix">
            <label for="pais" class="new-form-info-label">País</label>
            <selectize class="new-form-selectize" config='editar.paisesConfig' options='editar.paises' ng-model="editar.dados.pais"></selectize>
        </div>
    </div>
    <div class="new-form-group">
        <div class="new-form-info-holder new-form-info-comentarios clearfix">
            <label for="comentarios" class="new-form-info-label">Comentários</label>
            <div medium-editor data-placeholder=" " id="comentarios" rows="10" ng-model="editar.dados.comentarios" class="cadastro-input cadastro-textarea"></div>
        </div>
    </div>
</form>
