<div class="page-content-filters">
	<div class="filter-search">
		<input type="text" class="filter-input" ng-model="filtro" placeholder="Buscar...">
	</div>
</div>
<div class="list-holder">
	<div class="carregando-lista" ng-if="!todosAdversos.lista">
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
		<div class="carregando-lista-barra carregando-lista-barra-pessoas"></div>
	</div>
	<div class="list-item list-pessoa trans" ng-repeat="toda in todosAdversos.lista | ordenar: 'nome' | filter:{nome:filtro}">
        <div class="list-link list-link-pessoa" ui-sref="app.pessoas.detalhes({id: toda.id})">
            <div class="pessoa-tag" ng-class="{'tag-cliente': toda.subtipo == 'cliente', 'tag-adverso': toda.subtipo == 'adverso', 'tag-advogado': toda.subtipo == 'advogado', 'tag-correspondente': toda.subtipo == 'correspondente'}"></div>
            <div class="pessoa-detalhes">
                <div class="pessoa-nome">{{toda.nome}}</div>
                <div class="pessoa-email">{{toda.email}}</div>
            </div>
        </div>
        <div class="options-holder pessoa-options">
            <div class="pessoa-option-holder option-holder trans" ui-sref="app.pessoas.editar({id: toda.id})">
                <div class="list-option list-option-editar" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
            <div class="pessoa-option-holder option-holder trans" data-content="{{popover.content}}" data-trigger="click" data-placement="auto top" data-template-url="./templates/popover/pessoas-excluir.html" data-auto-close="1" bs-popover>
                <div class="list-option list-option-excluir" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
	<div ng-click="carregarMais()" ng-if="!todosAdversos.fimDaLista && todosAdversos.lista" class="list-item list-pessoa list-load-more">
        Carregar mais...
    </div>
</div>
