<div class="pessoas-nova-seletor">
    <div class="pessoas-nova-seletor-tipo-holder trans" ng-click="tipoSelecionado = 'cliente'">
        <div class="pessoas-nova-seletor-tipo seletor-tipo-cliente trans" ng-class="{'seletor-tipo-selecione': !tipoSelecionado, 'seletor-tipo-selecionado': tipoSelecionado == 'cliente'}"></div>
        <div class="pessoas-nova-seletor-tipo-nome">Cliente</div>
    </div>
    <div class="pessoas-nova-seletor-tipo-holder trans" ng-click="tipoSelecionado = 'adverso';loadAdvogados();">
        <div class="pessoas-nova-seletor-tipo seletor-tipo-adverso trans" ng-class="{'seletor-tipo-selecione': !tipoSelecionado, 'seletor-tipo-selecionado': tipoSelecionado == 'adverso'}"></div>
        <div class="pessoas-nova-seletor-tipo-nome">Adverso</div>
    </div>
    <div class="pessoas-nova-seletor-tipo-holder trans" ng-click="tipoSelecionado = 'advogado'">
        <div class="pessoas-nova-seletor-tipo seletor-tipo-advogado trans" ng-class="{'seletor-tipo-selecione': !tipoSelecionado, 'seletor-tipo-selecionado': tipoSelecionado == 'advogado'}"></div>
        <div class="pessoas-nova-seletor-tipo-nome">Advogado Adverso</div>
    </div>
    <div class="pessoas-nova-seletor-tipo-holder trans" ng-click="tipoSelecionado = 'correspondente'">
        <div class="pessoas-nova-seletor-tipo seletor-tipo-correspondente trans" ng-class="{'seletor-tipo-selecione': !tipoSelecionado, 'seletor-tipo-selecionado': tipoSelecionado == 'correspondente'}"></div>
        <div class="pessoas-nova-seletor-tipo-nome">Correspondente</div>
    </div>
</div>
<div class="new-form-action-bar-holder" ng-if="!tipoSelecionado">
    <div class="new-form-action-bar trans">
        <div class="new-form-selecione">
            Escolha um tipo de pessoa para adicionar
        </div>
    </div>
</div>
<form class="new-form" ng-submit="criarCliente()" ng-if="tipoSelecionado == 'cliente'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="215" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!novaPessoa.nome">
                        Novo cliente
                    </span>
                    {{novaPessoa.nome}}
                </div>
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.todas">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="novaPessoa.nome" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.nome}">Nome</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoa.email" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.email}">Email</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cpfcnpj" class="new-form-input" ui-br-cpfcnpj-mask>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cpfcnpj}">CPF/CNPJ</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.telefone" class="new-form-input" ui-br-phone-number>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.telefone}">Telefone</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.site" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.site}">Site</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.rua" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.rua}">Rua</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.numero" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.numero}">Número</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.complemento" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.complemento}">Complemento</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.cep" class="new-form-input" maxlength="9">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cep}">CEP</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.bairro" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.bairro}">Bairro</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cidade" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cidade}">Cidade</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.estadosConfig' options='novaPessoa.estados' ng-model="novaPessoa.estado"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.estado}">Estado</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.paisesConfig' options='novaPessoa.paises' ng-model="novaPessoa.pais"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.pais}">País</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="novaPessoa.comentarios" class="new-form-input"></div>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.comentarios}">Comentários</label>
            </div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="criarAdverso()" ng-if="tipoSelecionado == 'adverso'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="215" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!novaPessoa.nome">
                        Novo adverso
                    </span>
                    {{novaPessoa.nome}}
                </div>
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.todas">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="novaPessoa.nome" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.nome}">Nome</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoa.email" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.email}">Email</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cpfcnpj" class="new-form-input" ui-br-cpfcnpj-mask>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cpfcnpj}">CPF/CNPJ</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.telefone" class="new-form-input" ui-br-phone-number>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.telefone}">Telefone</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.site" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.site}">Site</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.rua" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.rua}">Rua</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.numero" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.numero}">Número</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.complemento" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.complemento}">Complemento</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.cep" class="new-form-input" maxlength="9">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cep}">CEP</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.bairro" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.bairro}">Bairro</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cidade" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cidade}">Cidade</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.estadosConfig' options='novaPessoa.estados' ng-model="novaPessoa.estado"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.estado}">Estado</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.paisesConfig' options='novaPessoa.paises' ng-model="novaPessoa.pais"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.pais}">País</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="novaPessoa.comentarios" class="new-form-input"></div>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.comentarios}">Comentários</label>
            </div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="criarAdvogado()" ng-if="tipoSelecionado == 'advogado'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="215" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!novaPessoa.nome">
                        Novo advogado adverso
                    </span>
                    {{novaPessoa.nome}}
                </div>
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.todas">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="novaPessoa.nome" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.nome}">Nome</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.numero_da_oab" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.numero_da_oab}">Inscrição na OAB</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoa.email" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.email}">Email</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.telefone" class="new-form-input" ui-br-phone-number>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.telefone}">Telefone</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.nome_do_escritorio" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.nome_do_escritorio}">Escritório</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="novaPessoa.comentarios" class="new-form-input"></div>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.comentarios}">Comentários</label>
            </div>
        </div>
    </div>
</form>
<form class="new-form" ng-submit="criarCorrespondente()" ng-if="tipoSelecionado == 'correspondente'">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="215" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!novaPessoa.nome">
                        Novo correspondente
                    </span>
                    {{novaPessoa.nome}}
                </div>
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.pessoas.todas">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="novaPessoa.nome" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.nome}">Nome</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoa.email" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.email}">Email</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.telefone" class="new-form-input" ui-br-phone-number>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.telefone}">Telefone</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.site" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.site}">Site</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cargo" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.cargo}">Cargo</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cnpj" class="new-form-input" ui-br-cpfcnpj-mask>
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.cnpj}">CNPJ</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.nome_fantasia" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.nome_fantasia}">Nome Fantasia</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.rua" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.rua}">Rua</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.numero" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.numero}">Número</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-3">
                <input type="text" ng-model="novaPessoa.complemento" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.complemento}">Complemento</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novaPessoa.cep" class="new-form-input" maxlength="9">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cep}">CEP</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.bairro" class="new-form-input">
                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoa.bairro}">Bairro</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novaPessoa.cidade" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.cidade}">Cidade</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.estadosConfig' options='novaPessoa.estados' ng-model="novaPessoa.estado"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.estado}">Estado</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novaPessoa.paisesConfig' options='novaPessoa.paises' ng-model="novaPessoa.pais"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.pais}">País</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="novaPessoa.comentarios" class="new-form-input"></div>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoa.comentarios}">Comentários</label>
            </div>
        </div>
    </div>
</form>
