{{detalhes.Processo}}

<div class="processos-detalhes-header">
    <div class="processos-detalhes-header-status trans" ng-class="{
            'processos-detalhes-header-status-ativo': detalhes.dados.status_do_processo == 'Ativo',
            'processos-detalhes-header-status-suspenso': detalhes.dados.status_do_processo == 'Suspenso',
            'processos-detalhes-header-status-arquivado': detalhes.dados.status_do_processo == 'Arquivado'
        }">
        <div class="processos-detalhes-header-status-private" ng-if="detalhes.dados.is_public == false" data-trigger="hover" data-title="Processo privado" data-placement="top" bs-tooltip></div>
    </div>
    <div class="processos-detalhes-header-detalhes">
        <div class="processos-detalhes-header-titulo">
            {{detalhes.dados.titulo}}
        </div>
        <div class="processos-detalhes-header-responsaveis">
            <span data-trigger="hover" data-placement="bottom auto" data-template-url="./templates/popover/processos-responsaveis.html" data-auto-close="1" bs-popover>
                {{detalhes.dados.responsaveis.length}}
                <span ng-if="detalhes.dados.responsaveis.length == 1">responsável</span>
                <span ng-if="detalhes.dados.responsaveis.length > 1">responsáveis</span>
            </span>
        </div>
    </div>
    <div class="processos-detalhes-header-acoes">
        <div class="processos-detalhes-header-acao-holder" data-trigger="click" data-placement="bottom" data-template-url="./templates/popover/processos-detalhes-mudar-status.html" data-auto-close="1" bs-popover>
            <div class="processos-detalhes-header-acao processos-detalhes-header-acao-status" data-trigger="hover" data-title="Status do Processo" data-placement="top" bs-tooltip></div>
        </div>
        <div class="processos-detalhes-header-acao-holder">
            <div class="processos-detalhes-header-acao processos-detalhes-header-acao-editar" ui-sref="app.processos.update({id: detalhes.dados.id})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
        </div>
        <div class="processos-detalhes-header-acao-holder" data-content="{{popover.content}}" data-trigger="click" data-placement="auto left" data-template-url="./templates/popover/processos-excluir.html" data-animation="am-fade-and-slide-right" data-auto-close="1" bs-popover>
            <div class="processos-detalhes-header-acao processos-detalhes-header-acao-excluir" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
        </div>
    </div>
</div>
<div class="content-tabs">
    <div class="content-tab trans" ng-click="detalhes.tab = 'processo'" ng-class="{'content-tab-selected': detalhes.tab == 'processo'}">Processo</div>
    <div class="content-tab trans" ng-click="carregarTarefas()" ng-class="{'content-tab-selected': detalhes.tab == 'tarefas'}">Tarefas</div>
    <div class="content-tab trans" ng-click="carregarMovimentacoes()" ng-class="{'content-tab-selected': detalhes.tab == 'movimentacoes', 'content-tab-notification': temNotificacao(detalhes.dados)}">Movimentações</div>
    <div class="content-tab trans" ng-click="carregarRecursos()" ng-class="{'content-tab-selected': detalhes.tab == 'recursos'}">Recursos</div>
    <div class="content-tab trans" ng-click="carregarIncidentes()" ng-class="{'content-tab-selected': detalhes.tab == 'incidentes'}">Incidentes</div>
    <div class="content-tab trans" ng-click="carregarConexoes()" ng-class="{'content-tab-selected': detalhes.tab == 'conexoes'}">Conexões</div>
    <div class="content-tab trans" ng-click="carregarDocumentos()" ng-class="{'content-tab-selected': detalhes.tab == 'documentos'}">Documentos</div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'processo'">
    <div class="details-body">
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.tipo_de_acao}">Tipo de Ação</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.tipo_de_acao}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.numero_do_processo}">Número</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.numero_do_processo}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados}">Tipo do Processo</span>
                <span class="details-info-value details-info-value-processos">
                    <span ng-if="detalhes.dados.processo_eletronico">Eletrônico</span>
                    <span ng-if="detalhes.dados && !detalhes.dados.processo_eletronico">Físico</span>
                </span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.clientes.length}">Cliente<span ng-if="detalhes.dados.clientes.length > 1">s</span></span>
                <div class="details-info-value details-info-value-processos">
                    <span ng-repeat="cliente in detalhes.dados.clientes">
                        <a ui-sref="app.pessoas.detalhes({id: cliente.id, subtipo: 'cliente'})">{{cliente.nome}}</a><span ng-if="detalhes.dados.clientes.length > 1 && !$last">, </span>
                    </span>
                </div>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.posicao_do_cliente}">Posição</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.posicao_do_cliente}}</span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.adversos.length}">Adverso<span ng-if="detalhes.dados.adversos.length > 1">s</span></span>
                <div class="details-info-value details-info-value-processos">
                    <span ng-repeat="adverso in detalhes.dados.adversos">
                        <a ui-sref="app.pessoas.detalhes({id: adverso.id, subtipo: 'adverso'})">{{adverso.nome}}</a><span ng-if="detalhes.dados.adversos.length > 1 && !$last">, </span>
                    </span>
                </div>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.advogados_do_adverso.length}">Advogado<span ng-if="detalhes.dados.advogados_do_adverso.length > 1">s</span></span>
                <div class="details-info-value details-info-value-processos">
                    <span ng-repeat="advogado in detalhes.dados.advogados_do_adverso">
                        <a ui-sref="app.pessoas.detalhes({id: advogado.id, subtipo: 'advogado_adverso'})">{{advogado.nome}}</a><span ng-if="detalhes.dados.advogados_do_adverso.length > 1 && !$last">, </span>
                    </span>
                </div>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.posicao_do_adverso}">Posição</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.posicao_do_adverso}}</span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.data_de_distribuicao}">Data de Distribuição</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.data_de_distribuicao | date:"d' de 'LLLL' de 'yyyy"}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.data_de_citacao}">Data de Citação</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.data_de_citacao | date:"d' de 'LLLL' de 'yyyy"}}</span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.valor_da_causa}">Valor da Causa</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.valor_da_causa | currency:"R$":0}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.valor_provisionado}">Valor Provisionado</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.valor_provisionado | currency:"R$":0}}</span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.orgao_judicial}">Órgão</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.orgao_judicial}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.instancia}">Instância</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.instancia}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.tipo_de_fase}">Tipo de Fase</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.tipo_de_fase}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.tipo_de_processo}">Tipo de Processo</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.tipo_de_processo}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.tipo_de_rito}">Tipo de Rito</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.tipo_de_rito}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.materia}">Matéria</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.materia}}</span>
            </div>
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.probabilidades_de_exito}">Chance de Êxito</span>
                <span class="details-info-value details-info-value-processos">{{detalhes.dados.probabilidades_de_exito}}</span>
            </div>
        </div>
        <div class="details-group clearfix">
            <div class="details-info-holder clearfix">
                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados.observacoes}">Observações</span>
                <span class="details-info-value details-info-value-processos" ng-bind-html="detalhes.dados.observacoes"></span>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'tarefas'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-add trans" ng-click="adicionarTarefa()">
            Nova tarefa...
        </div>
        <div class="processos-detalhes-sub-topbar-search">
            <input type="text" class="filter-input" ng-model="filtroTarefas" placeholder="Buscar...">
        </div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="detalhes.carregandoTarefas && !detalhes.tarefas">
        <div class="carregando-lista">
            <div class="carregando-lista-barra carregando-lista-barra-processos"></div>
            <div class="carregando-lista-barra carregando-lista-barra-processos"></div>
            <div class="carregando-lista-barra carregando-lista-barra-processos"></div>
        </div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="detalhes.tarefas && !detalhes.tarefas.length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Esse processo ainda não possui tarefas cadastradas<br>Adicione uma <span class="message-link" ng-click="adicionarTarefa()">clicando aqui</span> ou no botão acima</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-show="detalhes.tarefas.length && !(detalhes.tarefas | filter:filtroTarefas).length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhuma tarefa encontrada<br>Verifique erros de ortografia, ou refine sua busca</div>
    </div>
    <div class="processo-movimentacoes clearfix">
        <div class="movimentacao-holder" ng-repeat="tarefa in detalhes.tarefas | filter:filtroTarefas | orderBy: ['-situacao', '-data_de_inicio'] track by tarefa.id" ng-click="exibirTarefa(tarefa)">
            <div class="movimentacao-header clearfix">
                <div class="movimentacao-header-icon-holder">
                    <div class="movimentacao-header-icon movimentacao-header-icon-tarefa" ng-class="{'verde': tarefa.prioridade == 'NORMAL', 'vermelho': tarefa.prioridade == 'Alta', 'azul': tarefa.prioridade == 'Baixa', 'concluida': tarefa.situacao == 'Concluído'}"></div>
                </div>
                <div class="movimentacao-header-content">
                    <div class="movimentacao-header-content-holder">
                        <div class="movimentacao-header-title">
                            {{tarefa.assunto}}
                        </div>
                        <div class="movimentacao-header-last-update">
                            {{tarefa.responsaveis.length}}
                            <span ng-if="tarefa.responsaveis.length == 1">responsável</span>
                            <span ng-if="tarefa.responsaveis.length > 1">responsáveis</span>
                        </div>
                        <div class="movimentacao-header-last-mov">
                            Início da tarefa: {{tarefa.data_de_inicio | tempoAtras}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'movimentacoes'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-verificacao">
            <span ng-if="detalhes.movimentacoesStatus == 'carregado'">
                Última verificação: <span data-trigger="hover" data-title="{{detalhes.movimentacoes.data_ultima_verificacao|data}}" data-placement="bottom" bs-tooltip>{{detalhes.movimentacoesUltimaVerificacao|tempoAtras}}</span>
            </span>
        </div>
        <div class="processos-detalhes-sub-topbar-add trans" ng-click="carregarMovimentacoes('atualizar')">
            Atualizar
        </div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="detalhes.movimentacoesStatus == 'carregando' || detalhes.movimentacoesStatus == 'inicial'">
        <div class="carregando-lista">
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    	</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="detalhes.movimentacoesStatus == 'vazio'">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Esse processo ainda não tem movimentações<br>Verifique novamente <span class="message-link" ng-click="carregarMovimentacoes('atualizar')">clicando aqui</span> ou no botão acima</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="detalhes.movimentacoesStatus == 'invalido'">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">O número desse processo é inválido ou o tribunal do processo ainda não foi implementado</div>
    </div>
    <div class="processo-movimentacoes clearfix" bs-collapse data-start-collapsed="true" ng-if="detalhes.movimentacoesStatus == 'carregado'">
        <div class="movimentacao-holder" ng-repeat="objeto in detalhes.movimentacoes | orderBy:'tipo'">
            <div class="movimentacao-header clearfix" bs-collapse-toggle>
                <div class="movimentacao-header-icon-holder">
                    <div class="movimentacao-header-icon trans" ng-class="{'movimentacao-header-icon-recurso':objeto.tipo == 'recurso',
                        'movimentacao-header-icon-processo':objeto.tipo == 'processo',
                        'movimentacao-header-icon-ativo':detalhes.dados.status_do_processo == 'Ativo',
                        'movimentacao-header-icon-suspenso':detalhes.dados.status_do_processo == 'Suspenso',
                        'movimentacao-header-icon-arquivado':detalhes.dados.status_do_processo == 'Arquivado',
                    }"></div>
                </div>
                <div class="movimentacao-header-content">
                    <div class="movimentacao-header-title">
                        {{objeto.titulo}}
                    </div>
                    <div class="movimentacao-header-last-update">
                        Ativo {{(movimentacoesEmOrdem = objeto.itens | orderBy:'-data_movimentacao')[0].data_movimentacao|tempoAtras}}
                    </div>
                    <div class="movimentacao-header-last-mov">
                        Última movimentação: {{(movimentacoesEmOrdem = objeto.itens | orderBy:'-data_movimentacao')[0].descricao_movimentacao}}
                    </div>
                </div>
            </div>
            <div class="movimentacao-body clearfix" bs-collapse-target>
                <div class="movimentacao-mov-holder clearfix" ng-repeat="movimentacao in objeto.itens | orderBy:'-data_movimentacao'">
                    <div class="movimentacao-info">
                        <div class="movimentacao-instancia" data-trigger="hover" data-title="Instância" data-placement="top" bs-tooltip>
                            {{movimentacao.instancia}}ª
                        </div>
                        <div class="movimentacao-timestamp" data-trigger="hover" data-title="{{movimentacao.data_movimentacao|data}}" data-placement="bottom" bs-tooltip>
                            {{movimentacao.data_movimentacao|tempoAtras}}
                        </div>
                    </div>
                    <div class="movimentacao-description" ng-bind="movimentacao.descricao_movimentacao"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'recursos'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-add trans" ng-click="prepararAdicaoRecurso()">
            Novo recurso...
        </div>
        <div class="processos-detalhes-sub-topbar-search">
            <input type="text" class="filter-input" ng-model="filtroRecursos" placeholder="Buscar...">
        </div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="detalhes.carregandoRecursos && !detalhes.recursos">
        <div class="carregando-lista">
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    	</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="detalhes.recursos && !detalhes.recursos.length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Esse processo ainda não possui recursos cadastrados<br>Adicione um <span class="message-link" ng-click="prepararAdicaoRecurso()">clicando aqui</span> ou no botão acima</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-show="detalhes.recursos.length && !(detalhes.recursos | filter:filtroRecursos).length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhum recurso encontrado<br>Verifique erros de ortografia, ou refine sua busca</div>
    </div>
    <div class="processo-movimentacoes clearfix">
        <div class="movimentacao-holder" ng-repeat="recurso in detalhes.recursos | filter:filtroRecursos track by recurso.id" ng-click="exibirRecurso(recurso)">
            <div class="movimentacao-header clearfix">
                <div class="movimentacao-header-icon-holder">
                    <div class="movimentacao-header-icon movimentacao-header-icon-recurso"></div>
                </div>
                <div class="movimentacao-header-content">
                    <div class="movimentacao-header-content-holder">
                        <div class="movimentacao-header-title">
                            {{recurso.titulo}}
                        </div>
                        <div class="movimentacao-header-last-update">
    						{{recurso.responsaveis.length}}
                            <span ng-if="recurso.responsaveis.length == 1">responsável</span>
    			            <span ng-if="recurso.responsaveis.length > 1">responsáveis</span>
                        </div>
                        <div class="movimentacao-header-last-mov">
                            Última movimentação: 3 dias atrás
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'incidentes'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-add trans" ng-click="prepararAdicaoIncidente()">
            Novo incidente...
        </div>
        <div class="processos-detalhes-sub-topbar-search">
            <input type="text" class="filter-input" ng-model="filtroIncidentes" placeholder="Buscar...">
        </div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="detalhes.carregandoIncidentes && !detalhes.incidentes">
        <div class="carregando-lista">
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    	</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="detalhes.incidentes && !detalhes.incidentes.length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Esse processo ainda não possui incidentes cadastrados<br>Adicione um <span class="message-link" ng-click="prepararAdicaoIncidente()">clicando aqui</span> ou no botão acima</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-show="detalhes.incidentes.length && !(detalhes.incidentes | filter:filtroIncidentes).length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhum incidente encontrado<br>Verifique erros de ortografia, ou refine sua busca</div>
    </div>
    <div class="processo-movimentacoes clearfix">
        <div class="movimentacao-holder" ng-repeat="incidente in detalhes.incidentes | filter:filtroIncidentes track by incidente.id" ng-click="exibirIncidente(incidente)">
            <div class="movimentacao-header clearfix">
                <div class="movimentacao-header-icon-holder">
                    <div class="movimentacao-header-icon movimentacao-header-icon-incidente"></div>
                </div>
                <div class="movimentacao-header-content">
                    <div class="movimentacao-header-content-holder">
                        <div class="movimentacao-header-title">
                            {{incidente.titulo}}
                        </div>
                        <div class="movimentacao-header-last-update">
    						{{incidente.responsaveis.length}}
                            <span ng-if="incidente.responsaveis.length == 1">responsável</span>
    			            <span ng-if="incidente.responsaveis.length > 1">responsáveis</span>
                        </div>
                        <div class="movimentacao-header-last-mov">
                            Última movimentação: 3 dias atrás
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content" ng-if="detalhes.tab == 'conexoes'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-add trans" data-trigger="click" data-placement="bottom" data-template-url="./templates/popover/processos-nova-conexao.html" data-auto-close="1" bs-popover>
            Nova conexão...
        </div>
        <div class="processos-detalhes-sub-topbar-search">
            <input type="text" class="filter-input" ng-model="filtroConexoes" placeholder="Buscar...">
        </div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="detalhes.carregandoConexoes && !detalhes.conexoes">
        <div class="carregando-lista">
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
    	</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-if="!detalhes.conexoes.length && detalhes.fimDaListaDeConexoes">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Conexões são processos cadastrados que tem alguma relação entre si<br>Adicione uma conexão <span class="message-link" data-trigger="click" data-placement="bottom" data-template-url="./templates/popover/processos-nova-conexao.html" data-auto-close="1" bs-popover>clicando aqui</span> ou no botão acima</div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-show="detalhes.conexoes.length && !(detalhes.conexoes | filter:filtroConexoes).length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhuma conexão encontrada<br>Verifique erros de ortografia, ou refine sua busca</div>
    </div>
    <div class="list-item list-processo" ng-repeat="conexao in detalhes.conexoes | filter:filtroConexoes track by conexao.id">
        <div class="list-link list-link-conexoes" ui-sref="app.processos.details({id: conexao.id})">
			<div class="processo-header">
				<div class="processo-header-icon" ng-class="{'processo-header-icon-ativo':conexao.status_do_processo == 'Ativo','processo-header-icon-suspenso':conexao.status_do_processo == 'Suspenso','processo-header-icon-arquivado':conexao.status_do_processo == 'Arquivado'}">
					<div class="processo-header-private" ng-if="!conexao.is_public" data-trigger="hover" data-title="Processo privado" data-placement="top" data-container="body" bs-tooltip></div>
				</div>
			</div>
			<div class="processo-detalhes">
                <div class="processo-titulo">
					{{conexao.titulo}}
				</div>
                <div class="processo-numero">
					<span>
						{{conexao.responsaveis.length}}
			            <span ng-if="conexao.responsaveis.length == 1">responsável</span>
			            <span ng-if="conexao.responsaveis.length > 1">responsáveis</span>
					</span>
                </div>
                <div class="processo-responsaveis"><span class="fw-00">Última movimentação:</span> 2 dias atrás</div>
            </div>
        </div>
        <div class="options-holder conexoes-options">
            <div class="processo-option-holder option-holder trans" ng-click="removerConexao(conexao.id)">
                <div class="list-option list-option-excluir" data-trigger="hover" data-title="Remover conexão" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
</div>
<div class="processos-detalhes-content processos-detalhes-content-dropzone" ng-if="detalhes.tab == 'documentos'" ngf-drop="enviarDocumentos($files, $invalidFiles)" ngf-drag-over-class="'processos-detalhes-content-drag-files'" multiple="multiple" ngf-max-size="50MB" ng-model="documentos" ngf-pattern="'.pdf,.docx,.txt,.doc,.xls,.xlsx,.jpg,.png,.bmp,.gif,.odt'">
    <div class="processos-detalhes-sub-topbar">
        <div class="processos-detalhes-sub-topbar-add trans" ngf-select="enviarDocumentos($files, $invalidFiles)" multiple ngf-max-size="50MB" ng-model="documentos" ngf-pattern="'.pdf,.docx,.txt,.doc,.xls,.xlsx,.jpg,.png,.bmp,.gif,.odt'">
            Enviar arquivo...
        </div>
        <div class="processos-detalhes-sub-topbar-search">
            <input type="text" class="filter-input" ng-model="filtroDocumentos" placeholder="Buscar...">
        </div>
    </div>
    <div class="processos-detalhes-sub-empty" ng-show="detalhes.documentos.length == 0 && (!detalhes.arquivos || detalhes.arquivos.length == 0)">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Esse processo ainda não contém documentos<br>Adicione arquivos usando o botão acima, ou arraste-os aqui para enviá-los</div>
    </div>
    <div class="processos-detalhes-sub-loading" ng-if="!detalhes.documentos">
        <div class="carregando-lista">
    		<div class="carregando-lista-barra carregando-lista-barra-documentos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-documentos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-documentos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-documentos"></div>
    		<div class="carregando-lista-barra carregando-lista-barra-documentos"></div>
    	</div>
    </div>
    <div class="documents-holder documents-list-holder">
        <div class="document-list-holder trans" ng-repeat="arquivo in detalhes.arquivos">
            <div class="document-list-upload-progress trans" style="width: {{arquivo.progresso}}%"></div>
            <div class="document-list-content document-list-icon document-list-icon-upload"></div>
            <div class="document-list-content document-list-name">{{arquivo.name}}</div>
            <div class="document-list-content document-list-date">Enviando: {{arquivo.progresso}}%</div>
        </div>
        <div class="processos-detalhes-sub-empty" ng-show="detalhes.documentos.length && !(detalhes.documentos | filter:{nome:filtroDocumentos}).length">
            <div class="empty-icon empty-icon-generic"></div>
            <div class="empty-message">Nenhum arquivo encontrado<br>Verifique erros de ortografia, ou refine sua busca</div>
        </div>
        <div class="document-list-holder" ng-repeat="arquivo in detalhes.documentos | orderBy:'-creation_date' | filter:{nome:filtroDocumentos} track by arquivo.id">
            <a ng-href="{{arquivo.arquivo}}" target="_blank">
                <div class="document-list-content document-list-icon" ng-class="{
                    'document-list-icon-photo': arquivo.ext == '.jpg' || arquivo.ext == '.png' || arquivo.ext == '.bmp' || arquivo.ext == '.gif',
                    'document-list-icon-text': arquivo.ext == '.pdf' || arquivo.ext == '.docx' || arquivo.ext == '.txt' || arquivo.ext == '.doc' || arquivo.ext == '.odt',
                    'document-list-icon-spreadsheet': arquivo.ext == '.xls' || arquivo.ext == '.xlsx'
                }"></div>
                <div class="document-list-content document-list-name" ng-attr-title="{{arquivo.nome}}">{{arquivo.nome}}</div>
                <div class="document-list-content document-list-date">{{arquivo.creation_date|tempoAtras}}</div>
            </a>
            <div class="document-list-content document-list-options" data-trigger="click" data-placement="left" data-template-url="./templates/popover/processos-excluir-documento.html" data-container="body" data-auto-close="1" bs-popover>
                <div class="document-list-option-delete trans" data-container="body" data-trigger="hover" data-title="Excluir arquivo" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
</div>
