<div class="page-content-filters">
	<div class="filter-search">
		<input type="text" class="filter-input" ng-model="filtro" placeholder="Buscar...">
	</div>
</div>
<div class="list-holder">
	<div class="carregando-lista" ng-if="!processosAtivos.lista">
		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
		<div class="carregando-lista-barra carregando-lista-barra-processos"></div>
	</div>
	<div class="processos-detalhes-sub-empty" ng-if="processosAtivos.lista && !processosAtivos.lista.length && !processosFiltrados.length">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Você ainda não tem processos cadastrados<br>Adicione um <span class="message-link" ui-sref="app.processos.novo">clicando aqui</span> ou no botão <span class="message-button">+</span> acima</div>
    </div>
	<div class="processos-detalhes-sub-empty" ng-if="processosAtivos.lista && !processosFiltrados.length && (filtro || processos.filtroStatus)">
        <div class="empty-icon empty-icon-generic"></div>
        <div class="empty-message">Nenhum processo encontrado<br>Tente mudar os filtros no topo da página ou refinar sua busca</div>
    </div>
	<div class="list-item list-processo" ng-repeat="processo in processosFiltrados = (processosAtivos.lista | orderBy: ['-notificacoes','-id'] | filter:{titulo:filtro, status_do_processo:processos.filtroStatus}) track by processo.id">
        <div class="list-link list-link-processo" ui-sref="app.processos.details({id: processo.id})" ng-class="{'list-link-notificacoes':temNotificacao(processo)}">
			<div class="processo-header">
				<div class="processo-header-icon trans" ng-class="{'processo-header-icon-ativo':processo.status_do_processo == 'Ativo','processo-header-icon-suspenso':processo.status_do_processo == 'Suspenso','processo-header-icon-arquivado':processo.status_do_processo == 'Arquivado'}">
					<div class="processo-header-private" ng-if="!processo.is_public" data-trigger="hover" data-title="Processo privado" data-placement="top" data-container="body" bs-tooltip></div>
				</div>
			</div>
			<div class="processo-detalhes" ng-class="{'processo-detalhes-sem-movimentacoes':!processo.data_ultima_movimentacao}">
                <div class="processo-titulo">
					{{processo.titulo}}
				</div>
                <div class="processo-numero">
					<span data-trigger="hover" data-placement="right auto" data-template-url="./templates/popover/processos-responsaveis.html" data-auto-close="1" bs-popover>
						{{processo.responsaveis.length}}
			            <span ng-if="processo.responsaveis.length == 1">responsável</span>
			            <span ng-if="processo.responsaveis.length > 1">responsáveis</span>
					</span>
                </div>
                <div class="processo-responsaveis" ng-if="processo.data_ultima_movimentacao"><span class="fw-00">Última movimentação:</span> {{processo.data_ultima_movimentacao|tempoAtras}}</div>
            </div>
        </div>
        <div class="options-holder processo-options" ng-class="{'options-holder-notificacoes':temNotificacao(processo)}">
            <div class="processo-option-holder option-holder trans" data-trigger="click" data-placement="left" data-container="body" data-template-url="./templates/popover/processos-mudar-status.html" data-auto-close="1" bs-popover>
                <div class="list-option list-option-status" data-trigger="hover" data-title="Status do Processo" data-placement="top" bs-tooltip></div>
            </div>
            <div class="processo-option-holder option-holder trans" ui-sref="app.processos.update({id: processo.id})">
                <div class="list-option list-option-editar" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
            <div class="processo-option-holder option-holder trans" data-trigger="click" data-placement="auto top" data-template-url="./templates/popover/processos-excluir.html" data-auto-close="1" bs-popover>
                <div class="list-option list-option-excluir" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            </div>
            <div class="processo-option-holder option-holder option-holder-notificacao trans" ng-if="temNotificacao(processo)" ui-sref="app.processos.details({id: processo.id})">
                <div class="list-option list-option-notificacao" data-trigger="hover" data-title="Esse processo tem novas movimentações" data-placement="top" bs-tooltip></div>
            </div>
        </div>
		<!-- <div class="processo-notificacoes"  ui-sref="app.processos.details({id: processo.id})">
			<div class="processo-notificacoes-icon" data-trigger="hover" data-title="Esse processo tem novas movimentações" data-placement="top" bs-tooltip data-container="body"></div>
		</div> -->
    </div>
	<div ng-click="carregarMais()" ng-if="!processosAtivos.fimDaLista && processosAtivos.lista" class="list-item list-pessoa list-load-more">
        Carregar mais...
    </div>
</div>
