<form class="new-form" ng-submit="criarProcesso()">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="65" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!novoProcesso.titulo">
                        Novo processo
                    </span>
                    {{novoProcesso.titulo}}
                </div>
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.processos.list">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="novoProcesso.titulo" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.titulo}">Título</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="novoProcesso.numero_do_processo" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.numero_do_processo}">Número do Processo</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <selectize class="new-form-input-selectize" config='novoProcesso.estadosConfig' options='novoProcesso.estados' ng-model="novoProcesso.estado"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.estado}">Estado</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novoProcesso.usuariosConfig' options='novoProcesso.usuarios' ng-model="novoProcesso.responsaveis"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.responsaveis != false}">Responsáve<span ng-if="novoProcesso.responsaveis.length == 1">l</span><span ng-if="novoProcesso.responsaveis.length != 1">is</span><span ng-if="novoProcesso.responsaveis == false" class="new-form-input-required"> *</span></label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" class="new-form-input" ng-model="novoProcesso.tipo_de_acao">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.tipo_de_acao}">Tipo de Ação</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Eletrônico",value:true},{label:"Físico",value:false}]' ng-model="novoProcesso.processo_eletronico"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.processo_eletronico}">Tipo de Processo<span ng-if="novoProcesso.processo_eletronico == null" class="new-form-input-required"> *</span></label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1" data-trigger="hover" data-title="Processos públicos aparecem para todos no escritório. Processos privados aparecem apenas para o criador e os responsáveis pelo processo." data-placement="auto" bs-tooltip>
                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Público",value:true},{label:"Privado",value:false}]' ng-model="novoProcesso.is_public"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.is_public}">Privacidade<span ng-if="novoProcesso.is_public == null" class="new-form-input-required"> *</span></label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novoProcesso.clientesConfig' options='novoProcesso.clientes' ng-model="novoProcesso.cliente"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.cliente != false}">Cliente<span ng-if="novoProcesso.cliente.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-cliente.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar cliente" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"},{valor:"Apelante"},{valor:"Apelado"},{valor:"Agravante"},{valor:"Agravado"},{valor:"Recorrente"},{valor:"Recorrido"}]' ng-model="novoProcesso.posicao_do_cliente"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.posicao_do_cliente}">Posição</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novoProcesso.adversosConfig' options='novoProcesso.adversos' ng-model="novoProcesso.adverso"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.adverso != false}">Adverso<span ng-if="novoProcesso.adverso.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-adverso.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar adverso" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"},{valor:"Apelante"},{valor:"Apelado"},{valor:"Agravante"},{valor:"Agravado"},{valor:"Recorrente"},{valor:"Recorrido"}]' ng-model="novoProcesso.posicao_do_adverso"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.posicao_do_adverso}">Posição</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novoProcesso.advogadosConfig' options='novoProcesso.advogados' ng-model="novoProcesso.advogado_do_adverso"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.advogado_do_adverso != false}">Advogado<span ng-if="novoProcesso.advogado_do_adverso.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-advogado.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar advogado" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.data_de_distribuicao" class="new-form-input" data-autoclose="1" bs-datepicker>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.data_de_distribuicao}">Data de Distribuição</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.data_de_citacao" class="new-form-input" data-autoclose="1" bs-datepicker>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.data_de_citacao}">Data de Notificação</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.valor_da_causa" maxlength="22" ui-money-mask="0" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.valor_da_causa || novoProcesso.valor_da_causa == ''}">Valor da Causa</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.valor_provisionado" maxlength="22" ui-money-mask="0" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.valor_provisionado || novoProcesso.valor_provisionado == ''}">Valor Provisionado</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.orgao_judicial" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.orgao_judicial}">Órgão</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="novoProcesso.instancia" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.instancia}">Instância</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Conhecimento"},{valor:"Execução"},{valor:"Cautelar"}]' ng-model="novoProcesso.tipo_de_fase"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.tipo_de_fase}">Tipo de Fase</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Extrajudicial"},{valor:"Judicial"}]' ng-model="novoProcesso.tipo_de_processo"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.tipo_de_processo}">Tipo de Processo</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Administrativo"},{valor:"Cautelar"},{valor:"Ordinário"},{valor:"Sumário"},{valor:"Sumaríssimo"},{valor:"Especial"}]' ng-model="novoProcesso.tipo_de_rito"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.tipo_de_rito}">Tipo de Rito</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Administrativa"},{valor:"Bancária"},{valor:"Cível"},{valor:"Empresarial"},{valor:"Constitucional"},{valor:"Consumidor"},{valor:"Criminal"},{valor:"Eleitoral"},{valor:"Família"},{valor:"Previdenciária"},{valor:"Trabalhista"},{valor:"Tributária"},{valor:"Ambiental"},{valor:"Internacional"}]' ng-model="novoProcesso.materia"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.materia}">Matéria</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='novoProcesso.probabilidadesConfig' options='novoProcesso.probabilidades' ng-model="novoProcesso.probabilidades_de_exito"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novoProcesso.probabilidades_de_exito}">Chance de Êxito</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="novoProcesso.observacoes" class="new-form-input"></div>
                <label class="new-form-input-label">Observações</label>
            </div>
        </div>
    </div>
</form>
