<form class="new-form" ng-submit="salvarProcesso()">
    <div class="new-form-action-bar-holder">
        <div class="new-form-action-bar trans" data-offset-top="65" bs-affix>
            <div class="new-form-salvar">
                <div class="new-form-salvar-nome">
                    <span class="new-form-placeholder" ng-if="!editarProcesso.dados.titulo">
                        Editar processo
                    </span>
                    {{editarProcesso.dados.titulo}}
                </div>
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ui-sref="app.processos.details({id:editarProcesso.dados.id})">Cancelar</div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <input type="text" ng-model="editarProcesso.dados.titulo" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.titulo}">Título</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-1">
                <input type="text" ng-model="editarProcesso.dados.numero_do_processo" class="new-form-input" required>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.numero_do_processo}">Número do Processo</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <selectize class="new-form-input-selectize" config='editarProcesso.estadosConfig' options='editarProcesso.estados' ng-model="editarProcesso.dados.estado"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.estado}">Estado</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='editarProcesso.usuariosConfig' options='editarProcesso.usuarios' ng-model="editarProcesso.dados.responsaveis"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.responsaveis != false}">Responsáve<span ng-if="editarProcesso.dados.responsaveis.length == 1">l</span><span ng-if="editarProcesso.dados.responsaveis.length != 1">is</span><span ng-if="editarProcesso.dados.responsaveis == false" class="new-form-input-required"> *</span></label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" class="new-form-input" ng-model="editarProcesso.dados.tipo_de_acao">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.tipo_de_acao}">Tipo de Ação</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1">
                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Eletrônico",value:true},{label:"Físico",value:false}]' ng-model="editarProcesso.dados.processo_eletronico"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.processo_eletronico != null}">Tipo de Processo<span ng-if="editarProcesso.dados.processo_eletronico == null" class="new-form-input-required"> *</span></label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-1" data-trigger="hover" data-title="Processos públicos aparecem para todos no escritório. Processos privados aparecem apenas para o criador e os responsáveis pelo processo." data-placement="auto" bs-tooltip>
                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Público",value:true},{label:"Privado",value:false}]' ng-model="editarProcesso.dados.is_public"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.is_public != null}">Privacidade<span ng-if="editarProcesso.dados.is_public == null" class="new-form-input-required"> *</span></label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='editarProcesso.clientesConfig' options='editarProcesso.clientes' ng-model="editarProcesso.dados.clientes"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.clientes != false}">Cliente<span ng-if="editarProcesso.dados.clientes.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-cliente.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar cliente" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="editarProcesso.dados.posicao_do_cliente"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.posicao_do_cliente}">Posição</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='editarProcesso.adversosConfig' options='editarProcesso.adversos' ng-model="editarProcesso.dados.adversos"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.adversos != false}">Adverso<span ng-if="editarProcesso.dados.adversos.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-adverso.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar adverso" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="editarProcesso.dados.posicao_do_adverso"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.posicao_do_adverso}">Posição</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='editarProcesso.advogadosConfig' options='editarProcesso.advogados' ng-model="editarProcesso.dados.advogados_do_adverso"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.advogados_do_adverso != false}">Advogado<span ng-if="editarProcesso.dados.advogados_do_adverso.length != 1">s</span></label>
                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-advogado.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal">
                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar advogado" data-placement="auto" data-container="body" bs-tooltip>+</span>
                </div>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.data_de_distribuicao" class="new-form-input" data-autoclose="1" bs-datepicker>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.data_de_distribuicao}">Data de Distribuição</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.data_de_citacao" class="new-form-input" data-autoclose="1" bs-datepicker>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.data_de_citacao}">Data de Notificação</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.valor_da_causa" maxlength="22" ui-money-mask="0" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.valor_da_causa}">Valor da Causa</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.valor_provisionado" maxlength="22" ui-money-mask="0" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.valor_provisionado}">Valor Provisionado</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.orgao_judicial" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.orgao_judicial}">Órgão</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <input type="text" ng-model="editarProcesso.dados.instancia" class="new-form-input">
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.instancia}">Instância</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Conhecimento"},{valor:"Execução"},{valor:"Cautelar"}]' ng-model="editarProcesso.dados.tipo_de_fase"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.tipo_de_fase}">Tipo de Fase</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Extrajudicial"},{valor:"Judicial"}]' ng-model="editarProcesso.dados.tipo_de_processo"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.tipo_de_processo}">Tipo de Processo</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Administrativo"},{valor:"Cautelar"},{valor:"Ordinário"},{valor:"Sumário"},{valor:"Sumaríssimo"},{valor:"Especial"}]' ng-model="editarProcesso.dados.tipo_de_rito"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.tipo_de_rito}">Tipo de Rito</label>
            </div>
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Administrativa"},{valor:"Bancária"},{valor:"Cível"},{valor:"Empresarial"},{valor:"Constitucional"},{valor:"Consumidor"},{valor:"Criminal"},{valor:"Eleitoral"},{valor:"Família"},{valor:"Previdenciária"},{valor:"Trabalhista"},{valor:"Tributária"},{valor:"Ambiental"},{valor:"Internacional"}]' ng-model="editarProcesso.dados.materia"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.materia}">Matéria</label>
            </div>
        </div>
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-2">
                <selectize class="new-form-input-selectize" config='editarProcesso.probabilidadesConfig' options='editarProcesso.probabilidades' ng-model="editarProcesso.dados.probabilidades_de_exito"></selectize>
                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':editarProcesso.dados.probabilidades_de_exito}">Chance de Êxito</label>
            </div>
        </div>
    </div>
    <div class="new-form-input-group clearfix">
        <div class="new-form-input-row">
            <div class="new-form-input-holder new-form-input-holder-4">
                <div medium-editor data-placeholder=" " ng-model="editarProcesso.dados.observacoes" class="new-form-input"></div>
                <label class="new-form-input-label">Observações</label>
            </div>
        </div>
    </div>
</form>
