<div class="modal el-modal">
    <form class="modal-dialog el-modal-dialog" ng-submit="CreatePersonModal.createPerson()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Novo {{::CreatePersonModal.getType()}}</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-form-modal-data-section el-animated">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="text" class="el-form-label-input el-animated" id="form-name" name="name" ng-model="CreatePersonModal.data.person.name" required>
                        <label class="el-form-label el-animated">Nome</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="email" class="el-form-label-input el-animated" id="form-email" name="email" ng-model="CreatePersonModal.data.person.email">
                        <label class="el-form-label el-animated">Endereço de email</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-telephone" name="telephone" ng-model="CreatePersonModal.data.person.telephone" ui-br-phone-number>
                        <label class="el-form-label el-animated">Telefone</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-tip" data-trigger="click" data-title="Você pode adicionar mais informações mais tarde na área de Pessoas" data-placement="auto top" bs-tooltip>?</div>
            <button type="submit" class="el-modal-footer-button action">Salvar e adicionar</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar</div>
        </div>
    </form>
</div>
