<div class="popover el-popover" id="configurations-popover" tabindex="-1" ng-controller="ConfigurationsPopoverController as ConfigurationsPopover">
    <div class="arrow el-arrow"></div>
    <div class="el-popover-user-header clearfix">
        <div class="el-popover-user-header-info-name" ng-bind="ConfigurationsPopover.data.user.name"></div>
        <div class="el-popover-user-header-info-company" ng-bind="ConfigurationsPopover.data.user.company.name"></div>
    </div>
    <div class="popover-content el-popover-content el-popover-menu">
        <div class="el-popover-menu-action" ng-click="ConfigurationsPopover.openChat()">Ajuda</div>
        <div class="el-popover-menu-action" ui-sref="app.configurations.profile">Configurações</div>
        <div class="el-popover-menu-separator"></div>
        <div class="el-popover-menu-action" ng-click="ConfigurationsPopover.logOut()">Sair do Elysium</div>
    </div>
</div>
