<div class="el-auth-register-form" ng-controller="RegisterCompleteController as RegisterComplete">
    <div class="el-auth-message">
        <h1>Falta pouco...</h1>
        <p>Enviamos um email para o endereço <b>{{RegisterComplete.data.email}}</b>. Siga as instruções para confirmar sua conta e começar a usar o Elysium.</p>
        <p>Se nosso email não chegar nos próximos 5 minutos, não esqueça de verificar sua caixa de Spam. Se ainda assim você precisar de ajuda, <a onclick="drift.api.openChat()">fale conosco</a>.</p>
    </div>
    <div class="el-auth-footer-links">
        <a class="el-auth-footer-link" ui-sref="authentication.login">Voltar ao login</a>
    </div>
</div>
