<div class="el-auth-register-form" ng-controller="RegisterController as Register">
    <div class="el-auth-message">
        <h1>Crie sua conta</h1>
        <p>Você está pronto para começar a descomplicar sua vida? Criar sua conta é rápido, e você ganha 15 dias para testar nosso serviço gratuitamente.</p>
        <p>Advogado autônomo? Você pode inserir suas informações pessoais nos campos apropriados, como seu nome no campo “Nome da Organização”.</p>
    </div>
    <form class="el-auth-form el-animated clearfix" ng-class="{'form-loading': Register.data.isLoading}" name="AuthRegisterForm" ng-submit="Register.createAccount()">
        <div class="el-auth-form-container">
            <div class="el-form-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input class="el-form-label-input el-animated" id="register-input-name" autocomplete="name" name="name" ng-model="Register.data.form.name" required>
                    <label class="el-form-label el-animated">Nome completo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" autocomplete="username email" id="register-input-email" name="email" ng-model="Register.data.form.email" required>
                    <label class="el-form-label el-animated">Endereço de email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-25">
                    <input type="password" class="el-form-label-input el-animated" id="register-input-password" autocomplete="new-password" name="password" ng-model="Register.data.form.password" required>
                    <label class="el-form-label el-animated">Senha</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-25">
                    <input type="password" class="el-form-label-input el-animated" id="register-input-password-confirm" autocomplete="new-password" name="password-confirm" compare-to="Register.data.form.password" ng-model="Register.data.passwordConfirmation" required>
                    <label class="el-form-label el-animated">Confirme</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input class="el-form-label-input el-animated" id="register-input-cpf" name="cpf" ng-model="Register.data.form.cpf" ui-br-cpf-mask required>
                    <label class="el-form-label el-animated">CNPJ/CPF</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input class="el-form-label-input el-animated" id="register-input-telephone" name="telephone" ng-model="Register.data.form.telephone" ui-br-phone-number required>
                    <label class="el-form-label el-animated">DDD + Telefone/Celular</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input class="el-form-label-input el-animated" id="register-input-company-name" name="company-name" ng-model="Register.data.form.company_name" required>
                    <label class="el-form-label el-animated">Nome da organização</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input class="el-form-label-input el-animated" id="register-input-city" autocomplete="address-level2" name="city" ng-model="Register.data.form.city" required>
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select focus-select-on="authentication:register:form:state:focus" ng-model="Register.data.form.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state.code as state in Register.data.states | filter:$select.search track by state.code">
                            <span ng-bind-html="state.name | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-auth-form-error el-animated" ng-class="{'active': Register.data.errors}">
            <p ng-if="Register.data.errors.state">
                O campo "estado" é obrigatório.
            </p>
            <p ng-if="Register.data.errors.password">
                A confirmação de senha não confere com sua senha.
            </p>
            <p ng-if="Register.data.errors.cpf.length">
                Esse CPF é inválido ou já foi usado para criar uma conta. Se você não lembra da sua senha, <a ui-sref="authentication.changepassword">clique aqui</a> para criar uma nova.
            </p>
            <p ng-if="Register.data.errors.email.length">
                Esse endereço de email é inválido ou já foi usado para criar uma conta. Se você não lembra da sua senha, <a ui-sref="authentication.changepassword">clique aqui</a> para criar uma nova.
            </p>
        </div>
        <div class="el-auth-form-notice">
            Ao se cadastrar no Elysium, você concorda com nossos <a href="https://elysium.net.br/wp-content/uploads/2018/06/eula-2018-06-04.pdf" target="_blank">Termos</a>.
        </div>
        <input type="submit" class="el-button el-button-action el-animated" value="Criar conta">
    </form>
    <div class="el-auth-footer-links">
        <a class="el-auth-footer-link" ui-sref="authentication.login">Voltar ao login</a>
    </div>
</div>
