<div id="el-section-stats" class="el-section-holder el-section-unwrapped">
    <masonry class="el-home-grid" item-selector=".el-home-grid-item" column-width=".el-home-grid-item-sizer">
        <div class="el-home-grid-item-sizer"></div>
        <div class="el-home-grid-item">
            <div class="el-home-grid-item-title">Tarefas concluídas<span class="el-home-grid-item-subtitle">Total</span>
            </div>
            <div class="el-home-grid-item-content">
                <canvas class="el-home-grid-item-graph chart chart-doughnut" chart-data="Stats.doneTasks.data" chart-labels="Stats.doneTasks.labels" chart-colors="Stats.doneTasks.colors"></canvas>
            </div>
        </div>
        <div class="el-home-grid-item">
            <div class="el-home-grid-item-title">Processos<span class="el-home-grid-item-subtitle">Por status</span></div>
            <div class="el-home-grid-item-content">
                <canvas class="el-home-grid-item-graph chart chart-pie" chart-data="Stats.processosStatus.data" chart-labels="Stats.processosStatus.labels" chart-colors="Stats.processosStatus.colors"></canvas>
            </div>
        </div>
        <div class="el-home-grid-item">
            <div class="el-home-grid-item-title">Processos<span class="el-home-grid-item-subtitle">Por matéria</span>
            </div>
            <div class="el-home-grid-item-content">
                <canvas class="el-home-grid-item-graph chart chart-pie" chart-data="Stats.processosMaterias.data" chart-labels="Stats.processosMaterias.labels"></canvas>
            </div>
        </div>
    </masonry>
</div>
