<div class="el-auth-login-form" ng-controller="LoginController as Login">
    <div class="el-auth-login-branding"></div>
    <form class="el-auth-form clearfix" name="AuthLoginForm" ng-submit="Login.login()">
        <div class="el-auth-form-container clearfix">
            <div class="el-form-data el-processo-data el-processo-data-100">
                <input type="email" autocomplete="username email" class="el-form-label-input el-animated" id="auth-input-email" name="email" ng-model="Login.data.form.email" required>
                <label class="el-form-label el-animated">Endereço de Email</label>
                <div class="el-from-label-input-outline el-animated"></div>
            </div>
            <div class="el-form-data el-processo-data el-processo-data-100">
                <input type="password" autocomplete="current-password" class="el-form-label-input el-animated" id="auth-input-password" name="password" ng-model="Login.data.form.password" required>
                <label class="el-form-label el-animated">Senha</label>
                <div class="el-from-label-input-outline el-animated"></div>
            </div>
        </div>
        <div class="el-auth-form-error el-animated" ng-bind="Login.data.errorMessage" ng-class="{'active': Login.data.errorMessage}"></div>
        <input type="submit" class="el-button el-button-action el-animated" value="Entrar" ng-class="{'form-invalid': !AuthLoginForm.$valid, 'form-loading': Login.data.isLoading}">
    </form>
    <div class="el-auth-footer-links">
        <a class="el-auth-footer-link" ui-sref="authentication.forgotpassword">Esqueceu sua senha?</a>
        <a class="el-auth-footer-link" ui-sref="authentication.register">Crie uma conta gratuitamente</a>
    </div>
</div>
