<div class="el-auth-register-form" ng-controller="ConfirmRegistrationController as ConfirmRegistration">
    <div class="el-auth-message" ng-show="ConfirmRegistration.data.success === null">
        <h1>Confirmando sua conta...</h1>
        <p>Isso pode demorar uns segundos...</p>
    </div>
    <div class="el-auth-message" ng-show="ConfirmRegistration.data.success === true">
        <h1>Seja bem vindo!</h1>
        <p>Sua conta foi verificada e você já pode começar a usar o Elysium. Clique no botão abaixo para entrar na sua nova conta.</p>
        <p>Caso precise de ajuda ao utilizar nosso sistema, você pode falar conosco clicando no botão azul de chat que está sempre visível no canto inferior direito da sua tela.</p>
        <div class="el-button el-button-action el-animated" ng-click="$state.go('authentication.login')">Voltar para o Login</div>
    </div>
    <div class="el-auth-message" ng-show="ConfirmRegistration.data.success === false">
        <h1>Opa...</h1>
        <p>Algo deu errado ao tentar verificar sua conta. Tente fechar essa janela e clicar novamente no link que lhe enviamos por email.</p>
        <p>Caso você ainda esteja com problemas, <a onclick="drift.api.openChat()">entre em contato</a> conosco.</p>
    </div>
</div>
