<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
                <div class="el-modal-header-title">
                    Gerar nova fatura?
                </div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text">
                Uma nova fatura<span ng-if="CreateBillModal.data.billPrice">, com o valor de <b>{{CreateBillModal.data.billPrice | currency:'R$'}}</b>,</span> será gerada e sua empresa será reativada após a confirmação do pagamento.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button action" ng-click="CreateBillModal.createBill()">
                Sim, gerar fatura
            </div>
            <div class="el-modal-footer-button" ng-click="$hide()">
                Não, voltar
            </div>
        </div>
    </div>
</div>
