<div id="modal-processos-incidente" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-control next" ng-if="PublicationDetailsModal.data.next" ng-click="PublicationDetailsModal.goToPublication(PublicationDetailsModal.data.next)"></div>
        <div class="el-modal-control prev" ng-if="PublicationDetailsModal.data.previous" ng-click="PublicationDetailsModal.goToPublication(PublicationDetailsModal.data.previous)"></div>
        <div class="el-modal-header">
            <div class="el-modal-header-title">{{PublicationDetailsModal.data.publication.publication_date.format('DD/MM')}}: {{PublicationDetailsModal.data.publication.searched_oab.name}}</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-processo-data-holder">
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.processes}">Processo<span ng-if="PublicationDetailsModal.data.publication.processes.length > 1">s</span></div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.processes}">
                            <a ng-repeat="process in PublicationDetailsModal.data.publication.processes" class="el-animated" ui-sref="app.processos.details({id: process.id})">{{process.title}}<span ng-if="!$last">, </span></a>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.searched_oab}">Nome buscado</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.searched_oab}" ng-bind="PublicationDetailsModal.data.publication.searched_oab.name"></div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.publication_date}">Data da Publicação</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.publication_date}" ng-bind="PublicationDetailsModal.data.publication.publication_date.toJSON() | date:'dd/MM/yyyy'"></div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.availability_date}">Data de Disponibilização</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.availability_date}" ng-bind="PublicationDetailsModal.data.publication.availability_date.toJSON() | date:'dd/MM/yyyy'"></div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.report_name}">Diário</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.report_name}" ng-bind="PublicationDetailsModal.data.publication.report_name"></div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.vara}">Vara</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.vara}" ng-bind="PublicationDetailsModal.data.publication.vara"></div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.comarca}">Comarca</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.comarca}" ng-bind="PublicationDetailsModal.data.publication.comarca"></div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.edition_number}">Edição</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.edition_number}" ng-bind="PublicationDetailsModal.data.publication.edition_number"></div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.publication_content}">Publicação</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': PublicationDetailsModal.data.publication.publication_content}" ng-bind="PublicationDetailsModal.data.publication.publication_content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-info" ng-if="!PublicationDetailsModal.data.publication.archived && !PublicationDetailsModal.data.expired" data-trigger="hover" data-title="Publicações não arquivadas são apagadas 30 dias depois de serem encontradas pelo Elysium. Arquive publicações que deseja manter indefinidamente." data-placement="auto top" bs-tooltip>Essa publicação irá expirar {{PublicationDetailsModal.data.expiration}}</div>
            <div class="el-modal-footer-info" ng-if="!PublicationDetailsModal.data.publication.archived && PublicationDetailsModal.data.expired" data-trigger="hover" data-title="Essa publicação expirou e será apagada amanhã. Arquive-a para impedir que isso aconteça." data-placement="auto top" bs-tooltip>Essa publicação irá expirar amanhã</div>
            <div class="el-modal-footer-info" ng-if="PublicationDetailsModal.data.publication.archived" data-trigger="hover" data-title="Essa publicação está arquivada e não irá expirar. Caso você não deseje mais a manter, desarquive-a." data-placement="auto top" bs-tooltip>Essa publicação não irá expirar</div>
            <div class="el-modal-footer-button action" ng-if="!PublicationDetailsModal.data.publication.archived" ng-click="PublicationDetailsModal.archive()">Arquivar publicação</div>
            <div class="el-modal-footer-button warning" ng-if="PublicationDetailsModal.data.publication.archived" ng-click="PublicationDetailsModal.unarchive()">Desarquivar publicação</div>
        </div>
    </div>
</div>
