<div id="modal-tasks-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Apagar tarefa?</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text">
                A tarefa <span class="el-bold">{{DeleteTaskModal.data.task.title}}</span> será permanentemente apagada.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="DeleteTaskModal.deleteTask()">Sim, apagar tarefa</div>
            <div class="el-modal-footer-button" ng-click="$hide()">Não, manter tarefa</div>
        </div>
    </div>
</div>
