<div id="modal-processos-recurso" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">{{TaskDetailsModal.data.task.id ? TaskDetailsModal.data.task.type || "Tarefa" : 'Carregando tarefa...'}}{{TaskDetailsModal.data.task.id ? ': ' : ''}}{{TaskDetailsModal.data.task.title}}<span ng-if="TaskDetailsModal.data.task.id && !TaskDetailsModal.data.task.pending"> (concluído)</span></div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-processo-data-holder">
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.description}">Descrição</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.description}">
                            {{TaskDetailsModal.data.task.description}}
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.responsible.length}">Responsáve<span ng-if="TaskDetailsModal.data.task.responsible.length == 1">l</span><span ng-if="TaskDetailsModal.data.task.responsible.length != 1">is</span></div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.responsible.length}">
                            <span ng-repeat="user in TaskDetailsModal.data.task.responsible">
                                {{user.name}}<span ng-if="!$last">, </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data" ng-class="{'el-process-data-100': !TaskDetailsModal.data.task.appeal && !TaskDetailsModal.data.task.incident, 'el-process-data-50': TaskDetailsModal.data.task.appeal || TaskDetailsModal.data.task.incident }">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.process}">Processo</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.process}">
                            <a class="el-animated" ui-sref="app.processos.details({id: TaskDetailsModal.data.task.process.id})">{{TaskDetailsModal.data.task.process.title}}</a>
                        </div>
                    </div>
                    <div class="el-process-data el-process-data-50" ng-if="TaskDetailsModal.data.task.appeal">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.appeal}">Recurso</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.appeal}">
                            <a class="el-animated" ui-sref="app.processos.details.recursos({id: TaskDetailsModal.data.task.process.id})">{{TaskDetailsModal.data.task.appeal.appeal_type}}</a>
                        </div>
                    </div>
                    <div class="el-process-data el-process-data-50" ng-if="TaskDetailsModal.data.task.incident">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.incident}">Incidente</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.incident}">
                            <a class="el-animated" ui-sref="app.processos.details.incidentes({id: TaskDetailsModal.data.task.process.id})">{{TaskDetailsModal.data.task.incident.incident_type}}</a>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.start}">Data de Início</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.start}">
                            {{TaskDetailsModal.data.task.start.toJSON() | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                        </div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.finish}">Data de Término</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.finish}">
                            {{TaskDetailsModal.data.task.finish.toJSON() | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.priority}">Prioridade</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.priority}" ng-switch="TaskDetailsModal.data.task.priority">
                            <span ng-switch-when="LOW">Baixa</span>
                            <span ng-switch-when="NORMAL">Normal</span>
                            <span ng-switch-when="HIGH">Alta</span>
                        </div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.type}">Tipo de Tarefa</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.type}">
                            {{TaskDetailsModal.data.task.type || 'Tarefa'}}
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': TaskDetailsModal.data.task.location}">Local</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': TaskDetailsModal.data.task.location}">
                            {{TaskDetailsModal.data.task.location}}
                        </div>
                        <div class="el-process-data-actions el-animated visible">
                            <div class="el-process-data-action" ng-if="TaskDetailsModal.data.task.location">
                                <a ng-href="{{TaskDetailsModal.generateGoogleMapsUrl()}}" target="_blank">Pesquisar no Google Maps</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button el-animated" ng-click="TaskDetailsModal.togglePending()" ng-class="{'action': TaskDetailsModal.data.task.pending,'fade': !TaskDetailsModal.data.task.id}">Marcar como <span ng-if="TaskDetailsModal.data.task.pending || !TaskDetailsModal.data.task.id">concluída</span><span ng-if="!TaskDetailsModal.data.task.pending && TaskDetailsModal.data.task.id">pendente</span></div>
            <div class="el-modal-footer-button light-warning el-animated" ng-click="TaskDetailsModal.openDeleteTaskModal()" ng-class="{'fade': !TaskDetailsModal.data.task.id}">Apagar tarefa</div>
            <div class="el-modal-footer-button left el-animated" ng-click="TaskDetailsModal.openUpdateTaskModal()" ng-class="{'fade': !TaskDetailsModal.data.task.id}">Editar tarefa</div>
        </div>
    </div>
</div>
