<div class="modal el-modal">
    <form name="UpdateTaskModalForm" class="modal-dialog el-modal-dialog" ng-submit="UpdateTaskModal.updateTask()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Editar tarefa...</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-form-modal-data-section el-animated" ng-class="{'el-form-modal-data-section-loading': UpdateTaskModal.data.loading}">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-66">
                        <input type="text" class="el-form-label-input el-animated" id="form-title" name="title" ng-model="UpdateTaskModal.data.task.title" required>
                        <label class="el-form-label el-animated">Título</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-33">
                        <ui-select ng-model="UpdateTaskModal.data.task.type">
                            <ui-select-match>
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="type in UpdateTaskModal.data.taskTypes | filter:$select.search">
                                <span ng-bind-html="type | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Tipo de Tarefa</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <ui-select multiple focus-select-on="app:tasks:create:form:responsible:focus" ng-model="UpdateTaskModal.data.task.responsible" close-on-select="false" required>
                            <ui-select-match>
                                <span ng-bind="$item.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="user.id as user in UpdateTaskModal.data.users | filter: $select.search">
                                <span ng-bind-html="user.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Responsáveis</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-if="UpdateTaskModal.data.task.responsible.indexOf(UpdateTaskModal.data.userId) === -1"
                                 ng-click="UpdateTaskModal.setUserAsResponsible()">+ {{UpdateTaskModal.data.userName}}</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <ui-select ng-model="UpdateTaskModal.data.task.process" focus-select-on="app:tasks:create:form:process:focus" ng-change="UpdateTaskModal.updateProcess()" required>
                            <ui-select-match>
                                <span ng-bind="$select.selected.title"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="process.id as process in UpdateTaskModal.data.processes | filter:$select.search">
                                <span ng-bind-html="process.title | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Processo</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <!--<div class="el-form-label-actions el-animated">-->
                            <!--<div class="el-form-label-action" ng-click="UpdateTaskModal.openCreateProcessModal()">Criar processo</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50" ng-class="{'fade': !UpdateTaskModal.data.appeals.length}">
                        <ui-select ng-model="UpdateTaskModal.data.task.appeal" ng-change="UpdateTaskModal.data.task.incident = undefined">
                            <ui-select-match>
                                <span ng-bind="$select.selected.appeal_type"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="appeal.id as appeal in UpdateTaskModal.data.appeals | filter:$select.search">
                                <span ng-bind-html="appeal.appeal_type | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Recurso</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50" ng-class="{'fade': !UpdateTaskModal.data.incidents.length}">
                        <ui-select ng-model="UpdateTaskModal.data.task.incident" ng-change="UpdateTaskModal.data.task.appeal = undefined">
                            <ui-select-match>
                                <span ng-bind="$select.selected.incident_type"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="incident.id as incident in UpdateTaskModal.data.incidents | filter:$select.search">
                                <span ng-bind-html="incident.incident_type | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Incidente</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-start" name="start" ng-model="UpdateTaskModal.data.task.start"
                               moment-picker="UpdateTaskModal.data.task.start" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true"
                               ng-change="UpdateTaskModal.setFinish()">
                        <label class="el-form-label el-animated">Data de Início</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="UpdateTaskModal.setStartAsToday()">Hoje</div>
                        </div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" name="start" ng-model="UpdateTaskModal.data.task.start"
                               moment-picker="UpdateTaskModal.data.task.start" set-on-select="true" format="HH:mm" ng-model-options="{updateOn:'blur'}" keyboard="true"
                               ng-change="UpdateTaskModal.setFinish()">
                        <label class="el-form-label el-animated">Hora de Início</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="UpdateTaskModal.setStartAs9AM()">às 9:00</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-finish" name="finish" ng-model="UpdateTaskModal.data.task.finish" min-date="UpdateTaskModal.data.task.start"
                               moment-picker="UpdateTaskModal.data.task.finish" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true">
                        <label class="el-form-label el-animated">Data de Término</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="UpdateTaskModal.setFinishAsStart()" ng-if="!UpdateTaskModal.data.task.finish">Copiar início</div>
                            <div class="el-form-label-action" ng-click="UpdateTaskModal.add1DayToFinish()" ng-if="UpdateTaskModal.data.task.finish">+ 1 dia</div>
                        </div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" name="finish" ng-model="UpdateTaskModal.data.task.finish" min-date="UpdateTaskModal.data.task.start"
                               moment-picker="UpdateTaskModal.data.task.finish" set-on-select="true" format="HH:mm" ng-model-options="{updateOn:'blur'}" keyboard="true">
                        <label class="el-form-label el-animated">Hora de Término</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="UpdateTaskModal.add1HourToFinish()">+ 1 hora</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-message warning el-animated" ng-class="{'open': UpdateTaskModal.data.task.start && UpdateTaskModal.data.task.start.toISOString() == UpdateTaskModal.data.task.finish.toISOString()}">
                    As datas de início e término não podem ser iguais.
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <ui-select ng-model="UpdateTaskModal.data.task.priority">
                            <ui-select-match>
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="priority.value as priority in UpdateTaskModal.data.taskPriorities | filter:$select.search track by priority.value">
                                <span ng-bind-html="priority.label | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Prioridade</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" name="location" ng-model="UpdateTaskModal.data.task.location">
                        <label class="el-form-label el-animated">Local</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': UpdateTaskModal.data.task.description}">
                        <textarea class="el-form-label-input el-animated" name="description" ng-model="UpdateTaskModal.data.task.description"></textarea>
                        <label class="el-form-label el-animated">Descrição</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <button type="submit" class="el-modal-footer-button action">Atualizar tarefa</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar edição</div>
        </div>
    </form>
</div>
