<div class="popover el-popover" id="notifications-popover" tabindex="-1">
    <div class="arrow el-arrow"></div>
    <div class="el-popover-header clearfix">
        <div class="el-popover-header-item el-popover-header-item-2 el-animated" ng-class="{'el-selected': NotificationsPopover.data.tab === 'recent'}" ng-click="NotificationsPopover.changeTab('recent')">
            Recentes
        </div>
        <div class="el-popover-header-item el-popover-header-item-2 el-animated" ng-class="{'el-selected': NotificationsPopover.data.tab === 'archived'}" ng-click="NotificationsPopover.changeTab('archived')">
            Arquivadas
        </div>
    </div>
    <div class="popover-content el-popover-content">
        <div class="el-notification-tab" ng-if="NotificationsPopover.data.tab === 'recent'">
            <div class="el-notifications-empty el-animated" ng-if="NotificationsPopover.data.notifications && !NotificationsPopover.data.notifications.length">
                <div class="el-notifications-empty-icon">
                    <img src="images/notifications/empty-notification.svg">
                </div>
                <div class="el-notifications-empty-text">Você não tem novas notificações</div>
            </div>
            <div class="el-notifications-loading" ng-if="NotificationsPopover.data.notifications === null">
                <div class="el-notifications-loading-icon"></div>
            </div>
            <div class="el-notifications-holder">
                <div class="el-notification-holder el-animated clearfix" ng-repeat="notification in NotificationsPopover.data.notifications track by notification.id" ng-switch="notification.app" ng-class="{'el-not-read': !notification.read}">
                    <div class="el-notification-info-holder" ng-switch-when="process" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/process.svg">
                            </div>
                            <div class="el-notification-header-title">Processos <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsRead(notification)" ng-if="!notification.read" data-container="body" data-trigger="hover" data-title="Marcar como lida" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/mark-as-read.svg">
                                </div>
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsArchived(notification)" data-container="body" data-trigger="hover" data-title="Arquivar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/archive.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="created">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} criou o processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object)">{{notification.action_object.title}}</a> e adicionou você como responsável
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="delegated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} adicionou você aos responsáveis do processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="processed">
                            <div class="el-notification-info-title">
                                O processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object)">{{notification.action_object.title}}</a> tem novas movimentações
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="task" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/task.svg">
                            </div>
                            <div class="el-notification-header-title">Atividades <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsRead(notification)" ng-if="!notification.read" data-container="body" data-trigger="hover" data-title="Marcar como lida" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/mark-as-read.svg">
                                </div>
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsArchived(notification)" data-container="body" data-trigger="hover" data-title="Arquivar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/archive.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="created">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} criou a tarefa <a class="el-link" ng-click="NotificationsPopover.openTask(notification, notification.action_object)">{{notification.action_object.title}}</a> e adicionou você como responsável
                            </div>
                            <div class="el-notification-info-details">
                                <div class="el-notification-info-detail clearfix" title="Início da Tarefa">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/start.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        {{notification.action_object.start | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" title="Processo">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/process.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link" ui-sref="app.processos.details({id:notification.action_object.process.id})">{{notification.action_object.process.title}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.appeal" title="Recurso">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/appeal.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link" ui-sref="app.processos.details.recursos({id:notification.action_object.process.id})">{{notification.action_object.appeal.appeal_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.incident" title="Incidente">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/incident.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link" ui-sref="app.processos.details.incidentes({id:notification.action_object.process.id})">{{notification.action_object.incident.incident_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.priority" title="Prioridade">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/priority.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        Prioridade <span style="text-transform: lowercase">{{notification.action_object.priority}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="updated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} atualizou as informações da tarefa <a class="el-link" ng-click="NotificationsPopover.openTask(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="delegated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} adicionou você como responsável da tarefa <a class="el-link" ng-click="NotificationsPopover.openTask(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                            <div class="el-notification-info-details">
                                <div class="el-notification-info-detail clearfix" title="Início da Tarefa">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/start.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        {{notification.action_object.start | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" title="Processo">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/process.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.process.title}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.appeal" title="Recurso">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/appeal.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.appeal.appeal_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.incident" title="Incidente">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/incident.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.incident.incident_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.priority" title="Prioridade">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/priority.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        Prioridade <span style="text-transform: lowercase">{{notification.action_object.priority}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="invitation" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/elysium.svg">
                            </div>
                            <div class="el-notification-header-title">Elysium <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsRead(notification)" ng-if="!notification.read" data-container="body" data-trigger="hover" data-title="Marcar como lida" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/mark-as-read.svg">
                                </div>
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsArchived(notification)" data-container="body" data-trigger="hover" data-title="Arquivar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/archive.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="accepted">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} aceitou seu convite e juntou-se ao seu escritório no Elysium
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="expired">
                            <div class="el-notification-info-title">
                                O convite enviado para {{notification.action_object.user_email}} expirou e seu pagamento foi estornado
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="canceled">
                            <div class="el-notification-info-title">
                                O convite enviado para {{notification.action_object.user_email}} foi cancelado pois seu pagamento não foi concluído com êxito
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="reactivated">
                            <div class="el-notification-info-title">
                                A conta de {{notification.target.name}} foi reativada com sucesso
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="reactivation canceled">
                            <div class="el-notification-info-title">
                                A conta de {{notification.target.name}} não pode ser reativada pois seu pagamento não foi concluído com êxito
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="publication" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/elysium.svg">
                            </div>
                            <div class="el-notification-header-title">Publicações <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsRead(notification)" ng-if="!notification.read" data-container="body" data-trigger="hover" data-title="Marcar como lida" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/mark-as-read.svg">
                                </div>
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.markAsArchived(notification)" data-container="body" data-trigger="hover" data-title="Arquivar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/archive.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="fetched">
                            <div class="el-notification-info-title">
                                <a class="el-link" ng-click="NotificationsPopover.viewPublications(notification, notification.created_at)">{{notification.data}} novas publicações</a> estão disponíveis para leitura
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-notification-footer clearfix" ng-if="NotificationsPopover.data.notifications && NotificationsPopover.data.notifications.length">
                <div class="el-notification-footer-action" ng-click="NotificationsPopover.archiveAll()">Arquivar tudo</div>
            </div>
        </div>
        <div class="el-notification-tab" ng-if="NotificationsPopover.data.tab === 'archived'">
            <div class="el-notifications-empty el-animated" ng-if="NotificationsPopover.data.archivedNotifications !== null && !NotificationsPopover.data.archivedNotifications.length">
                <div class="el-notifications-empty-icon">
                    <img src="images/notifications/empty-notification.svg">
                </div>
                <div class="el-notifications-empty-text">Você não tem notificações arquivadas</div>
            </div>
            <div class="el-notifications-loading" ng-if="NotificationsPopover.data.archivedNotifications === null">
                <div class="el-notifications-loading-icon"></div>
            </div>
            <div class="el-notifications-holder">
                <div class="el-notification-holder el-animated clearfix" ng-repeat="notification in NotificationsPopover.data.archivedNotifications track by notification.id" ng-switch="notification.app">
                    <div class="el-notification-info-holder" ng-switch-when="process" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/process.svg">
                            </div>
                            <div class="el-notification-header-title">Processos <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.delete(notification)" data-container="body" data-trigger="hover" data-title="Apagar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/delete.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="created">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} criou o processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object, true)">{{notification.action_object.title}}</a> e adicionou você como responsável
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="delegated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} adicionou você aos responsáveis do processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="processed">
                            <div class="el-notification-info-title">
                                O processo <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object)">{{notification.action_object.title}}</a> tem novas movimentações
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="task" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/task.svg">
                            </div>
                            <div class="el-notification-header-title">Atividades <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.delete(notification)" data-container="body" data-trigger="hover" data-title="Apagar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/delete.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="created">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} criou a tarefa <a class="el-link" ng-click="NotificationsPopover.openProcess(notification, notification.action_object, true)">{{notification.action_object.title}}</a> e adicionou você como responsável
                            </div>
                            <div class="el-notification-info-details">
                                <div class="el-notification-info-detail clearfix" title="Início da Tarefa">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/start.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        {{notification.action_object.start | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" title="Processo">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/process.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.process.title}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.appeal" title="Recurso">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/appeal.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.appeal.appeal_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.incident" title="Incidente">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/incident.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.incident.incident_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.priority" title="Prioridade">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/priority.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        Prioridade <span style="text-transform: lowercase">{{notification.action_object.priority}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="updated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} atualizou as informações da tarefa <a class="el-link" ng-click="NotificationsPopover.openTask(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="delegated">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} adicionou você como responsável da tarefa <a class="el-link" ng-click="NotificationsPopover.openTask(notification, notification.action_object)">{{notification.action_object.title}}</a>
                            </div>
                            <div class="el-notification-info-details">
                                <div class="el-notification-info-detail clearfix" title="Início da Tarefa">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/start.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        {{notification.action_object.start | date:"dd/MM/yyyy', às 'H:mm":"+0000"}}
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" title="Processo">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/process.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.process.title}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.appeal" title="Recurso">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/appeal.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.appeal.appeal_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.incident" title="Incidente">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/incident.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        <a class="el-link">{{notification.action_object.incident.incident_type}}</a>
                                    </div>
                                </div>
                                <div class="el-notification-info-detail clearfix" ng-if="notification.action_object.priority" title="Prioridade">
                                    <div class="el-notification-info-detail-icon">
                                        <img src="images/notifications/priority.svg">
                                    </div>
                                    <div class="el-notification-info-detail-text">
                                        Prioridade <span style="text-transform: lowercase">{{notification.action_object.priority}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="invitation" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/elysium.svg">
                            </div>
                            <div class="el-notification-header-title">Elysium <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.delete(notification)" data-container="body" data-trigger="hover" data-title="Apagar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/delete.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="accepted">
                            <div class="el-notification-info-title">
                                {{notification.actor.name}} aceitou seu convite e juntou-se ao seu escritório no Elysium
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="expired">
                            <div class="el-notification-info-title">
                                O convite enviado para {{notification.action_object.user_email}} expirou e seu pagamento foi estornado
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="canceled">
                            <div class="el-notification-info-title">
                                O convite enviado para {{notification.action_object.user_email}} foi cancelado pois seu pagamento não foi concluído com êxito
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="reactivated">
                            <div class="el-notification-info-title">
                                A conta de {{notification.target.name}} foi reativada com sucesso
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="reactivation canceled">
                            <div class="el-notification-info-title">
                                A conta de {{notification.target.name}} não pode ser reativada pois seu pagamento não foi concluído com êxito
                            </div>
                        </div>
                    </div>
                    <div class="el-notification-info-holder" ng-switch-when="publication" ng-switch="notification.action">
                        <div class="el-notification-header clearfix">
                            <div class="el-notification-header-icon">
                                <img src="images/notifications/elysium.svg">
                            </div>
                            <div class="el-notification-header-title">Publicações <span class="el-notification-info-timestamp">{{notification.created_at.fromNow()}}</span></div>
                            <div class="el-notification-header-actions el-animated">
                                <div class="el-notification-header-action" ng-click="NotificationsPopover.delete(notification)" data-container="body" data-trigger="hover" data-title="Apagar" data-placement="top" bs-tooltip>
                                    <img src="images/notifications/delete.svg">
                                </div>
                            </div>
                        </div>
                        <div class="el-notification-info" ng-switch-when="fetched">
                            <div class="el-notification-info-title">
                                <a class="el-link" ng-click="NotificationsPopover.viewPublications(notification, notification.created_at, true)">{{notification.data}} novas publicações</a> estão disponíveis para leitura
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-notification-footer clearfix" ng-if="NotificationsPopover.data.archivedNotifications && NotificationsPopover.data.archivedNotifications.length">
                <div class="el-notification-footer-action" ng-click="NotificationsPopover.deleteAll()">Apagar tudo</div>
            </div>
        </div>
    </div>
</div>
