<div id="el-section-configurations-accounts" class="el-section-content" ng-controller="AccountsController as Accounts">
    <div class="el-section-content-title clearfix">
        <div class="el-section-content-title-text">Contas registradas</div>
    </div>
    <div class="el-section-content-container">
        <div class="el-registered-users">
            <div class="el-registered-user clearfix" ng-class="{'active': user.is_active}" ng-repeat="user in Accounts.data.users">
                <div class="el-registered-user-avatar"></div>
                <div class="el-registered-user-name">
                    {{user.name}}
                    <span ng-if="user.id == Accounts.data.currentUser.id"> (você)</span>
                    <span ng-if="!user.is_active && !user.is_awaiting_reactivation"> (conta desativada)</span>
                    <span ng-if="!user.is_active && user.is_awaiting_reactivation"> (aguardando pagamento)</span>
                </div>
                <div class="el-registered-user-actions">
                    <div class="el-registered-user-action switch" ng-class="{'active': user.is_active}" ng-if="user.id !== Accounts.data.currentUser.id" ng-click="Accounts.openToggleAccountModal(user)" data-trigger="hover" data-title="Habilitar/desabilitar conta" data-placement="auto top" data-container="body" bs-tooltip></div>
                </div>
                <!-- Groups will be disabled for now. Soon™. -->
                <!--<div class="el-registered-user-group" ng-bind="user.user_group.group_name"></div>-->
            </div>
        </div>
    </div>
    <div class="el-section-content-title clearfix">
        <div class="el-section-content-title-text">Convites enviados</div>
        <div class="el-section-content-title-action" ng-if="Accounts.canSendInvites()" ng-click="Accounts.openSendInvitationModal()">Enviar convite</div>
    </div>
    <div class="el-section-content-container">
        <div class="el-sent-invitations">
            <div class="el-sent-invitation clearfix" ng-repeat="invitation in Accounts.data.sentInvitations | orderBy:'creation_date'">
                <div ng-attr-class="el-sent-invitation-icon {{invitation.status}}"></div>
                <div class="el-sent-invitation-email" ng-bind="invitation.user_email"></div>
                <div class="el-sent-invitation-actions">
                    <div class="el-sent-invitation-action revoke" ng-if="invitation.status === 'PENDING' || invitation.status === 'SENT'" ng-click="Accounts.openRevokeInvitationModal(invitation)" data-trigger="hover" data-title="Cancelar convite" data-placement="auto top" data-container="body" bs-tooltip></div>
                </div>
                <div class="el-sent-invitation-status" ng-switch="invitation.status">
                    <span ng-switch-when="ACCEPTED">Convite aceito</span>
                    <span ng-switch-when="PENDING">Pagamento pendente</span>
                    <span ng-switch-when="EXPIRED">Convite expirado<span ng-if="invitation.bill"> e pagamento estornado</span></span>
                    <span ng-switch-when="REVOKED">Convite cancelado</span>
                    <span ng-switch-when="SENT">Convite enviado</span>
                    <span ng-switch-when="CANCELED">Pagamento cancelado</span>
                </div>
            </div>
            <div class="el-sent-invitations-empty" ng-if="Accounts.data.sentInvitations && !Accounts.data.sentInvitations.length">
                Convites enviados nos últimos 30 dias aparecerão aqui.
            </div>
        </div>
    </div>
</div>
