<div id="el-section-configurations-profile" class="el-section-content clearfix" ng-controller="CompanyConfigurationController as CompanyConfiguration">
    <div class="el-configurations-company-pause-info" ng-if="CompanyConfiguration.data.company && CompanyConfiguration.data.company.plan && CompanyConfiguration.data.company.payment_profile && CompanyConfiguration.data.company.is_awaiting_pause">
        Sua assinatura será pausada dia {{CompanyConfiguration.data.company.active_until | date:'longDate'}}. <a ng-click="CompanyConfiguration.openPauseSubscriptionModal()">Cancelar pausa</a>
    </div>
    <div class="el-configurations-company-get-started" ng-if="CompanyConfiguration.data.company && (!CompanyConfiguration.data.company.plan || !CompanyConfiguration.data.company.payment_profile)">
        <div class="el-configurations-company-get-started-trial-expiration" ng-class="{'active': CompanyConfiguration.data.trial_expiration}">
            Seu período de testes acaba {{CompanyConfiguration.data.trial_expiration}}
        </div>
        <div class="el-configurations-company-get-started-title">Descomplique seu trabalho</div>
        <div class="el-configurations-company-get-started-text">
            Escolha um plano antes do fim do seu período de testes para poder aproveitar todos os recursos do Elysium sem pausas. Você só será cobrado no final do período de testes.
        </div>
        <button class="el-configurations-company-get-started-cta" ng-click="CompanyConfiguration.openPaymentWizard()">Escolha seu plano</button>
    </div>
    <div class="el-configurations-company-info-holder clearfix" ng-if="CompanyConfiguration.data.company && CompanyConfiguration.data.company.plan && CompanyConfiguration.data.company.payment_profile">
        <div class="el-configurations-company-info-section">
            <div class="el-configurations-company-info-section-name">Plano e método de pagamento</div>
        </div>
        <div class="el-configurations-company-plan">
            <div class="el-configurations-company-plan-image" ng-style="{'background-image': 'url(../images/payments/icon-plan-' + (CompanyConfiguration.data.company.plan.slug || 'no-slug') + '.png)'}"></div>
            <div class="el-configurations-company-plan-current">Plano atual</div>
            <div class="el-configurations-company-plan-name" ng-bind="CompanyConfiguration.data.company.plan.name"></div>
            <div class="el-configurations-company-plan-change" ng-click="CompanyConfiguration.openChangePlanModal()">Alterar plano</div>
        </div>
        <div class="el-configurations-company-payment-profile">
            <div class="el-configurations-company-payment-profile-card {{CompanyConfiguration.data.company.payment_profile.payment_company}}">
                <div class="el-configurations-company-payment-profile-card-number" data-field="NÚMERO" ng-bind="CompanyConfiguration.data.company.payment_profile.card_number_last_four"></div>
                <div class="el-configurations-company-payment-profile-card-name" data-field="TITULAR DO CARTÃO" ng-bind="CompanyConfiguration.data.company.payment_profile.holder_name"></div>
                <div class="el-configurations-company-payment-profile-card-expiration" data-field="VALIDADE" ng-bind="CompanyConfiguration.data.company.payment_profile.card_expiration"></div>
            </div>
            <div class="el-configurations-company-payment-profile-created-at">Adicionado {{CompanyConfiguration.data.company.payment_profile.created_at}}</div>
            <div class="el-configurations-company-payment-profile-change" ng-click="CompanyConfiguration.openChangeCreditCardModal()">Trocar cartão de crédito</div>
        </div>
        <div class="el-configurations-company-info-section">
            <div class="el-configurations-company-info-section-name">Faturas</div>
            <div class="el-configurations-company-info-section-button simple el-animated" ng-click="CompanyConfiguration.openPauseSubscriptionModal()" ng-if="!CompanyConfiguration.data.company.is_awaiting_pause && CompanyConfiguration.data.company.status === 'active'">Pausar assinatura</div>
            <div class="el-configurations-company-info-section-button simple el-animated" ng-click="CompanyConfiguration.openPauseSubscriptionModal()" ng-if="!CompanyConfiguration.data.company.is_awaiting_pause && CompanyConfiguration.data.company.status === 'trial'">Cancelar assinatura</div>
        </div>
        <div class="el-configurations-company-bills" bs-collapse data-start-collapsed="true">
            <div class="el-configurations-company-bills-header clearfix">
                <div class="el-configurations-company-bills-data-header date">Data</div>
                <div class="el-configurations-company-bills-data-header plan">Plano</div>
                <div class="el-configurations-company-bills-data-header amount">Valor</div>
                <div class="el-configurations-company-bills-data-header status">Status</div>
                <div class="el-configurations-company-bills-data-header link">Fatura</div>
            </div>
            <div class="el-configurations-company-bill" ng-repeat="bill in CompanyConfiguration.data.bills">
                <div class="el-configurations-company-bill-header el-animated clearfix" bs-collapse-toggle>
                    <div class="el-configurations-company-bill-header-data date">{{bill.created_at | date:'dd/MM/yyyy'}}</div>
                    <div class="el-configurations-company-bill-header-data plan">{{bill.plan.name}}</div>
                    <div class="el-configurations-company-bill-header-data amount">{{bill.amount | currency}}</div>
                    <div class="el-configurations-company-bill-header-data status {{bill.status}}">{{bill.status | elBillStatus}}</div>
                    <div class="el-configurations-company-bill-header-data link"><a ng-attr-href="{{bill.url}}" target="_blank">Visualizar</a></div>
                </div>
                <!--<div class="el-configurations-company-bill-body" bs-collapse-target></div>-->
            </div>
            <div class="el-configurations-company-bills-empty" ng-if="!CompanyConfiguration.data.bills.length">
                Faturas geradas pelo Elysium aparecerão aqui no futuro.
            </div>
        </div>
        <div class="el-configurations-company-info-section border-top">
            <div class="el-configurations-company-info-section-name">Dados da empresa</div>
            <div class="el-configurations-company-info-section-button" ng-click="CompanyConfiguration.openUpdateCompanyModal()">Atualizar informações</div>
        </div>
        <div class="el-configurations-company-info">
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon cliente"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.name}">Nome da Organização/Responsável</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.name}">{{CompanyConfiguration.data.company.name}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.email}">Email para contato</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.email}">{{CompanyConfiguration.data.company.email}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.phone_number}">Telefone</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.phone_number}">{{CompanyConfiguration.data.company.phone_number | brPhoneNumber}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.registry_code}">CNPJ/CPF</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.registry_code}">{{CompanyConfiguration.data.company.registry_code | brCpfCnpj}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon location"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.street}">Rua</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.street}">{{CompanyConfiguration.data.company.street}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.number}">Número</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.number}">{{CompanyConfiguration.data.company.number}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.additional_details}">Complemento</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.additional_details}">{{CompanyConfiguration.data.company.additional_details}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.zipcode}">CEP</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.zipcode}">{{CompanyConfiguration.data.company.zipcode | brCep}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.neighborhood}">Bairro</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.neighborhood}">{{CompanyConfiguration.data.company.neighborhood}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.city}">Cidade</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.city}">{{CompanyConfiguration.data.company.city}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CompanyConfiguration.data.company.state}">Estado</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CompanyConfiguration.data.company.state}">{{CompanyConfiguration.data.company.state | elState}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
