<div id="el-section-configurations" class="el-section-holder" ng-controller="ConfigurationsController as Configurations">
    <div class="el-section-header">
        <div class="el-section-header-icon el-animated"></div>
        <div class="el-section-header-menu">
            <div class="el-section-header-menu-item" ui-sref="app.configurations.profile" ng-class="{'el-selected': $state.is('app.configurations.profile')}">Perfil</div>
            <div class="el-section-header-menu-item" ui-sref="app.configurations.publications" ng-class="{'el-selected': $state.is('app.configurations.publications')}">Publicações</div>
            <div class="el-section-header-menu-item" ng-if="Configurations.data.currentUser.is_owner" ui-sref="app.configurations.company" ng-class="{'el-selected': $state.is('app.configurations.company')}">Empresa e Pagamentos</div>
            <div class="el-section-header-menu-item" ng-if="Configurations.data.currentUser.is_owner" ui-sref="app.configurations.accounts" ng-class="{'el-selected': $state.is('app.configurations.accounts')}">Contas</div>
        </div>
    </div>
    <div class="el-section-content-holder" ui-view></div>
</div>
