<div id="el-section-configurations-profile" class="el-section-content clearfix" ng-controller="ProfileController as Profile">
    <div class="el-section-configurations-profile-header">
        <div class="el-section-configurations-profile-header-avatar"
             ng-style="{'background-image': Profile.data.user.avatar ? 'url(' + Profile.data.user.avatar + ')' : ''}"
             ngf-select="Profile.updateAvatar($file, $invalidFiles)"
             ngf-max-size="2MB"
             ngf-pattern=".png,.jpg"
             ngf-accept="'image/*'"
        ></div>
        <div class="el-section-configurations-profile-header-name" ng-bind="Profile.data.user.name || '&nbsp;'"></div>
        <div class="el-section-configurations-profile-header-company" ng-bind="Profile.data.user.company.name"></div>
    </div>
    <div class="el-section-configurations-profile-content">
        <form class="el-form" name="UpdateProfileForm" ng-submit="Profile.updateProfile()">
            <div class="el-form-configurations-profile-header-holder">
                <div class="el-form-configurations-profile-header-title">Dados pessoais</div>
                <div class="el-create-processo-header-buttons">
                    <input type="submit" class="el-button el-button-action el-animated" value="Salvar perfil" ng-class="{'inactive': UpdateProfileForm.$pristine, 'form-invalid': !UpdateProfileForm.$valid}">
                    <div class="el-create-processo-header-confirmation" ng-style="{'animation': Profile.data.updated ? 'el-create-processo-header-confirmation-pop linear 5s' : ''}">Perfil salvo!</div>
                </div>
            </div>
            <div class="el-form-processo-data-section el-animated">
                <div class="el-processo-data-section-icon cliente"></div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-66">
                        <input type="text" autocomplete="name" class="el-form-label-input el-animated" id="form-name" name="name" ng-model="Profile.data.user.name" required>
                        <label class="el-form-label el-animated">Nome</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-33">
                        <input type="text" autocomplete="tel" class="el-form-label-input el-animated" id="form-telephone" name="telephone" ng-model="Profile.data.user.telephone" required ui-br-phone-number>
                        <label class="el-form-label el-animated">Telefone</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" autocomplete="address-level2" class="el-form-label-input el-animated" id="form-city" name="city" ng-model="Profile.data.user.city" required>
                        <label class="el-form-label el-animated">Cidade</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <ui-select id="form-state" ng-model="Profile.data.user.state" required>
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="state.code as state in Profile.data.states | filter:$select.search track by state.code">
                                <span ng-bind-html="state.name | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Estado</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
