<div class="tooltip in long">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        Seus dados de pagamento serão enviados diretamente para a Vindi, nossa parceira de pagamentos recorrentes.<br><br>
        A Vindi garante a segurança dos seus dados e conta com Certificação PCI Compliance Level 1, mesma certificação concedida à empresas como o PayPal e o PagSeguro.<br><br>
        Por segurança, os dados do seu cartão de crédito não passam, em nenhum momento, pelos servidores do Elysium.
    </div>
</div>
