<div class="el-auth-register-form" ng-controller="ForgotPasswordController as ForgotPassword">
    <div ng-if="ForgotPassword.data.success !== true">
        <div class="el-auth-message">
            <h1>Esqueceu sua senha?</h1>
            <p>Insira seu endereço de email abaixo, e nós lhe enviaremos instruções para criar uma nova senha para sua conta.</p>
        </div>
        <form class="el-auth-form el-animated clearfix" ng-class="{'form-loading': ForgotPassword.data.isLoading}" name="AuthRequestPasswordResetForm" ng-submit="ForgotPassword.requestPasswordReset()">
            <div class="el-auth-form-container">
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="email" autocomplete="username email" class="el-form-label-input el-animated" id="request-password-reset-input-email" name="email" ng-model="ForgotPassword.data.form.email" required>
                        <label class="el-form-label el-animated">Endereço de email</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
            <div class="el-auth-form-error el-animated" ng-class="{'active': ForgotPassword.data.success !== null}">
                <p ng-if="ForgotPassword.data.success === false">
                    Algo deu errado ao enviar o pedido. Verifique sua conexão com a Internet e tente novamente. Verifique sua conexão com a Internet e tente novamente.
                </p>
            </div>
            <input type="submit" class="el-button el-button-action el-animated" value="Criar nova senha">
        </form>
        <div class="el-auth-footer-links">
            <a class="el-auth-footer-link" ui-sref="authentication.login">Voltar ao login</a>
        </div>
    </div>
    <div class="el-auth-message" ng-show="ForgotPassword.data.success === true">
        <h1>Próximo passo...</h1>
        <p>Enviamos um email para <b>{{ForgotPassword.data.form.email}}</b> com instruções para criar uma nova senha.</p>
        <p>Não se esqueça de verificar sua caixa de Spam, caso nosso email não chegue nos próximos 5 minutos.</p>
        <div class="el-button el-button-action el-animated" ng-click="$state.go('authentication.login')">Voltar para o Login</div>
    </div>
</div>
