<div class="el-auth-register-form" ng-controller="ResetPasswordController as ResetPassword">
    <div ng-if="ResetPassword.data.success !== true">
        <div class="el-auth-message">
            <h1>Crie sua nova senha</h1>
            <p>Agora, você só precisa pensar em uma senha nova. Tente criar algo fácil de lembrar, mas difícil de alguém descobrir.</p>
        </div>
        <form class="el-auth-form el-animated clearfix" ng-class="{'form-loading': ResetPassword.data.isLoading}" name="AuthRequestPasswordResetForm" ng-submit="ResetPassword.resetPassword()">
            <div class="el-auth-form-container">
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="password" class="el-form-label-input el-animated" id="reset-password-input-password" name="password" ng-model="ResetPassword.data.form.new_password" required>
                        <label class="el-form-label el-animated">Nova senha</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="password" class="el-form-label-input el-animated" id="reset-password-input-password-confirmation" name="password_confirmation" ng-model="ResetPassword.data.passwordConfirmation" compare-to="ResetPassword.data.form.new_password" required>
                        <label class="el-form-label el-animated">Confirme sua nova senha</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
            <div class="el-auth-form-error el-animated" ng-class="{'active': ResetPassword.data.success !== null || ResetPassword.data.errors}">
                <p ng-if="ResetPassword.data.success === false">
                    Algo deu errado ao enviar o pedido. Verifique sua conexão com a Internet e tente novamente.
                </p>
                <p ng-if="ResetPassword.data.errors.password">
                    A confirmação de senha não confere com sua nova senha.
                </p>
            </div>
            <input type="submit" class="el-button el-button-action el-animated" value="Criar nova senha">
        </form>
        <div class="el-auth-footer-links">
            <a class="el-auth-footer-link" ui-sref="authentication.login">Voltar ao login</a>
        </div>
    </div>
    <div class="el-auth-message" ng-show="ResetPassword.data.success === true">
        <h1>Sucesso!</h1>
        <p>Sua senha foi modificada, e você já pode entrar na sua conta usando-a.</p>
        <p>Caso você continue com problemas para entrar, <a onclick="drift.api.openChat()">entre em contato conosco</a>.</p>
        <div class="el-button el-button-action el-animated" ng-click="$state.go('authentication.login')">Voltar para o Login</div>
    </div>
</div>
