<div id="modal-person-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Apagar {{DeletePersonModal.data.person.name}}?</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text">
                Todos os dados de <span class="el-bold">{{DeletePersonModal.data.person.name}}</span> serão permanentemente apagados.
                <span ng-if="DeletePersonModal.data.personType === 'client'">
                    Os processos associados a essa pessoa não serão apagados, mas ela será removida da lista de clientes dos mesmos.
                </span>
                <span ng-if="DeletePersonModal.data.personType === 'adverse'">
                    Os processos associados a essa pessoa não serão apagados, mas ela será removida da lista de adversos dos mesmos.
                </span>
                <span ng-if="DeletePersonModal.data.personType === 'adverse_lawyer'">
                    Os processos associados a essa pessoa não serão apagados, mas ela será removida da lista de advogados adversos dos mesmos.
                </span>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="DeletePersonModal.delete()">Sim, apagar {{DeletePersonModal.data.type}}</div>
            <div class="el-modal-footer-button" ng-click="$hide()">Não, manter {{DeletePersonModal.data.type}}</div>
        </div>
    </div>
</div>
