<div class="popover popover-menu" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content notificacoes-popover-holder">
        <div class="popover-content-header">Notificações</div>
        <div class="notificacoes-empty" ng-if="!main.notificacoes.length">
            <div class="notificacoes-empty-icon empty-icon empty-icon-generic"></div>
            <div class="notificacoes-empty-message empty-message">Sem novas notificações</div>
        </div>
        <div class="notificacoes-holder" elysium-scrollbar>
            <div class="notificacao-holder clearfix trans" ui-sref="app.processos.details.movimentacoes({id: notificacao.id})" ng-repeat="notificacao in main.notificacoes | orderBy:['-update_date'] track by $index">
                <div class="notificacao-processo-icon">
                    <div class="notificacao-processo-icon-i" ng-class="{
                        'icon-i-ativo': notificacao.process_status == 'Ativo',
                        'icon-i-arquivado': notificacao.process_status == 'Arquivado',
                        'icon-i-suspenso': notificacao.process_status == 'Suspenso'
                    }"></div>
                </div>
                <div class="notificacao-processo-title" ng-attr-title="{{notificacao.title}}">{{notificacao.title}}</div>
                <div class="notificacao-processo-timestamp">Movimentou {{notificacao.update_date|tempoAtras}}</div>
            </div>
        </div>
        <div class="popover-content-footer"><a ui-sref="app.processos.list">Ver tudo</a></div>
    </div>
</div>
