<div class="popover popover-menu" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content popover-content-config">
        <div class="popover-content-header popover-content-header-config">
            <div class="popover-menu-user">
                <div class="menu-user-icon">
                    <div class="user-icon" ng-class="{
                        'user-icon-adm': userRole == 'ADM',
                        'user-icon-sec': userRole == 'SEC',
                        'user-icon-adv': userRole == 'USR',
                        'user-icon-int': userRole == 'INT'
                    }"></div>
                </div>
                <div class="popover-user-name">{{userName}}</div>
                <div class="popover-user-company">{{userCompany}}</div>
            </div>
        </div>
        <div class="popover-menu-options">
            <div class="popover-menu-option" ui-sref="app.configuracoes.contas">Configurações</div>
        </div>
        <div class="popover-content-footer"><a ng-click="sair()">Sair do Elysium</a></div>
    </div>
</div>
