<div class="popover popover-delete" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <div class="popover-delete-confirmation">
            Deseja mesmo excluir <b>{{detalhesPessoa.dados.nome}}</b>?<br>
            <div class="popover-small-message">Essa ação não pode ser desfeita!</div>
        </div>
        <div class="popover-button-holder clearfix">
            <div class="popover-button trans popover-button-cancel" ng-click="$hide()">Cancelar</div>
            <div class="popover-button trans popover-button-delete" ng-click="detalhesPessoa.excluirPessoa(detalhesPessoa.dados)">Excluir</div>
        </div>
    </div>
</div>
