<div class="popover popover-delete" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <div class="popover-delete-confirmation">
            Tem certeza que deseja excluir <b>{{detalhes.dados.titulo}}{{processo.titulo}}</b>?
        </div>
        <div class="popover-button-holder clearfix">
            <div class="popover-button trans popover-button-cancel" ng-click="$hide()">Cancelar</div>
            <div ng-if="processo.id" class="popover-button trans popover-button-delete" ng-click="excluirProcesso(processo.id)">Excluir</div>
            <div ng-if="detalhes.dados.id" class="popover-button trans popover-button-delete" ng-click="excluirProcesso(detalhes.dados.id)">Excluir</div>
        </div>
    </div>
</div>
