<div class="popover popover-menu" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <div class="processos-responsaveis" ng-if="processo.responsaveis">
            <div class="processos-responsavel" ng-repeat="responsavel in processo.responsaveis">
                {{responsavel.name}}
            </div>
        </div>
        <div class="processos-responsaveis" ng-if="detalhes.dados.responsaveis">
            <div class="processos-responsavel" ng-repeat="responsavel in detalhes.dados.responsaveis">
                {{responsavel.name}}
            </div>
        </div>
    </div>
</div>
