<div class="popover popover-new" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <div class="popover-topbar">
            <input type="text" class="filter-input" ng-model="filtroPopover" placeholder="Buscar...">
        </div>
        <div class="popover-processos" elysium-scrollbar>
            <div class="popover-processo" ng-repeat="processo in detalhes.processos|filter:filtroPopover" ng-click="adicionarConexao(processo.id)">
                <div class="processo-status processo-status-ativo" ng-if="!processo.privacidade_do_processo"></div>
    			<div class="processo-status-privado processo-status-privado-ativo" ng-if="processo.privacidade_do_processo" data-trigger="hover" data-title="Este processo é Privado" data-placement="top" bs-tooltip></div>
                <div class="popover-processo-titulo">{{processo.titulo}}</div>
                <div class="popover-processo-responsaveis">
                    {{processo.responsaveis.length}}
                    <span ng-if="processo.responsaveis.length == 1">responsável</span>
                    <span ng-if="processo.responsaveis.length > 1">responsáveis</span>
                </div>
            </div>
        </div>
    </div>
</div>
