<div class="popover popover-delete" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <div class="popover-delete-confirmation">
            Deseja mesmo excluir esse documento?
        </div>
        <div class="popover-button-holder clearfix">
            <div class="popover-button trans popover-button-cancel" ng-click="$hide()">Cancelar</div>
            <div class="popover-button trans popover-button-delete" ng-click="deletarDocumento(arquivo.id)">Excluir</div>
        </div>
    </div>
</div>
