<div class="popover popover-processo-change-status-big" tabindex="-1">
    <div class="popover-content popover-content-processo-change-status-big">
        <div class="processo-change-status-icon-big processos-change-status-icon-tag-big" ng-click="$hide()" data-trigger="hover" data-title="Status do Processo" data-placement="left" bs-tooltip></div>
        <div class="processo-change-status-icon-big" ng-click="mudarStatus(detalhes.dados, 'Ativo');$hide();" data-trigger="hover" data-title="Ativo" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base-big processos-change-status-icon-ativo"></div>
        </div>
        <div class="processo-change-status-icon-big" ng-click="mudarStatus(detalhes.dados, 'Suspenso');$hide();" data-trigger="hover" data-title="Suspenso" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base-big processos-change-status-icon-suspenso"></div>
        </div>
        <div class="processo-change-status-icon-big" ng-click="mudarStatus(detalhes.dados, 'Arquivado');$hide();" data-trigger="hover" data-title="Arquivado" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base-big processos-change-status-icon-arquivado"></div>
        </div>
    </div>
</div>
