<div id="el-section-tasks" class="el-section-holder">
    <div class="el-section-header">
        <div class="el-section-header-icon"></div>
        <div class="el-section-header-menu">
            <div class="el-section-header-menu-action" ng-click="Tasks.createNewTaskModal()">Nova tarefa</div>
        </div>
    </div>
    <div class="el-section-content-holder">
        <div class="el-main-calendar loading-events el-animated" ui-calendar="Tasks.data.calendar" ng-model="Tasks.data.events" calendar="MainCalendar"></div>
    </div>
</div>
