<div class="new-form-input-datepicker">
    <table style="table-layout: fixed; height: 100%; width: 100%;">
        <thead>
            <tr>
                <th>
                    <div class="datepicker-button" ng-click="$selectPane(-1)">
                        <span class="datepicker-button-icon">&#8249;</span>
                    </div>
                </th>
                <th colspan="{{ rows[0].length - 2 }}">
                    <div class="datepicker-header">
                        <span class="datepicker-header-text" ng-bind="title"></span>
                    </div>
                </th>
                <th>
                    <div class="datepicker-button" ng-click="$selectPane(+1)">
                        <span class="datepicker-button-icon">&#8250;</span>
                    </div>
                </th>
            </tr>
            <tr class="datepicker-labels" ng-if="showLabels" ng-bind-html="labels"></tr>
        </thead>
        <tbody>
            <tr class="datepicker-row" ng-repeat="(i, row) in rows" height="{{ 100 / rows.length }}%">
                <td ng-repeat="(j, el) in row">
                    <div class="datepicker-day" ng-class="{'datepicker-day-selected': el.selected, 'datepicker-day-today': el.isToday && !el.selected}" ng-click="$select(el.date)" ng-disabled="el.disabled">
                        <span ng-class="{'text-muted': el.muted}" ng-bind="el.label"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
