<div class="new-form-input-timepicker">
    <div class="datepicker-holder">
        <div class="timepicker-header clearfix">
            <div class="timepicker-button" ng-click="$arrowAction(-1, 0)">
                <span class="timepicker-button-icon timepicker-button-icon-up">&#8249;</span>
            </div>
            <div class="timepicker-button" ng-click="$arrowAction(-1, 1)">
                <span class="timepicker-button-icon timepicker-button-icon-up">&#8249;</span>
            </div>
        </div>
        <div class="timepicker-body">
            <div ng-repeat="(i, row) in rows" class="timepicker-time-row clearfix">
                <div class="timepicker-time" ng-class="{'timepicker-time-selected':row[0].selected,'timepicker-time-disabled':row[0].disabled}" ng-click="$select(row[0].date, 0)">
                    <span ng-class="{'text-muted': row[0].muted}" ng-bind="row[0].label"></span>
                </div>
                <div class="timepicker-time-separator" ng-if="i == midIndex">
                    <span>:</span>
                </div>
                <div class="timepicker-time" ng-if="row[1].date" ng-class="{'timepicker-time-selected':row[1].selected,'timepicker-time-disabled':row[1].disabled}" ng-click="$select(row[1].date, 1)">
                    <span ng-class="{'text-muted': row[1].muted}" ng-bind="row[1].label"></span>
                </div>
            </div>
        </div>
        <div class="timepicker-footer clearfix">
            <div class="timepicker-button" ng-click="$arrowAction(1, 0)">
                <span class="timepicker-button-icon timepicker-button-icon-down">&#8249;</span>
            </div>
            <div class="timepicker-button" ng-click="$arrowAction(1, 1)">
                <span class="timepicker-button-icon timepicker-button-icon-down">&#8249;</span>
            </div>
        </div>
    </div>
</div>
