<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Excluir seu nome das buscas?</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text">
                O Elysium deixará de buscar pelo nome "{{DeletePublicationName.data.publicationName.name}}" nos diários oficiais em até 48 horas, e você pode voltar a registrar um
                nome para buscas posteriormente, se desejar. As publicações associadas a esse nome não serão apagadas por essa operação.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="DeletePublicationName.delete()">Sim, excluir meu nome</div>
            <div class="el-modal-footer-button" ng-click="$hide()">Não, manter meu nome</div>
        </div>
    </div>
</div>
