<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
                <div class="el-modal-header-title" ng-if="!PauseSubscriptionModal.data.company.is_awaiting_pause">
                    <span ng-if="PauseSubscriptionModal.data.company.status === 'active'">Pausar assinatura?</span>
                    <span ng-if="PauseSubscriptionModal.data.company.status === 'trial'">Cancelar assinatura?</span>
                </div>
                <div class="el-modal-header-title" ng-if="PauseSubscriptionModal.data.company.is_awaiting_pause">
                    Cancelar o pedido de pausa da sua assinatura?
                </div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body" ng-if="!PauseSubscriptionModal.data.company.is_awaiting_pause">
            <div class="el-modal-text" ng-if="PauseSubscriptionModal.data.company.status === 'active'">
                Ao pausar sua assinatura, você ainda poderá utilizar o Elysium até o dia {{PauseSubscriptionModal.data.company.active_until | date:'longDate'}}. Após essa data, será
                necessário fazer uma nova assinatura para continuar utilizando o Elysium. Apesar disso, seus processos e documentos estarão seguros e não serão apagados.
            </div>
            <div class="el-modal-text" ng-if="PauseSubscriptionModal.data.company.status === 'trial'">
                Ao cancelar sua assinatura, apagaremos o plano e o método de pagamento atual da sua empresa. Você ainda poderá utilizar o Elysium até o término do seu período de
                testes.
            </div>
            <div class="el-form-group el-processo-data-group clearfix" style="border-top: 1px solid #eeeeee;">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': PauseSubscriptionModal.data.reason}">
                    <textarea class="el-form-label-input el-animated" id="form-reason" name="reason" ng-model="PauseSubscriptionModal.data.reason"></textarea>
                    <label class="el-form-label el-animated">Qual o motivo da pausa? (opcional)</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-modal-body" ng-if="PauseSubscriptionModal.data.company.is_awaiting_pause">
            <div class="el-modal-text">
                Ao fazer isso, sua assinatura não será mais pausada no dia {{PauseSubscriptionModal.data.company.active_until | date:'longDate'}}. Sua assinatura continuará em
                vigor normalmente.
            </div>
            <div class="el-form-group el-processo-data-group clearfix" style="border-top: 1px solid #eeeeee;">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': PauseSubscriptionModal.data.reason}">
                    <textarea class="el-form-label-input el-animated" id="form-reason" name="reason" ng-model="PauseSubscriptionModal.data.reason"></textarea>
                    <label class="el-form-label el-animated">Qual o motivo do cancelamento da pausa? (opcional)</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix" ng-if="!PauseSubscriptionModal.data.company.is_awaiting_pause && PauseSubscriptionModal.data.company.status === 'active'">
            <div class="el-modal-footer-button warning" ng-click="PauseSubscriptionModal.pause()">
                Sim, pausar assinatura
            </div>
            <div class="el-modal-footer-button" ng-click="$hide()">
                Não, manter assinatura
            </div>
        </div>
        <div class="el-modal-footer clearfix" ng-if="!PauseSubscriptionModal.data.company.is_awaiting_pause && PauseSubscriptionModal.data.company.status === 'trial'">
            <div class="el-modal-footer-button warning" ng-click="PauseSubscriptionModal.pause()">
                Sim, cancelar assinatura
            </div>
            <div class="el-modal-footer-button" ng-click="$hide()">
                Não, manter assinatura
            </div>
        </div>
        <div class="el-modal-footer clearfix" ng-if="PauseSubscriptionModal.data.company.is_awaiting_pause">
            <div class="el-modal-footer-button warning" ng-click="PauseSubscriptionModal.unpause()">
                Sim, cancelar pedido de pausa
            </div>
            <div class="el-modal-footer-button" ng-click="$hide()">
                Não, manter o pedido de pausa
            </div>
        </div>
    </div>
</div>
