<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-title">
                Gerenciar variações
            </div>
            <div class="el-modal-payment-wizard-header-close" ng-click="PublicationNameVariationsModal.closeModal()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step">
                <div class="el-modal-payment-wizard-company-form-header clearfix">
                    <div class="el-modal-payment-wizard-company-form-header-icon variations"></div>
                    <div class="el-modal-payment-wizard-company-form-header-text" >
                        Variações são outras maneiras que o seu nome pode aparecer nos diários. Se seu nome for “Natália Nunes Melo”, você pode adicionar “Nathália N. Melo” como
                        uma variação, e nós incluiremos esse nome nas buscas. Uma variação ideal é alguma maneira diferente de escrever seu nome completo, prevendo abreviações ou
                        erros que geralmente acontecem quando outras pessoas redigem nossos nomes.
                    </div>
                </div>
                <div class="el-modal-publication-name-wizard-variations-form clearfix">
                    <input type="text" class="el-modal-publication-name-wizard-variations-form-input el-animated" ng-model="PublicationNameVariationsModal.data.variation" placeholder="Adicione uma variação..." code="13" dl-key-code="PublicationNameVariationsModal.addVariation()">
                    <div class="el-modal-publication-name-wizard-variations-form-submit el-animated" ng-click="PublicationNameVariationsModal.addVariation()" ng-class="{'active': PublicationNameVariationsModal.data.variation && !PublicationNameVariationsModal.data.loading}">
                        <span ng-if="!PublicationNameVariationsModal.data.loading">Adicionar</span>
                        <span ng-if="PublicationNameVariationsModal.data.loading">Carregando...</span>
                    </div>
                    <div class="el-modal-publication-name-wizard-variations-form-variations">
                        <div class="el-modal-publication-name-wizard-variations-form-variations-empty" ng-if="!PublicationNameVariationsModal.data.publicationName.variations.length">Você pode adicionar novas variações usando a caixa de texto acima.</div>
                        <div class="el-modal-publication-name-wizard-variations-form-variation" ng-repeat="variation in PublicationNameVariationsModal.data.publicationName.variations track by $index">
                            {{variation.term}}
                            <div class="el-modal-publication-name-wizard-variations-form-variation-remove" ng-if="!PublicationNameVariationsModal.data.loading" ng-click="PublicationNameVariationsModal.deleteVariation(variation, $index)"></div>
                        </div>
                    </div>
                </div>
                <div class="el-modal-payment-wizard-footer clearfix">
                    <button class="el-modal-payment-wizard-footer-button" ng-click="PublicationNameVariationsModal.closeModal()">Fechar janela</button>
                </div>
            </div>
        </div>
    </div>
</div>
