<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-steps">
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PublicationNameWizard.data.step === 'name'}">Verifique seu nome</div>
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PublicationNameWizard.data.step === 'variations'}">Crie variações</div>
                <div class="el-modal-payment-wizard-header-step" ng-class="{'active': PublicationNameWizard.data.step === 'exceptions'}">Adicione exceções</div>
            </div>
            <div class="el-modal-payment-wizard-header-close" ng-click="PublicationNameWizard.closeWizard()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step plan" ng-if="PublicationNameWizard.data.step === 'name'">
                <form class="el-modal-payment-wizard-company-form" name="PublicationNameForm" ng-submit="PublicationNameWizard.setName()">
                    <div class="el-modal-payment-wizard-company-form-header clearfix">
                        <div class="el-modal-payment-wizard-company-form-header-icon journal"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Primeiro, precisamos de um nome para buscar. Escreva seu nome completo a seguir, da forma em que geralmente aparece nos diários oficiais. No próximo
                            passo, você vai poder adicionar variações, ou outras maneiras que seu nome pode aparecer.
                        </div>
                    </div>
                    <div class="el-modal-publication-name-wizard-name-form">
                        <div class="el-modal-publication-name-wizard-name-form-avatar" ng-style="{'background-image': PublicationNameWizard.data.currentUser.avatar ? 'url(' + PublicationNameWizard.data.currentUser.avatar + ')' : ''}"></div>
                        <input class="el-modal-publication-name-wizard-name-form-input el-animated" id="form-name" name="name" type="text" ng-model="PublicationNameWizard.data.name" placeholder="Seu nome completo" required>
                        <input class="el-modal-publication-name-wizard-name-form-input el-animated" id="form-oab" name="oab" type="text" ng-model="PublicationNameWizard.data.oab" placeholder="Número na OAB" required>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit" ng-class="{'loading': PublicationNameWizard.data.loading}">Próximo passo</button>
                    </div>
                </form>
            </div>
            <div class="el-modal-payment-wizard-step plan" ng-if="PublicationNameWizard.data.step === 'variations'">
                <div class="el-modal-payment-wizard-company-form-header clearfix">
                    <div class="el-modal-payment-wizard-company-form-header-icon variations"></div>
                    <div class="el-modal-payment-wizard-company-form-header-text" ng-if="PublicationNameWizard.data.generatedVariations.length">
                        Você pode informar variações do seu nome, ou outras maneiras que o seu nome pode aparecer nos diários. Se seu nome for “Natália Melo”, você pode adicionar
                        “Nathália Mello” como uma variação, e nós incluiremos esse nome nas buscas. Criamos algumas variações automaticamente, e você pode adicionar novas
                        usando o campo abaixo.
                    </div>
                    <div class="el-modal-payment-wizard-company-form-header-text" ng-if="!PublicationNameWizard.data.generatedVariations.length">
                        Você pode informar variações do seu nome, ou outras maneiras que o seu nome pode aparecer nos diários. Se seu nome for “Natália Nunes Melo”, você pode
                        adicionar “Nathália N. Melo” como uma variação, e nós incluiremos esse nome nas buscas.
                    </div>
                </div>
                <div class="el-modal-publication-name-wizard-variations-form clearfix">
                    <input type="text" class="el-modal-publication-name-wizard-variations-form-input el-animated" ng-model="PublicationNameWizard.data.variation" placeholder="Adicione uma variação..." code="13" dl-key-code="PublicationNameWizard.addVariation()">
                    <div class="el-modal-publication-name-wizard-variations-form-submit el-animated" ng-click="PublicationNameWizard.addVariation()" ng-class="{'active': PublicationNameWizard.data.variation}">Adicionar</div>
                    <div class="el-modal-publication-name-wizard-variations-form-variations">
                        <div class="el-modal-publication-name-wizard-variations-form-variations-empty" ng-if="!PublicationNameWizard.data.variations.length">Você pode adicionar novas variações usando a caixa de texto acima.</div>
                        <div class="el-modal-publication-name-wizard-variations-form-variation" ng-repeat="variation in PublicationNameWizard.data.variations track by $index">
                            {{variation.term}}
                            <div class="el-modal-publication-name-wizard-variations-form-variation-remove" ng-click="PublicationNameWizard.removeVariation($index)"></div>
                        </div>
                    </div>
                </div>
                <div class="el-modal-payment-wizard-footer clearfix">
                    <button class="el-modal-payment-wizard-footer-button continue" ng-click="PublicationNameWizard.createVariations()">Próximo passo</button>
                    <div class="el-modal-payment-wizard-footer-button go-back" ng-click="PublicationNameWizard.data.step = 'name'">Voltar</div>
                </div>
            </div>
            <div class="el-modal-payment-wizard-step plan" ng-if="PublicationNameWizard.data.step === 'exceptions'">
                <form class="el-modal-payment-wizard-company-form" name="PublicationNameExceptionsForm" ng-submit="PublicationNameWizard.createPublicationName()">
                    <div class="el-modal-payment-wizard-company-form-header clearfix">
                        <div class="el-modal-payment-wizard-company-form-header-icon exceptions"></div>
                        <div class="el-modal-payment-wizard-company-form-header-text">
                            Agora você pode adicionar exceções, termos que, caso apareçam no texto de uma publicação em que seu nome foi encontrado, serão ignorados e a publicação
                            será descartada. Se você quiser que a exceção apenas se aplique caso ela se encontre antes, no meio ou depois do seu nome, marque a caixa “Apenas se
                            próximo ao meu nome”.
                        </div>
                    </div>
                    <div class="el-modal-publication-name-wizard-variations-form clearfix">
                        <input type="text" class="el-modal-publication-name-wizard-variations-form-input el-animated" ng-model="PublicationNameWizard.data.exception" placeholder="Adicione uma exceção..." code="13" dl-key-code="PublicationNameWizard.addException()">
                        <div class="el-modal-publication-name-wizard-variations-form-submit el-animated" ng-click="PublicationNameWizard.addException()" ng-class="{'active': PublicationNameWizard.data.exception}">Adicionar</div>
                        <div class="el-modal-publication-name-wizard-variations-form-variations">
                            <div class="el-modal-publication-name-wizard-variations-form-variations-empty" ng-if="!PublicationNameWizard.data.exceptions.length">Você pode adicionar novas exceções usando a caixa de texto acima.</div>
                            <div class="el-modal-publication-name-wizard-variations-form-variation exception" ng-repeat="exception in PublicationNameWizard.data.exceptions track by $index">
                                {{exception.term}}
                                <label>
                                    <input type="checkbox" class="el-modal-publication-name-wizard-variations-form-variation-checkbox" ng-model="exception.is_present_in_searched_name" data-css-content="✔">
                                    Apenas se próximo ao meu nome
                                </label>
                                <div class="el-modal-publication-name-wizard-variations-form-variation-remove" ng-click="PublicationNameWizard.removeException($index)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el-modal-payment-wizard-footer clearfix">
                        <button class="el-modal-payment-wizard-footer-button continue" type="submit" ng-class="{'loading': PublicationNameWizard.data.loading}">Salvar nome para busca</button>
                        <div class="el-modal-payment-wizard-footer-button go-back" ng-click="PublicationNameWizard.data.step = 'variations'">Voltar</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
