<div class="el-modal el-modal-payments" tabindex="-1">
    <div class="el-modal-dialog el-modal-dialog-payment-wizard">
        <div class="el-modal-payment-wizard-header clearfix">
            <div class="el-modal-payment-wizard-header-title">
                Gerenciar exceções
            </div>
            <div class="el-modal-payment-wizard-header-close" ng-click="PublicationNameExceptionsModal.closeModal()"></div>
        </div>
        <div class="el-modal-payment-wizard-content">
            <div class="el-modal-payment-wizard-step">
                <div class="el-modal-payment-wizard-company-form-header clearfix">
                    <div class="el-modal-payment-wizard-company-form-header-icon exceptions"></div>
                    <div class="el-modal-payment-wizard-company-form-header-text">
                        Exceções são termos que, caso apareçam no texto de uma publicação em que seu nome foi encontrado, serão ignorados e a publicação será descartada. Se você
                        quiser que a exceção apenas se aplique caso ela se encontre antes, no meio ou depois do seu nome, marque a caixa “Apenas se próximo ao meu nome”.
                    </div>
                </div>
                <div class="el-modal-publication-name-wizard-variations-form clearfix">
                    <input type="text" class="el-modal-publication-name-wizard-variations-form-input el-animated" ng-model="PublicationNameExceptionsModal.data.exception" placeholder="Adicione uma exceção..." code="13" dl-key-code="PublicationNameExceptionsModal.addException()">
                    <div class="el-modal-publication-name-wizard-variations-form-submit el-animated" ng-click="PublicationNameExceptionsModal.addException()" ng-class="{'active': PublicationNameExceptionsModal.data.exception && !PublicationNameExceptionsModal.data.loading}">
                        <span ng-if="!PublicationNameExceptionsModal.data.loading">Adicionar</span>
                        <span ng-if="PublicationNameExceptionsModal.data.loading">Carregando...</span>
                    </div>
                    <div class="el-modal-publication-name-wizard-variations-form-variations">
                        <div class="el-modal-publication-name-wizard-variations-form-variations-empty" ng-if="!PublicationNameExceptionsModal.data.publicationName.exceptions.length">Você pode adicionar novas exceções usando a caixa de texto acima.</div>
                        <div class="el-modal-publication-name-wizard-variations-form-variation exception" ng-repeat="exception in PublicationNameExceptionsModal.data.publicationName.exceptions track by $index">
                            {{exception.term}}
                            <label ng-class="{'loading': PublicationNameExceptionsModal.data.loading}">
                                <input type="checkbox" class="el-modal-publication-name-wizard-variations-form-variation-checkbox" ng-model="exception.is_present_in_searched_name" ng-change="PublicationNameExceptionsModal.updateException(exception, $index)" data-css-content="✔">
                                Apenas se próximo ao meu nome
                            </label>
                            <div class="el-modal-publication-name-wizard-variations-form-variation-remove" ng-if="!PublicationNameExceptionsModal.data.loading" ng-click="PublicationNameExceptionsModal.deleteException(exception, $index)"></div>
                        </div>
                    </div>
                </div>
                <div class="el-modal-payment-wizard-footer clearfix">
                    <button class="el-modal-payment-wizard-footer-button" ng-click="PublicationNameExceptionsModal.closeModal()">Fechar janela</button>
                </div>
            </div>
        </div>
    </div>
</div>
