<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Cancelar convite?</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text" ng-if="!RevokeInvitationModal.data.invitation.bill">
                O recipiente desse convite não conseguirá se juntar à sua empresa utilizando o link enviado para <b>{{RevokeInvitationModal.data.invitation.user_email}}</b>.
            </div>
            <div class="el-modal-text" ng-if="RevokeInvitationModal.data.invitation.bill && RevokeInvitationModal.data.invitation.status === 'PENDING'">
                Esse convite ainda não foi enviado, pois seu pagamento ainda não foi concluído. Cancelando esse convite, nenhum valor será cobrado do seu método de pagamento atual.
                Além disso, o recipiente desse convite não conseguirá se juntar à sua empresa utilizando o link enviado para <b>{{RevokeInvitationModal.data.invitation.user_email}}</b>.
            </div>
            <div class="el-modal-text" ng-if="RevokeInvitationModal.data.invitation.bill && RevokeInvitationModal.data.invitation.status === 'SENT'">
                Cancelando esse convite, o valor pago na hora do seu envio será estornado em até 7 dias. Além disso, o recipiente desse convite não conseguirá se juntar à sua
                empresa utilizando o link enviado para <b>{{RevokeInvitationModal.data.invitation.user_email}}</b>.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="RevokeInvitationModal.revoke()">Sim, cancelar convite</div>
            <div class="el-modal-footer-button" ng-click="$hide()">Não, manter convite</div>
        </div>
    </div>
</div>
