<div class="modal el-modal">
    <form class="modal-dialog el-modal-dialog" ng-submit="SendInvitationModal.sendInvitation()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Enviar convite</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-payment-wizard-company-form-header">
                <div class="el-modal-payment-wizard-company-form-header-icon invitation"></div>
                <div class="el-modal-payment-wizard-company-form-header-text" ng-if="SendInvitationModal.data.currentUser.company.status === 'trial'">
                    Insira um endereço de email abaixo para convidar novos usuários para sua empresa. No período de testes, você pode convidar até 5 usuários sem nenhum custo.
                </div>
                <div class="el-modal-payment-wizard-company-form-header-text" ng-if="SendInvitationModal.data.currentUser.company.status === 'active'">
                    Insira um endereço de email abaixo para convidar novos usuários para sua empresa. Criaremos uma fatura avulsa de
                    {{SendInvitationModal.data.userPrice | currency:'R$'}} no método de pagamento atual, e seu convite será enviado em seguida. Caso o convite não seja aceito
                    em até 7 dias, esse valor será estornado automaticamente.
                </div>
            </div>
            <div class="el-form-modal-data-section el-animated">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="email" class="el-form-label-input el-animated" id="form-email" name="email" ng-model="SendInvitationModal.data.emailAddress" required>
                        <label class="el-form-label el-animated">Endereço de email</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <button type="submit" class="el-modal-footer-button action">Enviar convite</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar</div>
        </div>
    </form>
</div>
