<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
                <div class="el-modal-header-title" ng-if="!ToggleAccountModal.data.user.is_awaiting_reactivation">
                    <span ng-if="ToggleAccountModal.data.user.is_active">Desabilitar conta?</span>
                    <span ng-if="!ToggleAccountModal.data.user.is_active">Habilitar conta?</span>
                </div>
                <div class="el-modal-header-title" ng-if="ToggleAccountModal.data.user.is_awaiting_reactivation">
                    Aguardando pagamento
                </div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body" ng-if="!ToggleAccountModal.data.user.is_awaiting_reactivation">
            <div class="el-modal-text" ng-if="ToggleAccountModal.data.user.is_active">
                Ao desabilitar essa conta, <b>{{ToggleAccountModal.data.user.name}}</b> não poderá mais acessar sua empresa até que você habilite essa conta novamente.
                <span ng-if="ToggleAccountModal.data.currentUser.company.status === 'active'">
                    Além disso, essa conta não será incluída nas suas próximas faturas e nas buscas por nome nos Diários Oficiais (a menos que você habilite-a novamente).
                </span>
                <span ng-if="ToggleAccountModal.data.currentUser.company.status === 'trial'">
                    Além disso, essa conta não será incluída nas suas faturas após o término do período de testes (a menos que você habilite-a novamente).
                </span>
            </div>
            <div class="el-modal-text" ng-if="!ToggleAccountModal.data.user.is_active">
                Ao habilitar essa conta, <b>{{ToggleAccountModal.data.user.name}}</b> voltará a ter acesso à sua empresa no Elysium.
                <span ng-if="ToggleAccountModal.data.currentUser.company.status === 'active' && !ToggleAccountModal.data.user.already_paid">
                    Criaremos uma fatura avulsa de <b>{{ToggleAccountModal.data.userPrice | currency:'R$'}}</b> no método de pagamento atual, que tem valor proporcional entre o custo de um
                    usuário no plano atual da sua empresa e os dias restantes até sua próxima fatura. Além disso, essa conta passará a ser incluída nas suas próximas faturas (a
                    menos que você desabilite-a novamente).
                </span>
                <span ng-if="ToggleAccountModal.data.currentUser.company.status === 'trial'">
                    Além disso, essa conta será incluída nas suas faturas após o término do período de testes (a menos que você desabilite-a novamente).
                </span>
            </div>
        </div>
        <div class="el-modal-body" ng-if="ToggleAccountModal.data.user.is_awaiting_reactivation">
            <div class="el-modal-text">
                Essa conta está no processo de ser reativada e estamos aguardando que o pagamento de sua reativação seja concluída. Quando isso acontecer, essa conta será reativada
                e você receberá uma notificação.
            </div>
        </div>
        <div class="el-modal-footer clearfix" ng-if="!ToggleAccountModal.data.user.is_awaiting_reactivation">
            <div class="el-modal-footer-button warning" ng-click="ToggleAccountModal.toggle()" ng-if="ToggleAccountModal.data.user.is_active">
                Sim, desabilitar essa conta
            </div>
            <div class="el-modal-footer-button action" ng-click="ToggleAccountModal.toggle()" ng-if="!ToggleAccountModal.data.user.is_active">
                Sim, habilitar essa conta
            </div>
            <div class="el-modal-footer-button" ng-click="$hide()">
                Não, manter <span ng-if="ToggleAccountModal.data.user.is_active">habilitada</span><span ng-if="!ToggleAccountModal.data.user.is_active">desabilitada</span>
            </div>
        </div>
        <div class="el-modal-footer clearfix" ng-if="ToggleAccountModal.data.user.is_awaiting_reactivation">
            <div class="el-modal-footer-button" ng-click="$hide()">
                Voltar
            </div>
        </div>
    </div>
</div>
