<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome ou status..." ng-model="ProcessoDetailsConexoes.conexoesFilter">
    <div class="el-content-search-bar-button" ng-click="ProcessoDetailsConexoes.openAddConexaoModal(ProcessoDetailsConexoes.processo)">Nova conexão</div>
</div>
<div class="el-content-list">
    <div class="el-list-empty el-processo-recursos-list-empty el-animated-long" ng-if="ProcessoDetails.processo.conexoes && !ProcessoDetails.processo.conexoes.length">
        <div class="el-list-empty-icon conexoes-empty"></div>
        <div class="el-list-empty-text">Crie conexões para indicar processos que tem relação entre si</div>
        <div class="el-list-empty-cta el-animated small" ng-click="ProcessoDetailsConexoes.openAddConexaoModal(ProcessoDetailsConexoes.processo)">Nova conexão</div>
    </div>
    <div class="el-processo-additional-list-item el-animated clearfix" ng-repeat="conexao in ProcessoDetails.processo.conexoes | orderBy:conexao.titulo | filter:ProcessoDetailsConexoes.conexoesFilter as conexoesList track by conexao.id">
        <div class="el-processo-additional-list-item-header" ui-sref="app.processos.details({id: conexao.id})">
            <div class="el-processo-additional-list-item-header-icon el-animated" ng-class="{'active': conexao.isActive(), 'suspended': conexao.isSuspended(), 'archived': conexao.isArchived()}"></div>
        </div>
        <div class="el-processo-additional-list-item-body" ui-sref="app.processos.details({id: conexao.id})">
            <div class="el-processo-additional-list-item-body-title" ng-bind="conexao.titulo"></div>
        </div>
        <div class="el-processo-additional-list-item-actions el-animated">
            <div class="el-processo-additional-action delete" ng-click="ProcessoDetailsConexoes.openRemoveConexaoModal(conexao)" data-trigger="hover" data-title="Remover conexão" data-placement="left" bs-tooltip></div>
        </div>
        <div class="el-processo-additional-list-item-badges">
            <div class="el-processo-additional-badge private el-animated" ng-if="!conexao.is_public" data-trigger="hover" data-title="Esse processo é privado" data-placement="top" data-container="body" bs-tooltip></div>
        </div>
    </div>
    <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetails.processo.conexoes && ProcessoDetails.processo.conexoes.length && !conexoesList.length">
        <div class="el-list-empty-icon conexoes-filter"></div>
        <div class="el-list-empty-text margin">Nenhuma conexão encontrada<br>Tente pesquisar por outros termos</div>
    </div>
</div>
<div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetails.processo">
    <div class="el-processo-additional-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6]"></div>
</div>
