<div class="el-content">
    <form class="el-form" name="CreateProcessoForm" ng-submit="CreateProcesso.createProcess()">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-processo-info-header-icon el-animated" ng-class="{'active': CreateProcessoForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !CreateProcesso.data.process.process_number, 'el-processo-info-body-title-none': !CreateProcesso.data.process.title}" ng-bind="CreateProcesso.data.process.title"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreateProcesso.data.process.process_number}" ng-bind="CreateProcesso.data.process.process_number"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Criar processo" ng-class="{'form-invalid': !CreateProcessoForm.$valid}">
                    </div>
                </div>
            </div>
            <div class="el-create-processo-header-mobile" data-offset-top="50" bs-affix>
                <div class="el-processo-info-body-mobile">
                    <div class="el-processo-info-body-title-mobile el-animated" ng-class="{'el-processo-info-body-title-only': !CreateProcesso.data.process.process_number, 'el-processo-info-body-title-none': !CreateProcesso.data.process.title}" ng-bind="CreateProcesso.data.process.title || 'Novo processo...'"></div>
                    <div class="el-processo-info-body-process-number-mobile el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreateProcesso.data.process.process_number}" ng-bind="CreateProcesso.data.process.process_number"></div>
                    <div class="el-create-processo-header-buttons-mobile">
                        <input type="submit" class="el-button-mobile el-button-save el-animated" value="" ng-class="{'form-invalid': !CreateProcessoForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon processo"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" id="form-title" name="title" ng-model="CreateProcesso.data.process.title" required>
                    <label class="el-form-label el-animated">Título do Processo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <ui-select id="form-state" focus-select-on="app:processos:create:form:state:focus" ng-model="CreateProcesso.data.process.state" required>
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state.code as state in CreateProcesso.data.states | filter:$select.search track by state.code">
                            <span ng-bind-html="state.name | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100">
                    <ui-select multiple focus-select-on="app:processos:create:form:responsible:focus" ng-model="CreateProcesso.data.process.responsible" close-on-select="false" required>
                        <ui-select-match>
                            <span ng-bind="$item.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.id as user in CreateProcesso.data.users | filter: $select.search">
                            <span ng-bind-html="user.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Responsáveis</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-if="CreateProcesso.data.process.responsible.indexOf(CreateProcesso.data.userId) === -1"
                             ng-click="CreateProcesso.setUserAsResponsible()">+ {{CreateProcesso.data.userName}}</div>
                    </div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" id="form-process_number" name="process_number" ng-model="CreateProcesso.data.process.process_number">
                    <label class="el-form-label el-animated">Número do Processo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <div class="el-form-label-input-checkbox-holder">
                        <input type="checkbox" class="el-checkbox el-hidden el-animated" id="form-electronic_process" name="electronic_process" ng-model="CreateProcesso.data.process.electronic_process">
                        <label for="form-electronic_process" class="el-form-label-input-checkbox el-form-label-input-checkbox-lock el-form-label-input-checkbox-electronic el-animated"></label>
                        <label class="el-form-label fixed el-animated">Tipo de Processo</label>
                        <div class="el-form-label-input-checkbox-text true el-animated" ng-class="{'on': CreateProcesso.data.process.electronic_process && CreateProcesso.data.process.electronic_process !== undefined}">Eletrônico</div>
                        <div class="el-form-label-input-checkbox-text false el-animated" ng-class="{'on': !CreateProcesso.data.process.electronic_process && CreateProcesso.data.process.electronic_process !== undefined}">Físico</div>
                    </div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <div class="el-form-label-input-checkbox-holder">
                        <input type="checkbox" class="el-checkbox el-hidden el-animated" id="form-is_public" name="is_public" ng-model="CreateProcesso.data.process.is_public">
                        <label for="form-is_public" class="el-form-label-input-checkbox el-form-label-input-checkbox-lock el-animated"></label>
                        <label class="el-form-label fixed el-animated">Privacidade</label>
                        <div class="el-form-label-input-checkbox-text true el-animated" ng-class="{'on': CreateProcesso.data.process.is_public && CreateProcesso.data.process.is_public !== undefined}">Público</div>
                        <div class="el-form-label-input-checkbox-text false el-animated" ng-class="{'on': !CreateProcesso.data.process.is_public && CreateProcesso.data.process.is_public !== undefined}">Privado</div>
                        <span class="el-form-label-tip el-animated" data-container="body" data-trigger="click" data-title="Processos públicos aparecem para todos no escritório. Processos privados aparecem apenas para o criador e os responsáveis pelo processo." data-placement="auto top" bs-tooltip>?</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon cliente"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <ui-select ng-model="CreateProcesso.data.process.clients" multiple>
                        <ui-select-match>
                            <span ng-bind="$item.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="client.id as client in CreateProcesso.data.clients | filter:$select.search">
                            <span ng-bind-html="client.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Cliente<span ng-if="!CreateProcesso.data.process.clients || CreateProcesso.data.process.clients.length != 1">s</span></label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="CreateProcesso.openCreatePersonModal('client')">Criar cliente</div>
                    </div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <ui-select ng-model="CreateProcesso.data.process.client_position">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="position in CreateProcesso.data.partPositions | filter:$select.search">
                            <span ng-bind-html="position | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Posição do Cliente</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon adverso"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <ui-select ng-model="CreateProcesso.data.process.adverses" multiple>
                        <ui-select-match>
                            <span ng-bind="$item.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="adverse.id as adverse in CreateProcesso.data.adverses | filter:$select.search">
                            <span ng-bind-html="adverse.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Adverso<span ng-if="!CreateProcesso.data.process.adverses || CreateProcesso.data.process.adverses.length != 1">s</span></label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="CreateProcesso.openCreatePersonModal('adverse')">Criar adverso</div>
                    </div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <ui-select ng-model="CreateProcesso.data.process.adverse_position">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="position in CreateProcesso.data.partPositions | filter:$select.search">
                            <span ng-bind-html="position | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Posição do Adverso</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100">
                    <ui-select ng-model="CreateProcesso.data.process.adverse_lawyers" multiple>
                        <ui-select-match>
                            <span ng-bind="$item.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="adverse_laywer.id as adverse_laywer in CreateProcesso.data.adverseLawyers | filter:$select.search">
                            <span ng-bind-html="adverse_laywer.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">
                        Advogado<span ng-if="!CreateProcesso.data.process.adverse_lawyers || CreateProcesso.data.process.adverse_lawyers.length != 1">s</span>
                        Adverso<span ng-if="!CreateProcesso.data.process.adverse_lawyers || CreateProcesso.data.process.adverse_lawyers.length != 1">s</span>
                    </label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="CreateProcesso.openCreatePersonModal('adverse_lawyer')">Criar advogado adverso</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon dates"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-distribution_date" name="distribution_date" ng-model="CreateProcesso.data.process.distribution_date"
                           moment-picker="CreateProcesso.data.process.distribution_date" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true">
                    <label class="el-form-label el-animated">Data de Distribuição</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="CreateProcesso.setToday('distribution')">Hoje</div>
                    </div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-notification_date" name="notification_date" ng-model="CreateProcesso.data.process.notification_date"
                           moment-picker="CreateProcesso.data.process.notification_date" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true">
                    <label class="el-form-label el-animated">Data de Notificação</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="CreateProcesso.setToday('notification')">Hoje</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon values"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-cause_value" name="cause_value" ng-model="CreateProcesso.data.process.cause_value"
                           maxlength="21" ui-money-mask="2">
                    <label class="el-form-label el-animated">Valor da Causa</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-provisioned_value" name="provisioned_value" ng-model="CreateProcesso.data.process.provisioned_value"
                           maxlength="21" ui-money-mask="2">
                    <label class="el-form-label el-animated">Valor Provisionado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon misc"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-judicial_organ" name="judicial_organ" ng-model="CreateProcesso.data.process.judicial_organ">
                    <label class="el-form-label el-animated">Órgão Judicial</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-action_type" name="action_type" ng-model="CreateProcesso.data.process.action_type">
                    <label class="el-form-label el-animated">Tipo de Ação</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.phase">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in CreateProcesso.data.phaseTypes | filter:$select.search">
                            <span ng-bind-html="type | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Tipo de Fase</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.process_type">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in CreateProcesso.data.processTypes | filter:$select.search">
                            <span ng-bind-html="type | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Tipo de Processo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.rite">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in CreateProcesso.data.riteTypes | filter:$select.search">
                            <span ng-bind-html="type | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Tipo de Rito</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.subject">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in CreateProcesso.data.subjectTypes | filter:$select.search">
                            <span ng-bind-html="type | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Matéria</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.instance">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type in CreateProcesso.data.instanceTypes | filter:$select.search">
                            <span ng-bind-html="type | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Instância</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreateProcesso.data.process.probability_of_success">
                        <ui-select-match>
                            <span ng-bind="$select.selected.label"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="probability.value as probability in CreateProcesso.data.successProbabilities | filter:$select.search">
                            <span ng-bind-html="probability.label | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Chance de Êxito</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': CreateProcesso.data.process.comments}">
                    <textarea class="el-form-label-input el-animated" id="form-comments" name="comments" ng-model="CreateProcesso.data.process.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
</div>
