<div class="el-content">
    <div class="el-content-processo-header">
        <div class="el-processo-info clearfix">
            <div class="el-processo-info-header">
                <div class="el-processo-info-header-icon el-animated" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived()}"></div>
            </div>
            <div class="el-processo-info-body">
                <div class="el-processo-info-body-title el-animated" ng-class="{'loading': !ProcessoDetails.processo}" ng-bind="ProcessoDetails.processo.titulo || 'Carregando processo...'"></div>
                <div class="el-processo-info-body-responsaveis el-animated" ng-class="{'loading': !ProcessoDetails.processo}" ng-bind="ProcessoDetails.processo ? ProcessoDetails.processo.numero_do_processo || 'Sem número' : 'Carregando...'"></div>
            </div>
            <div class="el-processo-info-actions">
                <div class="el-processo-info-action delete" ng-click="ProcessoDetails.openDeleteModal(ProcessoDetails.processo)" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action edit" ui-sref="app.processos.update({id: ProcessoDetails.processo.id})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action status" ng-click="ProcessoDetails.openStatusPopover($event, ProcessoDetails.processo)" data-trigger="hover" data-title="Mudar status" data-placement="top" bs-tooltip></div>
            </div>
            <div class="el-processo-info-badges">
                <div class="el-processo-info-badge updates" ng-if="ProcessoDetails.processo.has_updates" data-trigger="hover" data-title="Esse processo tem novas movimentações" data-placement="top" data-container="body" bs-tooltip></div>
                <div class="el-processo-info-badge private" ng-if="ProcessoDetails.processo.is_public == false" data-trigger="hover" data-title="Esse processo é privado" data-placement="top" data-container="body" bs-tooltip></div>
            </div>
        </div>
        <div class="el-processo-tabs">
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.processo" ng-class="{'active': $state.is('app.processos.details.processo')}">Detalhes</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.tarefas" ng-class="{'active': $state.is('app.processos.details.tarefas')}">Tarefas</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.movimentacoes" ng-class="{'active': $state.is('app.processos.details.movimentacoes'), 'movimentacoes': ProcessoDetails.processo.has_updates}">Movimentações</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.publications" ng-class="{'active': $state.is('app.processos.details.publications')}">Publicações</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.recursos" ng-class="{'active': $state.is('app.processos.details.recursos')}">Recursos</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.incidentes" ng-class="{'active': $state.is('app.processos.details.incidentes')}">Incidentes</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.conexoes" ng-class="{'active': $state.is('app.processos.details.conexoes')}">Conexões</div>
            <div class="el-processo-tab el-animated" ui-sref="app.processos.details.documentos" ng-class="{'active': $state.is('app.processos.details.documentos')}">Documentos</div>
        </div>
    </div>
    <div class="el-content-processo-body" ui-view></div>
</div>
