<div class="el-content-drop-zone el-animated" ngf-drop="ProcessoDetailsDocumentos.uploadFiles($files, $invalidFiles)" ngf-drag-over-class="'dragging'" multiple="multiple" ngf-max-size="50MB" ngf-pattern="'.pdf,.docx,.txt,.doc,.xls,.xlsx,.csv,.jpg,.png,.bmp,.gif,.odt'">
    <div class="el-content-search-bar">
        <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome ou extensão..." ng-model="ProcessoDetailsDocumentos.documentosFilter">
        <div class="el-content-search-bar-button" ngf-select="ProcessoDetailsDocumentos.uploadFiles($files, $invalidFiles)" multiple ngf-max-size="50MB" ngf-pattern="'.pdf,.docx,.txt,.doc,.xls,.xlsx,.csv,.jpg,.png,.bmp,.gif,.odt'">Enviar arquivos</div>
    </div>
    <div class="el-content-list">
        <div class="el-list-empty el-processo-recursos-list-empty el-animated-long" ng-if="ProcessoDetailsDocumentos.documentos && !ProcessoDetailsDocumentos.documentos.length && !ProcessoDetailsDocumentos.uploadingFiles.length">
            <div class="el-list-empty-icon processos-empty"></div>
            <div class="el-list-empty-text">Esse processo ainda não tem documentos carregados<br>Arraste arquivos para cá ou use o botão abaixo</div>
            <div class="el-list-empty-cta el-animated small" ngf-select="ProcessoDetailsDocumentos.uploadFiles($files, $invalidFiles)" multiple ngf-max-size="50MB" ngf-pattern="'.pdf,.docx,.txt,.doc,.xls,.xlsx,.csv,.jpg,.png,.bmp,.gif,.odt'">Enviar arquivos</div>
        </div>
        <div class="el-documento-list-item upload el-animated clearfix" ng-repeat="upload in ProcessoDetailsDocumentos.uploadingFiles">
            <div class="el-documento-list-item-header">
                <div class="el-documento-list-item-header-bar el-animated">
                    <div class="el-documento-list-item-header-bar-fill el-animated" ng-style="{width: upload.file.progress + '%'}"></div>
                </div>
            </div>
            <div class="el-documento-list-item-body">
                <div class="el-documento-list-item-body-name" ng-bind="upload.file.name"></div>
                <div class="el-documento-list-item-body-created" ng-bind="'Enviando: ' + upload.file.progress + '%'" ng-if="upload.file.progress && upload.file.progress != 100"></div>
                <div class="el-documento-list-item-body-created" ng-if="upload.file.progress == 100">Finalizando envio...</div>
                <div class="el-documento-list-item-body-created" ng-if="!upload.file.progress">Preparando o envio...</div>
            </div>
            <div class="el-documento-list-item-actions visible el-animated">
                <div class="el-documento-action cross" ng-click="ProcessoDetailsDocumentos.abortUpload(upload)" data-trigger="hover" data-title="Cancelar envio" data-placement="left" bs-tooltip></div>
            </div>
        </div>
        <div class="el-documento-list-item el-animated clearfix" ng-repeat="documento in ProcessoDetailsDocumentos.documentos | orderBy:['-creation_date'] | filter:ProcessoDetailsDocumentos.documentosFilter as documentosList track by documento.id">
            <a ng-href="{{documento.arquivo}}" target="_blank">
                <div class="el-documento-list-item-header">
                    <div class="el-documento-list-item-header-icon el-animated" ng-class="{
                        'picture': documento.extensao == '.jpg' || documento.extensao == '.png' || documento.extensao == '.bmp' || documento.extensao == '.gif',
                        'text': documento.extensao == '.pdf' || documento.extensao == '.docx' || documento.extensao == '.txt' || documento.extensao == '.doc' || documento.extensao == '.odt',
                        'spreadsheet': documento.extensao == '.xls' || documento.extensao == '.xlsx' || documento.extensao == '.csv'
                     }"></div>
                </div>
                <div class="el-documento-list-item-body">
                    <div class="el-documento-list-item-body-name" ng-attr-title="{{documento.nome}}" ng-bind="documento.nome"></div>
                    <div class="el-documento-list-item-body-created" ng-bind="'Enviado ' + (documento.creation_date | tempoAtras)"></div>
                </div>
            </a>
            <div class="el-documento-list-item-actions el-animated">
                <div class="el-documento-action delete" ng-click="ProcessoDetailsDocumentos.openDeleteModal(documento)" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            </div>
        </div>
        <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsDocumentos.documentos && ProcessoDetailsDocumentos.documentos.length && !documentosList.length">
            <div class="el-list-empty-icon processos-filter"></div>
            <div class="el-list-empty-text margin">Nenhum documento encontrado<br>Tente pesquisar por outros termos</div>
        </div>
    </div>
    <div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsDocumentos.documentos">
        <div class="el-documento-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8]"></div>
    </div>
</div>
