<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por título, responsável, etc..." ng-model="ProcessoDetailsIncidentes.incidentesFilter">
    <div class="el-content-search-bar-button" ng-click="ProcessoDetailsIncidentes.openAddIncidenteModal(ProcessoDetails.processo)">Novo incidente</div>
</div>
<div class="el-content-list">
    <div class="el-list-empty el-processo-recursos-list-empty el-animated-long" ng-if="ProcessoDetailsIncidentes.incidentes && !ProcessoDetailsIncidentes.incidentes.length">
        <div class="el-list-empty-icon processos-empty"></div>
        <div class="el-list-empty-text">Esse processo ainda não tem incidentes cadastrados</div>
        <div class="el-list-empty-cta el-animated small" ng-click="ProcessoDetailsIncidentes.openAddIncidenteModal(ProcessoDetails.processo)">Novo incidente</div>
    </div>
    <div class="el-processo-additional-list-item el-animated clearfix" ng-repeat="incidente in ProcessoDetailsIncidentes.incidentes | filter:ProcessoDetailsIncidentes.incidentesFilter as incidentesList">
        <div class="el-processo-additional-list-item-header" ng-click="ProcessoDetailsIncidentes.openIncidenteModal(incidente)">
            <div class="el-processo-additional-list-item-header-icon incidente el-animated"></div>
        </div>
        <div class="el-processo-additional-list-item-body" ng-click="ProcessoDetailsIncidentes.openIncidenteModal(incidente)">
            <div class="el-processo-additional-list-item-body-title" ng-bind="incidente.titulo"></div>
        </div>
        <div class="el-processo-additional-list-item-actions el-animated">
            <div class="el-processo-additional-action delete" ng-click="ProcessoDetailsIncidentes.openDeleteIncidenteModal(incidente)" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            <div class="el-processo-additional-action edit" ng-click="ProcessoDetailsIncidentes.openEditIncidenteModal(incidente)" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
        </div>
    </div>
    <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsIncidentes.incidentes && ProcessoDetailsIncidentes.incidentes.length && !incidentesList.length">
        <div class="el-list-empty-icon processos-filter"></div>
        <div class="el-list-empty-text margin">Nenhum incidente encontrado<br>Tente pesquisar por outros termos</div>
    </div>
</div>
<div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsIncidentes.incidentes">
    <div class="el-processo-additional-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6]"></div>
</div>
