<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome, número, responsáveis, etc..." ng-model="ProcessosList.listFilters.name">
    <div class="el-content-search-bar-results" ng-if="ProcessosList.list">
        {{ProcessosList.filteredList.length}} processo<span ng-if="ProcessosList.filteredList.length !== 1">s</span>
        <span ng-if="!ProcessosList.listFilters.name && !Processos.processosFilter">cadastrado<span ng-if="ProcessosList.filteredList.length !== 1">s</span></span>
        <span ng-if="Processos.processosFilter == 'ACTIVE'">ativo<span ng-if="ProcessosList.filteredList.length !== 1">s</span> </span>
        <span ng-if="Processos.processosFilter == 'SUSPENDED'">suspenso<span ng-if="ProcessosList.filteredList.length !== 1">s</span> </span>
        <span ng-if="Processos.processosFilter == 'ARCHIVED'">arquivado<span ng-if="ProcessosList.filteredList.length !== 1">s</span> </span>
        <span ng-if="ProcessosList.listFilters.name">encontrado<span ng-if="ProcessosList.filteredList.length !== 1">s</span></span>
    </div>
</div>
<div class="el-content-list">
    <div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessosList.list">
        <div class="el-processo-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8]"></div>
    </div>
    <div class="el-list-empty el-processo-list-empty el-animated-long" ng-if="ProcessosList.list && !ProcessosList.list.length">
        <div class="el-list-empty-icon processos-empty"></div>
        <div class="el-list-empty-text">Você ainda não tem processos cadastrados.</div>
        <div class="el-list-empty-cta el-animated" ui-sref="app.processos.create">Novo processo</div>
    </div>
    <div class="el-processo-list-item el-animated-long clearfix" ng-repeat="processo in ProcessosList.filteredList = (ProcessosList.list | orderBy:['-has_updates'] | filter:{$: ProcessosList.listFilters.name, status_do_processo: Processos.processosFilter}) track by processo.id">
        <div class="el-processo-list-item-header" ui-sref="app.processos.details({id: processo.id})">
            <div class="el-processo-list-item-header-icon el-animated" ng-class="{'active': processo.isActive(), 'suspended': processo.isSuspended(), 'archived': processo.isArchived()}"></div>
        </div>
        <div class="el-processo-list-item-body" ui-sref="app.processos.details({id: processo.id})">
            <div class="el-processo-list-item-body-title" ng-class="{'no-updates': !processo.last_update}" ng-bind="processo.titulo"></div>
            <div class="el-processo-list-item-body-updates" ng-if="processo.last_update" ng-bind="'Última movimentação: ' + processo.last_update"></div>
        </div>
        <div class="el-processo-list-item-actions el-animated">
            <div class="el-processo-action delete" ng-click="ProcessosList.openDeleteModal(processo)" data-trigger="hover" data-title="Excluir" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-processo-action edit" ui-sref="app.processos.update({id: processo.id})" data-trigger="hover" data-title="Editar" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-processo-action status" ng-click="ProcessosList.openStatusPopover($event, processo)" data-trigger="hover" data-title="Mudar status" data-placement="auto top" data-container="body" bs-tooltip></div>
        </div>
        <div class="el-processo-list-item-badges">
            <div class="el-processo-badge updates" ng-if="processo.has_updates" data-trigger="hover" data-title="Esse processo tem novas movimentações" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-processo-badge private" ng-if="!processo.is_public" data-trigger="hover" data-title="Esse processo é privado" data-placement="auto top" data-container="body" bs-tooltip></div>
        </div>
    </div>
    <div class="el-list-empty el-processo-list-empty el-animated-long" ng-if="ProcessosList.list && ProcessosList.list.length && !ProcessosList.filteredList.length">
        <div class="el-list-empty-icon processos-filter"></div>
        <div class="el-list-empty-text margin">Nenhum processo encontrado<br>Tente mudar os filtros acima ou modificar sua busca</div>
    </div>
</div>
