<div id="el-section-processos" class="el-section-holder">
    <div class="el-section-header">
        <div class="el-section-header-icon el-animated" ui-sref="app.processos.list" ng-class="{'back': !$state.is('app.processos.list')}"></div>
        <div class="el-section-header-menu">
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == ''}" ng-click="Processos.changeFilter('all')">Todos</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'ACTIVE'}" ng-click="Processos.changeFilter('active')">Ativos</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'SUSPENDED'}" ng-click="Processos.changeFilter('suspended')">Suspensos</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'ARCHIVED'}" ng-click="Processos.changeFilter('archived')">Arquivados</div>
            <div class="el-section-header-menu-action" ng-class="{'el-selected': $state.is('app.processos.create')}" ui-sref="app.processos.create">Novo processo</div>
        </div>
        <div class="el-section-header-mobile-menu">
            <div class="el-section-header-mobile-menu-back el-animated" ng-click="Processos.goBack()" ng-class="{'visible': !$state.is('app.processos.list')}"></div>
            <div class="el-section-header-mobile-menu-item el-animated everything" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == ''}" ng-click="Processos.changeFilter('all')">∞</div>
            <div class="el-section-header-mobile-menu-item el-animated active-processes" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'ACTIVE'}" ng-click="Processos.changeFilter('active')">Ativos</div>
            <div class="el-section-header-mobile-menu-item el-animated suspended-processes" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'SUSPENDED'}" ng-click="Processos.changeFilter('suspended')">Suspensos</div>
            <div class="el-section-header-mobile-menu-item el-animated archived-processes" ng-class="{'el-selected': $state.is('app.processos.list') && Processos.processosFilter == 'ARCHIVED'}" ng-click="Processos.changeFilter('archived')">Arquivados</div>
            <div class="el-section-header-mobile-menu-action" ng-class="{'el-selected': $state.is('app.processos.create')}" ui-sref="app.processos.create">+</div>
        </div>
    </div>
    <div class="el-section-content-holder" ui-view></div>
</div>
