<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title" ng-if="ProcessoDetailsDocumentos.uploadingFiles.length">Cancelar envio<span ng-if="ProcessoDetailsDocumentos.uploadingFiles.length > 1">s</span>?</div>
            <div class="el-modal-header-title" ng-if="!ProcessoDetailsDocumentos.uploadingFiles.length">Envios finalizados</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text" ng-if="ProcessoDetailsDocumentos.uploadingFiles.length == 1">
                O envio de <span class="el-bold">1 arquivo</span> será cancelado se você mudar de página nesse momento.
                Tem certeza de que você quer cancelar o envio?
            </div>
            <div class="el-modal-text" ng-if="ProcessoDetailsDocumentos.uploadingFiles.length > 1">
                O envio de <span class="el-bold">{{ProcessoDetailsDocumentos.uploadingFiles.length}} arquivos</span> serão cancelados se você mudar de página nesse momento.
                Tem certeza de que você quer cancelar os envios?
            </div>
            <div class="el-modal-text" ng-if="!ProcessoDetailsDocumentos.uploadingFiles.length">
                Pronto, todos os arquivos já foram enviados. Você pode continuar sem medo de perder seus dados.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div ng-if="!ProcessoDetailsDocumentos.uploadingFiles.length">
                <div class="el-modal-footer-button action" ng-click="ProcessoDetailsDocumentos.abortUploadsModal()">Continuar</div>
                <div class="el-modal-footer-button" ng-click="ProcessoDetailsDocumentos.modal = false; $hide()">Voltar aos documentos</div>
            </div>
            <div ng-if="ProcessoDetailsDocumentos.uploadingFiles.length">
                <div class="el-modal-footer-button warning" ng-click="ProcessoDetailsDocumentos.abortUploadsModal()">Sim, cancelar envio<span ng-if="ProcessoDetailsDocumentos.uploadingFiles.length > 1">s</span></div>
                <div class="el-modal-footer-button" ng-click="ProcessoDetailsDocumentos.modal = false; $hide()">Não, voltar aos documentos</div>
            </div>
        </div>
    </div>
</div>
