<div class="modal el-modal">
    <form class="modal-dialog el-modal-dialog" ng-submit="ProcessoEditRecursoModal.updateRecurso()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Editar recurso...</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-form-modal-data-section el-animated">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="text" class="el-form-label-input el-animated" id="form-tipo_de_acao" name="tipo_de_acao" ng-model="ProcessoEditRecursoModal.recurso.tipo_de_acao" required>
                        <label class="el-form-label el-animated">Tipo de Recurso</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-numero_do_processo" name="numero_do_processo" ng-model="ProcessoEditRecursoModal.recurso.numero_do_processo" required>
                        <label class="el-form-label el-animated">Número do Processo</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <div class="el-form-label-input-checkbox-holder">
                            <input type="checkbox" class="el-checkbox el-hidden el-animated" id="form-processo_eletronico" name="processo_eletronico" ng-model="ProcessoEditRecursoModal.recurso.processo_eletronico">
                            <label for="form-processo_eletronico" class="el-form-label-input-checkbox el-form-label-input-checkbox-lock el-form-label-input-checkbox-electronic el-animated"></label>
                            <label class="el-form-label fixed el-animated">Tipo de Processo</label>
                            <div class="el-form-label-input-checkbox-text true el-animated" ng-class="{'on': ProcessoEditRecursoModal.recurso.processo_eletronico && ProcessoEditRecursoModal.recurso.processo_eletronico !== undefined}">Eletrônico</div>
                            <div class="el-form-label-input-checkbox-text false el-animated" ng-class="{'on': !ProcessoEditRecursoModal.recurso.processo_eletronico && ProcessoEditRecursoModal.recurso.processo_eletronico !== undefined}">Físico</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <ui-select ng-model="ProcessoEditRecursoModal.recurso.clientes" multiple>
                            <ui-select-match>
                                <span ng-bind="$item.nome"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="client.id as client in ProcessoEditRecursoModal.clientes | filter:$select.search">
                                <span ng-bind-html="client.nome | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Cliente<span ng-if="!ProcessoEditRecursoModal.recurso.clientes || ProcessoEditRecursoModal.recurso.clientes != 1">s</span></label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="ProcessoEditRecursoModal.openCreatePersonModal('client')">Criar cliente</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <ui-select ng-model="ProcessoEditRecursoModal.recurso.adversos" multiple>
                            <ui-select-match>
                                <span ng-bind="$item.nome"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="adverse.id as adverse in ProcessoEditRecursoModal.adversos | filter:$select.search">
                                <span ng-bind-html="adverse.nome | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Adverso<span ng-if="!ProcessoEditRecursoModal.recurso.adversos || ProcessoEditRecursoModal.recurso.adversos != 1">s</span></label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="ProcessoEditRecursoModal.openCreatePersonModal('adverse')">Criar adverso</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <ui-select ng-model="ProcessoEditRecursoModal.recurso.advogados_do_adverso" multiple>
                            <ui-select-match>
                                <span ng-bind="$item.nome"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="adverse_lawyer.id as adverse_lawyer in ProcessoEditRecursoModal.advogadosAdversos | filter:$select.search">
                                <span ng-bind-html="adverse_lawyer.nome | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Advogado<span ng-if="!ProcessoEditRecursoModal.recurso.advogados_do_adverso || ProcessoEditRecursoModal.recurso.advogados_do_adverso != 1">s</span> Adverso<span ng-if="!ProcessoEditRecursoModal.recurso.advogados_do_adverso || ProcessoEditRecursoModal.recurso.advogados_do_adverso != 1">s</span></label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="ProcessoEditRecursoModal.openCreatePersonModal('adverse_lawyer')">Criar advogado adverso</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <ui-select ng-model="ProcessoEditRecursoModal.recurso.posicao_do_cliente">
                            <ui-select-match>
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="type in ProcessoEditRecursoModal.partPositions | filter:$select.search">
                                <span ng-bind-html="type | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Posição do Cliente</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <ui-select ng-model="ProcessoEditRecursoModal.recurso.posicao_do_adverso">
                            <ui-select-match>
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="type in ProcessoEditRecursoModal.partPositions | filter:$select.search">
                                <span ng-bind-html="type | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <label class="el-form-label el-form-select-label">Posição do Adverso</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-data_de_distribuicao" name="data_de_distribuicao" ng-model="ProcessoEditRecursoModal.recurso.data_de_distribuicao"
                               moment-picker="ProcessoEditRecursoModal.recurso.data_de_distribuicao" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true">
                        <label class="el-form-label el-animated">Data de Distribuição</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="ProcessoEditRecursoModal.setToday('data_de_distribuicao')">Hoje</div>
                        </div>
                    </div>
                    <div class="el-form-data el-processo-data el-processo-data-50">
                        <input type="text" class="el-form-label-input el-animated" id="form-data_de_citacao" name="data_de_citacao" ng-model="ProcessoEditRecursoModal.recurso.data_de_citacao"
                               moment-picker="ProcessoEditRecursoModal.recurso.data_de_citacao" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true">
                        <label class="el-form-label el-animated">Data de Notificação</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                        <div class="el-form-label-actions el-animated">
                            <div class="el-form-label-action" ng-click="ProcessoEditRecursoModal.setToday('data_de_citacao')">Hoje</div>
                        </div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="text" class="el-form-label-input el-animated" id="form-orgao_judicial" name="orgao_judicial" ng-model="ProcessoEditRecursoModal.recurso.orgao_judicial">
                        <label class="el-form-label el-animated">Órgão Judicial</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': ProcessoEditRecursoModal.recurso.observacoes}">
                        <textarea class="el-form-label-input el-animated" id="form-observacoes" name="observacoes" ng-model="ProcessoEditRecursoModal.recurso.observacoes"></textarea>
                        <label class="el-form-label el-animated">Observações</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <button type="submit" class="el-modal-footer-button action">Atualizar recurso</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar</div>
        </div>
    </form>
</div>
