<div id="modal-processos-add-conexao" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Adicionar conexão</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-content-search-bar">
                <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome, número, etc..." ng-model="ProcessoAddConexaoModal.processosFilter">
            </div>
            <div class="el-content-list">
                <div class="el-list-empty el-processo-recursos-list-empty el-animated-long" ng-if="ProcessoAddConexaoModal.processos && !ProcessoAddConexaoModal.processos.length">
                    <div class="el-list-empty-icon conexoes-full"></div>
                    <div class="el-list-empty-text">Não há mais processos disponíveis para conectar</div>
                    <div class="el-list-empty-cta el-animated small el-close" ng-click="$hide()">Fechar janela</div>
                </div>
                <div class="el-processo-additional-list-item el-animated clearfix" ng-click="ProcessoAddConexaoModal.addConexao(processo)" ng-repeat="processo in ProcessoAddConexaoModal.processos | orderBy:processo.titulo | filter:ProcessoAddConexaoModal.processosFilter as processosList track by processo.id">
                    <div class="el-processo-additional-list-item-header">
                        <div class="el-processo-additional-list-item-header-icon el-animated" ng-class="{'active': processo.isActive(), 'suspended': processo.isSuspended(), 'archived': processo.isArchived()}"></div>
                    </div>
                    <div class="el-processo-additional-list-item-body">
                        <div class="el-processo-additional-list-item-body-title" ng-class="{'has-updates': processo.last_update}" ng-bind="processo.titulo"></div>
                        <div class="el-processo-additional-list-item-body-updates" ng-if="processo.last_update" ng-bind="'Última movimentação: ' + processo.last_update"></div>
                    </div>
                    <div class="el-processo-additional-list-item-badges">
                        <div class="el-processo-additional-badge el-not-animated private" ng-if="!processo.is_public" data-trigger="hover" data-title="Esse processo é privado" data-placement="top" data-container="body" bs-tooltip></div>
                    </div>
                </div>
                <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoAddConexaoModal.processos && ProcessoAddConexaoModal.processos.length && !processosList.length">
                    <div class="el-list-empty-icon conexoes-filter"></div>
                    <div class="el-list-empty-text margin">Nenhum processo encontrado<br>Tente pesquisar por outros termos</div>
                </div>
            </div>
            <div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoAddConexaoModal.processos">
                <div class="el-processo-additional-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6]"></div>
            </div>
        </div>
    </div>
</div>
