<div id="modal-processos-delete" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Apagar {{ProcessosDeleteModal.type}}?</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.processo">
                Os dados do processo <span class="el-bold">{{ProcessosDeleteModal.processo.titulo}}</span> e suas tarefas, recursos, incidentes e documentos serão
                permanentemente apagados.
            </div>
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.recurso">
                Todos os dados do recurso <span class="el-bold">{{ProcessosDeleteModal.recurso.titulo}}</span> serão permanentemente apagados.
            </div>
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.incidente">
                Todos os dados do incidente <span class="el-bold">{{ProcessosDeleteModal.incidente.titulo}}</span> serão permanentemente apagados.
            </div>
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.conexao">
                A conexão com o processo <span class="el-bold">{{ProcessosDeleteModal.conexao.titulo}}</span> será apagada.
            </div>
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.documento">
                O documento <span class="el-bold">{{ProcessosDeleteModal.documento.nome}}</span> será permanentemente apagado.
            </div>
            <div class="el-modal-text" ng-if="ProcessosDeleteModal.update">
                A movimentação <span class="el-bold">{{ProcessosDeleteModal.update.description.length > 30 ? ProcessosDeleteModal.update.description.substring(0, 30) + '...' : ProcessosDeleteModal.update.description}}</span> será permanentemente apagada.
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="ProcessosDeleteModal.delete()">Sim, apagar {{ProcessosDeleteModal.type}}</div>
            <div class="el-modal-footer-button" ng-click="$hide()">Não, manter {{ProcessosDeleteModal.type}}</div>
        </div>
    </div>
</div>
