<div id="modal-processos-responsible" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title" ng-if="ModalResponsible.pane == 'list'">Responsáveis</div>
            <div class="el-modal-header-title" ng-if="ModalResponsible.pane == 'add'">Adicionar responsável</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">


            <div id="modal-processos-responsible-add" class="el-modal-processos-responsible-tab" ng-if="ModalResponsible.pane == 'add'">
                <div class="el-content-search-bar">
                    <input type="text" id="el-content-input-bar-responsible" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome ou email..." ng-model="ModalResponsible.usersFilter">
                </div>
                <div class="el-content-list">
                    <div class="el-list-empty el-processo-responsible-list-empty el-animated-long" ng-if="ModalResponsible.users && !ModalResponsible.users.length">
                        <div class="el-list-empty-text">Todos os usuários da sua empresa já são responsáveis desse processo</div>
                    </div>
                    <div class="el-processo-responsible-list-item el-animated-long clearfix" ng-repeat="responsible in ModalResponsible.filteredList = (ModalResponsible.users | orderBy:['name'] | filter:ModalResponsible.usersFilter)">
                        <div class="responsible-list-item-name">{{responsible.name}}</div>
                        <div class="responsible-list-item-email">{{responsible.email}}</div>
                        <div class="responsible-list-action add el-animated" ng-click="ModalResponsible.addResponsible(responsible)"></div>
                    </div>
                    <div class="el-list-empty el-processo-responsible-list-empty el-animated-long" ng-if="ModalResponsible.users && ModalResponsible.users.length && !ModalResponsible.filteredList.length">
                        <div class="el-list-empty-text">Nenhum usuário encontrado<br>Tente pesquisar por outros termos</div>
                    </div>
                </div>
                <div class="el-content-list el-loader-holder el-animated" ng-if="!ModalResponsible.users">
                    <div class="el-processo-responsible-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4]"></div>
                </div>
            </div>



            <div id="modal-processos-responsible-list" class="el-modal-processos-responsible-tab" ng-if="ModalResponsible.pane == 'list'">
                <div class="el-content-list">
                    <div class="el-processo-responsible-list-item el-animated-long clearfix" ng-repeat="responsible in ProcessoDetails.processo.responsaveis | orderBy:['name'] track by responsible.id">
                        <div class="responsible-list-item-name">{{responsible.name}}</div>
                        <div class="responsible-list-item-email">{{responsible.email}}</div>
                        <div class="responsible-list-action remove el-animated" ng-if="ProcessoDetails.processo.responsaveis.length > 1" ng-click="ModalResponsible.removeResponsible(responsible)"></div>
                    </div>
                </div>
            </div>




        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button action" ng-if="ModalResponsible.pane == 'list'" ng-click="ModalResponsible.openAddPane()">Adicionar responsável</div>
            <div class="el-modal-footer-button left" ng-if="ModalResponsible.pane == 'add'" ng-click="ModalResponsible.openListPane()">Voltar</div>
        </div>
    </div>
</div>
