<div id="modal-processos-recurso" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Recurso: {{ProcessoRecursoModal.recurso.tipo_de_acao}}</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-processo-data-holder">
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.numero_do_processo}">Número do Processo</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.numero_do_processo}">{{::ProcessoRecursoModal.recurso.numero_do_processo}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.processo_eletronico}">Tipo de Processo</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.processo_eletronico}">{{ProcessoRecursoModal.recurso.processo_eletronico ? 'Eletrônico' : 'Físico'}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.clientes.length}">Cliente<span ng-if="ProcessoRecursoModal.recurso.clientes.length != 1">s</span></div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.clientes.length}">
                            <span ng-repeat="cliente in ProcessoRecursoModal.recurso.clientes">
                                <a class="el-animated" ui-sref="app.person.client({id: cliente.id})">{{::cliente.nome}}</a>
                                <span ng-if="!$last">, </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.adversos.length}">Adverso<span ng-if="ProcessoRecursoModal.recurso.adversos.length != 1">s</span></div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.adversos.length}">
                            <span ng-repeat="adverso in ProcessoRecursoModal.recurso.adversos">
                                <a class="el-animated" ui-sref="app.person.adverse({id: adverso.id})">{{::adverso.nome}}</a>
                                <span ng-if="!$last">, </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.advogados_do_adverso.length}">Advogado<span ng-if="ProcessoRecursoModal.recurso.advogados_do_adverso.length != 1">s</span> Adverso<span ng-if="ProcessoRecursoModal.recurso.advogados_do_adverso.length != 1">s</span></div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.advogados_do_adverso.length}">
                            <span ng-repeat="advogado in ProcessoRecursoModal.recurso.advogados_do_adverso">
                                <a class="el-animated" ui-sref="app.person.adverselawyer({id: advogado.id})">{{::advogado.nome}}</a>
                                <span ng-if="!$last">, </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.posicao_do_cliente}">Posição do Cliente</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.posicao_do_cliente}">{{::ProcessoRecursoModal.recurso.posicao_do_cliente}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.posicao_do_adverso}">Posição do Adverso</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.posicao_do_adverso}">{{::ProcessoRecursoModal.recurso.posicao_do_adverso}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.data_de_distribuicao}">Data de Distribuição</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.data_de_distribuicao}">{{::ProcessoRecursoModal.recurso.data_de_distribuicao | date:"d' de 'LLLL' de 'yyyy":"+0000"}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.data_de_citacao}">Data de Notificação</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.data_de_citacao}">{{::ProcessoRecursoModal.recurso.data_de_citacao | date:"d' de 'LLLL' de 'yyyy":"+0000"}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.orgao_judicial}">Órgão Judicial</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.orgao_judicial}">{{::ProcessoRecursoModal.recurso.orgao_judicial}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.observacoes}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoRecursoModal.recurso.observacoes}" ng-bind-html="ProcessoRecursoModal.recurso.observacoes"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="ProcessoRecursoModal.openDeleteRecursoModal()">Apagar recurso</div>
            <div class="el-modal-footer-button left" ng-click="ProcessoRecursoModal.openEditRecursoModal()">Editar recurso</div>
        </div>
    </div>
</div>
