<div class="modal el-modal">
    <form class="modal-dialog el-modal-dialog" ng-submit="ProcessoEditIncidenteModal.updateIncidente()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Editar incidente...</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-form-modal-data-section el-animated">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100">
                        <input type="text" class="el-form-label-input el-animated" id="form-tipo_de_acao" name="tipo_de_acao" ng-model="ProcessoEditIncidenteModal.incidente.titulo" required>
                        <label class="el-form-label el-animated">Tipo de Incidente</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': ProcessoEditIncidenteModal.incidente.observacoes}">
                        <textarea class="el-form-label-input el-animated" id="form-observacoes" name="observacoes" ng-model="ProcessoEditIncidenteModal.incidente.observacoes"></textarea>
                        <label class="el-form-label el-animated">Observações</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <button type="submit" class="el-modal-footer-button action">Atualizar incidente</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar</div>
        </div>
    </form>
</div>
