<div id="modal-processos-incidente" class="modal el-modal">
    <div class="modal-dialog el-modal-dialog">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Incidente: {{ProcessoIncidenteModal.incidente.titulo}}</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-processo-data-holder">
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoIncidenteModal.incidente.observacoes}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoIncidenteModal.incidente.observacoes}" ng-bind-html="ProcessoIncidenteModal.incidente.observacoes"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <div class="el-modal-footer-button warning" ng-click="ProcessoIncidenteModal.openDeleteIncidenteModal()">Apagar incidente</div>
            <div class="el-modal-footer-button left" ng-click="ProcessoIncidenteModal.openEditIncidenteModal()">Editar incidente</div>
        </div>
    </div>
</div>
