<div id="modal-processos-incidente" class="modal el-modal">
    <form class="modal-dialog el-modal-dialog" ng-submit="ProcessoAddUpdateModal.createUpdate()">
        <div class="el-modal-header">
            <div class="el-modal-header-title">Adicionar movimentação manualmente</div>
            <div class="el-modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="el-modal-body">
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="location" ng-model="ProcessoAddUpdateModal.data.update.instance" required>
                    <label class="el-form-label el-animated">Instância</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" id="form-start" name="start" ng-model="ProcessoAddUpdateModal.data.update.date"
                           moment-picker="ProcessoAddUpdateModal.data.update.date" format="DD/MM/YYYY" ng-model-options="{updateOn:'blur'}" keyboard="true" autocomplete="off" required>
                    <label class="el-form-label el-animated">Data da Movimentação</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                    <div class="el-form-label-actions el-animated">
                        <div class="el-form-label-action" ng-click="ProcessoAddUpdateModal.setToday()">Hoje</div>
                    </div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-group el-processo-data-group clearfix">
                    <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': ProcessoAddUpdateModal.data.update.description}">
                        <textarea class="el-form-label-input el-animated" name="description" ng-model="ProcessoAddUpdateModal.data.update.description" required></textarea>
                        <label class="el-form-label el-animated">Descrição</label>
                        <div class="el-from-label-input-outline el-animated"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="el-modal-footer clearfix">
            <button type="submit" class="el-modal-footer-button action">Salvar movimentação</button>
            <div class="el-modal-footer-button" ng-click="$hide()">Cancelar</div>
        </div>
    </form>
</div>
