<div class="el-content-header-bar">
    <div class="el-content-header-bar-text movimentacoes" ng-if="ProcessoDetailsMovimentacoes.refreshing">Atualizando, isso pode demorar alguns segundos...</div>
    <div class="el-content-header-bar-text movimentacoes el-animated" ng-if="ProcessoDetailsMovimentacoes.movimentacoesInfo.data_ultima_verificacao" ng-bind="'Última atualização: ' + (ProcessoDetailsMovimentacoes.movimentacoesInfo.data_ultima_verificacao | tempoAtras)"></div>
    <div class="el-content-search-bar-button el-animated" ng-click="ProcessoDetailsMovimentacoes.openCreateUpdateModal()">Adicionar movimentação</div>
</div>
<div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="!ProcessoDetailsMovimentacoes.data.updates.length && ProcessoDetailsMovimentacoes.data.emptyOldUpdates">
    <div class="el-list-empty-icon processos-empty"></div>
    <div class="el-list-empty-text margin">Esse processo ainda não tem movimentações. Você pode registrar uma usando o botão acima.</div>
</div>
<div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsMovimentacoes.error == 'not_implemented'">
    <div class="el-list-empty-icon movimentacoes-invalid"></div>
    <div class="el-list-empty-text margin">Nosso robô ainda não aprendeu a coletar movimentações<br>do tribunal desse processo.</div>
</div>
<div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsMovimentacoes.error == 'invalid'">
    <div class="el-list-empty-icon movimentacoes-invalid"></div>
    <div class="el-list-empty-text">O número desse processo é inválido<br>Conserte-o, depois clique no botão abaixo</div>
    <div class="el-list-empty-cta el-animated small" ng-click="ProcessoDetailsMovimentacoes.refreshMovimentacoes(ProcessoDetails.processo)">Atualizar movimentações</div>
</div>
<div class="el-content-list" ng-model="ProcessoDetailsMovimentacoes.collapse" bs-collapse data-start-collapsed="true">
    <div class="el-processo-movimentacao" ng-repeat="object in ProcessoDetailsMovimentacoes.movimentacoes">
        <div class="el-processo-movimentacao-header el-animated" ng-class="{'toggle': ProcessoDetailsMovimentacoes.collapse == $index}" bs-collapse-toggle>
            <div class="el-processo-movimentacao-header-icon el-animated" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived(), 'recurso': object.tipo == 'recurso'}"></div>
            <div class="el-processo-movimentacao-header-info">
                <div class="el-processo-movimentacao-header-title" ng-bind="object.titulo"></div>
                <div class="el-processo-movimentacao-header-updates">{{object.tipo}}</div>
            </div>
        </div>
        <div class="el-processo-movimentacao-content" bs-collapse-target>
            <div class="el-processo-movimentacao-item instance" ng-if="secondInstance.length">
                <div class="el-processo-movimentacao-content-item-header" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived(), 'recurso': object.tipo == 'recurso'}"></div>
                <div class="el-processo-movimentacao-content-item-content el-animated">
                    <div class="el-processo-movimentacao-content-item-content-text">Segunda instância</div>
                </div>
            </div>
            <div class="el-processo-movimentacao-item clearfix" ng-repeat="movimentacao in object.itens | filter:{instancia: 2} | orderBy:['-data_movimentacao'] as secondInstance">
                <div class="el-processo-movimentacao-content-item-header" data-trigger="hover" data-title="Instância" data-placement="top" bs-tooltip ng-attr-data-instancia="{{movimentacao.instancia}}ª" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived(), 'recurso': object.tipo == 'recurso'}"></div>
                <div class="el-processo-movimentacao-content-item-content el-animated">
                    <div class="el-processo-movimentacao-content-item-content-text">{{movimentacao.descricao_movimentacao}}</div>
                    <div class="el-processo-movimentacao-content-item-content-date">{{movimentacao.data_movimentacao | tempoAtras}}</div>
                </div>
            </div>
            <div class="el-processo-movimentacao-item instance" ng-if="firstInstance.length">
                <div class="el-processo-movimentacao-content-item-header" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived(), 'recurso': object.tipo == 'recurso'}"></div>
                <div class="el-processo-movimentacao-content-item-content el-animated">
                    <div class="el-processo-movimentacao-content-item-content-text">Primeira instância</div>
                </div>
            </div>
            <div class="el-processo-movimentacao-item clearfix" ng-repeat="movimentacao in object.itens | filter:{instancia: 1} | orderBy:['-data_movimentacao'] as firstInstance">
                <div class="el-processo-movimentacao-content-item-header" data-trigger="hover" data-title="Instância" data-placement="top" bs-tooltip ng-attr-data-instancia="{{movimentacao.instancia}}ª" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived(), 'recurso': object.tipo == 'recurso'}"></div>
                <div class="el-processo-movimentacao-content-item-content el-animated">
                    <div class="el-processo-movimentacao-content-item-content-text">{{movimentacao.descricao_movimentacao}}</div>
                    <div class="el-processo-movimentacao-content-item-content-date">{{movimentacao.data_movimentacao | tempoAtras}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsMovimentacoes.movimentacoes && !ProcessoDetailsMovimentacoes.error && !ProcessoDetailsMovimentacoes.data.emptyOldUpdates">
    <div class="el-processo-tarefa-list-item el-processo-movimentacao-header el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6]"></div>
</div>
<div class="el-content-list" ng-if="ProcessoDetailsMovimentacoes.data.updates">
    <div class="el-processo-movimentacao-item update clearfix" ng-class="{'one': ProcessoDetailsMovimentacoes.data.updates.length === 1}" ng-repeat="update in ProcessoDetailsMovimentacoes.data.updates track by update.id">
        <div class="el-processo-movimentacao-content-item-header" ng-class="{'active': ProcessoDetails.processo.isActive(), 'suspended': ProcessoDetails.processo.isSuspended(), 'archived': ProcessoDetails.processo.isArchived()}"></div>
        <div class="el-processo-movimentacao-content-item-content el-animated">
            <div class="el-processo-movimentacao-content-item-content-text" ng-bind-html="update.description"></div>
            <div class="el-processo-movimentacao-content-item-content-date">Instância: {{update.instance}} — Movimentação de {{update.date| date:'dd/MM/yyyy'}}, registrada {{update.created_at | tempoAtras}} por {{update.owner.name}}</div>
            <div class="el-processo-movimentacao-content-item-content-delete" ng-click="ProcessoDetailsMovimentacoes.openDeleteUpdateModal(update)"></div>
        </div>
    </div>
</div>
