<div class="popover popover-processo-change-status" ng-controller="PopoverChangeStatusController as PopoverChangeStatus">
    <div class="popover-content popover-content-processo-change-status">
        <div class="processo-change-status-icon processos-change-status-icon-tag" ng-click="$hide()" data-trigger="hover" data-title="Status do Processo" data-placement="left" bs-tooltip></div>
        <div class="processo-change-status-icon" ng-click="PopoverChangeStatus.changeStatus(processo, 'ACTIVE')" data-trigger="hover" data-title="Ativo" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base processos-change-status-icon-ativo"></div>
        </div>
        <div class="processo-change-status-icon" ng-click="PopoverChangeStatus.changeStatus(processo, 'SUSPENDED')" data-trigger="hover" data-title="Suspenso" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base processos-change-status-icon-suspenso"></div>
        </div>
        <div class="processo-change-status-icon" ng-click="PopoverChangeStatus.changeStatus(processo, 'ARCHIVED')" data-trigger="hover" data-title="Arquivado" data-placement="left" bs-tooltip>
            <div class="processos-change-status-icon-base processos-change-status-icon-arquivado"></div>
        </div>
    </div>
</div>
