<div class="el-processo-data-holder" ng-class="{'loading': !ProcessoDetails.processo}">
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon processo"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-100">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.responsaveis.length}">Responsáve<span ng-if="ProcessoDetails.processo.responsaveis.length == 1">l</span><span ng-if="ProcessoDetails.processo.responsaveis.length != 1">is</span></div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.responsaveis.length}">
                    <span ng-repeat="user in ProcessoDetails.processo.responsaveis">
                        {{::user.name}}<span ng-if="!$last">, </span>
                    </span>
                </div>
                <div class="el-process-data-actions el-animated visible">
                    <div class="el-process-data-action" ng-click="ProcessoDetails.openResponsibleModal()">Gerenciar responsáveis</div>
                </div>
            </div>
        </div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-33">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.estado}">Estado</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.estado}">{{::ProcessoDetails.processo.estado}}</div>
            </div>
            <div class="el-process-data el-process-data-33">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.processo_eletronico !== undefined}">Tipo de Processo</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.processo_eletronico !== undefined}">{{ProcessoDetails.processo.processo_eletronico ? 'Eletrônico' : 'Físico'}}</div>
            </div>
            <div class="el-process-data el-process-data-33">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.is_public !== undefined}">Privacidade</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.is_public !== undefined}">{{ProcessoDetails.processo.is_public ? 'Público' : 'Privado'}}</div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon cliente"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-66">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.clientes.length}">Cliente<span ng-if="ProcessoDetails.processo.clientes.length != 1">s</span></div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.clientes.length}">
                    <span ng-repeat="cliente in ProcessoDetails.processo.clientes">
                        <a class="el-animated" ui-sref="app.person.client({id: cliente.id})">{{::cliente.name}}</a>
                        <span ng-if="!$last">, </span>
                    </span>
                </div>
            </div>
            <div class="el-process-data el-process-data-33">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.posicao_do_cliente}">Posição do Cliente</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.posicao_do_cliente}">{{::ProcessoDetails.processo.posicao_do_cliente}}</div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon adverso"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-66">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.adversos.length}">Adverso<span ng-if="ProcessoDetails.processo.adversos.length != 1">s</span></div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.adversos.length}">
                    <span ng-repeat="adverso in ProcessoDetails.processo.adversos">
                        <a class="el-animated" ui-sref="app.person.adverse({id: adverso.id})">{{::adverso.name}}</a>
                        <span ng-if="!$last">, </span>
                    </span>
                </div>
            </div>
            <div class="el-process-data el-process-data-33">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.posicao_do_adverso}">Posição do Adverso</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.posicao_do_adverso}">{{::ProcessoDetails.processo.posicao_do_adverso}}</div>
            </div>
        </div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-100">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.advogados_do_adverso.length}">Advogado<span ng-if="ProcessoDetails.processo.advogados_do_adverso.length != 1">s</span> Adverso<span ng-if="ProcessoDetails.processo.advogados_do_adverso.length != 1">s</span></div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.advogados_do_adverso.length}">
                    <span ng-repeat="advogado_adverso in ProcessoDetails.processo.advogados_do_adverso">
                        <a class="el-animated" ui-sref="app.person.adverselawyer({id: advogado_adverso.id})">{{::advogado_adverso.name}}</a>
                        <span ng-if="!$last">, </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon dates"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.data_de_distribuicao}">Data de Distribuição</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.data_de_distribuicao}">{{::ProcessoDetails.processo.data_de_distribuicao | date:"d' de 'LLLL' de 'yyyy":"+0000"}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.data_de_citacao}">Data de Notificação</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.data_de_citacao}">{{::ProcessoDetails.processo.data_de_citacao | date:"d' de 'LLLL' de 'yyyy":"+0000"}}</div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon values"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.valor_da_causa}">Valor da Causa</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.valor_da_causa}">{{::ProcessoDetails.processo.valor_da_causa | currency:"R$":2}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.valor_provisionado}">Valor Provisionado</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.valor_provisionado}">{{::ProcessoDetails.processo.valor_provisionado | currency:"R$":2}}</div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon misc"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.orgao_judicial}">Órgão Judicial</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.orgao_judicial}">{{::ProcessoDetails.processo.orgao_judicial}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_acao}">Tipo de Ação</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_acao}">{{::ProcessoDetails.processo.tipo_de_acao}}</div>
            </div>
        </div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_fase}">Tipo de Fase</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_fase}">{{::ProcessoDetails.processo.tipo_de_fase}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_processo}">Tipo de Processo</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_processo}">{{::ProcessoDetails.processo.tipo_de_processo}}</div>
            </div>
        </div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_rito}">Tipo de Rito</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.tipo_de_rito}">{{::ProcessoDetails.processo.tipo_de_rito}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.materia}">Matéria</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.materia}">{{::ProcessoDetails.processo.materia}}</div>
            </div>
        </div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.instancia}">Instância</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.instancia}">{{::ProcessoDetails.processo.instancia}}</div>
            </div>
            <div class="el-process-data el-process-data-50">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.probabilidades_de_exito}">Chance de Êxito</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.probabilidades_de_exito}">
                    <span ng-if="ProcessoDetails.processo.probabilidades_de_exito == 'VERY_PROBABLE'">Muito provável (~100%)</span>
                    <span ng-if="ProcessoDetails.processo.probabilidades_de_exito == 'PROBABLE'">Provável (~75%)</span>
                    <span ng-if="ProcessoDetails.processo.probabilidades_de_exito == 'POSSIBLE'">Possível (~50%)</span>
                    <span ng-if="ProcessoDetails.processo.probabilidades_de_exito == 'REMOTE'">Remota (~25%)</span>
                    <span ng-if="ProcessoDetails.processo.probabilidades_de_exito == 'IMPOSSIBLE'">Inviável (~0%)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="el-processo-data-section el-animated-long">
        <div class="el-processo-data-section-icon observations"></div>
        <div class="el-process-data-group clearfix">
            <div class="el-process-data el-process-data-100">
                <div class="el-process-data-title el-animated" ng-class="{'active': ProcessoDetails.processo.observacoes}">Observações</div>
                <div class="el-process-data-content el-animated" ng-class="{'active': ProcessoDetails.processo.observacoes}" ng-bind-html="::ProcessoDetails.processo.observacoes"></div>
            </div>
        </div>
    </div>
</div>
