<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-publications" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome buscado, sigla do diário ou estado" ng-model="ProcessoDetailsPublications.data.searchFilter">
</div>
<div class="el-content-list">
    <div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsPublications.data.publications">
        <div class="el-processo-list-item publication el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8]"></div>
    </div>
    <div class="el-list-empty el-processo-list-empty el-animated-long" ng-if="ProcessoDetailsPublications.data.publications && !ProcessoDetailsPublications.data.publications.length">
        <div class="el-list-empty-icon processos-empty"></div>
        <div class="el-list-empty-text">Não há nenhuma publicação para esse processo atualmente.</div>
    </div>
    <div class="el-processo-list-item publication el-animated-long clearfix" ng-repeat="publication in ProcessoDetailsPublications.data.filteredPublications = (ProcessoDetailsPublications.data.publications | filter:{$: ProcessoDetailsPublications.data.searchFilter} | orderBy:['publication_date', 'id']) track by publication.id">
        <div class="el-publication-item-header clearfix" ng-click="ProcessoDetailsPublications.openDetailsModal(publication, $index)">
            <div class="el-publication-item-date" data-css-content="PUBLICAÇÃO">{{publication.publication_date.format('DD/MM')}}</div>
            <div class="el-publication-item-info">
                <div class="el-publication-item-process" ng-if="publication.process">{{publication.process.title}}</div>
                <div class="el-publication-item-name" ng-class="{'processless': !publication.process}">{{publication.searched_oab.name}}</div>
            </div>
            <div class="el-publication-item-archive archived el-animated" ng-if="publication.archived" data-trigger="hover" data-title="Arquivado" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-publication-item-state">{{publication.state}}</div>
            <div class="el-publication-item-acronym">{{publication.report_acronym}}</div>
        </div>
    </div>
</div>
