<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por título, responsável, etc..." ng-model="ProcessoDetailsRecursos.recursosFilter">
    <div class="el-content-search-bar-button" ng-click="ProcessoDetailsRecursos.openAddRecursoModal(ProcessoDetails.processo)">Novo recurso</div>
</div>
<div class="el-content-list">
    <div class="el-list-empty el-processo-recursos-list-empty el-animated-long" ng-if="ProcessoDetailsRecursos.recursos && !ProcessoDetailsRecursos.recursos.length">
        <div class="el-list-empty-icon processos-empty"></div>
        <div class="el-list-empty-text">Esse processo ainda não tem recursos cadastrados</div>
        <div class="el-list-empty-cta el-animated small" ng-click="ProcessoDetailsRecursos.openAddRecursoModal(ProcessoDetails.processo)">Novo recurso</div>
    </div>
    <div class="el-processo-additional-list-item el-animated clearfix" ng-repeat="recurso in ProcessoDetailsRecursos.recursos | filter:ProcessoDetailsRecursos.recursosFilter as recursosList">
        <div class="el-processo-additional-list-item-header" ng-click="ProcessoDetailsRecursos.openRecursoModal(recurso)">
            <div class="el-processo-additional-list-item-header-icon recurso el-animated"></div>
        </div>
        <div class="el-processo-additional-list-item-body" ng-click="ProcessoDetailsRecursos.openRecursoModal(recurso)">
            <div class="el-processo-additional-list-item-body-title" ng-bind="recurso.tipo_de_acao"></div>
        </div>
        <div class="el-processo-additional-list-item-actions el-animated">
            <div class="el-processo-additional-action delete" ng-click="ProcessoDetailsRecursos.openDeleteRecursoModal(recurso)" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
            <div class="el-processo-additional-action edit" ng-click="ProcessoDetailsRecursos.openEditRecursoModal(recurso)" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
        </div>
    </div>
    <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsRecursos.recursos && ProcessoDetailsRecursos.recursos.length && !recursosList.length">
        <div class="el-list-empty-icon processos-filter"></div>
        <div class="el-list-empty-text margin">Nenhum recurso encontrado<br>Tente pesquisar por outros termos</div>
    </div>
</div>
<div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsRecursos.recursos">
    <div class="el-processo-additional-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6]"></div>
</div>
