<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-processos" class="el-content-search-bar-input el-animated" placeholder="Pesquise por título, responsável, etc..." ng-model="ProcessoDetailsTarefas.tarefasFilter">
    <div class="el-content-search-bar-button" ng-click="ProcessoDetailsTarefas.openAddTarefaModal(ProcessoDetails.processo)">Nova tarefa</div>
</div>
<div class="el-content-list">
    <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsTarefas.tarefas && !ProcessoDetailsTarefas.tarefas.length">
        <div class="el-list-empty-icon tarefas-empty"></div>
        <div class="el-list-empty-text margin">Esse processo ainda não tem tarefas cadastradas</div>
        <div class="el-list-empty-cta el-animated small" ng-click="ProcessoDetailsTarefas.openAddTarefaModal(ProcessoDetails.processo)">Nova tarefa</div>
    </div>
    <div class="el-processo-tarefa-list-item el-animated-long clearfix" ng-click="ProcessoDetailsTarefas.openTarefa(tarefa)" ng-repeat="tarefa in ProcessoDetailsTarefas.filteredList = (ProcessoDetailsTarefas.tarefas | orderBy:['-is_concluded', '-data_de_inicio'] | filter:{$: ProcessoDetailsTarefas.tarefasFilter, situacao: tarefa.isPending()})" ng-class="{'done': !tarefa.isPending()}">
        <div class="el-processo-tarefa-priority" ng-class="{'done': !tarefa.isPending(), 'high': tarefa.prioridade == 'HIGH', 'normal': tarefa.prioridade == 'NORMAL', 'low': tarefa.prioridade == 'LOW'}"></div>
        <div class="el-processo-tarefa-title el-animated">{{tarefa.assunto}}</div>
        <!--<div class="el-processo-tarefa-time">-->
            <!--{{tarefa.data_de_termino | tempoAtras}}, às {{tarefa.data_de_termino | date:"H':'mm":"+00:00"}}-->
        <!--</div>-->
    </div>
    <div class="el-list-empty el-processo-tarefas-list-empty el-animated-long" ng-if="ProcessoDetailsTarefas.tarefas && ProcessoDetailsTarefas.tarefas.length && !ProcessoDetailsTarefas.filteredList.length">
        <div class="el-list-empty-icon tarefas-filter"></div>
        <div class="el-list-empty-text margin">Nenhuma tarefa encontrada<br>Tente pesquisar por outros termos</div>
    </div>
</div>
<div class="el-content-list el-loader-holder el-animated" ng-if="!ProcessoDetailsTarefas.tarefas">
    <div class="el-processo-tarefa-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"></div>
</div>
