<div class="popover el-popover el-popover-green" id="create-person-popover" tabindex="-1">
    <div class="arrow el-arrow"></div>
    <div class="popover-content el-popover-content">
        <div class="el-popover-button" ng-click="Person.openCreatePersonForm('client');$hide()">Cliente</div>
        <div class="el-popover-button" ng-click="Person.openCreatePersonForm('adverse');$hide()">Adverso</div>
        <div class="el-popover-button" ng-click="Person.openCreatePersonForm('adverse_lawyer');$hide()">Adv. Adverso</div>
        <div class="el-popover-button" ng-click="Person.openCreatePersonForm('correspondent');$hide()">Correspondente</div>
    </div>
</div>
