<div class="modal modal-atividades" tabindex="-1">
    <div class="modal-dialog modal-dialog-atividades">
        <form ng-submit="NewTarefa.createTarefa()" class="modal-content modal-content-atividades">
            <div class="modal-header modal-header-atividades">
                <div class="modal-header-title">Nova atividade</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-atividades trans clearfix">
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <input type="text" ng-model="NewTarefa.tarefa.title" class="new-form-input" required>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.title}">Título</label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4" ng-init="NewTarefa.tarefa.responsible = []">
                            <selectize class="new-form-input-selectize" config='NewTarefa.usuariosConfig'
                                       options='NewTarefa.usuarios'
                                       ng-model="NewTarefa.tarefa.responsible"></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.responsible != false}">Responsáve<span ng-if="NewTarefa.tarefa.responsible.length == 1">l</span><span ng-if="NewTarefa.tarefa.responsible.length != 1">is</span><span class="new-form-input-required"> *</span></label>
                        </div>
                    </div>
                </div>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <selectize class="new-form-input-selectize" config='NewTarefa.processosConfig'
                                       options='NewTarefa.processos' ng-change='NewTarefa.refreshProcesso()'
                                       ng-model="NewTarefa.tarefa.process"></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.process != false}">Processo<span class="new-form-input-required"> *</span></label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-2" ng-init="NewTarefa.tarefa.incident = []" ng-class="{'new-form-input-holder-inactive':!NewTarefa.incidentes.length}">
                            <selectize class="new-form-input-selectize" config='NewTarefa.incidentsConfig'
                                       options='NewTarefa.incidentes' ng-model="NewTarefa.tarefa.incident"
                                       ng-change="NewTarefaresponsible.tarefa.appeal = false"
                            ></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.incidente != false}">Incidente</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-2" ng-init="NewTarefa.tarefa.appeal = []" ng-class="{'new-form-input-holder-inactive':!NewTarefa.recursos.length}">
                            <selectize class="new-form-input-selectize" config='NewTarefa.appealsConfig'
                                       options='NewTarefa.recursos' ng-model="NewTarefa.tarefa.appeal"
                                       ng-change="NewTarefa.tarefa.incident = false"></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.appeal != false}">Recurso</label>
                        </div>
                    </div>
                </div>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-3">
                            <input type="text" ng-model="NewTarefa.tarefa.start" class="new-form-input" data-autoclose="1" bs-datepicker>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.start}">Data de Início</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-1">
                            <input type="text" ng-model="NewTarefa.tarefa.start" class="new-form-input" bs-timepicker>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.start}">Hora<span ng-if="NewTarefa.tarefa.start"> de Início</span></label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-3">
                            <input type="text" ng-model="NewTarefa.tarefa.finish" class="new-form-input" data-autoclose="1" bs-datepicker>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.finish}">Data de Término</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-1">
                            <input type="text" ng-model="NewTarefa.tarefa.finish" class="new-form-input" bs-timepicker>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.finish}">Hora<span ng-if="NewTarefa.tarefa.finish"> de Término</span></label>
                        </div>
                    </div>
                </div>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-2" ng-init="NewTarefa.tarefa.priority = []">
                            <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"label",highlight:false,searchField:["label"],maxItems:1}' options='[{valor:"LOW", label:"Baixa"},{valor:"NORMAL", label:"Normal"},{valor:"HIGH", label:"Alta"}]' ng-model="NewTarefa.tarefa.priority"></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.priority != false}">Prioridade</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-2" ng-init="NewTarefa.tarefa.type = []">
                            <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Prazo"},{valor:"Audiência"},{valor:"Compromisso"}]' ng-model="NewTarefa.tarefa.type"></selectize>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.type != false}">Tipo de Tarefa</label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <input type="text" ng-model="NewTarefa.tarefa.location" class="new-form-input">
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.location}">Local</label>
                        </div>
                    </div>
                </div>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <div medium-editor data-placeholder=" " ng-model="NewTarefa.tarefa.description" class="new-form-input"></div>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':NewTarefa.tarefa.description}">Descrição</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-atividades">
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="$hide()">Cancelar</div>
            </div>
        </form>
    </div>
</div>
