<div class="modal modal-atividades" tabindex="-1" ng-controller="TarefaModalController as TarefaModal">
    <div class="modal-dialog modal-dialog-atividades">
        <form ng-submit="TarefaModal.updateTarefa()" class="modal-content modal-content-atividades">
            <div class="modal-header modal-header-atividades">
                <div class="modal-header-title" ng-if="!TarefaModal.tarefa.title">{{title}}</div>
                <div class="modal-header-title" ng-if="TarefaModal.tarefa.title">{{TarefaModal.tarefa.title}}</div>
                <div class="modal-header-close" ng-click="hideModal()"></div>
            </div>
            <div class="modal-body modal-body-atividades trans clearfix">
                <div class="content-tabs">
                    <div class="content-tab trans"
                         ng-class="{'content-tab-selected': TarefaModal.currentTab == 'editar','content-tab-hidden': TarefaModal.currentTab != 'editar'}">
                        Editar
                    </div>
                    <div class="content-tab trans" ng-click="TarefaModal.currentTab = 'detalhes'"
                         ng-class="{'content-tab-selected': TarefaModal.currentTab == 'detalhes'}">Detalhes
                    </div>
                    <div class="content-tab trans" ng-click="TarefaModal.currentTab = 'local'"
                         ng-if="TarefaModal.tarefa.location"
                         ng-class="{'content-tab-selected': TarefaModal.currentTab == 'local'}">Local
                    </div>
                </div>
                <div class="modal-body-content" ng-if="TarefaModal.currentTab == 'editar'">
                    <div class="new-form">
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.title" class="new-form-input" required>
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.title}">Título</label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <selectize class="new-form-input-selectize" config="TarefaModal.usuariosConfig"
                                               options="TarefaModal.usuarios"
                                               ng-model="TarefaModal.tarefaEdit.responsible"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.responsible != false}">Responsáve<span
                                            ng-if="TarefaModal.tarefaEdit.responsible.length == 1">l</span><span
                                            ng-if="TarefaModal.tarefaEdit.responsible.length != 1">is</span><span
                                            ng-if="TarefaModal.tarefaEdit.responsible == false"
                                            class="new-form-input-required"> *</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <selectize class="new-form-input-selectize" config="TarefaModal.processosConfig"
                                               options="TarefaModal.processos" ng-change="TarefaModal.refreshProcesso()"
                                               ng-model="TarefaModal.tarefaEdit.process"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.process != false}">Processo</label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-2"
                                     ng-class="{'new-form-input-holder-inactive':!TarefaModal.incidentes.length}">
                                    <selectize class="new-form-input-selectize"
                                               config="TarefaModal.incidentsConfig"
                                               options="TarefaModal.incidentes"
                                               ng-model="TarefaModal.tarefaEdit.incident"
                                               ng-change="TarefaModal.tarefaEdit.appeal = false"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.incident != false}">Incidente</label>
                                </div>
                                <div class="new-form-input-holder new-form-input-holder-2"
                                     ng-class="{'new-form-input-holder-inactive':!TarefaModal.recursos.length}">
                                    <selectize class="new-form-input-selectize"
                                               config="TarefaModal.appealsConfig"
                                               options="TarefaModal.recursos"
                                               ng-model="TarefaModal.tarefaEdit.appeal"
                                               ng-change="TarefaModal.tarefaEdit.incident = false"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.appeal != false}">Recurso</label>
                                </div>
                            </div>
                        </div>
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-3">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.start" class="new-form-input" data-autoclose="1" bs-datepicker>
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.start}">Data de Início</label>
                                </div>
                                <div class="new-form-input-holder new-form-input-holder-1">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.start" class="new-form-input" data-time-format="shortTime" bs-timepicker>
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.start}">Hora<span ng-if="TarefaModal.tarefaEdit.start"> de Início</span></label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-3">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.finish"
                                           class="new-form-input" data-autoclose="1" bs-datepicker>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.finish}">Data
                                        de Término</label>
                                </div>
                                <div class="new-form-input-holder new-form-input-holder-1">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.finish"
                                           class="new-form-input" data-time-format="shortTime" bs-timepicker>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.finish}">Hora<span
                                            ng-if="TarefaModal.tarefaEdit.finish"> de Término</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-2">
                                    <selectize class="new-form-input-selectize"
                                               config='{valueField:"valor",labelField:"label",highlight:false,searchField:["label"],maxItems:1}'
                                               options='[{valor:"LOW", label:"Baixa"},{valor:"NORMAL", label:"Normal"},{valor:"HIGH", label:"Alta"}]'
                                               ng-model="TarefaModal.tarefaEdit.priority"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.priority != false}">Prioridade</label>
                                </div>
                                <div class="new-form-input-holder new-form-input-holder-2">
                                    <selectize class="new-form-input-selectize"
                                               config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}'
                                               options='[{valor:"Prazo"},{valor:"Audiência"},{valor:"Compromisso"}]'
                                               ng-model="TarefaModal.tarefaEdit.type"></selectize>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.type != false}">Tipo
                                        de Tarefa</label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <input type="text" ng-model="TarefaModal.tarefaEdit.location" class="new-form-input">
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.location}">Local</label>
                                </div>
                            </div>
                        </div>
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <div medium-editor data-placeholder=" " ng-model="TarefaModal.tarefaEdit.description"
                                         class="new-form-input"></div>
                                    <label class="new-form-input-label"
                                           ng-class="{'new-form-input-label-floating':TarefaModal.tarefaEdit.description}">Descrição</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content" ng-if="TarefaModal.tarefa && TarefaModal.currentTab == 'detalhes'">
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Responsáve<span
                                    ng-if="TarefaModal.tarefa.responsible.length == 1">l</span><span
                                    ng-if="TarefaModal.tarefa.responsible.length > 1">is</span></span>
                            <span class="details-info-value details-info-value-atividades">
                        <span ng-repeat="usuario in TarefaModal.tarefa.responsible">
                            <a>{{usuario.name}}</a><span
                                ng-if="TarefaModal.tarefa.responsible.length > 1 && !$last">, </span>
                        </span>
                    </span>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Processo</span>
                            <span class="details-info-value details-info-value-atividades">
                            <a ui-sref="app.processos.details({id: TarefaModal.tarefa.process.id})">{{TarefaModal.tarefa.process.title}}</a>
                    </span>
                        </div>
                        <div class="details-info-holder clearfix" ng-if="TarefaModal.tarefa.incident">
                            <span class="details-info-label details-info-label-atividades"
                                  ng-class="{'details-info-label-active': TarefaModal.tarefa.incident}">Incidente</span>
                            <span class="details-info-value details-info-value-atividades">
                        <a ui-sref="app.processos.details({id: TarefaModal.tarefa.process.id})">{{TarefaModal.tarefa.incident.incident_type}}</a>
                    </span>
                        </div>
                        <div class="details-info-holder clearfix" ng-if="TarefaModal.tarefa.appeal">
                            <span class="details-info-label details-info-label-atividades"
                                  ng-class="{'details-info-label-active': TarefaModal.tarefa.appeal}">Recurso</span>
                            <span class="details-info-value details-info-value-atividades">
                        <a ui-sref="app.processos.details({id: TarefaModal.tarefa.process.id})">{{TarefaModal.tarefa.appeal.appeal_type}}</a>
                    </span>
                        </div>
                        <div class="details-info-holder clearfix" ng-if="TarefaModal.tarefa.type">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Tipo</span>
                            <span class="details-info-value details-info-value-atividades">{{TarefaModal.tarefa.type}}</span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Início</span>
                            <span class="details-info-value details-info-value-atividades">
                        {{TarefaModal.tarefa.start | data}} <b>({{TarefaModal.tarefa.start | tempoAtras}})</b>
                    </span>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Término</span>
                            <span class="details-info-value details-info-value-atividades">
                        {{TarefaModal.tarefa.finish | data}}
                    </span>
                        </div>
                    </div>
                    <div class="details-group clearfix" ng-if="TarefaModal.tarefa.description">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Descrição</span>
                            <span class="details-info-value details-info-value-atividades"
                                  ng-bind-html="TarefaModal.tarefa.description"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content" ng-show="TarefaModal.currentTab == 'local'" ng-if="TarefaModal.tarefa.location">
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-active details-info-label-atividades">Local</span>
                            <span class="details-info-value details-info-value-atividades">{{TarefaModal.tarefa.location}}</span>
                        </div>
                    </div>
                    <iframe height="322" frameborder="0" style="border:0;width:100%;margin:0 0 -5px 0;"
                            ng-src="{{TarefaModal.embedMap(TarefaModal.tarefa.location) | urlConfiavel}}"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer modal-footer-atividades" ng-if="TarefaModal.currentTab == 'editar'">
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="TarefaModal.currentTab = 'detalhes'">
                    Cancelar
                </div>
            </div>
            <div class="modal-footer modal-footer-atividades" ng-if="TarefaModal.currentTab != 'editar'">
                <div class="botao botao-left botao-editar" ng-click="TarefaModal.prepareEdit()">Editar</div>
                <div class="botao botao-right botao-salvar" ng-if="TarefaModal.tarefa && TarefaModal.tarefa.pending"
                     ng-click="TarefaModal.changeStatus(false)">Concluir tarefa
                </div>
                <div class="botao botao-right botao-excluir"
                     data-trigger="click" data-placement="auto"
                     data-template-url="./templates/popover/atividades-excluir-tarefa.html" data-auto-close="1"
                     bs-popover>Excluir
                </div>
                <div class="botao botao-right botao-editar"
                     ng-if="!TarefaModal.tarefa.pending"
                     ng-click="TarefaModal.changeStatus(true)">Marcar como pendente
                </div>
            </div>
        </form>
    </div>
</div>
