<div class="modal modal-pessoas" tabindex="-1">
    <div class="modal-dialog modal-dialog-pessoas">
        <form ng-submit="criarAdvogado()" class="modal-content modal-content-pessoas">
            <div class="modal-header modal-header-pessoas">
                <div class="modal-header-title" ng-if="!atividades.tarefa.assunto">Adicionar advogado</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-pessoas trans clearfix" elysium-scrollbar>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <input type="text" ng-model="novaPessoaModal.nome" class="new-form-input" required>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.nome}">Nome</label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-2">
                            <input type="text" ng-model="novaPessoaModal.numero_da_oab" class="new-form-input">
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.numero_da_oab}">Inscrição na OAB</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-2">
                            <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoaModal.email" class="new-form-input">
                            <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoaModal.email}">Email</label>
                        </div>
                    </div>
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-2">
                            <input type="text" ng-model="novaPessoaModal.telefone" class="new-form-input" ui-br-phone-number>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.telefone}">Telefone</label>
                        </div>
                        <div class="new-form-input-holder new-form-input-holder-2">
                            <input type="text" ng-model="novaPessoaModal.nome_do_escritorio" class="new-form-input">
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.nome_do_escritorio}">Escritório</label>
                        </div>
                    </div>
                </div>
                <div class="new-form-input-group clearfix">
                    <div class="new-form-input-row">
                        <div class="new-form-input-holder new-form-input-holder-4">
                            <div medium-editor data-placeholder=" " ng-model="novaPessoaModal.comentarios" class="new-form-input"></div>
                            <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.comentarios}">Comentários</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-pessoas" ng-if="atividades.tarefaAba != 'editar'">
                <input type="submit" value="Criar e inserir" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="$hide()">Cancelar</div>
            </div>
        </form>
    </div>
</div>
