<div class="modal modal-pessoas" tabindex="-1">
    <div class="modal-dialog modal-dialog-pessoas">
        <form ng-submit="criarCliente()" class="modal-content modal-content-pessoas">
            <div class="modal-header modal-header-pessoas">
                <div class="modal-header-title" ng-if="!atividades.tarefa.assunto">Adicionar cliente</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-pessoas trans clearfix" elysium-scrollbar>
                <div class="new-form">
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="novaPessoaModal.nome" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.nome}">Nome</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="email" ng-model-options="{updateOn:'blur'}" ng-model="novaPessoaModal.email" class="new-form-input">
                                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoaModal.email}">Email</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="novaPessoaModal.cpfcnpj" class="new-form-input" ui-br-cpfcnpj-mask>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.cpfcnpj}">CPF/CNPJ</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="novaPessoaModal.telefone" class="new-form-input" ui-br-phone-number>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.telefone}">Telefone</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="novaPessoaModal.site" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.site}">Site</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-3">
                                <input type="text" ng-model="novaPessoaModal.rua" class="new-form-input">
                                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoaModal.rua}">Rua</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-1">
                                <input type="text" ng-model="novaPessoaModal.numero" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.numero}">Número</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-3">
                                <input type="text" ng-model="novaPessoaModal.complemento" class="new-form-input">
                                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoaModal.complemento}">Complemento</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-1">
                                <input type="text" ng-model="novaPessoaModal.cep" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.cep}">CEP</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="novaPessoaModal.bairro" class="new-form-input">
                                <label class="new-form-input-label"ng-class="{'new-form-input-label-floating':novaPessoaModal.bairro}">Bairro</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="novaPessoaModal.cidade" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.cidade}">Cidade</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='novaPessoaModal.estadosConfig' options='novaPessoaModal.estados' ng-model="novaPessoaModal.estado"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.estado}">Estado</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='novaPessoaModal.paisesConfig' options='novaPessoaModal.paises' ng-model="novaPessoaModal.pais"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.pais}">País</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <div medium-editor data-placeholder=" " ng-model="novaPessoaModal.comentarios" class="new-form-input"></div>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':novaPessoaModal.comentarios}">Comentários</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-pessoas" ng-if="atividades.tarefaAba != 'editar'">
                <input type="submit" value="Criar e inserir" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="$hide()">Cancelar</div>
            </div>
        </form>
    </div>
</div>
