<div class="modal modal-processos" tabindex="-1">
    <div class="modal-dialog modal-dialog-processos">
        <form ng-submit="adicionarRecurso()" class="modal-content modal-content-processos">
            <div class="modal-header modal-header-processos">
                <div class="modal-header-title">Adicionar recurso</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-pessoas trans clearfix" elysium-scrollbar>
                <div class="new-form">
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="detalhes.recurso.titulo" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.titulo}">Título</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <selectize class="new-form-input-selectize" config='detalhes.usuariosConfig' options='detalhes.usuarios' ng-model="detalhes.recurso.responsaveis"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.responsaveis != false}">Responsáve<span ng-if="detalhes.recurso.responsaveis.length == 1">l</span><span ng-if="detalhes.recurso.responsaveis.length != 1">is</span><span ng-if="detalhes.recurso.responsaveis == false" class="new-form-input-required"> *</span></label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recurso.numero_do_processo" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.numero_do_processo}">Número do Processo</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Eletrônico",value:true},{label:"Físico",value:false}]' ng-model="detalhes.recurso.processo_eletronico"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.processo_eletronico}">Tipo de Processo<span ng-if="detalhes.recurso.processo_eletronico == null" class="new-form-input-required"> *</span></label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" class="new-form-input" ng-model="detalhes.recurso.tipo_de_acao">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.tipo_de_acao}">Tipo de Recurso</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='detalhes.clientesConfig' options='detalhes.clientes' ng-model="detalhes.recurso.clientes"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.clientes != false}">Cliente<span ng-if="detalhes.recurso.cliente.clientes != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-cliente.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar cliente" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="detalhes.recurso.posicao_do_cliente"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.posicao_do_cliente}">Posição</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='detalhes.adversosConfig' options='detalhes.adversos' ng-model="detalhes.recurso.adversos"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.adversos != false}">Adverso<span ng-if="detalhes.recurso.adversos.length != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-adverso.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar adverso" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="detalhes.recurso.posicao_do_adverso"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.posicao_do_adverso}">Posição</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <selectize class="new-form-input-selectize" config='detalhes.advogadosConfig' options='detalhes.advogados' ng-model="detalhes.recurso.advogado_do_adverso"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.advogado_do_adverso != false}">Advogado<span ng-if="detalhes.recurso.advogado_do_adverso.length != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-advogado.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar advogado" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recurso.data_de_distribuicao" class="new-form-input" data-autoclose="1" bs-datepicker>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.data_de_distribuicao}">Data de Distribuição</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recurso.data_de_citacao" class="new-form-input" data-autoclose="1" bs-datepicker>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.data_de_citacao}">Data de Notificação</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="detalhes.recurso.orgao_judicial" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recurso.orgao_judicial}">Órgão Judicial</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <div medium-editor data-placeholder=" " ng-model="detalhes.recurso.observacoes" class="new-form-input"></div>
                                <label class="new-form-input-label">Observações</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-processos">
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="$hide()">Cancelar</div>
            </div>
        </form>
    </div>
</div>
