<div class="modal modal-processos" tabindex="-1">
  <div class="modal-dialog modal-dialog-processos">
    <form ng-submit="editarRecurso()" class="modal-content modal-content-processos">
        <div class="modal-header modal-header-processos">
            <div class="modal-header-title"><span ng-if="detalhes.recursoTab == 'editar'">Editando: </span>{{detalhes.recursoCarregado.titulo}}</div>
            <div class="modal-header-close" ng-click="$hide()"></div>
        </div>
        <div class="modal-body modal-body-processos trans clearfix">
            <div class="modal-body-content" ng-if="detalhes.recursoTab == 'editar'">
                <div class="new-form">
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="detalhes.recursoEditando.titulo" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.titulo}">Título</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <selectize class="new-form-input-selectize" config='detalhes.usuariosConfig' options='detalhes.usuarios' ng-model="detalhes.recursoEditando.responsaveis"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.responsaveis != false}">Responsáve<span ng-if="detalhes.recursoEditando.responsaveis.length == 1">l</span><span ng-if="detalhes.recursoEditando.responsaveis.length != 1">is</span><span ng-if="detalhes.recursoEditando.responsaveis == false" class="new-form-input-required"> *</span></label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recursoEditando.numero_do_processo" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.numero_do_processo}">Número do Processo</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"value",labelField:"label",highlight:false,searchField:["valor"],maxItems:1}' options='[{label:"Eletrônico",value:true},{label:"Físico",value:false}]' ng-model="detalhes.recursoEditando.processo_eletronico"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.processo_eletronico}">Tipo de Processo<span ng-if="detalhes.recursoEditando.processo_eletronico == null" class="new-form-input-required"> *</span></label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" class="new-form-input" ng-model="detalhes.recursoEditando.tipo_de_acao">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.tipo_de_acao}">Tipo de Recurso</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='detalhes.clientesConfig' options='detalhes.clientes' ng-model="detalhes.recursoEditando.clientes"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.clientes != false}">Cliente<span ng-if="detalhes.recursoEditando.cliente.clientes != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-cliente.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar cliente" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="detalhes.recursoEditando.posicao_do_cliente"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.posicao_do_cliente}">Posição</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='detalhes.adversosConfig' options='detalhes.adversos' ng-model="detalhes.recursoEditando.adversos"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.adversos != false}">Adverso<span ng-if="detalhes.recursoEditando.adversos.length != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-adverso.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar adverso" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <selectize class="new-form-input-selectize" config='{valueField:"valor",labelField:"valor",highlight:false,searchField:["valor"],maxItems:1}' options='[{valor:"Autor"},{valor:"Réu"},{valor:"Reclamante"},{valor:"Reclamado"},{valor:"Requerente"},{valor:"Terceiro"}]' ng-model="detalhes.recursoEditando.posicao_do_adverso"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.posicao_do_adverso}">Posição</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <selectize class="new-form-input-selectize" config='detalhes.advogadosConfig' options='detalhes.advogados' ng-model="detalhes.recursoEditando.advogados_do_adverso"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.advogado_do_adverso != false}">Advogado<span ng-if="detalhes.recursoEditando.advogado_do_adverso.length != 1">s</span></label>
                                <div class="new-form-input-add" data-template-url="templates/modal/pessoas-adicionar-advogado.html" data-controller="NovaPessoaModalCtrl" data-controller-as="novaPessoaModal" bs-modal="modal" data-backdrop="false">
                                    <span class="new-form-input-add-icon" data-trigger="hover" data-title="Adicionar advogado" data-placement="auto" data-container="body" bs-tooltip>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recursoEditando.data_de_distribuicao" class="new-form-input" data-autoclose="1" bs-datepicker>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.data_de_distribuicao}">Data de Distribuição</label>
                            </div>
                            <div class="new-form-input-holder new-form-input-holder-2">
                                <input type="text" ng-model="detalhes.recursoEditando.data_de_citacao" class="new-form-input" data-autoclose="1" bs-datepicker>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.data_de_citacao}">Data de Notificação</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="detalhes.recursoEditando.orgao_judicial" class="new-form-input">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.recursoEditando.orgao_judicial}">Órgão Judicial</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <div medium-editor data-placeholder=" " ng-model="detalhes.recursoEditando.observacoes" class="new-form-input"></div>
                                <label class="new-form-input-label">Observações</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body-content" ng-if="detalhes.recursoTab == 'detalhes'">
                <div class="details-body">
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.tipo_de_acao}">Tipo de Recurso</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.tipo_de_acao}}</span>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.numero_do_processo}">Número</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.numero_do_processo}}</span>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.dados}">Tipo do Processo</span>
                            <span class="details-info-value details-info-value-processos">
                                <span ng-if="detalhes.recursoCarregado.processo_eletronico">Eletrônico</span>
                                <span ng-if="detalhes.dados && !detalhes.recursoCarregado.processo_eletronico">Físico</span>
                            </span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.clientes.length}">Cliente<span ng-if="detalhes.recursoCarregado.clientes.length > 1">s</span></span>
                            <div class="details-info-value details-info-value-processos">
                                <span ng-repeat="cliente in detalhes.recursoCarregado.clientes">
                                    <a ui-sref="app.pessoas.detalhes({id: cliente.id, subtipo: 'cliente'})">{{cliente.nome}}</a><span ng-if="detalhes.recursoCarregado.clientes.length > 1 && !$last">, </span>
                                </span>
                            </div>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.posicao_do_cliente}">Posição</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.posicao_do_cliente}}</span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.adversos.length}">Adverso<span ng-if="detalhes.recursoCarregado.adversos.length > 1">s</span></span>
                            <div class="details-info-value details-info-value-processos">
                                <span ng-repeat="adverso in detalhes.recursoCarregado.adversos">
                                    <a ui-sref="app.pessoas.detalhes({id: adverso.id, subtipo: 'adverso'})">{{adverso.nome}}</a><span ng-if="detalhes.recursoCarregado.adversos.length > 1 && !$last">, </span>
                                </span>
                            </div>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.advogados_do_adverso.length}">Advogado<span ng-if="detalhes.recursoCarregado.advogados_do_adverso.length > 1">s</span></span>
                            <div class="details-info-value details-info-value-processos">
                                <span ng-repeat="advogado in detalhes.recursoCarregado.advogados_do_adverso">
                                    <a ui-sref="app.pessoas.detalhes({id: advogado.id, subtipo: 'advogado_adverso'})">{{advogado.nome}}</a><span ng-if="detalhes.recursoCarregado.advogados_do_adverso.length > 1 && !$last">, </span>
                                </span>
                            </div>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.posicao_do_adverso}">Posição</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.posicao_do_adverso}}</span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.data_de_distribuicao}">Data de Distribuição</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.data_de_distribuicao | date:"d' de 'LLLL' de 'yyyy"}}</span>
                        </div>
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.data_de_citacao}">Data de Citação</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.data_de_citacao | date:"d' de 'LLLL' de 'yyyy"}}</span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.orgao_judicial}">Órgão</span>
                            <span class="details-info-value details-info-value-processos">{{detalhes.recursoCarregado.orgao_judicial}}</span>
                        </div>
                    </div>
                    <div class="details-group clearfix">
                        <div class="details-info-holder clearfix">
                            <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.recursoCarregado.observacoes}">Observações</span>
                            <span class="details-info-value details-info-value-processos" ng-bind-html="detalhes.recursoCarregado.observacoes"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-processos" ng-if="detalhes.recursoTab == 'editar'">
            <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
            <div class="new-form-salvar-botao botao botao-cancelar" ng-click="detalhes.recursoTab = 'detalhes'">Cancelar</div>
        </div>
        <div class="modal-footer modal-footer-processos" ng-if="detalhes.recursoTab != 'editar'">
            <div class="botao botao-left botao-editar" ng-click="prepararEdicaoRecurso()">Editar</div>
            <div class="botao botao-right botao-excluir" data-trigger="click" data-placement="auto" data-template-url="./templates/popover/processos-excluir-recurso.html" data-container=".modal" data-auto-close="1" bs-popover>Excluir</div>
        </div>
    </form>
  </div>
</div>
