<div class="modal modal-processos" tabindex="-1">
    <div class="modal-dialog modal-dialog-processos">
        <form ng-submit="adicionarIncidente()" class="modal-content modal-content-processos">
            <div class="modal-header modal-header-processos">
                <div class="modal-header-title">Adicionar incidente</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-pessoas trans clearfix" elysium-scrollbar>
                <div class="new-form">
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" ng-model="detalhes.incidente.titulo" class="new-form-input" required>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidente.titulo}">Título</label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <selectize class="new-form-input-selectize" config='detalhes.usuariosConfig' options='detalhes.usuarios' ng-model="detalhes.incidente.responsaveis"></selectize>
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidente.responsaveis != false}">Responsáve<span ng-if="detalhes.incidente.responsaveis.length == 1">l</span><span ng-if="detalhes.incidente.responsaveis.length != 1">is</span><span ng-if="detalhes.incidente.responsaveis == false" class="new-form-input-required"> *</span></label>
                            </div>
                        </div>
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <input type="text" class="new-form-input" ng-model="detalhes.incidente.tipo_de_acao">
                                <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidente.tipo_de_acao}">Tipo de Incidente</label>
                            </div>
                        </div>
                    </div>
                    <div class="new-form-input-group clearfix">
                        <div class="new-form-input-row">
                            <div class="new-form-input-holder new-form-input-holder-4">
                                <div medium-editor data-placeholder=" " ng-model="detalhes.incidente.observacoes" class="new-form-input"></div>
                                <label class="new-form-input-label">Observações</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-processos">
                <input type="submit" value="Criar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="$hide()">Cancelar</div>
            </div>
        </form>
    </div>
</div>
