<div class="modal modal-processos" tabindex="-1">
    <div class="modal-dialog modal-dialog-processos">
        <form ng-submit="editarIncidente()" class="modal-content modal-content-processos">
            <div class="modal-header modal-header-processos">
                <div class="modal-header-title"><span ng-if="detalhes.incidenteTab == 'editar'">Editando: </span>{{detalhes.incidenteCarregado.titulo}}</div>
                <div class="modal-header-close" ng-click="$hide()"></div>
            </div>
            <div class="modal-body modal-body-processos trans clearfix">
                <div class="modal-body-content" ng-if="detalhes.incidenteTab == 'editar'">
                    <div class="new-form">
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <input type="text" ng-model="detalhes.incidenteEditando.titulo" class="new-form-input" required>
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidenteEditando.titulo}">Título</label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <selectize class="new-form-input-selectize" config='detalhes.usuariosConfig' options='detalhes.usuarios' ng-model="detalhes.incidenteEditando.responsaveis"></selectize>
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidenteEditando.responsaveis != false}">Responsáve<span ng-if="detalhes.incidenteEditando.responsaveis.length == 1">l</span><span ng-if="detalhes.incidenteEditando.responsaveis.length != 1">is</span><span ng-if="detalhes.incidenteEditando.responsaveis == false" class="new-form-input-required"> *</span></label>
                                </div>
                            </div>
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <input type="text" class="new-form-input" ng-model="detalhes.incidenteEditando.tipo_de_acao">
                                    <label class="new-form-input-label" ng-class="{'new-form-input-label-floating':detalhes.incidenteEditando.tipo_de_acao}">Tipo de Incidente</label>
                                </div>
                            </div>
                        </div>
                        <div class="new-form-input-group clearfix">
                            <div class="new-form-input-row">
                                <div class="new-form-input-holder new-form-input-holder-4">
                                    <div medium-editor data-placeholder=" " ng-model="detalhes.incidenteEditando.observacoes" class="new-form-input"></div>
                                    <label class="new-form-input-label">Observações</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body-content" ng-if="detalhes.incidenteTab == 'detalhes'">
                    <div class="details-body">
                        <div class="details-group clearfix">
                            <div class="details-info-holder clearfix">
                                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.incidenteCarregado.responsaveis.length}">Responsáve<span ng-if="detalhes.incidenteCarregado.responsaveis.length == 1">l</span><span ng-if="detalhes.incidenteCarregado.responsaveis.length > 1">is</span></span>
                                <span class="details-info-value details-info-value-processos">{{detalhes.incidenteCarregado.responsaveis}}</span>
                            </div>
                            <div class="details-info-holder clearfix">
                                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.incidenteCarregado.tipo_de_acao}">Tipo do Incidente</span>
                                <span class="details-info-value details-info-value-processos">{{detalhes.incidenteCarregado.tipo_de_acao}}</span>
                            </div>
                        </div>
                        <div class="details-group clearfix">
                            <div class="details-info-holder clearfix">
                                <span class="details-info-label details-info-label-processos" ng-class="{'details-info-label-active': detalhes.incidenteCarregado.observacoes}">Observações</span>
                                <span class="details-info-value details-info-value-processos" ng-bind-html="detalhes.incidenteCarregado.observacoes"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-processos" ng-if="detalhes.incidenteTab == 'editar'">
                <input type="submit" value="Salvar" class="new-form-salvar-botao botao botao-salvar">
                <div class="new-form-salvar-botao botao botao-cancelar" ng-click="detalhes.incidenteTab = 'detalhes'">Cancelar</div>
            </div>
            <div class="modal-footer modal-footer-processos" ng-if="detalhes.incidenteTab != 'editar'">
                <div class="botao botao-left botao-editar" ng-click="prepararEdicaoIncidente()">Editar</div>
                <div class="botao botao-right botao-excluir" data-trigger="click" data-placement="auto" data-template-url="./templates/popover/processos-excluir-incidente.html" data-container=".modal" data-auto-close="1" bs-popover>Excluir</div>
            </div>
        </form>
    </div>
</div>
