<div class="el-content">
    <div class="el-content-processo-header">
        <div class="el-processo-info">
            <div class="el-processo-info-header">
                <div class="el-person-info-header-icon el-animated" ng-class="{'adverse': AdverseDetails.data.adverse.id}"></div>
            </div>
            <div class="el-processo-info-body">
                <div class="el-processo-info-body-title el-animated" ng-class="{'loading': !AdverseDetails.data.adverse.id, 'name-only': AdverseDetails.data.adverse.id && !AdverseDetails.data.adverse.email}" ng-bind="AdverseDetails.data.adverse.name || 'Carregando adverso...'"></div>
                <div class="el-processo-info-body-responsaveis el-animated" ng-class="{'loading': !AdverseDetails.data.adverse.id}" ng-bind="AdverseDetails.data.adverse.email"></div>
            </div>
            <div class="el-processo-info-actions">
                <div class="el-processo-info-action delete" ng-click="AdverseDetails.openDeleteModal()" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action edit" ui-sref="app.person.update({id: AdverseDetails.data.adverse.id, type: 'adverse'})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
    <div class="el-content-processo-body">
        <div class="el-processo-data-holder" ng-class="{'loading': !AdverseDetails.data.adverse.id}">
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon adverso"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.cpf}">CPF/CNPJ</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.cpf}">{{AdverseDetails.data.adverse.cpf | brCpf}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.telephone}">Telefone</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.telephone}">{{AdverseDetails.data.adverse.telephone | brPhoneNumber}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.site}">Site</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.site}">{{AdverseDetails.data.adverse.site}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon location"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.street}">Rua</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.street}">{{AdverseDetails.data.adverse.street}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.number}">Número</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.number}">{{AdverseDetails.data.adverse.number}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.complement}">Complemento</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.complement}">{{AdverseDetails.data.adverse.complement}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.cep}">CEP</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.cep}">{{AdverseDetails.data.adverse.cep | brCep}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.neighbourhood}">Bairro</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.neighbourhood}">{{AdverseDetails.data.adverse.neighbourhood}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.city}">Cidade</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.city}">{{AdverseDetails.data.adverse.city}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.state}">Estado</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.state}">{{AdverseDetails.data.adverse.state}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.country}">País</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.country}">{{AdverseDetails.data.adverse.country}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon observations"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseDetails.data.adverse.comments}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseDetails.data.adverse.comments}" ng-bind-html="::AdverseDetails.data.adverse.comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
