<div class="el-content">
    <div class="el-content-processo-header">
        <div class="el-processo-info">
            <div class="el-processo-info-header">
                <div class="el-person-info-header-icon el-animated" ng-class="{'adverse-lawyer': AdverseLawyerDetails.data.adverse_lawyer.id}"></div>
            </div>
            <div class="el-processo-info-body">
                <div class="el-processo-info-body-title el-animated" ng-class="{'loading': !AdverseLawyerDetails.data.adverse_lawyer.id, 'name-only': AdverseLawyerDetails.data.adverse_lawyer.id && !AdverseLawyerDetails.data.adverse_lawyer.email}" ng-bind="AdverseLawyerDetails.data.adverse_lawyer.name || 'Carregando adv. adverso...'"></div>
                <div class="el-processo-info-body-responsaveis el-animated" ng-class="{'loading': !AdverseLawyerDetails.data.adverse_lawyer.id}" ng-bind="AdverseLawyerDetails.data.adverse_lawyer.email"></div>
            </div>
            <div class="el-processo-info-actions">
                <div class="el-processo-info-action delete" ng-click="AdverseLawyerDetails.openDeleteModal()" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action edit" ui-sref="app.person.update({id: AdverseLawyerDetails.data.adverse_lawyer.id, type: 'adverse_lawyer'})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
    <div class="el-content-processo-body">
        <div class="el-processo-data-holder" ng-class="{'loading': !AdverseLawyerDetails.data.adverse_lawyer.id}">
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon adverso"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.telephone}">Telefone</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.telephone}">{{AdverseLawyerDetails.data.adverse_lawyer.telephone | brPhoneNumber}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.oab}">Inscrição na OAB</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.oab}">{{AdverseLawyerDetails.data.adverse_lawyer.oab}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.office_name}">Escritório</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.office_name}">{{AdverseLawyerDetails.data.adverse_lawyer.office_name}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon observations"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.comments}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': AdverseLawyerDetails.data.adverse_lawyer.comments}" ng-bind-html="::AdverseLawyerDetails.data.adverse_lawyer.comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
