<div class="el-content">
    <div class="el-content-processo-header">
        <div class="el-processo-info">
            <div class="el-processo-info-header">
                <div class="el-person-info-header-icon el-animated" ng-class="{'client': ClientDetails.data.client.id}"></div>
            </div>
            <div class="el-processo-info-body">
                <div class="el-processo-info-body-title el-animated" ng-class="{'loading': !ClientDetails.data.client.id, 'name-only': ClientDetails.data.client.id && !ClientDetails.data.client.email}" ng-bind="ClientDetails.data.client.name || 'Carregando cliente...'"></div>
                <div class="el-processo-info-body-responsaveis el-animated" ng-class="{'loading': !ClientDetails.data.client.id}" ng-bind="ClientDetails.data.client.email"></div>
            </div>
            <div class="el-processo-info-actions">
                <div class="el-processo-info-action delete" ng-click="ClientDetails.openDeleteModal()" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action edit" ui-sref="app.person.update({id: ClientDetails.data.client.id, type: 'client'})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
    <div class="el-content-processo-body">
        <div class="el-processo-data-holder" ng-class="{'loading': !ClientDetails.data.client.id}">
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon cliente"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.cpf}">CPF/CNPJ</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.cpf}">{{ClientDetails.data.client.cpf | brCpf}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.telephone}">Telefone</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.telephone}">{{ClientDetails.data.client.telephone | brPhoneNumber}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.site}">Site</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.site}">{{ClientDetails.data.client.site}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon location"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.street}">Rua</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.street}">{{ClientDetails.data.client.street}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.number}">Número</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.number}">{{ClientDetails.data.client.number}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.complement}">Complemento</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.complement}">{{ClientDetails.data.client.complement}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.cep}">CEP</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.cep}">{{ClientDetails.data.client.cep | brCep}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.neighbourhood}">Bairro</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.neighbourhood}">{{ClientDetails.data.client.neighbourhood}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.city}">Cidade</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.city}">{{ClientDetails.data.client.city}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.state}">Estado</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.state}">{{ClientDetails.data.client.state}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.country}">País</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.country}">{{ClientDetails.data.client.country}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon observations"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': ClientDetails.data.client.comments}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': ClientDetails.data.client.comments}" ng-bind-html="::ClientDetails.data.client.comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
