<div class="el-content">
    <div class="el-content-processo-header">
        <div class="el-processo-info">
            <div class="el-processo-info-header">
                <div class="el-person-info-header-icon el-animated" ng-class="{'correspondent': CorrespondentDetails.data.correspondent.id}"></div>
            </div>
            <div class="el-processo-info-body">
                <div class="el-processo-info-body-title el-animated" ng-class="{'loading': !CorrespondentDetails.data.correspondent.id, 'name-only': CorrespondentDetails.data.correspondent.id && !CorrespondentDetails.data.correspondent.email}" ng-bind="CorrespondentDetails.data.correspondent.name || 'Carregando correspondente...'"></div>
                <div class="el-processo-info-body-responsaveis el-animated" ng-class="{'loading': !CorrespondentDetails.data.correspondent.id}" ng-bind="CorrespondentDetails.data.correspondent.email"></div>
            </div>
            <div class="el-processo-info-actions">
                <div class="el-processo-info-action delete" ng-click="CorrespondentDetails.openDeleteModal()" data-trigger="hover" data-title="Excluir" data-placement="top" bs-tooltip></div>
                <div class="el-processo-info-action edit" ui-sref="app.person.update({id: CorrespondentDetails.data.correspondent.id, type: 'correspondent'})" data-trigger="hover" data-title="Editar" data-placement="top" bs-tooltip></div>
            </div>
        </div>
    </div>
    <div class="el-content-processo-body">
        <div class="el-processo-data-holder" ng-class="{'loading': !CorrespondentDetails.data.correspondent.id}">
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon cliente"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.telephone}">Telefone</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.telephone}">{{CorrespondentDetails.data.correspondent.telephone | brPhoneNumber}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.site}">Site</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.site}">{{CorrespondentDetails.data.correspondent.site}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon misc"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.role}">Cargo</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.role}">{{CorrespondentDetails.data.correspondent.role}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.cnpj}">CNPJ</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.cnpj}">{{CorrespondentDetails.data.correspondent.cnpj | brCnpj}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.fantasy_name}">Nome Fantasia</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.fantasy_name}">{{CorrespondentDetails.data.correspondent.fantasy_name}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon location"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.street}">Rua</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.street}">{{CorrespondentDetails.data.correspondent.street}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.number}">Número</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.number}">{{CorrespondentDetails.data.correspondent.number}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.complement}">Complemento</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.complement}">{{CorrespondentDetails.data.correspondent.complement}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.cep}">CEP</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.cep}">{{CorrespondentDetails.data.correspondent.cep | brCep}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-66">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.neighbourhood}">Bairro</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.neighbourhood}">{{CorrespondentDetails.data.correspondent.neighbourhood}}</div>
                    </div>
                    <div class="el-process-data el-process-data-33">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.city}">Cidade</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.city}">{{CorrespondentDetails.data.correspondent.city}}</div>
                    </div>
                </div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.state}">Estado</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.state}">{{CorrespondentDetails.data.correspondent.state}}</div>
                    </div>
                    <div class="el-process-data el-process-data-50">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.country}">País</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.country}">{{CorrespondentDetails.data.correspondent.country}}</div>
                    </div>
                </div>
            </div>
            <div class="el-processo-data-section el-animated-long">
                <div class="el-processo-data-section-icon observations"></div>
                <div class="el-process-data-group clearfix">
                    <div class="el-process-data el-process-data-100">
                        <div class="el-process-data-title el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.comments}">Observações</div>
                        <div class="el-process-data-content el-animated" ng-class="{'active': CorrespondentDetails.data.correspondent.comments}" ng-bind-html="::CorrespondentDetails.data.correspondent.comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
