<div class="el-content">
    <form class="el-form" name="CreateClientForm" ng-submit="CreatePerson.createClient()" ng-if="!CreatePerson.data.personType || CreatePerson.data.personType == 'client'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'client': CreateClientForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !CreatePerson.data.client.email, 'el-processo-info-body-title-none': !CreatePerson.data.client.name}" ng-bind="CreatePerson.data.client.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreatePerson.data.client.email}" ng-bind="CreatePerson.data.client.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Criar cliente" ng-class="{'form-invalid': !CreateClientForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon cliente"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="CreatePerson.data.client.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="CreatePerson.data.client.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cpf" ng-model="CreatePerson.data.client.cpf" ui-br-cpfcnpj-mask>
                    <label class="el-form-label el-animated">CPF/CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="CreatePerson.data.client.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="CreatePerson.data.client.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="CreatePerson.data.client.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="CreatePerson.data.client.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="CreatePerson.data.client.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="CreatePerson.data.client.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="CreatePerson.data.client.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="CreatePerson.data.client.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.client.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in CreatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.client.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in CreatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': CreatePerson.data.client.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="CreatePerson.data.client.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="CreateAdverseForm" ng-submit="CreatePerson.createAdverse()" ng-if="CreatePerson.data.personType == 'adverse'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'adverse': CreateAdverseForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !CreatePerson.data.adverse.email, 'el-processo-info-body-title-none': !CreatePerson.data.adverse.name}" ng-bind="CreatePerson.data.adverse.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreatePerson.data.adverse.email}" ng-bind="CreatePerson.data.adverse.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Criar adverso" ng-class="{'form-invalid': !CreateAdverseForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon adverso"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="CreatePerson.data.adverse.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="CreatePerson.data.adverse.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cpf" ng-model="CreatePerson.data.adverse.cpf" ui-br-cpfcnpj-mask>
                    <label class="el-form-label el-animated">CPF/CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="CreatePerson.data.adverse.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="CreatePerson.data.adverse.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="CreatePerson.data.adverse.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="CreatePerson.data.adverse.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="CreatePerson.data.adverse.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="CreatePerson.data.adverse.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="CreatePerson.data.adverse.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="CreatePerson.data.adverse.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.adverse.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in CreatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.adverse.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in CreatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': CreatePerson.data.adverse.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="CreatePerson.data.adverse.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="CreateAdverseLawyerForm" ng-submit="CreatePerson.createAdverseLawyer()" ng-if="CreatePerson.data.personType == 'adverse_lawyer'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'adverse-lawyer': CreateAdverseLawyerForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !CreatePerson.data.adverse_lawyer.email, 'el-processo-info-body-title-none': !CreatePerson.data.adverse_lawyer.name}" ng-bind="CreatePerson.data.adverse_lawyer.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreatePerson.data.adverse_lawyer.email}" ng-bind="CreatePerson.data.adverse_lawyer.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Criar adv. adverso" ng-class="{'form-invalid': !CreateAdverseLawyerForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon adverso"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="CreatePerson.data.adverse_lawyer.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="CreatePerson.data.adverse_lawyer.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="CreatePerson.data.adverse_lawyer.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="oab" ng-model="CreatePerson.data.adverse_lawyer.oab">
                    <label class="el-form-label el-animated">Inscrição na OAB</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="office_name" ng-model="CreatePerson.data.adverse_lawyer.office_name">
                    <label class="el-form-label el-animated">Escritório</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': CreatePerson.data.adverse_lawyer.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="CreatePerson.data.adverse_lawyer.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="CreateCorrespondentForm" ng-submit="CreatePerson.createCorrespondent()" ng-if="CreatePerson.data.personType == 'correspondent'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'correspondent': CreateCorrespondentForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !CreatePerson.data.correspondent.email, 'el-processo-info-body-title-none': !CreatePerson.data.correspondent.name}" ng-bind="CreatePerson.data.correspondent.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': CreatePerson.data.correspondent.email}" ng-bind="CreatePerson.data.correspondent.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Criar correspondente" ng-class="{'form-invalid': !CreateCorrespondentForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon cliente"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="CreatePerson.data.correspondent.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="CreatePerson.data.correspondent.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="CreatePerson.data.correspondent.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="CreatePerson.data.correspondent.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon misc"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="role" ng-model="CreatePerson.data.correspondent.role">
                    <label class="el-form-label el-animated">Cargo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cnpj" ng-model="CreatePerson.data.correspondent.cnpj" ui-br-cnpj-mask>
                    <label class="el-form-label el-animated">CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="fantasy_name" ng-model="CreatePerson.data.correspondent.fantasy_name">
                    <label class="el-form-label el-animated">Nome Fantasia</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="CreatePerson.data.correspondent.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="CreatePerson.data.correspondent.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="CreatePerson.data.correspondent.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="CreatePerson.data.correspondent.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="CreatePerson.data.correspondent.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="CreatePerson.data.correspondent.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.correspondent.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in CreatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="CreatePerson.data.correspondent.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in CreatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': CreatePerson.data.correspondent.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="CreatePerson.data.correspondent.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
</div>
