<div class="el-content-search-bar">
    <input type="text" id="el-content-search-bar-person" class="el-content-search-bar-input el-animated" placeholder="Pesquise por nome, email, etc..." ng-model="PersonList.listFilters.name">
</div>
<div class="el-content-list">
    <div class="el-content-list el-loader-holder el-animated" ng-if="!PersonList.personList">
        <div class="el-person-list-item el-loader el-animated-long clearfix" ng-repeat="div in [1, 2, 3, 4, 5, 6, 7, 8]"></div>
    </div>
    <div class="el-list-empty el-person-list-empty el-animated-long" ng-if="PersonList.personList && !PersonList.personList.length">
        <div class="el-list-empty-icon person-empty"></div>
        <div class="el-list-empty-text">Você ainda não tem pessoas cadastradas.</div>
        <div class="el-list-empty-cta el-animated" data-template-url="app/person/views/popover/create-person.html" data-placement="bottom"
             data-container="body" data-trigger="click" data-auto-close="true" bs-popover>Nova pessoa</div>
    </div>
    <div class="el-person-list-item el-animated-long clearfix" ng-repeat="person in PersonList.filteredList = (PersonList.personList | orderBy:['name'] | filter:{$: PersonList.listFilters.name, type: Person.personFilter}) track by person.id + person.type">
        <div class="el-person-list-item-icon-holder" ng-click="PersonList.openDetails(person)">
            <div ng-attr-class="el-person-list-item-icon {{person.type}}"></div>
        </div>
        <div class="el-person-list-item-details" ng-click="PersonList.openDetails(person)">
            <div class="el-person-list-item-name" ng-class="{'el-has-email': person.email && person.email.length}">{{person.name}}</div>
            <div class="el-person-list-item-email">{{person.email}}</div>
        </div>
        <div class="el-processo-list-item-actions el-animated">
            <div class="el-processo-action delete" ng-click="PersonList.openDeleteModal(person)" data-trigger="hover" data-title="Excluir" data-placement="auto top" data-container="body" bs-tooltip></div>
            <div class="el-processo-action edit" ui-sref="app.person.update({id: person.id, type: person.type})" data-trigger="hover" data-title="Editar" data-placement="auto top" data-container="body" bs-tooltip></div>
        </div>
    </div>
    <div class="el-list-empty el-person-list-empty el-animated-long" ng-if="PersonList.personList && PersonList.personList.length && !PersonList.filteredList.length">
        <div class="el-list-empty-icon person-filter"></div>
        <div class="el-list-empty-text margin">Nenhuma pessoa encontrada<br>Tente mudar os filtros acima ou modificar sua busca</div>
    </div>
</div>
