<div id="el-section-person" class="el-section-holder">
    <div class="el-section-header">
        <div class="el-section-header-icon el-animated" ui-sref="app.person.list" ng-class="{'back': !$state.is('app.person.list')}"></div>
        <div class="el-section-header-menu">
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.person.list') && Person.personFilter == ''}" ng-click="Person.changeFilter('')">Todas</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.person.list') && Person.personFilter == 'client'}" ng-click="Person.changeFilter('client')">Clientes</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.person.list') && Person.personFilter == 'adverse'}" ng-click="Person.changeFilter('adverse')">Adversos</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.person.list') && Person.personFilter == 'adverselawyer'}" ng-click="Person.changeFilter('adverselawyer')">Adv. Adversos</div>
            <div class="el-section-header-menu-item" ng-class="{'el-selected': $state.is('app.person.list') && Person.personFilter == 'correspondent'}" ng-click="Person.changeFilter('correspondent')">Correspondentes</div>
            <div class="el-section-header-menu-action" ng-class="{'el-selected': $state.is('app.person.create')}"
                 data-template-url="app/person/views/popover/create-person.html" data-placement="bottom"
                 data-container="body" data-trigger="click" data-auto-close="true" bs-popover>Nova pessoa</div>
        </div>
    </div>
    <div class="el-section-content-holder" ui-view></div>
</div>
