<div class="el-content">
    <form class="el-form" name="UpdateClientForm" ng-submit="UpdatePerson.updateClient()" ng-if="UpdatePerson.data.personType == 'client'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'client': UpdateClientForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !UpdatePerson.data.client.email, 'el-processo-info-body-title-none': !UpdatePerson.data.client.name}" ng-bind="UpdatePerson.data.client.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': UpdatePerson.data.client.email}" ng-bind="UpdatePerson.data.client.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Atualizar cliente" ng-class="{'form-invalid': !UpdateClientForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon cliente"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="UpdatePerson.data.client.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="UpdatePerson.data.client.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cpf" ng-model="UpdatePerson.data.client.cpf" ui-br-cpfcnpj-mask>
                    <label class="el-form-label el-animated">CPF/CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="UpdatePerson.data.client.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="UpdatePerson.data.client.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="UpdatePerson.data.client.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="UpdatePerson.data.client.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="UpdatePerson.data.client.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="UpdatePerson.data.client.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="UpdatePerson.data.client.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="UpdatePerson.data.client.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.client.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in UpdatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.client.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in UpdatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': UpdatePerson.data.client.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="UpdatePerson.data.client.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="UpdateAdverseForm" ng-submit="UpdatePerson.updateAdverse()" ng-if="UpdatePerson.data.personType == 'adverse'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'adverse': UpdateAdverseForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !UpdatePerson.data.adverse.email, 'el-processo-info-body-title-none': !UpdatePerson.data.adverse.name}" ng-bind="UpdatePerson.data.adverse.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': UpdatePerson.data.adverse.email}" ng-bind="UpdatePerson.data.adverse.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Atualizar adverso" ng-class="{'form-invalid': !UpdateAdverseForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon adverso"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="UpdatePerson.data.adverse.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="UpdatePerson.data.adverse.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cpf" ng-model="UpdatePerson.data.adverse.cpf" ui-br-cpfcnpj-mask>
                    <label class="el-form-label el-animated">CPF/CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="UpdatePerson.data.adverse.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="UpdatePerson.data.adverse.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="UpdatePerson.data.adverse.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="UpdatePerson.data.adverse.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="UpdatePerson.data.adverse.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="UpdatePerson.data.adverse.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="UpdatePerson.data.adverse.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="UpdatePerson.data.adverse.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.adverse.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in UpdatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.adverse.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in UpdatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': UpdatePerson.data.adverse.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="UpdatePerson.data.adverse.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="UpdateAdverseLawyerForm" ng-submit="UpdatePerson.updateAdverseLawyer()" ng-if="UpdatePerson.data.personType == 'adverse_lawyer'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'adverse-lawyer': UpdateAdverseLawyerForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !UpdatePerson.data.adverse_lawyer.email, 'el-processo-info-body-title-none': !UpdatePerson.data.adverse_lawyer.name}" ng-bind="UpdatePerson.data.adverse_lawyer.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': UpdatePerson.data.adverse_lawyer.email}" ng-bind="UpdatePerson.data.adverse_lawyer.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Atualizar adv. adverso" ng-class="{'form-invalid': !UpdateAdverseLawyerForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon adverso"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="UpdatePerson.data.adverse_lawyer.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="UpdatePerson.data.adverse_lawyer.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="UpdatePerson.data.adverse_lawyer.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="oab" ng-model="UpdatePerson.data.adverse_lawyer.oab">
                    <label class="el-form-label el-animated">Inscrição na OAB</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="office_name" ng-model="UpdatePerson.data.adverse_lawyer.office_name">
                    <label class="el-form-label el-animated">Escritório</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': UpdatePerson.data.adverse_lawyer.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="UpdatePerson.data.adverse_lawyer.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
    <form class="el-form" name="UpdateCorrespondentForm" ng-submit="UpdatePerson.updateCorrespondent()" ng-if="UpdatePerson.data.personType == 'correspondent'">
        <div class="el-create-processo-header-holder">
            <div class="el-create-processo-header" data-offset-top="65" bs-affix>
                <div class="el-processo-info-header">
                    <div class="el-person-info-header-icon el-animated" ng-class="{'correspondent': UpdateCorrespondentForm.$valid}"></div>
                </div>
                <div class="el-processo-info-body">
                    <div class="el-processo-info-body-title el-animated" ng-class="{'el-processo-info-body-title-only': !UpdatePerson.data.correspondent.email, 'el-processo-info-body-title-none': !UpdatePerson.data.correspondent.name}" ng-bind="UpdatePerson.data.correspondent.name"></div>
                    <div class="el-processo-info-body-process-number el-animated" ng-class="{'el-processo-info-body-process-number-visible': UpdatePerson.data.correspondent.email}" ng-bind="UpdatePerson.data.correspondent.email"></div>
                    <div class="el-create-processo-header-buttons">
                        <input type="submit" class="el-button el-button-action el-animated" value="Atualizar correspondente" ng-class="{'form-invalid': !UpdateCorrespondentForm.$valid}">
                    </div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon cliente"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="name" ng-model="UpdatePerson.data.correspondent.name" required>
                    <label class="el-form-label el-animated">Nome</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="email" class="el-form-label-input el-animated" name="email" ng-model="UpdatePerson.data.correspondent.email" ng-model-options="{updateOn: 'blur'}">
                    <label class="el-form-label el-animated">Endereço de Email</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="telephone" ng-model="UpdatePerson.data.correspondent.telephone" ui-br-phone-number>
                    <label class="el-form-label el-animated">Telefone</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <input type="text" class="el-form-label-input el-animated" name="site" ng-model="UpdatePerson.data.correspondent.site">
                    <label class="el-form-label el-animated">Site</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon misc"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="role" ng-model="UpdatePerson.data.correspondent.role">
                    <label class="el-form-label el-animated">Cargo</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cnpj" ng-model="UpdatePerson.data.correspondent.cnpj" ui-br-cnpj-mask>
                    <label class="el-form-label el-animated">CNPJ</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="fantasy_name" ng-model="UpdatePerson.data.correspondent.fantasy_name">
                    <label class="el-form-label el-animated">Nome Fantasia</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon location"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="street" ng-model="UpdatePerson.data.correspondent.street" >
                    <label class="el-form-label el-animated">Rua</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="number" ng-model="UpdatePerson.data.correspondent.number">
                    <label class="el-form-label el-animated">Número</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="complement" ng-model="UpdatePerson.data.correspondent.complement" >
                    <label class="el-form-label el-animated">Complemento</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="cep" ng-model="UpdatePerson.data.correspondent.cep" ui-br-cep-mask>
                    <label class="el-form-label el-animated">CEP</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-66">
                    <input type="text" class="el-form-label-input el-animated" name="neighbourhood" ng-model="UpdatePerson.data.correspondent.neighbourhood" >
                    <label class="el-form-label el-animated">Bairro</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-33">
                    <input type="text" class="el-form-label-input el-animated" name="city" ng-model="UpdatePerson.data.correspondent.city">
                    <label class="el-form-label el-animated">Cidade</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.correspondent.state">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in UpdatePerson.data.states | filter:$select.search">
                            <span ng-bind-html="state | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">Estado</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
                <div class="el-form-data el-processo-data el-processo-data-50">
                    <ui-select ng-model="UpdatePerson.data.correspondent.country">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in UpdatePerson.data.countries | filter:$select.search">
                            <span ng-bind-html="country | highlight:$select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label class="el-form-label el-form-select-label">País</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
        <div class="el-form-processo-data-section el-animated">
            <div class="el-processo-data-section-icon observations"></div>
            <div class="el-form-group el-processo-data-group clearfix">
                <div class="el-form-data el-processo-data el-processo-data-100 el-animated" ng-class="{'el-form-data-big': UpdatePerson.data.correspondent.comments}">
                    <textarea class="el-form-label-input el-animated" name="comments" ng-model="UpdatePerson.data.correspondent.comments"></textarea>
                    <label class="el-form-label el-animated">Comentários</label>
                    <div class="el-from-label-input-outline el-animated"></div>
                </div>
            </div>
        </div>
    </form>
</div>
