@import "variables";

.el-auth-main{
  height: 100vh;
  width: 100vw;

  .el-auth-column{
    width: 50%;
    height: 100%;

    &.el-auth-ad{
      position: fixed;
      background: url('../images/authentication/sidebar-bg.png') center;
      background-size: cover;

      .el-auth-ad-wrapper{
        position: relative;
        font-family: $poppins;
        color: #fff;
        padding: 5em;
        z-index: 2;
        opacity: 1;
        transition: $trans-long;
        width: 50vw;

        .el-auth-ad-title{
          font-size: 4em;
          font-weight: 700;
          line-height: 1.2em;
          margin-bottom: 1rem;
        }

        .el-auth-ad-message{
          font-size: 1.65em;
          max-width: 70%;
          font-family: $lato;
        }
      }

      &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 1;
        background-color: $elysium-dark-blue;
        background-image: url('../images/authentication/dec-sidebar-ad-bg.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        transition: $trans;
        z-index: 1;
      }

      &.retracted{
        width: 30em;

        .el-auth-ad-wrapper{
          transition: $trans;
          transform: translateX(-3em);
          opacity: 0;
        }

        &::after{
          opacity: 0;
        }
      }
    }

    &.el-auth-view{
      position: absolute;
      right: 0;
      background: #fff;

      &.full-width{
        width: calc(100% - 30em);
      }
    }
  }

  .el-auth-table{
    display: table;
    height: 100%;
    width: 100%;
  }

  .el-auth-message{
    font-family: $poppins;
    max-width: 25em;
    margin: auto auto 2em;
    text-align: center;

    h1{
      font-weight: 700;
      margin-bottom: 0.75em;
    }

    p{
      font-family: $lato;
      font-size: 17px;
      margin-bottom: 1.5em;
    }

    .el-button{
      width: 100%;
      font-size: 1.2em;
      padding: 0.75em;
    }
  }

  a{
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip: ink;
    color: $elysium-blue;
  }
}

.el-auth-form{
  max-width: 25em;
  margin: auto;

  .el-form-data > .el-form-label-input{
    border: 1px solid hsl(0, 0%, 93%);
    border-bottom: none;
  }

  .el-auth-form-container{
    border-bottom: 1px solid hsl(0, 0%, 93%);
    margin-bottom: 1em;
  }

  input[type=submit].el-button{
    width: 100%;
    font-size: 1.2em;
    padding: 0.75em;

    &.form-invalid{
      opacity: 0.45;
    }

    &.form-loading{
      opacity: 0.45;
      pointer-events: none;
    }
  }

  .el-auth-form-error, .el-auth-form-warning{
    text-align: center;
    border: 2px solid currentColor;
    border-radius: 3px;
    font-size: 1.1em;
    color: $elysium-red;
    padding: 0;
    opacity: 0;
    margin: 0;

    &.active{
      padding: 1em;
      margin-bottom: 1rem;
      opacity: 1;
    }

    p{
      a{
        color: inherit;
        font-weight: bold;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .el-auth-form-warning{
    color: $elysium-blue;
  }

  .el-form-data .ui-select-container{
      border-top: 1px solid hsl(0, 0%, 93%);
      border-right: 1px solid hsl(0, 0%, 93%);
      border-left: none;
      border-bottom: none;
  }
}

.el-auth-login-form{
  display: table-cell;
  vertical-align: middle;

  .el-auth-login-branding{
      width: 200px;
      height: 36px;
      background: url(../images/branding/horizontal-200.png);
      margin: -78px auto 3em;
  }

  .el-auth-footer-links{
      max-width: 25em;
  }
}

.el-auth-footer-links{
  margin: 2em auto -6em;
  text-align: center;

  .el-auth-footer-link{
    font-family: $poppins;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip: ink;
    color: $elysium-blue;
    margin-top: 1em;
    display: block;
  }
}

.el-auth-register-form{
  background: hsl(0, 0%, 98%);
  display: table-cell;
  vertical-align: middle;

  .el-auth-form{
    max-width: 40em;

    &.form-loading{
      opacity: 0.5;
      pointer-events: none;
    }

    &.large{
      max-width: 60em;
    }

    &.as-container{
      background: hsl(0, 0%, 100%);
      border: 1px solid hsla(0, 0%, 0%, 0.07);
      border-radius: 3px;
      box-shadow: 0 0.5em 1em rgba(0,0,0,.05);
    }
  }

  .el-form-data:not(:first-child) .el-form-label-input{
    border-left: none;
  }

  .el-auth-footer-links{
    max-width: 40em;
    margin: 2em auto 0;
  }

  .el-auth-footer-links, .el-auth-message{
    max-width: 40em;

    &.large{
      max-width: 60em;
      margin: 4em auto;
    }

    &.margin-bottom{
      margin-bottom: 4em;
    }
  }
}

.el-auth-form-notice {
    text-align: center;
    margin: 0 0 1em;
    color: hsl(0, 0%, 45%);
}