.el-animated{
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.el-animated-long{
    transition: all .375s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.el-section-holder {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
    margin: 1em 1em 8em;
    position: relative;
    
    @include media(sm){
        margin: 1em 1em 2em;
    }

    @include media(xs){
        margin: 0 0 2em 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        border-radius: 0px;
    }
}

.el-section-header {
    height: 51px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.el-section-header-icon {
    float: left;
    position: relative;
    height: 50px;
    width: 90px;
    border-right: 1px solid rgba(0, 0, 0, 0.07);

    @include media(xs){
        display: none;
    }
}

.el-section-header-menu {
    float: left;
    height: 50px;
    width: calc(100% - 90px);

    @include media(xs){
        display: none;
    }
}

.el-section-header-icon::after {content: "";position: absolute;height: 50px;width: 45px;right: 0;transform: translateX(-19px);transition: inherit;}

.el-section-header-icon::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 45px;
    left: 0;
    transition: inherit;
    background: url(../images/common/section-header-back.png) 18px center no-repeat;
    transform: translateX(-8px);
    opacity: 0;
}

.el-section-header-menu-item {
    float: left;
    font-size: 14px;
    font-family: $work;
    font-weight: 500;
    color: rgb(125, 125, 125);
    margin-left: 14px;
    margin-top: 12px;
    padding: 3px 8px;
    cursor: pointer;
    letter-spacing: -.3px;
}

.el-section-header-menu-item.el-selected {
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(78, 214, 117) 0%,rgb(25, 202, 122) 100%);
    border-radius: 2px;
}

.el-section-content-holder {
    background: #fff;
}

.el-section-header-icon.back {
    cursor: pointer;
}

.el-section-header-icon.back::before {
    opacity: 1;
    transform: translateX(0);
}

.el-section-header-icon.back::after {
    transform: translateX(-2px);
}

.el-section-header-menu-action {
    float: right;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #1cbd70;
    border: 2px solid rgb(33, 204, 122);
    border-radius: 2px;
    margin-right: 11px;
    margin-top: 11px;
    padding: 3px 8px;
    cursor: pointer;
    letter-spacing: 0.02em;
}

.el-section-header-menu-action.el-selected {
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(78, 214, 117) 0%,rgb(25, 202, 122) 100%);
    border-radius: 2px;
    border: none;
    padding: 6px 10px;
}



.el-content-search-bar-input {
    border: none;
    width: 100%;
    font-size: 1.15em;
    padding: 1em 3.45em;
    background: url(../images/common/content-search-bar-input.png) 1.25em center no-repeat;
    opacity: 0.5;

    @include media(xs){
        padding-right: 1em;
    }
}

.el-content-search-bar-input:focus, .el-content-search-bar-input:hover {
    opacity: 1;
}

.el-bold {
    font-weight: 600;
}

.el-content-search-bar {
    border-bottom: 1px solid #eee;
    position: relative;
}

.el-content-search-bar-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    line-height: 1.95em;
    margin: 10px;
    padding: 2px 10px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid currentColor;
    cursor: pointer;
    border-radius: 2px;
    color: #1aca7a;
    background: #fff;

    &::after{
        content: '';
        position: absolute;
        height: 29px;
        width: 32px;
        background: linear-gradient(to right, hsla(0, 0%, 0%, 0) 0%,hsl(0, 0%, 100%) 100%);
        left: -34px;
        top: 0;
    }
}

@keyframes el-loader {
    0% {
        background: #fff;
    }
    10%{
        background: #f5f5f5;
    }
    20%{
        background: #fff;
    }
}

.el-loader-holder{
    overflow: hidden;
}

.el-loader-holder.ng-leave{
    max-height: 1000px;
}

.el-loader-holder.ng-leave-active{
    max-height: 0;
}

.el-loader{
    animation: el-loader 2s infinite;
}

.el-loader:hover{
    background: inherit !important;
}

.el-loader:nth-child(1){
    animation-delay: 0.1s;
}

.el-loader:nth-child(2){
    animation-delay: 0.2s;
}

.el-loader:nth-child(3){
    animation-delay: 0.3s;
}

.el-loader:nth-child(4){
    animation-delay: 0.4s;
}

.el-loader:nth-child(5){
    animation-delay: 0.5s;
}

.el-loader:nth-child(6){
    animation-delay: 0.6s;
}

.el-loader:nth-child(7){
    animation-delay: 0.7s;
}

.el-loader:nth-child(8){
    animation-delay: 0.8s;
}

.el-loader:nth-child(9){
    animation-delay: 0.9s;
}

.el-loader:nth-child(10){
    animation-delay: 1s;
}

.el-loader:nth-child(11){
    animation-delay: 1.1s;
}

.el-loader:nth-child(12){
    animation-delay: 1.2s;
}

.el-list-empty{
    overflow: hidden;
}

.el-list-empty.ng-enter {
    max-height: 0;
}

.el-list-empty.ng-enter-active {
    max-height: 1000px;
}

.el-list-empty.ng-leave {
    max-height: 1000px;
}

.el-list-empty.ng-leave-active {
    max-height: 0;
}

.el-list-empty-icon {
    height: 120px;
    width: 120px;
    margin: 3em auto 2em;
}

.el-list-empty-text {
    text-align: center;
    font-size: 1.15em;
    margin: 1em;
}

.el-list-empty-text.margin {
    text-align: center;
    font-size: 1.15em;
    margin: 1em 0 2.5em;

    @include media(xs){
        margin: 1em 2em 2.5em;
    }
}

.el-list-empty-cta {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: #1aca7a;
    border-radius: 2px;
    margin-right: 12px;
    margin-top: 11px;
    padding: 0.6em 0 0.5em;
    cursor: pointer;
    margin: 2em auto 3em;
    max-width: 12em;
    text-align: center;
}

.el-list-empty-cta:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}


.el-list-empty-cta.small {
    font-size: 1em;
}

.el-content-header-bar {
    border-bottom: 1px solid #eee;
    position: relative;
    height: 55px;
}

.el-content-header-bar-text {
    border: none;
    width: 100%;
    font-size: 1.15em;
    padding: 1.1em 3.45em 1em;
}

.el-content-search-bar-button.disabled {
    opacity: 0.25;
    pointer-events: none;
}


.el-content-drop-zone {
    position: relative;
}

.el-content-drop-zone::after {
    content: '';
    position: absolute;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    background: rgba(22, 169, 255, 0.85) url(../images/common/drop-files.png) center no-repeat;
    top: 1em;
    left: 1em;
    transition: inherit;
    transform: scale(1.05);
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0.05);
}

.el-content-drop-zone.dragging::after{
    transform: scale(1);
    opacity: 1;
}

.el-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width : 1500px) {
    .el-container {
        max-width: 1400px;
    }
}

@media screen and (min-width : 1250px) and (max-width : 1499px) {
    .el-container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1000px) and (max-width : 1249px) {
    .el-container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 767px) and (max-width : 999px) {
    .el-container {
        max-width: 100%;
    }
}

@media screen and (max-width : 766px) {
    .el-container {
        max-width: 100%;
    }
}


.el-section-holder.el-section-unwrapped {
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 1em 0.5em 8em;
}

.el-hidden{
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.popover.el-popover {
    border: 2px solid #e1e1e1;
    border-radius: 3px;
    margin-top: 26px;
}

.popover.el-popover > .arrow.el-arrow {
    border-bottom-color: #e1e1e1;
    border-width: 8px;
    top: -16px;
    margin-left: -7px;
}

.popover.el-popover > .el-arrow::after{
    margin-left: -5px;
    border-width: 2px 5px 5px;
}

.el-popover-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 8px 12px;
    text-align: center;
    border-top: 2px solid #e1e1e1;
    cursor: pointer;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.el-popover-button:first-of-type {
    border-top: none;
}

.popover.el-popover.el-popover-green {
    background: linear-gradient(to bottom, rgb(78, 214, 117) 0%,rgb(25, 202, 122) 100%);
    color: #fff;
    border-color: #19b66b;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.el-popover-green .el-popover-button {
    border-color: #19b66b;
}

.popover.el-popover.el-popover-green > .arrow.el-arrow {
    border-bottom-color: #19b66b;
}

.popover.el-popover.el-popover-green > .arrow.el-arrow::after {
    border-bottom-color: rgb(78, 214, 117);
}

.el-popover-button:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}

.el-popover-header {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #e1e1e1;
}

#notifications-popover {
    width: 400px;
    margin-top: 26px;
}

.el-popover-header-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    float: left;
    line-height: 45px;
    cursor: pointer;
    color: #ccc;
    position: relative;
    text-transform: uppercase;
}

.el-popover-header-item.el-popover-header-item-2 {
    width: 50%;
}

.el-popover-header-item.el-selected {
    color: #444;
}

.el-popover-header-item::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: transparent;
    left: 0;
    bottom: 0px;
    transition: inherit;
}

.el-link {font-weight: 700;color: #18aaff;transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);display: inline-block;}

.el-link:focus {
    color: #18aaff;
}

.el-link:active {
    color: #0a8ad4;
}

@keyframes el-spin {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(359.9deg);
    }
}

.el-popover-menu{
//     padding: .5em;

    .el-popover-menu-action{
        font-family: $montserrat;
        text-align: left;
        padding: .65em 1em;

        &:hover{
            background: #f8f8f8;
            cursor: pointer;
        }
    }

    .el-popover-menu-separator{
        height: 2px;
        margin: 2px 0;
        background: #e1e1e1;
    }
}

.el-section-content-title-text {
    float: left;
    font-size: 1.5em;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 14px 20px;
    color: hsl(0, 0%, 13%);
}

.el-section-content-title {
    width: 100%;
    height: 61px;
    border-bottom: 1px solid hsl(0, 0%, 93%);
}

.el-section-content-title-action {
    float: right;
    padding: .65em 1em;
    margin-left: 1em;
    border-radius: 3px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background: hsl(206, 100%, 60%);
    font-weight: 600;
    margin: 11px;
}

.el-section-content-container{
    border-bottom: 1px solid #ededed;

    &:last-child{
        border-bottom: none;
    }
}