#configurations-popover{
  width: 200px;
}

.el-popover-user-header {
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
  font-family: $montserrat;
  padding: 10px;
  text-align: center;

  .el-popover-user-header-info-name{
      font-size: 1.1em;
   }

  .el-popover-user-header-info-company{
    text-transform: uppercase;
    font-size: 0.8em;
    color: #aaa;
  }
}

#el-section-configurations .el-section-header-icon::after {
  background: url(../images/configurations/page-icon.png) 10px center no-repeat;
}

.el-section-configurations-profile-header {
  padding: 4em;
  background: url(../images/authentication/sidebar-bg.png);
  background-size: cover;
}

.el-section-configurations-profile-header-avatar {
  @extend .el-animated;

  position: relative;
  height: 164px;
  width: 164px;
  background: hsl(0, 0%, 100%) url(../images/configurations/profile-default-avatar.png);
  border-radius: 100%;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.08);
  margin: auto;
  cursor: pointer;

  &:hover{
    &::before{
      opacity: .42;
    }

    &::after{
      opacity: 1;
      transform: scale(1);
    }
  }

  &::before{
    @extend .el-animated;

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: black;
    opacity: 0;
    z-index: 1;
  }

  &::after{
    @extend .el-animated;

    content: '+';
    font-family: $poppins;
    font-size: 6em;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 24px;
    left: 58px;
    z-index: 2;
    opacity: 0;
    text-shadow: 0 2px 35px hsla(0, 0%, 0%, 0.42);
    transform: scale(.7);
  }
}

.el-form-configurations-profile-header-holder{
  height: 61px;
  border-bottom: 1px solid #eee;

  > .el-create-processo-header-buttons{
    position: static;
    padding: 12px;
  }
}

.el-section-configurations-profile-header-name {
  @extend %work;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  margin-top: .5em;
}

.el-section-configurations-profile-header-company {
  font-family: $lato;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

.el-section-configurations-profile-card {
  float: left;
  width: 50%;
  /* margin: 2em; */
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.05);
}

.el-section-configurations-profile-content-info {
  margin-bottom: 1em;
}

.el-section-configurations-profile-content-info-title {
  font-size: 14px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 300;
  color: rgb(125, 125, 125);
  text-transform: uppercase;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Assistant', sans-serif;
}

.el-section-configurations-profile-content-info-data {
  font-size: 18px;
  padding-top: 6px;
  overflow: hidden;
  height: 30px;
  font-family: 'Lato', sans-serif;
  padding-left: 1em;
}

.el-section-configurations-profile-content-info > .typcn {
  float: left;
  font-size: 22px;
  height: 32px;
  color: #01c766;
}

.el-section-configurations-accounts-plan-card {
  background: url(../images/configurations/background.jpg);
  position: relative;
}

.el-section-configurations-accounts-plan-header {
  position: relative;
  height: 100%;
  width: 30%;
  float: left;
}

.el-section-configurations-accounts-plan-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  background: #fff url(../images/configurations/beta-icon.png) no-repeat center;
  border-radius: 1000px;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.13);
  background-color: white;
}

.el-section-configurations-accounts-plan-info {
  float: right;
  width: 70%;
  padding: 2em 0;
}

.el-section-configurations-accounts-plan-info-title {
  font-size: 38px;
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
  color: white;
  font-style: inherit;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.el-section-configurations-accounts-plan-info-text {
  color: #fff;
  font-size: 16px;
  padding-right: 2em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.el-section-configurations-accounts-manager-form {
  float: left;
  width: 20em;
  padding: 1em;
}

.el-section-configurations-accounts-manager-list {
  float: left;
  width: calc(100% - 20em);
  padding: 1em;
}

.el-section-configurations-accounts-manager-invites-title {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 0.5em;
}

.el-section-configurations-accounts-manager-invites-user-email {
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
}

.el-section-configurations-accounts-manager-invites-user {
  padding: 1em 1em 1em calc(2em + 36px);
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-bottom: 0.5em;
  position: relative;
}

.el-section-configurations-accounts-manager-invites-user::after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  background: url(../images/configurations/icon-waiting.png) center no-repeat;
}

.el-section-configurations-accounts-manager-form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 0.5em;
}

.el-section-configurations-accounts-manager-invites-user-data {
}

.el-section-configurations-accounts-manager-invites-user-date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2em;
}

.el-section-configurations-accounts-manager-invites-user-role {
  font-size: 12px;
}

.el-section-configurations-accounts-manager-users-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 0.5em;
}

.el-section-configurations-accounts-manager-users-user {
  padding: 1em 1em 1em calc(2em + 36px);
  border: 1px solid rgba(80, 214, 123, 0.6);
  border-radius: 2px;
  margin-bottom: 0.5em;
  position: relative;
}

.el-section-configurations-accounts-manager-users-user::after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  background: url(../images/configurations/icon-active.png) center no-repeat;
}

.el-section-configurations-accounts-manager-users-user-name {
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
}

.el-section-configurations-accounts-manager-users-user-role {
  font-size: 12px;
}

.el-section-configurations-accounts-manager-invites {
  margin-bottom: 2em;
}

.el-section-configurations-accounts-manager-users-user.current-user {
  border-color: rgba(33, 173, 255, 0.6);
}

.el-section-configurations-accounts-manager-users-user.current-user::after {
  background: url(../images/configurations/icon-current-user.png) center no-repeat;
}

.el-section-configurations-accounts-manager-users-user:last-of-type {
  margin: 0;
}

.el-section-configurations-accounts-manager-users-invites-cancel {
  position: absolute;
  height: 9px;
  width: 9px;
  background: url(../images/configurations/asset-close.png);
  top: 12px;
  right: 12px;
  cursor: pointer;
  opacity: 0.4;
}

.el-section-configurations-accounts-manager-invites-user:hover > .el-section-configurations-accounts-manager-users-invites-cancel {
  opacity: 1;
}

.el-configurations-company-get-started{
  padding: 5em;
  background: url(../images/authentication/sidebar-bg.png);
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: $poppins;

  &:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  > .el-configurations-company-get-started-title{
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: .25em;
    text-shadow: 0 5px 25px hsla(147, 59%, 44%, 1);
  }

  > .el-configurations-company-get-started-text{
    font-family: $lato;
    font-size: 1.4em;
    margin: auto;
    text-shadow: 0 5px 25px hsla(147, 59%, 44%, 1);
  }

  > .el-configurations-company-get-started-cta{
    margin-top: 1.5em;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
    background: $elysium-dark-blue;
    border: none;
    border-radius: 3px;
    padding: .8em 1.5em .7em;
    box-shadow: 0 5px 40px hsla(214, 84%, 47%, 0.4);
  }

  > .el-configurations-company-get-started-trial-expiration {
    @extend .el-animated;

    display: inline-block;
    margin-bottom: 3em;
    text-transform: uppercase;
    font-weight: 600;
    background: hsl(0, 0%, 100%);
    border-radius: 3px;
    padding: 6px 10px;
    color: hsl(146, 69%, 39%);
    box-shadow: 0 5px 40px hsla(147, 59%, 48%, 1);
    opacity: 0;

    &.active{
      opacity: 1;
    }
  }
}

.el-form-configurations-profile-header-title {
    position: absolute;
    font-size: 1.5em;
    font-family: $work;
    font-weight: 600;
    padding: 15px 18px;
    color: hsl(0, 0%, 13%);
}

.el-configurations-company-bills-empty {
    text-align: center;
    font-size: 1.25em;
    margin: 3em 0;
    color: hsl(0, 0%, 70%);
}

.el-registered-users{
  padding: 1em;
}

.el-registered-user{
  @extend %work;
  @extend .el-animated;

  height: 60px;
  border: 2px solid hsl(0, 0%, 93%);
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1em;
  color: hsl(0, 0%, 30%);
  margin-bottom: .5em;

  &:last-child{
    margin-bottom: 0;
  }

  > .el-registered-user-avatar{
    float: left;
    height: 56px;
    width: 56px;
    background: url(../images/configurations/icon-user.png) center no-repeat;
  }

  > .el-registered-user-name{
    float: left;
    padding: 18px 0 18px .35em;

    > span{
      color: hsl(0, 0%, 80%);
    }
  }

  > .el-registered-user-group{
    float: right;
    position: relative;
    padding: 18px 18px 18px 0;

    &::after{
      content: '';
      position: absolute;
      left: -24px;
      top: calc(1.1em + 3px);
      height: 16px;
      width: 16px;
      background: url(../images/configurations/icon-group.png)
    }
  }

  > .el-registered-user-actions{
    float: right;
    height: 100%;

    > .el-registered-user-action.switch{
      @extend .el-animated;

      position: relative;
      height: 28px;
      width: 60px;
      margin: 14px;
      background: currentColor url(../images/configurations/account-switcher-bg.png) center no-repeat;
      border-radius: 2px;
      color: hsl(0, 0%, 85%);
      cursor: pointer;

      &::after{
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: #fff;
        border-radius: 1px;
        transition: inherit;
      }

      &.active{
        color: $elysium-blue;

        &::after{
          left: 36px;
        }
      }
    }
  }
}

.el-sent-invitations-empty {
    text-align: center;
    font-size: 1.25em;
    margin: 3em 0;
    color: hsl(0, 0%, 70%);
}

.el-sent-invitation{
  padding: .5em 1em;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1em;
  color: hsl(0, 0%, 30%);

  &:hover{
    background: $elysium-light-gray;
  }

  > .el-sent-invitation-icon{
    float: left;
    height: 56px;
    width: 56px;

    &.ACCEPTED{
      background: url(../images/configurations/icon-invitation-accepted.png) center no-repeat;
    }

    &.CANCELED, &.REVOKED, &.EXPIRED{
      background: url(../images/configurations/icon-invitation-error.png) center no-repeat;
    }

    &.PENDING{
      background: url(../images/configurations/icon-invitation-pending.png) center no-repeat;
    }

    &.SENT{
      background: url(../images/configurations/icon-invitation-sent.png) center no-repeat;
    }
  }

  > .el-sent-invitation-email{
    @extend %work;
    float: left;
    font-size: 1.15em;
    padding: 15px 5px;
  }

  > .el-sent-invitation-status{
    @extend %work;
    float: right;
    padding: 20px 0;
    margin-top: -3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: hsl(0, 0%, 25%);
  }
}

.el-sent-invitation-actions {
    float: right;
}

.el-sent-invitation-action {
    height: 30px;
    width: 30px;
    background: url(../images/common/icon-delete.png) center no-repeat;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 3px;
}

.el-modal-publication-name-wizard-name-form {
    padding: 2em 0;
}

.el-modal-publication-name-wizard-name-form-avatar {
    height: 164px;
    width: 164px;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 2em;
    background: url(../images/icons/164/user.svg) center no-repeat;
}

.el-modal-publication-name-wizard-name-form-input {
    margin: auto;
    display: block;
    width: 30rem;
    font-size: 1.35em;
    padding: 1rem;
    border: 2px solid hsla(0, 0%, 90%, 1);
    border-radius: 5px;

    &:focus{
      border-color: $elysium-blue;
    }

    &:first-of-type{
      margin-bottom: 1em;
    }
}

.el-modal-publication-name-wizard-variations-form {
    padding: 2rem 2rem 1rem;
}

.el-modal-publication-name-wizard-variations-form-input {
    float: left;
    width: calc(100% - 11rem);
    font-size: 1.15em;
    padding: .5rem 1rem;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 2rem;

    &:focus{
      border-color: $elysium-blue;
    }
}

.el-modal-publication-name-wizard-variations-form-submit {
    float: left;
    width: 10rem;
    padding: .7rem 1rem;
    background: hsl(0, 0%, 90%);
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat';
    color: #fff;
    cursor: default;

    &.active{
      background-color: $elysium-blue;
      cursor: pointer;
    }
}

.el-modal-publication-name-wizard-variations-form-variations {
    clear: left;
    max-height: 25rem;
    overflow-y: auto;
}

.el-modal-publication-name-wizard-variations-form-variation {
    float: left;
    width: calc(50% - .5rem);
    background: hsl(139, 62%, 90%);
    border-radius: 3px;
    padding: .75rem 3rem .75rem 1rem;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    color: hsl(136, 52%, 40%);
    position: relative;

    &.exception{
      color: hsl(350, 66%, 41%);
      background: hsl(350, 100%, 90%);
    }

    &:nth-child(odd){
      margin-right: 1rem;
    }

    > label{
      display: block;
      margin: .35rem 0 0;
      font-size: .85rem;
      font-weight: 400;
      line-height: 4px;
      cursor: pointer;

      &.loading{
        opacity: .35;
        pointer-events: none;
      }

      > input{
        position: relative;
        height: 15px;
        width: 15px;
        -webkit-appearance: none;
        background: hsla(0, 0%, 0%, 0);
        border: 2px solid currentColor;
        border-radius: 3px;
        vertical-align: -3px;
        margin-right: 3px;
        cursor: pointer;

        &:checked{
          background: currentColor;

          &::after{
            content: attr(data-css-content);
            position: absolute;
            color: hsl(0, 0%, 100%);
            font-size: 14px;
            top: -4px;
            font-family: 'Lato', sans-serif;
          }
        }

        &:focus{
          outline: none;
        }
      }
    }
}

.el-modal-publication-name-wizard-variations-form-variation-remove {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 1rem;
    top: calc(50% - 10px);
    background: url(../images/icons/16/close.svg) center no-repeat;
    opacity: .2;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
}

.el-modal-publication-name-wizard-variations-form-variations-empty {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.15em;
    margin: 2rem 0 3rem;
    color: hsl(0, 0%, 65%);
}

.el-configurations-publication-name-avatar {
  background: url(../images/icons/164/user.svg) center no-repeat;
  height: 164px;
  width: 164px;
  border-radius: 100px;
  margin: 3em auto 2em;
}

.el-configurations-publication-name-header {
  text-align: center;
}

.el-configurations-publication-name-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
}

.el-configurations-publication-name-oab {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: hsl(0, 0%, 70%);
}

.el-configurations-publication-name-delete {
  margin-top: 1.5em;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  background: hsla(0, 0%, 0%, 0);
  border: 2px solid currentColor;
  border-radius: 3px;
  padding: .6em 1em .45em;
  color: hsl(350, 100%, 60%);
}

.el-configurations-publication-name-info {
    border-top: 1px solid hsl(0, 0%, 93%);
    margin-top: 3em;
}

.el-configurations-publication-name-variations, .el-configurations-publication-name-exceptions {
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75em;
}

.el-configurations-publication-name-variations {
    border-right: 1px solid hsl(0, 0%, 93%);
}

.el-configurations-publication-name-label {
    margin: 3rem 0 1.5rem;
}

.el-configurations-publication-name-info-button {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: hsl(214, 84%, 56%);
    border: none;
    border-radius: 3px;
    padding: .8em 1.5em .7em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}