.el-form-input-holder {
    float: left;
    width: 100%;
    position: relative;
    height: 5em;
    margin-bottom: 1em;
}

.el-form-input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 18px 12px 0;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
}

.el-form-input-label {
    position: absolute;
    z-index: 1;
    left: 1em;
    top: 0.75em;
    text-transform: uppercase;
    color: rgba(0,0,0,.35);
    pointer-events: none;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.selectize-control.el-form-input {
    padding: 0;
}

.selectize-control.el-form-input.single > .selectize-input {
    width: 100%;
    margin: 0;
    padding: 34px 12px 0;
    border: none;
    height: 100%;
    color: inherit;
    cursor: text;
}

.el-form-input > .selectize-dropdown {
    margin: 0;
    padding: 0;
    height: auto;
}

.el-form-input > .selectize-input > input {
    font-size: 17px;
}

.el-form-input:hover {
    border-color: rgba(0, 0, 0, 0.35);
}

.el-form-input:focus {
    border-color: #1ccc78;
}

.el-form-input.ng-invalid.ng-touched:not(:focus) {
    background: rgba(255, 0, 35, 0.42);
    color: #fff;
}

.ng-invalid.ng-touched:not(:focus) + .el-form-input-label {
    color: rgba(255, 255, 255, 0.7);
}

.el-form-input-holder-1 {
    width: calc(25% - 1em);
    margin-right: 1em;
}

.el-form-input-holder-2 {
    width: calc(50% - 1em);
    margin-right: 1em;
}

.el-form-input-holder-3 {
    width: calc(75% - 1em);
    margin-right: 1em;
}

.el-form-input-holder:last-child.el-form-input-holder-1 {
    width: 25%;
    margin-right: 0;
}

.el-form-input-holder:last-child.el-form-input-holder-2 {
    width: 50%;
    margin-right: 0;
}

.el-form-input-holder:last-child.el-form-input-holder-3 {
    width: 75%;
    margin-right: 0;
}

.el-form-input:focus + .el-form-input-label {
    color: rgb(28, 204, 120) !important;
}

.el-form-input.ng-invalid-compare-to.ng-pristine.ng-invalid {
    background: inherit;
    color: inherit;
}

.ng-pristine.ng-invalid-compare-to:not(:focus) + .el-form-input-label {
    color: rgba(0, 0, 0, 0.35);
}

.el-form-input > .selectize-dropdown [data-selectable] {
    font-size: 18px;
    font-weight: 100;
}

.el-form-input > .selectize-dropdown [data-selectable].selected {
    background: rgba(0, 0, 0, 0.1);
    font-weight: 400;
}

.el-form-input > .selectize-dropdown [data-selectable].active {
    background: rgba(0, 0, 0, 0.05);
}

.el-form-input-button {
    height: 2.75em;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    font-size: 19px;
    text-shadow: 1px 1px rgba(0,0,0,.16);
    font-family: 'Montserrat', sans-serif;
}

.el-form-input-button-action {
    background: #00cb82 linear-gradient(150deg,#1cd965,#00c78e);
    color: #fff;
}

form.el-form-holder {
    padding: 1em;
}


































.moment-picker{
//     z-index: 1070;
    z-index: 2001;
}

.moment-picker .moment-picker-container{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    font-family: 'Montserrat', sans-serif;
    color: #555;
    border-radius: 2px;
    padding: 12px 8px 3px;
}

.moment-picker .moment-picker-container.month-view{
    padding: 10px 10px 8px;
}

.moment-picker th:hover, .moment-picker td:hover{
    background: #f5f5f5;
}

.moment-picker th.disabled, .moment-picker td.disabled, .moment-picker th.disabled:hover, .moment-picker td.disabled:hover{
    color: #d0d8de;
}

.moment-picker .moment-picker-container.month-view th, .moment-picker .moment-picker-container.month-view td{
    min-width: 2.5em;
}

.moment-picker th, .moment-picker td{
    border-radius: 2px;
}

.moment-picker td.today{
    background: inherit;
    position: relative;
}

/* .moment-picker td.highlighted{
    background: #2aa6ff !important;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.moment-picker td.selected.highlighted{
    color: #fff;
} */

.moment-picker td.selected{
    background: #2aa6ff !important;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.moment-picker td.highlighted{
    background: inherit;
    position: relative;
}

.moment-picker td.highlighted::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 2px;
    border: 2px solid #2aa6ff;
}

.moment-picker td.selected.highlighted::after{
    border-color: rgba(0, 0, 0, 0.3);
}

.el-form-data.fade {
    opacity: 0.25;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
    pointer-events: none;
}

.el-form-message {
    border-bottom: 1px solid transparent;
    padding: 1.5rem;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-height: 0px;
    padding: 0;
}

.el-form-message.open.warning {
    background-color: #f87a91;
}

.el-form-message.open {
    padding: 1.5rem;
    max-height: 6em;
    border-color: #eee;
}

.el-form-modal-data-section.el-form-modal-data-section-loading {
    opacity: 0.35;
    pointer-events: none;
}

.el-popover-header-item.el-selected::after {
    background: #555;
}
