header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 900;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    @include media(xs){
        bottom: 0;
    }
}

.el-header-logo-container {
    float: left;
    height: 100%;
    margin-left: 1em;

    @include media(xs){
        display: none;
    }
}

.el-header-logo-hex {
    float: left;
    height: 36px;
    width: 33px;
    margin-top: 11px;
    background: url(../images/header/logo-hex.png) center no-repeat;
}

.el-header-logo {
    height: 100%;
    cursor: pointer;
}

.el-header-pages-container {
    float: left;
    height: 100%;
    margin-left: 1.25em;

    @include media(xs){
        display: none;
    }
}

.el-header-page {
    float: left;
    position: relative;
}

.el-header-page-title {
    line-height: 58px;
    font-family: $work;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: -.3px;
}

.el-header-page-active .el-header-page-title {
    color: #18c773;
}

.el-header-page::after {content: '';position: absolute;width: 100%;height: 0;background: #21cc7a;bottom: -2px;transition: inherit;}

.el-header-page.ng-scope.el-header-page-active::after {
    height: 2px;
}

.el-header-buttons-container {
    float: right;
    height: 100%;
    margin-right: 1em;

    @include media(xs){
        display: none;
    }
}

.el-header-button {
    float: right;
    height: 100%;
    padding-top: 12px;
}

.el-header-button-icon {
    height: 24px;
    width: 24px;
}

.el-header-button-wrapper {
    height: 36px;
    width: 24px;
    padding: 6px 0;
    cursor: pointer;
    position: relative;

    &.dropdown{
        width: 36px;
        
        &::after{
            content: '';
            position: absolute;
            height: 8px;
            width: 8px;
            top: 16px;
            right: 0;
            border: 4px solid transparent;
            border-top: 4px solid #555;
        }
    }
}


.el-header-page:not(:first-of-type) {
    margin-left: 0.75em;
}

.el-header-page-icon-wrapper {
    padding: 0 0.75em;
}


.el-header-button:not(:last-of-type) {
    margin-left: 2.5em;
}

.el-header-button-icon.el-header-button-icon-user {
    background: url(../images/icons/24/user.svg);
}

.el-header-button-icon.el-header-button-icon-notifications {
    background: url(../images/header/icon-notifications.png);
}

.el-header-button-notifications {
    position: absolute;
    background: #ff2a47;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    top: -6px;
    right: -7px;
    border: 2px solid #fff;
    font-weight: 600;
}


.el-header-button-icon.el-header-button-icon-help {
    background: url(../images/header/icon-help.png);
}

.ng-toast.ng-toast--top {
    margin-top: calc(60px + 1em);
}

.ng-toast.ng-toast--right .ng-toast__list {
    margin-right: 12px;
}

.el-header-logo-hex.el-header-logo-hex-full {
    background: url(../images/header/logo-hex-full.png) center no-repeat;
}

.el-button {
    float: right;
    padding: 6px 12px;
    border: 2px solid currentColor;
    margin-left: 1em;
    border-radius: 3px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: #555;
    background: #fff;
}

.el-create-processo-header-confirmation{
    @extend .el-animated;

    float: right;
    color: $elysium-green;
    font-family: $poppins;
    font-weight: 600;
    padding: 8px 4px;
    font-size: 16px;
    opacity: 0;

    @keyframes el-create-processo-header-confirmation-pop{
        5%{opacity:1;}
        10%{opacity:0}
        15%{opacity:1;}
        20%{opacity:0}
        25%{opacity:1;}
        95%{opacity:1}
    }
}

.el-create-processo-header-buttons {
    position: absolute;
    right: 2em;
    top: calc(50% - 20px);
}

.el-create-processo-header-title {
    float: left;
    font-family: 'Montserrat';
    font-size: 1.25em;
    line-height: 66px;
    padding-left: 3em;
}

.el-create-processo-header {
    height: 8em;
    background: #fff;
    border-bottom: 1px solid #eee;

    @include media(xs){
        display: none;
    }
}

.el-create-processo-header.affix {
    top: 60px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 500;
    border-color: #f1f1f1;
}

.el-button.el-button-action {
    @extend .el-animated;

    background: #2aa6ff;
    border-color: #2aa6ff;
    color: #fff;

    &.inactive{
        background: transparent;
        color: $elysium-blue;
        pointer-events: none;
    }
}

.el-button.form-invalid {
    background: #fff;
    color: #2aa6ff;
}

.el-button.el-button-cancel {
    color: #999;
}

.el-header-mobile-pages-container {
    float: left;
    height: 100%;
    display: none;
    width: 100%;

    @include media(xs){
        display: block;
    }
}

.el-header-mobile-page {
    float: left;
    position: relative;
    cursor: pointer;
    width: calc(100% / 5);

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        background: hsl(151, 72%, 46%);
        bottom: 0px;
        transition: inherit;
    }

    &.el-header-page-active::after{
        height: 2px;
    }
    
    &.el-header-page-active{
        .el-header-mobile-page-icon{
            opacity: 1;
        }
    }
}

.el-header-mobile-page-icon-wrapper {
    padding: 20px 0.75em;
}

.el-header-mobile-page-icon {
    height: 20px;
    width: 100%;
    opacity: 0.5;

    &.el-header-page-icon-processo{
        background: url(../images/header/icon-processes.svg) center no-repeat;
    }

    &.el-header-page-icon-calendar{
        background: url(../images/header/icon-tasks.svg) center no-repeat
    }

    &.el-header-page-icon-person{
        background: url(../images/header/icon-person.svg) center no-repeat
    }

    &.el-header-page-icon-notifications{
        background: url(../images/header/icon-notifications.svg) center no-repeat
    }

    &.el-header-page-icon-configurations{
        background: url(../images/header/icon-configurations.svg) center no-repeat
    }
}

iframe#drift-widget{
    @include media(xs){
        display: none !important;
    }
}

.el-section-header-mobile-menu {
    float: left;
    height: 50px;
    width: 100%;
    display: none;

    @include media(xs){
        display: block;
    }
}

.el-section-header-mobile-menu-item {
    float: left;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 49%);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 2px;
    padding: 4px 8px;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: 10px;
    height: 30px;
    width: 30px;
    border: 2px solid currentColor;
    border-radius: 2px;
    padding: 3px 8px;
    transition-property: color;

    &.el-selected{
        color: hsl(0, 0%, 100%);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        border: none !important;
        padding: 5px 9px !important;
        width: auto;
        letter-spacing: initial;
        border-color: hsla(0, 0%, 0%, 0);
        color: hsl(0, 0%, 100%) !important;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    &.everything{
        font-weight: 800;
        font-family: "Lato", sans-serif;
        font-size: 1.4em;
        line-height: 1em;
        padding: 0.08em 0.3em;
        color: $elysium-blue;

        &.el-selected{
            background: $elysium-blue;
            padding: 0.2em 0.4em !important;
        }
    }

    &.active-processes{
        color: $process-active;

        &.el-selected{
            background: $process-active;
        }
    }

    &.suspended-processes{
        color: $process-suspended;
        padding: 3px 9px !important;
        
        &.el-selected{
            background: $process-suspended;
            padding: 5px 9px !important;
        }
    }

    &.archived-processes{
        color: $process-archived;
        
        &.el-selected{
            background: $process-archived;
        }
    }
}

.el-section-header-mobile-menu-action {
    float: right;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: hsl(151, 74%, 43%);
    border: 2px solid hsl(151, 72%, 46%);
    border-radius: 2px;
    margin-right: 11px;
    margin-top: 11px;
    padding: 0 8px;
    cursor: pointer;
    letter-spacing: 0.02em;
    height: 30px;
    width: 30px;
    font-weight: 800;

    &.el-selected{
        color: hsl(0, 0%, 100%);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, hsl(137, 62%, 57%) 0%, hsl(153, 78%, 45%) 100%);
        border-radius: 2px;
        border: none;
        padding: 2px 10px;
    }
}

.el-section-header-mobile-menu-back {
    float: left;
    cursor: pointer;
    height: 100%;
    background: url(../images/common/section-header-back.png) 17px center no-repeat;
    width: 0px;
    border-right: 0px solid transparent;

    &.visible{
        border-right: 1px solid hsl(0, 0%, 93%);
        width: 50px;
    }
}

.el-create-processo-header-mobile {
    height: 5em;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
    z-index: 500;

    @include media(sm, xl){
        display: none;
    }
}

.el-processo-info-header-mobile {
    float: left;
    width: 8em;
    height: 100%;
    position: relative;
}

.el-processo-info-header-mobile-icon {
    position: absolute;
    height: 3em;
    width: 3em;
    top: 1em;
    left: 1em;
    border-radius: 1000px;
    border: 2px solid;
    background-position: center;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 87%);
    background-image: url(../images/processos/processo-loading.png);
}

.el-processo-info-body-mobile {
    float: left;
    height: 100%;
    width: calc(100% - 8em);
    padding-left: 1em;
}

.el-processo-info-body-title-mobile {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    margin-top: 0.7em;
    position: relative;
    opacity: 1;
    transform: translateY(0px);
    margin-bottom: -0.15em;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.el-processo-info-body-title-only{
        margin-top: 1.2em;
    }

    &.el-processo-info-body-title-none{
        opacity: 0.5;
    }
}

.el-processo-info-body-process-number-mobile {
    color: hsl(0, 0%, 53%);
    display: inline-block;
    opacity: 0;
    font-size: 0.85em;

    &.el-processo-info-body-process-number-visible{
        opacity: 1;
    }
}

.el-create-processo-header-buttons-mobile {
    position: absolute;
    right: 1em;
    top: calc(50% - 18px);
}

.el-button-mobile {
    float: right;
    padding: 6px 12px;
    margin-left: 1em;
    border-radius: 3px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: hsl(0, 0%, 33%);
    background: hsl(0, 0%, 100%);
    border: none;
    height: 36px;

    &.el-button-save{
        width: 36px;
        background: $elysium-blue url(../images/header/icon-save.svg) center no-repeat;
    }
}