.el-home-grid {
    display: block;
    margin-top: -0.5em;
}

.el-home-grid-item {
    width: calc(33.333333% - 1em);
    margin: 0.5em;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
}


.el-home-grid-item.grid-item-100 {
    width: calc(100% - 1em);
}

.el-home-grid-item-title {
    padding: 14px 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
    color: #555;
    height: 50px;
    position: relative;
}

.el-home-grid-item-content {
    padding: 1em;
    overflow: auto;
}

.el-home-grid-item-content.el-home-grid-item-content-fixed {
    max-height: 40rem;
}

.el-home-grid-item-sizer {
    width: 33.333333%;
}


.el-home-grid-item.grid-item-66 {
    width: calc(66% - 0.5em);
}

.el-home-grid-item-subtitle {
    position: absolute;
    font-size: 12px;
    line-height: 50px;
    top: 0;
    right: 1rem;
    color: #bbbbbb;
}
