.login-background {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.login-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.login-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    width: 700px;
    max-height: 80vh;
    overflow: hidden;
}

.elysium-giant-loader {
    width: 95vh;
    position: absolute;
    left: -3vw;
    top: -5vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}

#elysium-slow-hex {
    fill: #dcdcdc;
    animation: elysium-logo-spin 10s cubic-bezier(0, 1, 0, 1), elysium-logo-spin 200s 10s linear infinite, fade 1s ease-in-out;
    transform-origin: 68px 77px;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#elysium-slow-y {
    fill: #f9f9f9;
}

.login-input-holder {
    width: 100%;
    min-height: 70px;
    position: relative;
}

.login-input {
    width: 100%;
    margin-top: 28px;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    padding: 8px 4px;
    font-weight: 400;
    color: #000;
    transition: all .3s cubic-bezier(.4,0,0,1);
    background: transparent;
}

.login-input-label {
    position: absolute;
    left: 10px;
    top: 36px;
    font-size: 18px;
    font-weight: 300;
    color: #a9a9a9;
    transition: all .2s cubic-bezier(.4,0,0,1);
    pointer-events: none;
}

.login-input-label-floating {
    left: 2px;
    top: 14px;
    font-size: 12px;
    color: #404040;
}

.login-input:focus + .login-input-label, .login-input.ng-invalid.ng-not-empty + .login-input-label {
    left: 2px;
    top: 14px;
    font-size: 12px;
    color: #404040;
}

.login-input:focus {
    border-color: #2dce78;
}

.elysium-login-logo {
    margin: 8px 0;
}

.login-form-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 3px rgba(26, 152, 95, 0.8);
}

.login-input.ng-not-empty.ng-invalid:not(:focus) {
    border-color: #ff3b56;
    color: #ff3b56;
}

.login-input.ng-invalid.ng-not-empty:not(:focus) + .login-input-label, .login-form-input-invalid + .login-input-label {
    color: #ff3b56;
}

.login-form-button-holder {
    width: 100%;
}

.login-form-button-half {
    width: calc(50% - 0.5em) !important;
    margin: 0 0.5em;
    float: left;
    margin-bottom: 0 !important;
}

.login-form-button-half:first-of-type {
    margin-left: 0;
}

.login-form-button-half:last-of-type {
    margin-right: 0;
}


.login-form-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.login-input-selectize > .selectize-input {
    width: 100% !important;
    margin-left: 0 !important;
}

.login-input-selectize > .selectize-dropdown {
    width: 100% !important;
    margin-left: 0 !important;
}

.elysium-fast-hex {
    animation-duration: 0s, 5s, 0s !important;
    animation-delay: 0s, 0s, 0s !important;
}

.elysium-green-hex {
    opacity: 0 !important;
}


.login-view-logo {
    float: left;
    height: 121px;
    width: 280px;
    background: url("../images/logo-200.png") center no-repeat;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}


.login-input-button {
    position: absolute;
    top: 36px;
    right: 6px;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    padding: 3px 8px;
    color: #565656;
    font-weight: 400;
    height: 26px;
    opacity: 0.6;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.el-main-login {
    height: 100%;
    width: 100%;
    padding-top: 6em;
}

.el-main-login.ng-enter, .el-main-login.ng-leave{
    position: absolute;
    left: 0;
    right: 0;
}

.el-main-login.ng-enter{
    transform: translateX(-2em);
    opacity: 0;
}

.el-main-login.ng-enter.ng-enter-active{
    transform: translateX(0);
    opacity: 1;
}

.el-main-login.ng-leave{
    transform: translateX(0);
    opacity: 1;
}

.el-main-login.ng-leave.ng-leave-active{
    transform: translateX(2em);
    opacity: 0;
}

.el-login-form-logo > img {
    margin: 0 auto;
    display: block;
}

.el-login-form-logo {
    padding: 2em 0;
}

.el-login-input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 18px 12px 0;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.el-login-input-label {
    position: absolute;
    z-index: 1;
    left: 1em;
    top: 0.75em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.35);
    pointer-events: none;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.el-login-form-holder {
    width: 350px;
    margin: 0 auto;
    padding: 284px 1em 1em;
    background: #fff url(/images/login/loginHeader.jpg) no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
}

.el-login-input:hover {
    border-color: rgba(0, 0, 0, 0.35);
}

.el-login-input:focus {
    border-color: #1ccc78;
}

.el-login-form-error {
    background: #ff8893;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.el-login-button {
    height: 2.75em;
    width: 100%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    font-size: 19px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
    font-family: 'Montserrat', sans-serif;
}

.el-login-button.el-login-button-action {
    background: #00cb82 linear-gradient(150deg, rgb(25, 215, 106) 0%,rgb(9, 204, 131) 100%);
    color: #fff;
}

.el-login-links {
    width: 350px;
    margin: 0 auto;
    padding: 1em;
}

.el-login-form-header {
    width: 100%;
    height: 270px;
    background: url(/images/login/loginHeader.jpg);
}

.el-login-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
    color: #c3c3c3;
    text-shadow: 1px 1px white;
}

.el-login-input.ng-invalid.ng-touched:not(:focus) {
    background: rgba(255, 0, 35, 0.42);
    color: #fff;
}

.ng-invalid.ng-touched:not(:focus) + .el-login-input-label {
    color: rgba(255, 255, 255, 0.7);
}

.el-signup-form-holder {
    width: 600px;
    margin: 0 auto;
    padding: 94px 1em 1em;
    background: #fff url(/images/login/signupHeader.jpg) no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
}

.el-login-input-holder {
    float: left;
    width: 100%;
    position: relative;
    height: 5em;
    margin-bottom: 1em;
}

.el-login-input-holder-1 {
    width: calc(25% - 1em);
    margin-right: 1em;
}

.el-login-input-holder-2 {
    width: calc(50% - 1em);
    margin-right: 1em;
}

.el-login-input-holder-3 {
    width: calc(75% - 1em);
    margin-right: 1em;
}

.el-login-input-holder:last-child.el-login-input-holder-1 {
    width: 25%;
    margin-right: 0;
}

.el-login-input-holder:last-child.el-login-input-holder-2 {
    width: 50%;
    margin-right: 0;
}

.el-login-input-holder:last-child.el-login-input-holder-3 {
    width: 75%;
    margin-right: 0;
}

.el-login-input:not(.ng-invalid):hover + .el-login-input-label {
    color: rgba(0, 0, 0, 0.8);
}

.el-login-input:focus + .el-login-input-label {
    color: rgb(28, 204, 120) !important;
}

.el-signup-message {
    margin: 0 0 1rem;
    font-size: 16px;
}

.el-login-input.ng-invalid-compare-to.ng-pristine.ng-invalid {
    background: inherit;
    color: inherit;
}

.ng-pristine.ng-invalid-compare-to:not(:focus) + .el-login-input-label {
    color: rgba(0, 0, 0, 0.35);
}

.selectize-control.el-login-input.single > .selectize-input {
    width: 100%;
    margin: 0;
    padding: 34px 12px 0;
    border: none;
    height: 100%;
    color: inherit;
    cursor: text;
}

.selectize-control.el-login-input {
    padding: 0;
}

.el-login-input > .selectize-dropdown.el-login-input {
    margin: 0;
    padding: 0;
    height: auto;
}

.el-login-input > .selectize-dropdown [data-selectable] {
    font-size: 18px;
    font-weight: 100;
}

.el-login-input > .selectize-dropdown [data-selectable].selected {
    background: rgba(0, 0, 0, 0.1);
    font-weight: 400;
}

.el-login-input > .selectize-dropdown [data-selectable].active {
    background: rgba(0, 0, 0, 0.05);
}

.el-signup-message-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.el-signup-form-error {
    background: #ff8893;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.el-signup-form-error > a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.el-login-button-disabled {
    opacity: 0.25;
    pointer-events: none;
}

.el-signup-form-notice {
    background: #40b0ff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.el-main-login b {
    font-weight: 600;
}

.el-login-input > .selectize-input > input {
    font-size: 17px;
}


.el-signup-form-message {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.el-signup-form-message a {
    color: #40b0ff;
    font-weight: initial;
}