.el-modal-dialog {
    position: fixed;
    top: 5vh;
    left: calc(50% - 300px);
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
    margin: 0;
    z-index: 2000;

    @include media(xs){
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        margin: 1em;
    }
}


.el-modal-header {
    position: relative;
    font-size: 1.25em;
    padding: 0.75em 1em;
    border-bottom: 1px solid #eeeeee;
}

.el-modal-header-close {
    position: absolute;
    height: 100%;
    width: 2.75em;
    right: 0;
    top: 0;
    cursor: pointer;
}

.el-modal-header-close::before {content: '';width: 1em;height: 2px;background: #333;position: absolute;top: 50%;left: 50%;transform: translate(-50%) rotateZ(45deg);}
.el-modal-header-close::after {content: '';width: 1em;height: 2px;background: #333;position: absolute;top: 50%;left: 50%;transform: translate(-50%) rotateZ(-45deg);}

.el-modal-text {
    font-size: 1.1em;
    padding: 1em;
}

.el-modal-footer {
    border-top: 1px solid #eeeeee;
    padding: 1em;
    position: relative;
}

.el-modal-footer-button {
    float: right;
    padding: 0.5em 1em;
    border: 2px solid currentColor;
    margin-left: 1em;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #555;

    @include media(xs){
        width: 100%;
        margin: 1em 0 0 0;
        text-align: center;

        &:first-child{
            margin: 0;
        }
    }
}

.el-modal-footer-button.warning {
    border-color: #FF2A47;
    background: #FF2A47;
    color: #fff;
}

.el-modal {
    background: rgba(0, 0, 0, 0.42);
}

.el-modal-footer-button.left {
    float: left;
    margin-left: 0;
    margin-right: 1em;
}

.el-modal-body {
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
    overflow-x: hidden;

    @include media(xs){
        max-height: calc(100vh - 250px);
    }
}

.el-modal-footer-button.action {
    border-color: #2aa6ff;
    background: #2aa6ff;
    color: #fff;
}

.el-modal-footer-tip {
    position: absolute;
    left: 24px;
    top: calc(50% - 12px);
    height: 24px;
    width: 24px;
    border: 2px solid currentColor;
    border-radius: 1000px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 7px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #2aa6ff;
    cursor: pointer;
    display: block;
}

.el-modal-header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: calc(100% - 30px);
}

.el-modal-footer-button.fade {
    opacity: 0.25;
}

.el-modal-footer-button.light-warning {
    color: #fb5e74;
}