.el-notification-holder {
    border-top: 1px solid #e8e8e8;
    position: relative;
    min-height: 70px;
    background: #fff;
    max-height: 800px;
    overflow: hidden;
}

.el-notification-icon-holder {
    position: absolute;
    width: 80px;
    height: 100%;
}

.el-notification-info-holder {
    padding: 1.25rem;
}

.el-notification-icon {
    width: 40px;
    height: 40px;
    background: url(../images/processos/page-icon.png) center no-repeat;
    /* opacity: 0.25; */
    border: 2px solid #808080;
    border-radius: 50px;
    position: absolute;
    top: calc(50% - 20px);
    left: 20px;
}

.el-notification-info-timestamp {
    color: #b3b3b3;
}

.el-notification-info-timestamp::before {
    content: '\00b7';
    font-size: 15px;
    line-height: 0px;
    margin: 0 4px 0 2px;
    display: inline-block;
}

.el-notification-info-detail-text {
    float: left;
}

.el-link:hover {
    color: #00ccff;
}

.el-notification-info-detail-icon {
    width: 16px;
    height: 16px;
    float: left;
    margin: 2px 8px 0 0;
}

.el-notification-info-detail-icon > img {
    margin-top: -6px;
    height: 14px;
    width: 14px;
}

.el-notification-info-details {
    margin-top: 0.75rem;
    padding-top: 0.85rem;
    border-top: 1px solid #e8e8e8;
}

.el-notification-info-title {
    
}

.el-notification-info-detail:not(:first-of-type) {
    margin-top: 0.35rem;
}

.el-notification-header-icon {
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 0.5rem;
}

.el-notification-header-icon > img {
    margin-top: -6px;
}

.el-notification-header {
    margin-bottom: 0.8rem;
}

.el-notification-header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    color: #333;
    line-height: 16px;
}

.el-notification-header-actions {
    float: right;
    opacity: 0.25;
}

.el-notification-header-action {
    float: left;
    height: 14px;
    width: 14px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.el-notification-header-action > img {
    margin-top: -8px;
    height: 14px;
    width: 14px;
}

.el-notification-holder:hover .el-notification-header-actions {
    opacity: 1;
}

.el-notification-holder.el-not-read {
    background: rgba(24, 170, 255, 0.08);
}

.el-notifications-empty {
    padding: 3rem 1.25rem;
}

.el-notifications-empty-icon {
    height: 120px;
    width: 120px;
    margin: auto;
}

.el-notifications-empty-text {
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

.el-notification-footer {
    border-top: 2px solid #e1e1e1;
}

.el-notification-holder:first-of-type {
    border-top: none;
}

.el-notification-footer-action {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 0.85em 1em;
    cursor: pointer;
    letter-spacing: -0.1px;
}

.el-notifications-loading {padding: 6em 0;}

.el-notifications-loading-icon {
    height: 28px;
    width: 28px;
    background-image: url(../images/loader.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    animation: el-spin 1s infinite;
    animation-timing-function: linear;
}

.el-notifications-holder {
    max-height: 375px;
    overflow-y: auto;
}
