@import "variables";

.el-modal-dialog-payment-wizard{
  width: 1000px;
  left: calc(50% - 500px);

  .el-modal-payment-wizard-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;

    .el-modal-payment-wizard-header-steps{
      float: left;
      width: calc(100% - 50px);
      height: 100%;

      .el-modal-payment-wizard-header-step{
        float: left;
        position: relative;
        width: 33.333333%;
        height: 100%;
        font-size: 15px;
        text-align: center;
        font-family: $montserrat;
        padding: 15px;
        opacity: .45;
        cursor: default;

        &.active, &.done{
          color: $elysium-green;
        }

        &.active{
          opacity: 1;
          background: hsla(151, 74%, 95%, 1);

          &::after{
            border-left: 10px solid hsla(151, 74%, 95%, 1);
          }

          &:first-child{
            border-top-left-radius: 3px;
          }
        }

        &::after{
          content: '';
          position: absolute;
          height: 100%;
          width: 20px;
          right: -20px;
          top: 0;
          border-left: 10px solid #fff;
          border-right: 10px solid transparent;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }

        &.active:not(:first-child)::before{
          content: '';
          position: absolute;
          height: 100%;
          width: 20px;
          left: 0;
          top: 0;
          border-left: 10px solid #fff;
          border-right: 10px solid transparent;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }

        &:last-child::after{
          content: none;
        }
      }
    }

    .el-modal-payment-wizard-header-close{
      float: right;
      position: relative;
      width: 50px;
      height: 100%;
      border-left: 1px solid #eee;
      cursor: pointer;

      &.right{
        float: right;
      }

      &::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        background: #444;
        transform: rotateZ(45deg);
        top: 25px;
        left: 13px;
      }

      &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        background: #444;
        transform: rotateZ(-45deg);
        top: 25px;
        left: 13px;
      }
    }
  }
}

.el-modal-payment-wizard-step-flex{
  padding: 2em;
  display: flex;
  justify-content: center;
}

.el-modal-payment-wizard-plan-holder{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 3em 6em;
  margin: 0 1em;
  text-align: center;
  font-family: $poppins;

  &:nth-child(1){
    background: hsla(212, 68%, 97%, 1);
  }

  &:nth-child(2){
    background: hsla(212, 68%, 90%, 1);

    > .el-modal-payment-wizard-plan-image{
      box-shadow: 0 10px 35px #b9cce0;
    }
  }

  &.yearly{
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 10em;
      width: 10em;
      border: 5em solid transparent;
      border-right: 5em solid $elysium-dark-blue;
      border-top: 5em solid $elysium-dark-blue;
      border-top-right-radius: 5px;
    }

    &::after{
      content: attr(data-free);
      position: absolute;
      top: 1.7em;
      right: 1.2em;
      transform: rotateZ(45deg);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: -0.3px;
      color: #fff;
      max-width: 4em;
    }
  }
}

.el-modal-payment-wizard-plan-image{
  height: 130px;
  width: 130px;
  margin: 0 auto 2.5em;
  background: hsl(0, 0%, 100%);
  border-radius: 100px;
  padding: 27px;
  box-shadow: 0 10px 35px #c9d8e8;
}

.el-modal-payment-wizard-plan-name{
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 1.5rem;
}

.el-modal-payment-wizard-plan-price{
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 2rem;

  &::before{
    content: 'R$';
    font-size: 0.5em;
    vertical-align: super;
    margin-left: -1em;
  }
}

.el-modal-payment-wizard-plan-detail{
  font-family: $lato;
  font-size: 1.2em;
}

.el-modal-payment-wizard-plan-detail-icon{
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -3px;
  margin-right: 3px;

  &.users{
    background: url(../images/payments/icon-users.png) center no-repeat;
  }
}

.el-modal-payment-wizard-plan-select{
  @extend .el-animated;

  margin-top: 1.5em;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  background: $elysium-dark-blue;
  border: none;
  border-radius: 3px;
  padding: .7em 1.5em .6em;
  box-shadow: 0 5px 40px rgba(19, 106, 221, 0.4);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  border: 2px solid $elysium-dark-blue;

  &.current-plan{
    background: transparent;
    border-color: $elysium-dark-blue;
    color: $elysium-dark-blue;
    box-shadow: none;
    pointer-events: none;
  }

  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 36px rgba(15, 68, 138, 0.3);
  }
}

.el-modal-payment-wizard-footer{
  border-top: 1px solid hsl(0, 0%, 93%);
  font-family: $montserrat;
}

.el-modal-payment-wizard-footer-safety{
  float: left;
  padding: 18px;
  color: $elysium-green;
  cursor: help;

  &::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(../images/payments/icon-safe.png) center no-repeat;
    vertical-align: -3px;
    margin-right: 10px;
  }
}

.el-modal-payment-wizard-footer-button{
  float: right;
  padding: 8px 12px;
  border: 2px solid currentColor;
  margin: 8px 8px 8px 0;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;

  &.continue{
    color: #fff;
    border-color: $elysium-blue;
    background-color: $elysium-blue;
  }

  &.loading{
    opacity: .5;
    pointer-events: none;
  }
}

.el-modal-payment-wizard-company-form-header{ 
  padding: 2em;
  font-family: $montserrat;
  border-bottom: 1px solid #eee;
}

.el-modal-payment-wizard-company-form-header-icon {
  float: left;
  height: 80px;
  width: 80px;

  &.plan{
    background: url(../images/payments/icon-plan.png) center no-repeat;
  }

  &.company{
    background: url(../images/payments/icon-building.png) center no-repeat;
  }

  &.payment{
    background: url(../images/payments/icon-credit-card.png) center no-repeat;
  }

  &.invitation{
    background: url(../images/configurations/icon-email.png) center no-repeat;
  }

  &.journal{
    background: url(../images/icons/80/journal.svg) center no-repeat;
  }

  &.variations{
    background: url(../images/icons/80/variations.svg) center no-repeat;
  }

  &.exceptions{
    background: url(../images/icons/80/exceptions.svg) center no-repeat;
  }
}

.el-modal-payment-wizard-company-form-header-text {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 2em;
}

.el-modal-payment-wizard-payment-cc-holder{
  float: left;
  width: 50%;
  height: 100%;
}

.el-modal-payment-wizard-payment-form-holder{
  float: left;
  width: 50%;
}

.el-credit-card-container{
  &::after{
    content: '';
    position:absolute;
    height: 25px;
    width: 40px;
    top: 26px;
    right: 2em;
    opacity: 0;
    transition: inherit;
  }

  &.visa::after{
    opacity: 1;
    background: url(../images/payments/icon-visa.png) center no-repeat;
  }

  &.mastercard::after{
    opacity: 1;
    background: url(../images/payments/icon-mastercard.png) center no-repeat;
  }
}

.el-configurations-company-plan{
  float: left;
  width: 50%;
  text-align: center;
  padding: 3em 2em;
  @extend %work;
}

.el-configurations-company-plan-image{
  height: 130px;
  width: 130px;
  margin: 0 auto 2.5em;
  background: hsl(0, 0%, 100%);
  border-radius: 100px;
  padding: 27px;
  box-shadow: 0 10px 35px #dfe4e8; 
}

.el-configurations-company-plan-name{
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 1.5rem;
}

.el-configurations-company-plan-change, .el-configurations-company-payment-profile-change{
  display: inline-block;
  background: $elysium-blue;
  padding: 1em 1.2em .9em;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

.el-configurations-company-plan-current {
    text-transform: uppercase;
    color: hsl(0, 0%, 70%);
    font-weight: 600;
    font-size: 13px;
}

.el-configurations-company-payment-profile{
  @extend %work;
  float: left;
  width: 50%;
  padding: 3em 2em;
  text-align: center;

  & + .el-configurations-company-info-section{
    border-top: 1px solid #eee;
  }
}

.el-configurations-company-payment-profile-card {
  position: relative;
  height: 12em;
  width: 22em;
  margin: auto;
  border-radius: 5px;
  font-weight: 600;
  @extend %work;
  color: #fff;
  text-align: left;

  &.mastercard{
    background-color: hsl(355, 86%, 52%);
    box-shadow: 0 10px 35px hsla(355, 100%, 82%, 1);

    &::after{
      background: #fff url(../images/payments/icon-mastercard.png) center no-repeat;
    }
  }

  &.visa{
    background-color: hsl(223, 62%, 38%);
    box-shadow: 0 10px 35px hsla(223, 75%, 84%, 1);

    &::after{
      background: #fff url(../images/payments/icon-visa.png) center no-repeat;
    }
  }

  &::after{
    content: '';
    position:absolute;
    height: 42px;
    width: 60px;
    top: 1.5em;
    right: 1.5em;
    border-radius: 50px;
  }
}

.el-configurations-company-payment-profile-card-number {
  position: absolute;
  left: 1.5rem;
  bottom: 4rem;
  font-size: 1.5em;

  &::before{
    content: '**** **** **** ';
    letter-spacing: 2px;
    vertical-align: -4px;
  }

  &::after{
    content: attr(data-field);
    position: absolute;
    top: -1.42em;
    left: 0;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.72);
    font-weight: 700;
  }
}

.el-configurations-company-payment-profile-card-name {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.25em;
    min-width: 6em;

  &::after{
    content: attr(data-field);
    position: absolute;
    top: -1.42em;
    left: 0;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.72);
    font-weight: 700;
  }
}

.el-configurations-company-payment-profile-card-expiration {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.25em;

  &::after{
    content: attr(data-field);
    position: absolute;
    top: -1.42em;
    left: 0;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.72);
    font-weight: 700;
  }
}

.el-configurations-company-payment-profile-created-at{
  text-transform: uppercase;
  color: hsl(0, 0%, 70%);
  font-weight: 600;
  font-size: 13px;
  padding: 3.6em 0 1.2em;
}

.el-configurations-company-info{
  float: left;
  width: 100%;
}

.el-configurations-company-info-section{
  float: left;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid hsl(0, 0%, 93%);

  &.border-top{
    border-top: 1px solid hsl(0, 0%, 93%);
  }
}

.el-configurations-company-info-section-name {
  float: left;
  font-size: 1.5em;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  padding: 14px 20px;
  color: hsl(0, 0%, 13%);
}

.el-configurations-company-bills {
    float: left;
    width: 100%;
    padding: 1em;
}

.el-configurations-company-bills-header {
    border-bottom: 2px solid #eee;
}

.el-configurations-company-bills-data-header {
    @extend %work;

    float: left;
    font-size: 15px;
    padding: .35em 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ccc;
    text-align: center;
    width: 20%;

    &:first-child{
      text-align: left;
    }

    &:last-child{
      text-align: right;
    }

    > a{
      display: inline-block;
      border-radius: 2px;
      padding: 3px 0 2px 8px;
      color: hsl(0, 0%, 20%);
      font-size: 13px;
      text-decoration: underline;
//       background: hsl(206, 100%, 60%);
    }
}

.el-configurations-company-bill-header-data{
  @extend .el-configurations-company-bills-data-header;

  text-transform: initial;
  color: initial;
  font-weight: inherit;
  padding: .45em 0.75em;

  &.status{
    font-weight: 600;

    &.paid{
      color: $elysium-green;
    }

    &.pending{
      color: hsla(355, 75%, 60%, 1);
    }

    &.canceled, &.scheduled, &.review{
      color: hsl(0, 0%, 75%);
    }
  }
}



.el-configurations-company-bill-header {
    padding: .5em 0;
//     cursor: pointer;

    &:hover{
        background-color: #f8f8f8;
    }
}

.el-configurations-company-info-section-button {
  @extend %work;
  float: right;
  padding: .65em 1em;
  margin-left: 1em;
  border-radius: 3px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background: hsl(206, 100%, 60%);
  font-weight: 600;
  margin: 10px;

  &.simple{
    background: transparent;
    color: #ccc;
    border: 2px solid currentColor;
    margin-top: 8px;

    &:hover{
      color: #333;
    }
  }
}

.el-modal-payment-wizard-header-title {
    float: left;
    font-size: 1.35em;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 12px 20px;
    color: hsl(0, 0%, 13%);
}

.el-configurations-company-pause-info {
    background: $elysium-dark-blue;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.15em;

    > a{
      color: $elysium-dark-blue;
      background: white;
      padding: 8px 12px;
      border-radius: 3px;
      margin-left: .75em;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: -.025em;
    }
}
