#el-section-person .el-section-header-icon:after {
    background: url(../images/person/page-icon.png) 10px no-repeat;
}


.el-person-list-item {
    position: relative;
    height: 5em;
    border-top: 1px solid;
    border-color: #f5f5f5;
    transform-origin: top;
    overflow: hidden;
    transition: all .375s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}

.el-person-list-item:first-of-type{
    border-top: none;
}

.el-person-list-item-icon-holder {
    float: left;
    height: 5em;
    width: 4em;
    position: relative;
}

.el-person-list-item-details {
    float: left;
    height: 5em;
    width: calc(100% - 4em);
    font-family: 'Montserrat', sans-serif;
}

.el-person-list-item-icon {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ebebeb;
    border-radius: 50%;
    top: 30px;
    left: 22px;
}

.el-person-list-item-icon.client {
    background: #16a9ff;
}

.el-person-list-item-icon.adverse {
    background: #ff2a47;
}

.el-person-list-item-icon.adverselawyer {
    background: #ffc629;
}

.el-person-list-item-icon.correspondent {
    background: #1ad477;
}

.el-person-list-item-name {
    font-size: 16px;
    margin-top: 24px;
}

.el-person-list-item-name.el-has-email {
    margin-top: 14px;
}

.el-person-list-item-email {
    font-size: 14px;
    color: #ccc;
    font-family: 'Lato', sans-serif;
}

.el-person-list-item:hover{
    background: #f9f9f9;
}

.el-processo-data-section-icon.location::after {
    background: #fff url(../images/person/icon-pin.png) center no-repeat;
}

.el-person-info-header-icon {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 2em;
    left: 2em;
    border-radius: 1000px;
    border: 2px solid;
    background-position: center;
    background-repeat: no-repeat;
    color: #ddd;
    background-image: url(../images/person/person-loading.png);
}

.el-person-info-header-icon.client {
    color: #16a9ff;
    background-image: url(../images/person/person-client.png);
}

.el-person-info-header-icon.adverse {
    color: #ff2a47;
    background-image: url(../images/person/person-adverse.png);
}

.el-person-info-header-icon.adverse-lawyer {
    color: #ffc629;
    background-image: url(../images/person/person-adverse-lawyer.png);
}

.el-person-info-header-icon.correspondent {
    color: #1ad477;
    background-image: url(../images/person/person-correspondent.png);
}

.el-person-list-item-actions {
    position: absolute;
    height: 5em;
    width: 100%;
    pointer-events: none;
    padding-right: 2em;
    opacity: 0;
}

.el-person-list-item > .el-processo-list-item-actions {
    height: 5em;
}

.el-person-list-item .el-processo-action {
    margin-top: 20px;
}

.el-person-list-item.ng-enter{
    height: 0px;
    border-color: transparent;
}

.el-person-list-item.ng-enter-active{
    height: 5em;
    border-color: #f5f5f5;
}

.el-person-list-item.ng-leave{
    height: 5em;
    border-color: #f5f5f5;
}

.el-person-list-item.ng-leave-active{
    height: 0px;
    border-color: transparent;
}

.el-processo-info-body-title.name-only {
    transform: translateY(10px);
}

.el-list-empty-icon.person-filter {
    background: url(../images/person/person-filter.png);
}

.el-list-empty-icon.person-empty {
    background: url(../images/person/person-empty.png);
}
