//noinspection ALL
#el-section-processos .el-section-header-icon::after {
    background: url(../images/processos/page-icon.png) 10px center no-repeat;
}

.el-processo-list-item.ng-enter {
    height: 0;
    opacity: 0;
}

.el-processo-list-item.ng-enter-active {
    height: 8em;
    opacity: 1;

    @include media(xs){
        height: 5em;
    }
}

.el-processo-list-item.ng-leave {
    height: 8em;
    opacity: 1;

    @include media(xs){
        height: 5em;
    }
}

.el-processo-list-item.ng-leave-active {
    height: 0;
    opacity: 0;
}


.el-processo-list-item {
    position: relative;
    height: 8em;
    border-top: 1px solid;
    border-color: #f5f5f5;
    transform-origin: top;
    overflow: hidden;
    transition: all .375s cubic-bezier(0.4, 0.0, 0.2, 1);

    @include media(xs){
        height: 5em;
    }
}

.el-processo-list-item:first-of-type{
    border-top: none;
}

.el-processo-list-item:hover{
    background: #f9f9f9;
}

.el-processo-list-item-header {
    float: left;
    width: 8em;
    height: 8em;
    position: relative;
    cursor: pointer;

    @include media(xs){
        height: 5em;
        width: 5em;
    }
}

.el-processo-list-item-body {
    float: left;
    height: 100%;
    width: calc(100% - 8em);
    cursor: pointer;

    @include media(xs){
        width: calc(100% - 5em);
        padding-left: 0.15em;
    }
}

.el-processo-list-item-header-icon {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 2em;
    left: 2em;
    border-radius: 1000px;
    border: 2px solid;

    @include media(xs){
        height: 3em;
        width: 3em;
        top: 1em;
        left: 1em;
    }
}

.el-processo-list-item-body-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    margin-top: 1.8em;
    margin-bottom: 0.1em;

    @include media(xs){
        margin-top: .6em;
    }
}

.el-processo-list-item-body-updates {
    color: #ababab;
}

.el-processo-list-item-body-title.no-updates {
    margin-top: 2.4em;

    @include media(xs){
        margin-top: 1.25em;
    }
}

.el-processo-list-item-header-icon.suspended {
    border-color: #ffa319;
    background: url(../images/processos/processo-suspended.png) center no-repeat;
}

.el-processo-list-item-header-icon.archived {
    border-color: #ff596a;
    background: url(../images/processos/processo-archived.png) center no-repeat;
}

.el-processo-list-item-header-icon.active {
    border-color: #1ad477;
    background: url(../images/processos/processo-active.png) center no-repeat;
}

.el-processo-additional-list-item-header-icon.suspended {
    border-color: #ffa319;
    background: url(../images/processos/processo-suspended.png) center no-repeat;
}

.el-processo-additional-list-item-header-icon.archived {
    border-color: #ff596a;
    background: url(../images/processos/processo-archived.png) center no-repeat;
}

.el-processo-additional-list-item-header-icon.active {
    border-color: #1ad477;
    background: url(../images/processos/processo-active.png) center no-repeat;
}

.el-processo-badge {
    height: 35px;
    width: 18px;
    float: right;
    margin-left: 1em;
    pointer-events: auto;
 
    @include media(xs){
        height: 25px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.el-processo-list-item-badges {
    position: absolute;
    top: -1px;
    right: 0;
    height: 35px;
    width: 100%;
    padding-right: 2em;
    pointer-events: none;

    @include media(xs){
        padding-right: 1em;
    }
}

.el-processo-badge.private {
    background: url(../images/processos/processo-badge-private.png) top center no-repeat;
}

.el-processo-badge.updates {
    background: url(../images/processos/processo-badge-updates.png) top center no-repeat;
}

.el-processo-list-item-actions {
    position: absolute;
    height: 8em;
    width: 100%;
    pointer-events: none;
    padding-right: 2em;
    opacity: 0;

    @include media(xs){
        display: none;
    }
}

.el-processo-action {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: calc(4em - 15px);
    margin-left: 2em;
    pointer-events: auto;
    cursor: pointer;
}

.el-processo-action.delete {
    background: url(../images/common/icon-delete.png) center no-repeat;
}

.el-processo-action.edit {
    background: url(../images/common/icon-edit.png) center no-repeat;
}

.el-processo-action.status {
    background: url(../images/common/icon-status.png) center no-repeat;
}

.el-processo-list-item:hover > .el-processo-list-item-actions, .el-person-list-item:hover > .el-processo-list-item-actions {
    opacity: 1;
}

.el-processo-info {
    position: relative;
    height: 8em;
    border-bottom: 1px solid #eee;

    @include media(xs){
        height: auto;
    }
}

.el-processo-info-header, .el-create-processo-header-icon {
    float: left;
    width: 8em;
    height: 100%;
    position: relative;
}

.el-processo-info-header{
    @include media(xs){
        height: 5em;
        width: 5em;
    }
}

.el-processo-info-header-icon {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 2em;
    left: 2em;
    border-radius: 1000px;
    border: 2px solid;
    background-position: center;
    background-repeat: no-repeat;
    color: #ddd;
    background-image: url(../images/processos/processo-loading.png);

    @include media(xs){
        height: 3em;
        width: 3em;
        top: 1em;
        left: 1em;
    }
}

.el-processo-info-header-icon.active {
    border-color: #1ad477;
    background-image: url(../images/processos/processo-active.png);
}

.el-processo-info-body {
    float: left;
    height: 100%;
    width: calc(100% - 8em);

    @include media(xs){
        width: calc(100% - 5em);
        height: 5em;
    }
}

.el-processo-info-body-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-top: 1.45em;
    position: relative;
    opacity: 1;
    transform: translateY(0px);

    @include media(xs){
        font-size: 1.25em;
        margin-top: .7em;
    }
}

.el-processo-info-body-responsaveis {
    color: #ababab;
    display: inline-block;
    position: relative;
    transform: translateY(0);
}

.el-processo-info-actions {
    position: absolute;
    height: 8em;
    width: 100%;
    padding-right: 2em;
    pointer-events: none;

    @include media(xs){
        position: static;
        height: 3em;
        padding: 0;
        float: left;
        width: 100%;
    }
}

.el-processo-info-action {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: calc(4em - 15px);
    margin-left: 2em;
    cursor: pointer;
    pointer-events: auto;

    @include media(xs){
        margin: 0;
        width: calc(100% / 3);
        height: 2em;
    }
}

.el-processo-info-action.delete {
    background: url(../images/common/icon-delete.png) 50% no-repeat;
}

.el-processo-info-action.edit {
    background: url(../images/common/icon-edit.png) 50% no-repeat;
}

.el-processo-info-action.status {
    background: url(../images/common/icon-status.png) 50% no-repeat;
}

.el-processo-info-badges {
    position: absolute;
    top: -1px;
    right: 0;
    height: 35px;
    width: 100%;
    padding-right: 2em;
    pointer-events: none;

    @include media(xs){
        padding-right: 1em;
    }
}

.el-processo-info-badge {
    height: 35px;
    width: 18px;
    float: right;
    margin-left: 1em;
    pointer-events: auto;

    @include media(xs){
        height: 25px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.el-processo-info-badge.updates {
    background: url(../images/processos/processo-badge-updates.png) top no-repeat;
}

.el-processo-info-badge.private {
    background: url(../images/processos/processo-badge-private.png) top no-repeat;
}

.el-content-processo-header{
    position: relative;

    @include media(xs){
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 3.5rem;
            width: 10%;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, hsla(0, 0%, 91%, 0.65) 100%);
            pointer-events: none;
        }
    }
}

.el-processo-tabs {
    height: 3.5rem;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;

    @include media(xs){
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
        animation: processes-scroll-tabs .75s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        @keyframes processes-scroll-tabs{
            0%{
                transform: translateX(-50%);
                width: 200%;
            }
            100%{
                transform: translateX(0);
                width: 100%;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.el-processo-tab {
    float: left;
    height: 3.5rem;
    line-height: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1.25em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #444;
    cursor: pointer;
    opacity: 0.5;
    font-size: 13px;

    @include media(xs){
        float: none;
        display: inline-block;
    }
}

.el-processo-tab.active {
    background: #fff;
    border-color: #eeeeee;
    color: #444;
    opacity: 1;
}

.el-processo-tab:hover {
    opacity: 1;
}

.el-processo-tab:first-of-type.active {
    border-left-color: #fff;
}

.el-processo-data {
    float: left;
    padding: 1em;
    height: 75px;
    /* border-left: 1px solid #eee; */
}

.el-processo-data.el-processo-data-100 {
    width: 100%;
}

.el-processo-data.el-processo-data-75 {
    width: 75%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-data.el-processo-data-66 {
    width: 66.666%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-data.el-processo-data-50 {
    width: 50%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-data.el-processo-data-33 {
    width: 33.333%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-data.el-processo-data-25 {
    width: 25%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-data:last-of-type {
    border-right: none;
}

.el-processo-data-group:last-of-type > .el-processo-data {
    border-bottom: none;
}

.el-processo-data-title {text-transform: uppercase;color: #bbb;pointer-events: none;font-size: 12px;font-family: 'Montserrat', sans-serif;margin-bottom: 0.5em;}

.el-processo-data-content {
    font-size: 1.15em;
}

.el-processo-data-section {
    padding: 0 0 0 8em;
    position: relative;
    border-bottom: 1px solid #eee;
    z-index: 1;
    max-height: none;
    opacity: 1;

    @include media(xs){
        padding: 0;
        border-bottom: 0;
    }
}

.el-processo-data-section-icon::after {content: '';height: 3em;width: 3em;border: 2px solid #888;background: #fff;position: absolute;top: calc(50% - 1.5em);left: 2.5em;border-radius: 1000px;}


.el-processo-data-section:first-of-type > .el-processo-data-section-icon::before {
    height: 50%;
    top: 50%;
}

.el-processo-data-section:last-of-type > .el-processo-data-section-icon::before {
    height: 50%;
}

.el-processo-data-section:only-of-type > .el-processo-data-section-icon::before {
    content: none;
}

.el-processo-data-content a {
    font-weight: inherit;
    border-bottom: 1px solid currentColor;
}

.el-processo-data-section-icon.processo::after {
    background: #fff url(../images/processos/icon-processo.png) center no-repeat;
}

.el-processo-data-section-icon.cliente::after {
    background: #fff url(../images/processos/icon-cliente.png) center no-repeat;
}

.el-processo-data-section-icon.adverso::after {
    background: #fff url(../images/processos/icon-adverso.png) center no-repeat;
}

.el-processo-data-section-icon.dates::after {
    background: #fff url(../images/processos/icon-dates.png) center no-repeat;
}

.el-processo-data-section-icon.values::after {
    background: #fff url(../images/processos/icon-values.png) center no-repeat;
}

.el-processo-data-section-icon.misc::after {
    background: #fff url(../images/processos/icon-misc.png) center no-repeat;
}

.el-processo-data-section-icon.observations::after {
    background: #fff url(../images/processos/icon-observations.png) center no-repeat;
}

.el-processo-data-section-icon.cc::after {
    background: #fff url(../images/payments/icon-cc.png) center no-repeat;
}

.el-processo-tarefa-list-item {
    height: 4em;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    overflow: hidden;
}

.el-processo-tarefa-priority {
    float: left;
    height: 4em;
    width: 4em;
    position: relative;
}

.el-processo-tarefa-priority::after {
    content: '';
    height: 1em;
    width: 1em;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    border-radius: 1000px;
    border: 2px solid currentColor;
}

.el-processo-tarefa-priority.high::after {
    color: #ff5060;
    background: currentColor;
}

.el-processo-tarefa-priority.normal::after {
    color: #1ccb7a;
    background: currentColor;
}

.el-processo-tarefa-priority.low::after {
    color: #38a3ff;
    background: currentColor;
}

.el-processo-tarefa-title {
    float: left;
    height: 4rem;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
}

.el-processo-tarefa-list-item:hover {
    background: #f9f9f9;
}

.el-processo-tarefa-time {
    float: right;
    height: 4rem;
    line-height: 4rem;
    padding-right: 1em;
}

.el-processo-movimentacao-header {
    position: relative;
    height: 6em;
    cursor: pointer;
}

.el-processo-movimentacao-header-icon {
    float: left;
    width: 6em;
    height: 100%;
    position: relative;
}

.el-processo-movimentacao-header-info {
    float: left;
    height: 100%;
    width: calc(100% - 6em);
}

.el-processo-movimentacao-header-title {
    font-family: 'Montserrat';
    font-size: 1.25em;
    margin-top: 1.1em;
}

.el-processo-movimentacao-header-updates {
    color: #ababab;
    text-transform: capitalize;
}

.el-processo-movimentacao-header-icon::after {content: '';position: absolute;height: 3em;width: 3em;top: 1.5em;left: 1.5em;border-radius: 1000px;border: 2px solid;background-position: center;background-repeat: no-repeat;background-color: #fff;}



.el-processo-movimentacao {
    border-bottom: 1px solid #eeeeee;
}

.el-processo-movimentacao-header-icon.active::after {
    color: #1ad477;
    background-image: url(../images/processos/processo-active.png);
}

.el-processo-movimentacao-header-icon.archived::after{
    border-color: #ff596a;
    background-image: url(../images/processos/processo-archived.png);
}

.el-processo-movimentacao-header-icon.suspended::after{
    border-color: #ffa319;
    background-image: url(../images/processos/processo-suspended.png);
}

.el-processo-movimentacao-content-item-content {
    padding: 2em 1em 2em 6em;
}

.el-processo-movimentacao-item.update .el-processo-movimentacao-content-item-content {
    padding: 2em 4em 2em 6em;
}

.el-processo-movimentacao-content-item-header {
    position: absolute;
    height: 100%;
    width: 6em;
}

.el-processo-movimentacao-item {
    position: relative;
}

.el-processo-movimentacao-content-item-content-date {
    color: #ababab;
}

.el-processo-movimentacao-content-item-header::after {
    content: attr(data-instancia);
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border-radius: 1000px;
    text-align: center;
    line-height: 1.8rem;
    border: 2px solid;
    background: #fff;
    font-weight: 600;
}

.el-processo-movimentacao-item.update .el-processo-movimentacao-content-item-header::after {
    height: 1rem;
    width: 1rem;
    left: calc(50% - .5rem);
    top: calc(50% - .5rem);
}

.el-processo-movimentacao-item.update:first-child .el-processo-movimentacao-content-item-header::before {
    height: 50%;
    top: 50%;
}

.el-processo-movimentacao-item.update.one:first-child .el-processo-movimentacao-content-item-header::before {
    display: none;
}

.el-processo-movimentacao-content-item-header.active::after{
    color: #1ad477;
}

.el-processo-movimentacao-content-item-header.archived::after{
    color: #ff596a;
}

.el-processo-movimentacao-content-item-header.suspended::after{
    color: #ffa319;
}

.el-processo-movimentacao-content-item-header::before {content: '';position: absolute;height: 100%;width: 2px;top: 0;left: calc(50% - 1px);}

.el-processo-movimentacao-content-item-header.active::before {
    background: #1ad477;
}

.el-processo-movimentacao-content-item-header.archived::before {
    background: #ff596a;
}

.el-processo-movimentacao-content-item-header.suspended::before {
    background: #ffa319;
}

.el-processo-movimentacao-header-icon::before {content: '';position: absolute;height: calc(50% - 1.5em);width: 2px;bottom: calc(50% - 1.5em);left: calc(50% - 1px);transition: inherit;}

.el-processo-movimentacao-header-icon.active::before {
    background: #1ad477;
}

.el-processo-movimentacao-header-icon.archived::before {
    background: #ff596a;
}

.el-processo-movimentacao-header-icon.suspended::before {
    background: #ffa319;
}

.el-processo-movimentacao-content-item-content:hover {
    background: #fbfbfb;
}

.el-processo-movimentacao-item:last-of-type > .el-processo-movimentacao-content-item-header::before {
    height: 50%;
}

.el-processo-additional-list-item {
    position: relative;
    height: 6em;
    border-top: 1px solid #eee;
}

.el-processo-additional-list-item:first-of-type {
    border: none;
}

.el-processo-additional-list-item-header {
    float: left;
    width: 6em;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.el-processo-additional-list-item-header-icon {
    position: absolute;
    height: 3em;
    width: 3em;
    top: 1.5em;
    left: 1.5em;
    border-radius: 1000px;
    border: 2px solid;
}

.el-processo-additional-list-item-body {
    float: left;
    height: 100%;
    width: calc(100% - 8em);
    cursor: pointer;
}

.el-processo-additional-list-item-body-title {
    font-family: 'Montserrat';
    font-size: 1.25em;
    margin-top: 1.6em;

    @include media(xs){
        word-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.el-processo-additional-list-item-actions {
    position: absolute;
    height: 6em;
    width: 100%;
    pointer-events: none;
    padding-right: 2em;
    opacity: 0;

    @include media(xs){
        display: none;
    }
}

.el-processo-additional-action {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: calc(3em - 15px);
    margin-left: 2em;
    pointer-events: auto;
    cursor: pointer;
}

.el-processo-additional-action.delete {
    background: url(../images/common/icon-delete.png) 50% no-repeat;
}

.el-processo-additional-action.edit {
    background: url(../images/common/icon-edit.png) 50% no-repeat;
}

.el-processo-additional-list-item-badges {
    position: absolute;
    top: -1px;
    right: 0;
    height: 35px;
    width: 100%;
    padding-right: 2em;
    pointer-events: none;
}

.el-processo-additional-badge {
    height: 35px;
    width: 18px;
    float: right;
    margin-left: 1em;
    pointer-events: auto;
}

.el-processo-additional-badge.private {
    background: url(../images/processos/processo-badge-private.png) top no-repeat;
}

.el-processo-additional-list-item:hover > .el-processo-additional-list-item-actions {
    opacity: 1;
}

.el-processo-additional-list-item-header-icon.recurso {
    color: #4db5ff;
    background: url(../images/processos/recurso-icon.png) center no-repeat;
}

.el-processo-additional-list-item:hover {
    background-color: #f9f9f9;
}

.el-processo-additional-data-section > .el-processo-data-section-icon  {
    display: none;
}

.el-processo-additional-list-item-header-icon.incidente {
    color: #ffb65b;
    background: url(../images/processos/incidente-icon.png) center no-repeat;
}

.el-processo-info-header-icon.archived {
    border-color: #ff596a;
    background: url(../images/processos/processo-archived.png) center no-repeat;
}

.el-processo-info-header-icon.suspended {
    border-color: #ffa319;
    background: url(../images/processos/processo-suspended.png) center no-repeat;
}

.el-documento-list-item {
    position: relative;
    height: 5em;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.el-documento-list-item:hover {
    background: #f9f9f9;
}

.el-documento-list-item-header {
    float: left;
    width: 5em;
    height: 100%;
    position: relative;
}

.el-documento-list-item-body {
    float: left;
    height: 100%;
    width: calc(100% - 5em);
    color: #333;
    font-weight: 300;

    @include media(xs){
        width: calc(100% - 11em);
    }
}

.el-documento-list-item-body-name {
    font-family: 'Montserrat';
    font-size: 1.15em;
    margin-top: 0.8em;
    max-width: 45em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.el-documento-list-item-body-created {
    color: #ababab;
}

.el-documento-list-item-actions {
    position: absolute;
    height: 5em;
    width: 100%;
    pointer-events: none;
    padding-right: 2em;
    opacity: 0;

    @include media(xs){
        opacity: 1;
        pointer-events: auto;
        width: 0;
        right: 0;
    }
}

.el-documento-list-item:hover > .el-documento-list-item-actions {
    opacity: 1;
}

.el-documento-action {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: calc(2.5em - 15px);
    margin-left: 2em;
    pointer-events: auto;
}

.el-documento-action.delete {
    background: url(../images/common/icon-delete.png) 50% no-repeat;
}

.el-documento-list-item-header-icon {
    position: absolute;
    height: 2em;
    width: 2em;
    top: 1.5em;
    left: 1.5em;
    border-radius: 1000px;
}

.el-list-empty-icon.processos-filter {
    background: url(../images/processos/processos-filter.png);
}

.el-list-empty-icon.processos-empty {
    background: url(../images/processos/processos-empty.png);
}

.el-processo-tarefa-list-item.ng-enter {
    height: 0;
    opacity: 0;
}

.el-processo-tarefa-list-item.ng-enter-active {
    height: 4em;
    opacity: 1;
}

.el-processo-tarefa-list-item.ng-leave {
    height: 4em;
    opacity: 1;
}

.el-processo-tarefa-list-item.ng-leave-active {
    height: 0;
    opacity: 0;
}


.el-list-empty-icon.tarefas-filter {
    background: url(../images/processos/tarefas-filter.png) center no-repeat;
}

.el-list-empty-icon.tarefas-empty {background: url(../images/processos/tarefas-empty.png) center no-repeat;}

.el-processo-tarefa-priority.done::after {
    background: none;
}

.done > .el-processo-tarefa-title, .done > .el-processo-tarefa-time {
    opacity: 0.5;
}

.el-processo-tarefa-list-item:hover > .el-processo-tarefa-title,
.el-processo-tarefa-list-item:hover > .el-processo-tarefa-time {
    opacity: 1;
}

.el-processo-responsible-list-item {
    height: 5em;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    overflow: hidden;
}

.el-processo-responsible-list-item:hover{
    background: #f9f9f9;
}

.el-processo-responsible-list-item:last-of-type {
    border-bottom: none;
}

.responsible-list-item-name {font-family: 'Montserrat', sans-serif;font-size: 1.15em;margin-top: 1rem;margin-left: 1rem;}

.responsible-list-item-email {
    color: #ababab;
    margin-left: 1rem;
}

.responsible-list-action {
    position: absolute;
    top: calc(50% - 10px);
    right: 2em;
    height: 20px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
}

.responsible-list-action.remove {
    background: url(../images/common/icon-cross.png);
}

.responsible-list-action.add {
    background: url(../images/common/icon-plus.png);
}

.el-processo-responsible-list-item:hover > .responsible-list-action {
    opacity: 1;
}

.el-processo-responsible-list-item.ng-enter {
    height: 0;
    opacity: 0;
}

.el-processo-responsible-list-item.ng-enter-active {
    height: 5em;
    opacity: 1;
}

.el-processo-responsible-list-item.ng-leave {
    height: 5em;
    opacity: 1;
}

.el-processo-responsible-list-item.ng-leave-active {
    height: 0;
    opacity: 0;
}


.el-content-header-bar-text.movimentacoes {
    background: url(../images/common/icon-clock.png) 1.25em center no-repeat;
}

.el-list-empty-icon.movimentacoes-invalid {
    background: url(../images/processos/movimentacoes-invalid.png) center no-repeat;
}

.el-processo-movimentacao-header:hover {
    background-color: #fbfbfb;
}

.el-processo-movimentacao > .el-processo-movimentacao-header::before {content: '';position: absolute;top: calc(3em - 10px);right: 2em;height: 20px;width: 20px;background: url(../images/common/icon-arrow.png) center no-repeat;transition: inherit;}

.el-processo-movimentacao > .el-processo-movimentacao-header.toggle::before {transform: rotateZ(180deg);}

.toggle > .el-processo-movimentacao-header-icon::before {
    bottom: 0;
}

.el-processo-movimentacao-header-icon.recurso::after {
    border-color: #4db5ff !important;
    background-image: url(../images/processos/recurso-icon.png) !important;
}

.el-processo-movimentacao-header-icon.recurso::before {
    background: #4db5ff;
}

.el-processo-movimentacao-content-item-header.recurso::before {
    background: #4db5ff !important;
}

.el-processo-movimentacao-content-item-header.recurso::after {
    color: #4db5ff !important;
}

.instance > .el-processo-movimentacao-content-item-header::after {
    content: none;
}

.instance > .el-processo-movimentacao-content-item-content {
    padding: 1rem 1rem 1rem 6rem;
    font-family: 'Montserrat';
    background: #f1f1f1;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.25em;
}



.el-processo-tab.movimentacoes {
    color: #10904f;
    background: rgba(26, 203, 114, 0.3);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    animation: tab-movimentacoes 5s infinite;
}

@keyframes tab-movimentacoes{
    0%{
        opacity: 0.5;
    }
    5%{
        opacity: 1;
    }
    10%{
        opacity: 0.5;
    }
    15%{
        opacity: 1;
    }
    20%{
        opacity: 0.5;
    }
}

.el-processo-tab.movimentacoes.active {
    animation: none;
}

.loading .el-processo-data {
    opacity: 0;
}

.loading .el-processo-data-section {
    animation: 2s processo-loading infinite;
    opacity: 0.5;
}

@keyframes processo-loading{
    0%{
        background: #fff;
    }
    10%{
        background: #efefef;
    }
    20%{
        background: #fff;
    }
}

.el-processo-data-section:nth-child(2){
    animation-delay: 0.1s;
}

.el-processo-data-section:nth-child(3){
    animation-delay: 0.2s;
}

.el-processo-data-section:nth-child(4){
    animation-delay: 0.3s;
}

.el-processo-data-section:nth-child(5){
    animation-delay: 0.4s;
}

.el-processo-data-section:nth-child(6){
    animation-delay: 0.5s;
}

.el-processo-data-section:nth-child(7){
    animation-delay: 0.6s;
}

.el-processo-data-section.ng-leave{
    max-height: 7em;
}

.el-processo-data-section.ng-leave-active{
    max-height: 0;
    padding: 0 0 0 7em;
}

.el-processo-additional-list-item:hover .el-processo-additional-badge:not(.el-not-animated) {
    background-position-y: -20px;
    height: 20px;
}

.el-processo-additional-list-item.ng-enter {
    height: 0;
    opacity: 0;
}

.el-processo-additional-list-item.ng-enter-active {
    height: 6em;
    opacity: 1;
}

.el-processo-additional-list-item.ng-leave {
    height: 6em;
    opacity: 1;
}

.el-processo-additional-list-item.ng-leave-active {
    height: 0;
    opacity: 0;
}

.el-processo-additional-list-item-body-title.has-updates {
    margin-top: 1.1em;
}

.el-processo-additional-list-item-body-updates {
    color: #ababab;
}

.el-list-empty-cta.el-close {
    background: transparent;
    color: #505050;
    border: 2px solid #727272;
}

.el-documento-list-item.ng-enter {
    height: 0;
    opacity: 0;
}

.el-documento-list-item.ng-enter-active {
    height: 5em;
    opacity: 1;
}

.el-documento-list-item.ng-leave {
    height: 5em;
    opacity: 1;
}

.el-documento-list-item.ng-leave-active {
    height: 0;
    opacity: 0;
}


.el-documento-list-item-header-bar {
    position: absolute;
    height: 12px;
    width: 2.5em;
    top: 2em;
    left: 1.25em;
    border-radius: 1000px;
    border: 2px solid #16a9ff;
}

.el-documento-list-item-header-bar-fill {
    background-color: #16a9ff;
    position: absolute;
    top: 0px;
    left: 0;
    height: 8px;
}

.el-documento-action.cross {
    background: url(../images/common/icon-cross.png) 50% no-repeat;
}

.el-documento-list-item-actions.visible {
    opacity: 1;
    pointer-events: auto;
}

.el-documento-list-item.upload {
    background: #f2faff;
}

.el-documento-list-item-header-icon.picture {
    background: url(../images/documentos/file-picture.png) center no-repeat;
}

.el-documento-list-item-header-icon.text {
    background: url(../images/documentos/file-text.png) center no-repeat;
}

.el-documento-list-item-header-icon.spreadsheet {
    background: url(../images/documentos/file-spreadsheet.png) center no-repeat;
}

.el-list-empty-icon.conexoes-empty {
    background: url(../images/processos/conexoes-empty.png);
}

.el-list-empty-icon.conexoes-filter {
    background: url(../images/processos/conexoes-filter.png);
}

.el-list-empty-icon.conexoes-full {
    background: url(../images/processos/conexoes-full.png);
}

.el-create-processo-header-holder {
    min-height: 8em;

    @include media(xs){
        min-height: 5em;
    }
}

.el-form-label {
    position: absolute;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 1.6rem;
    padding-left: 22px;
    color: #bbb;
    margin: 0;
    line-height: 78px;
    pointer-events: none;
    letter-spacing: 0.015em;
}

.el-form-data {
    position: relative;
    padding: 0;
}

.el-form-label-input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    border-left: 1px solid #eee;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-top: 24px;
    padding-right: 1.5rem;
    cursor: text;
    background: transparent;

    @include media(xs){
        border-left: none;
        border-bottom: 1px solid #eee;
    }
}

.el-form-label-input:focus + .el-form-label, .el-form-label-input.ng-not-empty + .el-form-label, .el-form-label.fixed {
    transform: translateY(-12px);
    color: #ddd;
}

.el-form-processo-data-section {
    padding-left: 8em;
    position: relative;
    border-bottom: 1px solid #eee;
    max-height: none;

    @include media(xs){
        padding: 0;
        border-bottom: none;
    }
}

.el-form-label-input ~ .el-from-label-input-outline::after, .ui-select-container ~ .el-from-label-input-outline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    opacity: 0;
    transition: inherit;
}

.el-form-label-input.ng-touched.ng-invalid ~ .el-from-label-input-outline::after{
    opacity: 1;
    border-color: #ff759a;
}

.el-form-label-input:focus ~ .el-from-label-input-outline::after, .ui-select-container.open ~ .el-from-label-input-outline::after{
    opacity: 1;
    border-color: #18aaff !important;
}

.el-from-label-input-outline {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.el-form-label-input:required ~ .el-form-label::before, .ui-select-container[required="required"] ~ .el-form-label::before{
    content: '*';
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 14px;
    transition: inherit;
    height: 100%;
}

.el-form-label-input.ng-not-empty + .el-form-label::before, .ui-select-container.ng-not-empty + .el-form-label::before{
    opacity: 0;
}

.el-form-label-input.ng-touched.ng-invalid + .el-form-label::before, .ui-select-container.ng-touched.ng-invalid + .el-form-label::before{
    color: #ff759a;
}

.el-form-label-input:focus {
    background: #f6fcff !important;
}

.el-form-group.el-processo-data-group:not(:last-child) {
    border-bottom: 1px solid #eee;

    @include media(xs){
        border-bottom: none;
    }
}

.el-form-data .ui-select-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    border-left: 1px solid #eee;
    border-radius: 0px;
    padding: 0;
    box-shadow: none;
    background: transparent;
    line-height: inherit;

    @include media(xs){
        border-left: none;
        border-bottom: 1px solid #eee;
    }
}

.el-form-data .ui-select-container.open{
    background: #f6fcff !important;
}

.el-form-data .ui-select-match{
    display: block;
    float: left;
    margin-left: 1.45rem;
    margin-top: 36px;
}

.el-form-data .ui-select-container input.ui-select-search{
    height: 100%;
    position: absolute;
    margin: 0;
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333;
    padding-top: 1.25em;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 0px;
    border: none;
    box-shadow: none !important;
    background: transparent;
    cursor: text;
}

.el-form-label.el-form-select-label{
    opacity: 1;
    height: 100%;
    margin: 0;
    top: 0;
    pointer-events: none;
    transition: inherit;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translateY(0px);
}

.ui-select-container.open + .el-form-label.el-form-select-label, .ui-select-container.ng-not-empty + .el-form-label{
    transform: translateY(-12px);
    color: #ddd;
}

.el-form-data .ui-select-match-item{
    padding: 4px 5px 3px 7px;
    margin: 0 5px 5px 0 !important;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    background: #eee;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.el-form-data .ui-select-match-item.btn-primary{
    background: #2aa6ff;
    color: #fff;
    border-color: #1996de;
}

.el-form-data .ui-select-match-item .ui-select-match-close.close{
    line-height: 1em;
}

.el-form-data .ui-select-choices{
    margin: -1px 0 0 -1px;
    width: calc(100% + 1px);
    border: 1px solid #2aa6ff;
    background: #f6fcff;
    box-shadow: none;
    border-radius: 0px;
    padding: 0;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.el-form-data .ui-select-container.ng-touched.ng-invalid .ui-select-choices{
    width: 100%;
    margin-left: 0;
}

.el-form-data .ui-select-container.ui-select-multiple.ng-touched.ng-invalid .ui-select-choices{
    width: calc(100% + 2px);
    margin-left: -1px;
}

.el-form-data .ui-select-choices-row > span{
    padding: 0.35rem 1.5rem;
    font-size: 15px;
}

.el-form-data .ui-select-choices-row:hover > span{
    background: #c1eaff;
    color: #333;
}

.el-form-data .ui-select-choices-row.active > span{
    background: #2aa6ff;
    color: #fff;
}

.el-form-data .el-form-label-input.ng-touched.ng-invalid{
    background: #ffecf1;
}

.el-form-data .ui-select-container.ui-select-multiple.ng-touched.ng-invalid{
    background: #ffecf1;
    border-color: #ff759a;
}

.el-form-data .ui-select-container.ng-touched.ng-invalid:not(.ui-select-multiple){
    background: transparent;
    border: none;
}

.el-form-data .ui-select-container.ng-touched.ng-invalid:not(.open) .ui-select-toggle{
    background: #ffecf1;
    border-color: #ff759a;
}

.el-form-data .ui-select-match .ui-select-toggle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-top: 1.25em;
    background: transparent;
    border-radius: 0px;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
    border: 1px solid transparent;
    cursor: text;
}

.el-form-data .ui-select-match .ui-select-toggle:active{
    color: inherit;
    background: transparent;
    box-shadow: none;
}

.el-form-data .ui-select-container .ui-select-search.form-control{
    padding-left: 1.55rem;
    padding-top: 2.2rem;
}

.el-form-data .ui-select-match-text{
    height: 100%;
    line-height: 58px;
}

.el-form-data .ui-select-toggle .caret{
    right: 1.5rem;
    color: #777;
    height: 0px;
    transition: all .325s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.el-form-data .ui-select-container.open .caret{
    color: #2aa6ff;
    transform: rotateZ(180deg);
    transform-origin: center;
}

.el-form-data .ui-select-container:not(.ng-invalid) .ui-select-match.btn-default-focus .form-control{
    background: #f6fcff;
    border-color: #2aa6ff;
}

.el-form-data .ui-select-match.btn-default-focus .ui-select-toggle{
    background: #f6fcff !important;
    border-color: #2aa6ff !important;
}

.el-form-data .ui-select-choices-row:not(.active) .ui-select-highlight{
    color: #000;
}


.el-form-label-input-checkbox-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    border-left: 1px solid #eee;

    @include media(xs){
        border-left: none;
        border-bottom: 1px solid #eee;
    }
}

.el-form-label-input-checkbox {
    position: absolute;
    right: 26px;
    top: calc(50% - 14px);
    border: 2px solid #999;
    background-color: #fff;
    width: 60px;
    height: 28px;
    border-radius: 3px;
    cursor: pointer;
}

.el-form-label-input-checkbox.el-form-label-input-checkbox-lock{
    background: url('../images/processos/form-lock.png');
}

.el-form-label-input-checkbox.el-form-label-input-checkbox-lock.el-form-label-input-checkbox-electronic{
    background: url('../images/processos/form-electronic.png');
}

.el-form-label-input-checkbox::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    left: 2px;
    background: #999;
    border-radius: 2px;
    transition: inherit;
}

.el-checkbox:focus + .el-form-label-input-checkbox, .el-checkbox:checked:focus + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock{
    border-color: #2aa6ff;
}

.el-checkbox:focus + .el-form-label-input-checkbox::after, .el-checkbox:checked:focus + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock::after{
    background-color: #2aa6ff;
}

.el-checkbox:checked + .el-form-label-input-checkbox{
    background-color: #2aa6ff;
    border-color: #2aa6ff;
}

.el-checkbox:checked + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock{
    background-color: #ffffff;
    border-color: #999999;
}

.el-checkbox:not(:checked) + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock{
    background-color: #ff4a6b;
    border-color: #ff4a6b;
}

.el-checkbox:not(:checked).el-checkbox:focus + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock{
    background-color: #2aa6ff;
    border-color: #2aa6ff;
}


.el-checkbox:not(:checked) + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock.el-form-label-input-checkbox-electronic{
    
background-color: #ffa659;
    
border-color: #ffa659;
}

.el-checkbox:checked + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock::after{
    background: #999;
}

.el-checkbox:not(:checked) + .el-form-label-input-checkbox.el-form-label-input-checkbox-lock::after{
    background: #fff;
}

.el-checkbox:checked + .el-form-label-input-checkbox::after{
    left: 34px;
    background: #fff;
}


.el-form-label-input-checkbox-text {
    position: absolute;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-top: 38px;
    opacity: 0;
}

.el-form-label-input-checkbox-text.on {
    transform: translateY(0px) !important;
    opacity: 1;
}

.el-form-label-input-checkbox-text.true{
    transform: translateY(-15px);
}

.el-form-label-input-checkbox-text.false{
    transform: translateY(15px);
}

.el-processo-info-body-process-number {
    color: #888;
    display: inline-block;
    opacity: 0;
}

.el-processo-info-body-process-number.el-processo-info-body-process-number-visible {
    opacity: 1;
}

.el-processo-info-body-title.el-processo-info-body-title-only {
    margin-top: 1.9em;
}

.el-processo-info-body-title.el-processo-info-body-title-none{
    opacity: 0.5;
}

.el-form-data .ui-select-container.ui-select-multiple{
    cursor: text !important;
}

.el-form-data .ui-select-container.ui-select-multiple input.ui-select-search{
    cursor: text;
    padding-top: 26px;
}

.el-form-processo-data-section:nth-child(even) {
    background: #fdfdfd;
}

.el-form-data.el-animated.el-form-data-big {
    height: 15em;
}

textarea.el-form-label-input {
    padding-top: 38px;
    resize: none;
    /* margin-top: 38px; */
}

.el-form-label-tip {
    position: absolute;
    right: 6px;
    top: 7px;
    height: 16px;
    width: 16px;
    border: 2px solid currentColor;
    border-radius: 1000px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 3px;
    line-height: 12px;
    font-size: 11px;
    font-weight: 600;
    color: #dddddd;
    cursor: pointer;
    display: block;
}

.el-form-label-tip:hover {
    color: #1ad477;
}

.el-form-label-actions {
    position: absolute;
    top: 28px;
    right: 26px;
    opacity: 0;
}

.el-form-label-action {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #16a9ff;
    cursor: pointer;
}

.el-processo-data:hover .el-form-label-actions{
    opacity: 1;
}


.el-process-data {
    float: left;
    padding: 1em;
    min-height: 75px;
    border-left: 1px solid #eee;
    position: relative;

    @include media(xs){
        border-bottom: 1px solid #eee;
        border-left: 0;
    }
}

.el-process-data-66 {
    width: 66.666%;

    @include media(xs){
        width: 100%;
    }
}

.el-process-data-33 {
    width: 33.333%;

    @include media(xs){
        width: 100%;
    }
}

.el-process-data-title {
    position: absolute;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 1.6rem;
    padding-left: 22px;
    color: #eee;
    margin: 0;
    line-height: 78px;
    pointer-events: none;
    letter-spacing: 0.015em;
    top: 0;
    left: 0;
}

.el-process-data-title.active {
    transform: translateY(-12px);
    color: #ccc;
}

.el-process-data-content {
    font-size: 16px;
    padding-left: 8px;
    padding-top: 24px;
    transform: translateY(12px);
    opacity: 0;
}

.el-process-data-group {
    border-bottom: 1px solid #eee;

    @include media(xs){
        border-bottom: 0;
    }
}

.el-process-data-group:last-of-type {
    border-bottom: none;
}

.el-process-data a {
    display: inline-block;
    border-bottom: 1px solid currentColor;
    font-weight: 300;
    line-height: 18px;
}

.el-process-data a:hover{
    
color: #16a9ff;
}

.el-process-data-content.active {
    transform: translateY(0px);
    opacity: 1;
}

.el-process-data-100 {
    width: 100%;
}

.el-process-data-50 {
    width: 50%;

    @include media(xs){
        width: 100%;
    }
}

.el-processo-info-body-responsaveis.loading {
    transform: translateY(12px);
    opacity: 0;
}

.el-processo-info-body-title.el-animated.loading {
    transform: translateY(12px);
    opacity: 0;
}

.el-process-data-actions {
    position: absolute;
    top: 28px;
    right: 26px;
    opacity: 0;
}

.el-process-data-action {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #16a9ff;
    cursor: pointer;
}

.el-process-data:hover > .el-process-data-actions, .el-process-data-actions.visible{
    opacity: 1;
}


.el-form-label.el-form-select-label.fade {
    /* opacity: 0.2; */
}

.el-process-data-action a {
    border: none;
    color: #16a9ff;
}

.el-content-search-bar-results {
    position: absolute;
    font-size: 14px;
    top: 14px;
    right: 2px;
    padding: 3px 10px;
    color: #888;
    background: #fff;

    @include media(xs){
        display: none;
    }
}

.observations+.el-process-data-group .el-process-data-content {
    white-space: pre-wrap;
    margin-bottom: 0.5em;
}

.el-processo-data-section-icon{
    @include media(xs){
        display: none;
    }
}

.el-processo-movimentacao-content-item-content-delete {
    position: absolute;
    height: 16px;
    width: 16px;
    top: calc(50% - 8px);
    right: 2rem;
    background: url(../images/icons/16/close.svg) center no-repeat;
    cursor: pointer;
}