@import "variables";

.el-processo-list-item.publication{
  height: 70px;
}

.el-publication-item-header{
  width: 100%;
  height: 70px;
  cursor: pointer;
  position: relative;
  padding-right: 20px;

  & > * {
    float: left;
  }

  &:hover > .el-publication-item-archive{
    opacity: 1;
  }
}

.el-publication-item-date {
    padding: 14px 26px;
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 25%);
}

.el-publication-item-date::after {
    content: attr(data-css-content);
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    color: hsl(0, 0%, 75%);
    top: 39px;
    left: 18px;
}

.el-publication-item-name, .el-publication-item-process {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    line-height: 16px;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      height: 16px;
      width: 16px;
    }
}

.el-publication-item-name {
  padding-top: 8px;

  &.processless{
    padding-top: 26px;
  }

  &::before{
    background: url(../images/icons/16/search.svg) center no-repeat;    
  }
}

.el-publication-item-process{
  padding-top: 14px;

  &::before {
    background: url(../images/icons/16/process.svg) center no-repeat;
  }
}

.el-publication-item-acronym, .el-publication-item-state {
    float: right;
    padding: 24px 26px;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 25%);
    letter-spacing: -0.75px;
    text-align: center;
}

.el-publication-item-acronym{
  width: 140px;
}

.el-publication-item-state{
  width: 80px;
}

.el-publication-item-archive {
    position: absolute; 
    top: 0;
    right: 14px;
    height: 24px;
    width: 24px;
    background: url(../images/icons/24/flag.svg) center no-repeat;
    opacity: 0;

    &.archived{
      background: url(../images/icons/24/flag_blue.svg) center no-repeat;
      opacity: 1;
    }
}

.el-content-publications-header {
  height: 55px;
  
  > .el-content-search-bar{
    float: left;
    height: 55px;
    width: calc(100% - 200px);
    border-right: 1px solid hsl(0, 0%, 93%);
  }
}

.el-content-publications-date {
  float: left;
  width: 200px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  height: 55px;
}

.el-content-publications-date-prev, .el-content-publications-date-next {
  height: 38px;
  width: 38px;
  margin: 8px;
  padding: 0 12px;
  border: 2px solid hsl(0, 0%, 84%);
  color: hsl(0, 0%, 20%);
  border-radius: 2px;
  font-size: 26px;
  font-family: $work;
  line-height: 31px;
  font-weight: 500;
  cursor: pointer;

  &.inactive{
    opacity: .5;
    cursor: default;
  }
}

.el-content-publications-date-prev{
  float: left;
}

.el-content-publications-date-next{
  float: right;
}

.el-content-publications-date-now {
  float: left;
  width: 92px;
  text-align: center;
  padding: 17px 0;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.el-list-empty-icon{
  &.publications-empty{
    background: url(../images/icon-vazio-50.svg) center no-repeat;
    background-size: 80px 80px;
    border: 3px solid #000;
    border-radius: 100px;

    &+.el-list-empty-text{
      max-width: 42em;
      margin: 3em auto;
    }
  }
}

#el-section-publications .el-section-header-icon:after {
    background: url(../images/icons/20/publications.svg) 10px no-repeat;
}

.el-modal-footer-info {
    float: left;
    font-size: 15px;
    font-family: 'Work Sans';
    font-weight: 500;
    letter-spacing: -.45px;
    color: hsla(0, 0%, 40%, 1);
    position: relative;
    padding: 8px 26px;
    cursor: help;

    &::before {
      content: '';
      position: absolute;
      left: 8px;
      top: 12px;
      height: 12px;
      width: 12px;
      background: url(../images/icons/12/info.svg) center no-repeat;
  }
}

.el-modal-control {
    position: absolute;
    height: 40px;
    width: 40px;
    top: calc(50% - 20px);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);

    &.prev{
      left: -5em;
      background: hsl(0, 0%, 100%) url(../images/icons/20/arrow-left.svg) center no-repeat;
    }

    &.next{
      right: -5em;
      background: hsl(0, 0%, 100%) url(../images/icons/20/arrow-right.svg) center no-repeat;
    }
}