#el-section-tasks .el-section-header-icon:after {
    background: url(../images/tasks/page-icon.png) 10px no-repeat;
}


.fc-toolbar {
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
}

.fc-center > h2 {
    font-size: 28px;
    margin-top: 3px;
}

.fc-toolbar .fc-left .fc-button:first-child {
    margin-left: 0 !important;
}

.fc-state-disabled {
    opacity: 0.3;
}

.fc-toolbar .fc-button {
    height: 38px;
    margin: 0 0 0 12px !important;
    padding: 0 12px;
    border: 2px solid #bdbdbd !important;
    box-shadow: none !important;
    color: #333;
}

th.fc-day-header {
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

td.fc-day-number {
    font-family: 'Montserrat', sans-serif;
    color: #555;
}

.fc-day-grid-event > .fc-content > .fc-title {
    font-size: 13px;
    padding: 2px 7px;
}

a.fc-day-grid-event {
    margin: 0 5px 5px 5px;
    border-radius: 2px;
}

a.fc-more {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 2px 0 4px;
    transition: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
}

a.fc-more:hover {
    text-decoration: none;
    color: #16a9ff;
}

.fc-popover.fc-more-popover {
    border-radius: 2px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.fc-header.fc-widget-header {
    font-family: 'Montserrat', sans-serif;
    padding: 7px 10px;
    background: #fbfbfb !important;
    border-bottom: 1px solid #eee;
}

.fc-close.fc-icon.fc-icon-x {
    margin-top: 4px !important;
}

.fc-more-popover .fc-event-container {
    padding: 15px 9px 11px 9px;
}

.fc-popover .fc-h-event.fc-not-end {
    margin: 0 -9px 5px 5px;
    position: relative;
}

.fc-popover .fc-h-event.fc-not-end::after {
    content: '';
    position: absolute;
    width: 16px;
    height: calc(100% + 2px);
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgb(255, 255, 255) 100%);
    top: -1px;
}

.fc-popover a.fc-day-grid-event {
    height: 26px;
}

.fc-popover .fc-day-grid-event > .fc-content {
    height: 26px;
}

.fc-popover .fc-day-grid-event > .fc-content > .fc-time {
    padding: 6px 10px;
}

.fc-popover .fc-day-grid-event > .fc-content > .fc-title {
    width: calc(100% - 70px);
    font-size: 14px;
    padding: 4px 10px;
}

.fc-more-popover {
    width: 275px;
}

a.fc-day-grid-event.low {
    background-color: #38a3ff;
}

a.fc-day-grid-event.high {
    background-color: #ff5060;
}

a.fc-day-grid-event.done{
    background-color: #bfbfbf!important;
}

.fc-popover .fc-h-event.fc-not-start {
    margin: 0 5px 5px -9px;
    position: relative;
    padding-left: 10px;
}

.fc-popover .fc-h-event.fc-not-start::after {
    content: '';
    position: absolute;
    width: 16px;
    height: calc(100% + 2px);
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgb(255, 255, 255) 100%);
    top: -1px;
}

.el-main-calendar.loading-events {
    opacity: 0.45;
    pointer-events: none;
}

.el-main-calendar {
    opacity: 1;
}

.fc-icon-x:after {
    top: 3px;
}