// Colors
$elysium-green: hsl(151, 74%, 43%);
$elysium-blue: hsl(205, 100%, 58%);
$elysium-dark-blue: hsl(214, 84%, 56%);
$elysium-red: hsl(352, 100%, 58%);
$elysium-light-gray: hsl(0, 0%, 98%);
$elysium-dark-gray: hsl(0, 0%, 20%);

$elysium-gradient-start: hsl(137, 62%, 57%);
$elysium-gradient-end: hsl(153, 78%, 45%);

$process-active:#1ad477;
$process-suspended: #ffa319;
$process-archived: #ff596a;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;
$work: 'Work Sans', sans-serif;

%work{
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -.025em;
}

// Animations
$trans: all .225s cubic-bezier(0.4, 0.0, 0.2, 1);
$trans-long: all .375s cubic-bezier(0.4, 0.0, 0.2, 1);

// Measurements
$header-height: 60px;

// Misc
$box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05);
